Repository pacstall/pacstall-programs, pull requests merged in 2021-08, with the labels that each got.

#101 Fix(CI): remove package
  .github/workflows/test-package-install.yml
Labels: enhancement

#75 [1.6 Package Add] tenacity-git
  packagelist
  packages/tenacity-git/README.md
  packages/tenacity-git/tenacity-git.pacscript
Labels: Package Add

#131 Update brave-browser-nightly-deb
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#120 [Package Add] drawio-desktop-deb
  packagelist
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Package Add

#122 [1.6 Package add] mailspring-deb
  packagelist
  packages/mailspring-deb/mailspring-deb.pacscript
Labels: Package Add

#83 [1.6 Package Add] wine-staging-git
  packagelist
  packages/wine-staging-git/wine-staging-git.pacscript
Labels: Package Add

#137 [Draft] Add cutefish
  .github/workflows/sync-repo.yml
  packages/cutefish-calculator/cutefish-calculator.pacscript
  packages/cutefish-core/cutefish-core.pacscript
  packages/cutefish-dock/cutefish-dock.pacscript
  packages/cutefish-filemanager/cutefish-filemanager.pacscript
  packages/cutefish-icons/cutefish-icons.pacscript
  packages/cutefish-kwin-plugins/cutefish-kwin-plugins.pacscript
  packages/cutefish-launcher/cutefish-launcher.pacscript
  packages/cutefish-qt-plugins/cutefish-qt-plugins.pacscript
  packages/cutefish-settings/cutefish-settings.pacscript
  packages/cutefish-statusbar/cutefish-statusbar.pacscript
  packages/cutefish-wallpapers/cutefish-wallpapers.pacscript
  packages/fishui/fishui.pacscript
  packages/libcutefish/libcutefish.pacscript
Labels: Package Add

#187 Update brave-browser-nightly-deb
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: invalid

#171 Add `LibreSSL`
  packagelist
  packages/libressl/libressl.pacscript
Labels: Package Add

#215 Update uwufetch to 1.6
  packages/uwufetch/uwufetch.pacscript
Labels: Update Package
