Repository pacstall/pacstall-programs, pull requests merged in 2021-07, with the labels that each got.

#61 [Package Add] Surf
  packagelist
  packages/surf/README
  packages/surf/surf.pacscript
Labels: Package Add

#51 [Update Package] nano 5.8
  packages/nano/nano.pacscript
Labels: Update Package

#64 [Package Add] surf-distrotube
  packagelist
  packages/surf-distrotube/README.md
  packages/surf-distrotube/surf-distrotube.pacscript
Labels: Package Add

#63 [Package Add] Clib
  packagelist
  packages/clib/README.md
  packages/clib/clib.pacscript
Labels: Package Add

#68 Update discord-canary.pacscript
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#66 add neovim install script
  packagelist
  packages/neovim/README.md
  packages/neovim/neovim.pacscript
Labels: Package Add

#46 PacReq: `walc-app`
  packagelist
  packages/walc-app/walc-app.pacscript
Labels: Package Add

#72 [Update package] pacget multirepo revamp
  packages/pacget-git/pacget-git.pacscript
Labels: Update Package

#74 Add: `yabridge-bin`
  packagelist
  packages/yabridge-bin/yabridge-bin.pacscript
Labels: Package Add

#71 [Package Add] freetube-deb
  packagelist
  packages/freetube-deb/freetube-deb.pacscript
Labels: Package Add

#79 Add shell-color-scripts
  packagelist
  packages/shell-color-scripts/README.md
  packages/shell-color-scripts/shell-color-scripts.pacscript
Labels: Package Add

#78 [Update Package] Brave Browser Beta 1.28.90
  packages/brave-browser-beta/brave-browser-beta.pacscript
Labels: Update Package

#84 [Package Add] Add batsignal
  packagelist
  packages/batsignal/batsignal.pacscript
Labels: Package Add

#80 Add vivaldi-deb
  .gitignore
  packagelist
  packages/vivaldi-deb/README.md
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Package Add

#91 [Update Package] Brave Browser Beta 1.28.96
  packages/brave-browser-beta/brave-browser-beta.pacscript
Labels: Update Package

#92 Yabridge-bin update version 3.4.0 to 3.5.0
  packages/yabridge-bin/yabridge-bin.pacscript
Labels: Update Package

#77 Update make-a-pacscript.md
  make-a-pacscript.md
Labels: documentation

#95 Add: `opendoas-git`
  packagelist
  packages/opendoas-git/opendoas-git.pacscript
Labels: Package Add

#93 Add lrz-syncshare-deb
  packagelist
  packages/lrz-syncshare-deb/README.md
  packages/lrz-syncshare-deb/lrz-syncshare-deb.pacscript
Labels: Package Add
