Repository pacstall/pacstall-programs, pull requests merged in 2021-11, with the labels that each got.

#482 upd(librewolf-app): `93.0-1` -> `94.0-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#487 upd(i3-gaps): `4.20` -> `4.20.1`
  packages/i3-gaps/i3-gaps.pacscript
Labels: Update Package

#486 upd(telegram-bin): `3.1.8` -> `3.2.2`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#485 upd(caprine-deb): `2.54.1` -> `2.55.0`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#481 Update wine
  packages/wine64/wine64.pacscript
Labels: Update Package

#522 upd(telegram-bin): `3.2.2` -> `3.2.5`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#523 Add dino-git
  packagelist
  packages/dino-git/dino-git.pacscript
Labels: Package Add

#528 feat(packagelist): Add `spacecadetpinball-git`
  packagelist
  packages/spacecadetpinball-git/spacecadetpinball-git.pacscript
  packages/spacecadetpinball-git/spacecadetpinball.desktop
Labels: package request
