Repository pacstall/pacstall-programs, pull requests merged in 2021-06, with the labels that each got.

#8 conky-manager directory name and package name mismatch fix
  packagelist
  packages/conky-manager/conky-manager.pacscript
Labels: bug

#11 [Update] Fix `bpytop-git` dependency issues
  packages/bpytop-git/bpytop-git.pacscript
Labels: bug

#14 Update Soundux to 0.2.7
  packages/soundux/soundux.pacscript
Labels: Update Package, bug

#15 Optimize tuner images
  packages/tuner-git/docs/logo_01.png
  packages/tuner-git/docs/screen_dark_1.3.0.png
  packages/tuner/docs/logo_01.png
  packages/tuner/docs/screen_dark_1.3.0.png
Labels: enhancement

#17 Dunst exist in universe so it might be installed
  packages/dunst/dunst.pacscript
Labels: enhancement

#19 Soundux: Remove obsolete dependency `pulseaudio-utils`
  packages/soundux/soundux.pacscript
Labels: Update Package

#18 Adding Tor
  packagelist
  packages/tor/tor.pacscript
Labels: Package Add

#21 Update PipeWire to 0.3.29
  packages/pipewire/pipewire.pacscript
Labels: Update Package

#25 [Package Add] GNU sed
  packagelist
  packages/sed/sed.pacscript
Labels: Package Add

#23 [Package Add] Add webapp-manager
  packagelist
  packages/webapp-manager/webapp-manager.pacscript
Labels: Package Add

#16 Use the `pkgver()` function in all scripts applicable
  packages/bashtop-git/bashtop-git.pacscript
  packages/blang-git/blang-git.pacscript
  packages/bpytop-git/bpytop-git.pacscript
  packages/notion-git/notion-git.pacscript
  packages/st-distrotube/st-distrotube.pacscript
  packages/tuner-git/tuner-git.pacscript
Labels: enhancement

#27 Fix mutt-wizard's lack of prepare/build funcitons
  packages/mutt-wizard/mutt-wizard.pacscript
Labels: Update Package

#29 Updated mutt-wizard maintainer name to correct github username
  packages/mutt-wizard/mutt-wizard.pacscript
Labels: Update Package

#28 [Package Add] Add zotero
  packagelist
  packages/zotero/zotero.pacscript
Labels: Package Add

#31 Style changes to discord.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#34 Minor change to paper-icon-theme
  packages/paper-icon-theme/paper-icon-theme.pacscript
Labels: Update Package

#26 [bug] Fix CI
  .github/workflows/test-package-install.yml
Labels: bug

#35 [Add Package] Add `hyperfine-bin`
  packages/hyperfine-bin/hyperfine-bin.pacscript
Labels: Package Add

#37 [Update Package] Add licenses and style changes
  packages/awesome-git/awesome-git.pacscript
  packages/bemenu-git/bemenu-git.pacscript
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/emacs.pacscript
  packages/hyperfine-bin/hyperfine-bin.pacscript
  packages/i3-gaps/i3-gaps.pacscript
  packages/uwufetch/uwufetch.pacscript
Labels: Update Package

#41 [Update Package] Updated mutt-wizard to install license
  packages/mutt-wizard/mutt-wizard.pacscript
Labels: Update Package

#39 Update Soundux pacscript
  packages/soundux/soundux.pacscript
Labels: Update Package

#42 [Add Package] fastfetch-git
  packagelist
  packages/fastfetch-git/fastfetch-git.pacscript
Labels: Package Add

#43 Fix my pacscripts sudo
  packages/bemenu-git/bemenu-git.pacscript
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/emacs.pacscript
  packages/i3-gaps/i3-gaps.pacscript
  packages/uwufetch/uwufetch.pacscript
Labels: Update Package

#40 [Update Package] bashtop-git
  packages/bashtop-git/bashtop-git.pacscript
Labels: Update Package

#44 Fix: Privileges from `adapta-gtk-theme` -> `micro`
  packages/bpytop-git/bpytop-git.pacscript
  packages/discord-canary/discord-canary.pacscript
  packages/discord/discord.pacscript
  packages/exa/exa.pacscript
  packages/gtkhash/gtkhash.pacscript
  packages/htop/htop.pacscript
  packages/kvantum/kvantum.pacscript
  packages/lagrange/lagrange.pacscript
Labels: bug

#47 Update packages, fix tab length
  packages/minecraft-launcher/minecraft-launcher.pacscript
  packages/mutt-wizard/mutt-wizard.pacscript
  packages/nemo/nemo.pacscript
  packages/neofetch/neofetch.pacscript
  packages/nofetch/nofetch.pacscript
  packages/nowpm/nowpm.pacscript
  packages/onefetch-bin/onefetch-bin.pacscript
  packages/pacget/pacget.pacscript
  packages/paper-icon-theme/paper-icon-theme.pacscript
  packages/pfetch/pfetch.pacscript
  packages/popsicle/popsicle.pacscript
  packages/sed/sed.pacscript
  packages/st-distrotube/st-distrotube.pacscript
  packages/st-lukesmith/st-lukesmith.pacscript
  packages/stellarium/stellarium.pacscript
  packages/tor/tor.pacscript
  packages/tuner-git/tuner-git.pacscript
  packages/tuner/tuner.pacscript
  packages/webapp-manager/webapp-manager.pacscript
  packages/wine/wine.pacscript
  packages/zotero/zotero.pacscript
Labels: Update Package, bug

#48 [Update Package] bpytop-git
  packages/bpytop-git/bpytop-git.pacscript
Labels: Update Package

#50 updated pacget's pacscript
  packagelist
  packages/pacget-git/LICENSE
  packages/pacget-git/README.md
  packages/pacget-git/pacget-git.pacscript
  packages/pacget/pacget.pacscript
Labels: Update Package

#54 [Package Add] Gnome Shell Extension Installer
  packagelist
  packages/gnome-shell-extension-installer/README.md
  packages/gnome-shell-extension-installer/gnome-shell-extension-installer.pacscript
Labels: Package Add

#56 [Add Package] Lyrebird
  packagelist
  packages/lyrebird/README.md
  packages/lyrebird/lyrebird.pacscript
Labels: Package Add

#53 [Update Package] Gtkhash
  packages/gtkhash/gtkhash.pacscript
Labels: Update Package
