Repository pacstall/pacstall-programs, pull requests merged in 2021-12, with the labels that each got.

#538 Add missing ubuntu dependencies
  packages/pipewire/pipewire.pacscript
Labels: bug

#542 upd(caprine-deb): `2.55.0` -> `2.55.1`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#543 add: `shfmt-bin`
  packagelist
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Package Add

#546 upd(telegram-bin): `3.2.5` -> `3.3.0`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#548 chore: remove unwanted files
  packages/adapta-gtk-theme-git/README.md
  packages/alacritty/README.md
  packages/android-studio/README.md
  packages/awesome-git/README.md
  packages/aws-cli-v2-bin/README.md
  packages/balena-etcher-electron-deb/README.md
  packages/bemenu-git/README.md
  packages/blang-git/README.md
  packages/brave-browser-nightly-deb/README.md
  packages/cantata/README.md
  packages/clib/README.md
  packages/dmenu-distrotube/README.md
  packages/dmenu/README.md
  packages/dunst/README.md
  packages/fm6000-git/README.md
  packages/git-delta-deb/README.md
  packages/gnome-shell-extension-installer-git/README.md
  packages/gnome-tweaks/README.md
  packages/i3-gaps/README.md
  packages/kvantum/README.md
  packages/lagrange/README.md
  packages/lemonbar-xft-git/README.md
  packages/lrz-syncshare-deb/README.md
  packages/lsd-deb/README.md
  packages/lyrebird-git/README.md
  packages/micro/README.md
  packages/nano/README.md
  packages/neofetch/README.md
  packages/neovim/README.md
  packages/notion-git/README.md
  packages/obs-backgroundremoval/README.md
  packages/onefetch-bin/README.md
  packages/pacget-git/LICENSE
  packages/pacget-git/README.md
  packages/protonmail-bridge-deb/README.md
  packages/shell-color-scripts/README.md
  packages/st-distrotube-git/README.md
  packages/st-lukesmith-git/README.md
  packages/surf-distrotube-git/README.md
  packages/tuner-git/README.md
  packages/tuner-git/docs/logo_01.png
  packages/tuner-git/docs/screen_dark_1.3.0.png
  packages/tuner/README.md
  packages/tuner/docs/logo_01.png
  packages/tuner/docs/screen_dark_1.3.0.png
  packages/ulauncher-deb/README.md
  packages/universal-ctags-git/README.md
  packages/uwufetch/README.md
  packages/vim/README.md
  packages/vivaldi-deb/README.md
  packages/youtube-dl-git/README.md
Labels: cleanup

#550 upd(brave-browser-deb): `1.32.106` -> `1.32.115`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#549 upd(caprine-deb): `2.55.1` -> `2.55.2`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#553 add: `wazzapp-deb`
  packagelist
  packages/wazzapp-deb/wazzapp-deb.pacscript
Labels: Package Add

#554 add: `google-earth-pro-stable-deb`
  packagelist
  packages/google-earth-pro-stable-deb/google-earth-pro-stable-deb.pacscript
Labels: Package Add

#558 add: `treefetch-bin`
  packagelist
  packages/treefetch-bin/treefetch-bin.pacscript
Labels: Package Add

#569 udp(ferdi-deb): '5.6.3'->'5.6.4'
  packages/ferdi-deb/ferdi-deb.pacscript
Labels: Update Package

#563 upd(librewolf-app): `94.0.2-2` -> `95.0-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#568 fix: `exploitdb` & `spacecadetpinball-git`
  packages/exploitdb-git/exploitdb-git.pacscript
  packages/spacecadetpinball-git/spacecadetpinball-git.pacscript
Labels: update pacscript

#572 upd(google-chrome-deb): `96.0.4664.45-1` -> `96.0.4664.110-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: security

#557 ci(github): code quality issues
  .github/issue_label_bot.yaml
  .github/stale.yml
  .github/workflow.sh
  .pre-commit-config.yaml
Labels: cleanup

#559 fix(fastfetch-git): update outdated pacscript
  packages/fastfetch-git/fastfetch-git.pacscript
Labels: cleanup, update pacscript

#565 refactor: remove `removescript="yes"`
  packages/android-studio/android-studio.pacscript
  packages/ardour-git/ardour-git.pacscript
  packages/awesome-git/awesome-git.pacscript
  packages/bashtop-git/bashtop-git.pacscript
  packages/bemenu-git/bemenu-git.pacscript
  packages/bpytop-git/bpytop-git.pacscript
  packages/clib/clib.pacscript
  packages/cmatrix/cmatrix.pacscript
  packages/fastfetch-git/fastfetch-git.pacscript
  packages/git/git.pacscript
  packages/gnome-shell-extension-installer-git/gnome-shell-extension-installer-git.pacscript
  packages/hyperfine-bin/hyperfine-bin.pacscript
  packages/i3-gaps/i3-gaps.pacscript
  packages/i3lock-color/i3lock-color.pacscript
  packages/lagrange/lagrange.pacscript
  packages/librewolf-app/librewolf-app.pacscript
  packages/lyrebird-git/lyrebird-git.pacscript
  packages/mutt-wizard/mutt-wizard.pacscript
  packages/neovim/neovim.pacscript
  packages/opendoas-git/opendoas-git.pacscript
  packages/opentoonz-gts/opentoonz-gts.pacscript
  packages/pacget-git/pacget-git.pacscript
  packages/soundux/soundux.pacscript
  packages/surf-distrotube-git/surf-distrotube-git.pacscript
  packages/surf/surf.pacscript
  packages/tuner-git/tuner-git.pacscript
  packages/tuner/tuner.pacscript
  packages/uwufetch/uwufetch.pacscript
  packages/walc-app/walc-app.pacscript
  packages/yabridge/yabridge.pacscript
Labels: cleanup

#567 add: `oil`
  packagelist
  packages/oil/oil.pacscript
Labels: Package Add

#555 add: `dust-bin`
  packagelist
  packages/dust-bin/dust-bin.pacscript
Labels: Package Add

#579 add: `tmpmail-bin`
  packagelist
  packages/tmpmail-bin/tmpmail-bin.pacscript
Labels: Package Add

#580 upd(bitwarden-deb): `1.29.1` -> `1.30.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#582 upd(brave-browser-beta-deb): `1.34.59` -> `1.34.70`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#583 upd(brave-browser-dev-deb): `1.34.58` -> `1.34.69`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#585 upd(gitkraken-deb): `8.1.1` -> `8.2.1`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#584 upd(electronmail-deb): `4.13.0` -> `4.13.1`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#586 upd(shfmt-bin): `3.4.1` -> `3.4.2`
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Update Package

#581 upd(brave-browser-nightly-deb): `1.34.35` -> `1.35.52`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#587 upd(librewolf-app): `95.0-1` -> `95.0.2-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#562 add: `pipes.sh-bin`
  packagelist
  packages/pipes.sh-bin/pipes.sh-bin.pacscript
Labels: Package Add

#561 add: `qogir-icon-theme-bin`
  packagelist
  packages/qogir-icon-theme-bin/qogir-icon-theme-bin.pacscript
Labels: Package Add

#566 add: `zentile-bin`
  packagelist
  packages/zentile-bin/zentile-bin.pacscript
Labels: Package Add

#590 fix(bemenu-git): update script
  packages/bemenu-git/bemenu-git.pacscript
Labels: update pacscript

#592 upd(tmpmail-bin): `1.1.4` -> `1.1.9`
  packages/tmpmail-bin/tmpmail-bin.pacscript
Labels: Update Package

#593 fix(librewolf-app): remove space in `version`
  packages/librewolf-app/librewolf-app.pacscript
Labels: update pacscript

#594 add: `doas-git`
  packagelist
  packages/doas-git/doas-git.pacscript
  packages/doas-git/doas-pam
  packages/doas-git/doas.conf
Labels: Package Add

#598 udp(ms-teams-deb): `1.4.00.7556` -> `1.4.00.26453`
  packages/ms-teams-deb/ms-teams-deb.pacscript
Labels: Update Package

#597 fix(bemenu-git): add missing `libncurses5-dev` dependency
  packages/bemenu-git/bemenu-git.pacscript
Labels: update pacscript
