Repository pacstall/pacstall-programs, pull requests merged in 2021-09, with the labels that each got.

#223 Update android-studio and brave-browser-beta-deb
  packages/android-studio/android-studio.pacscript
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#236 PacReq: `opera-deb`
  packagelist
  packages/opera-deb/opera-deb.pacscript
Labels: package request

#250 PacReq: Add `telegram-bin`
  packagelist
  packages/telegram-bin/telegram-bin.pacscript
Labels: package request

#255 [PacReq] [Package Add] Microsoft Edge Dev (Deb)
  packagelist
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: package request

#256 Update mailspring-deb version
  packages/mailspring-deb/mailspring-deb.pacscript
Labels: Update Package

#258 PacReq: `caprine-deb`
  packagelist
  packages/caprine-deb/caprine-deb.pacscript
Labels: package request

#261 PacReq: Add `latte-dock-git`
  packagelist
  packages/latte-dock-git/latte-dock-git.pacscript
Labels: package request

#264 Add thrive and fix packagelist
  packagelist
  packages/thrive-deb/thrive-deb.pacscript
Labels: Update Package

#267 Add `librewolf-app`
  packagelist
  packages/librewolf-app/librewolf-app.pacscript
  packages/librewolf-app/librewolf.desktop
Labels: Package Add

#295 feat(readme): Cleanup
  README.md
Labels: documentation

#308 upd(telegram-bin): `3.0.1` -> `3.1.0`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#321 add cantata package
  packagelist
  packages/canata/README.md
  packages/canata/cantata.pacscript
Labels: package request

#331 upd(telegram-bin): `3.1.0` -> `3.1.1`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package
