Repository pacstall/pacstall-programs, pull requests merged in 2022-08, with the labels that each got.

#1430 upd(bat): `0.19.0` -> `0.21.0`
  packages/bat/bat.pacscript
Labels: Update Package

#1447 upd(nala-deb): `0.10.0` -> `0.11.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1448 upd(teams-for-linux-deb): `1.0.24` -> `1.0.25`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#1445 upd(chwp-deb): `1.120.0` -> `1.126.0`
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#1450 upd(mullvad-vpn-beta-deb): `2022.2-beta2` -> `2022.3-beta3`
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
Labels: Update Package

#1452 upd(element-desktop-deb): `1.11.0` -> `1.11.2`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1449 upd(mullvad-vpn-deb): `2022.1` -> `2022.2`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#1451 add: `kirc`
  packagelist
  packages/kirc/kirc.pacscript
Labels: Package Add

#1456 upd(postman-bin): `9.25.2` -> `9.27.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1462 upd(brave-browser-deb): `1.41.100` -> `1.42.86`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1457 upd(1password-cli-bin): `2.5.1` -> `2.6.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#1458 upd(android-studio): `2021.2.1.15` -> `2021.2.1.16`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#1459 upd(anydesk-deb): `6.1.1` -> `6.2.0`
  packages/anydesk-deb/anydesk-deb.pacscript
Labels: Update Package

#1460 upd(arduino-cli-bin): `0.24.0` -> `0.25.1`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#1461 upd(aws-cli-v2-bin): `2.7.16` -> `2.7.21`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1465 upd(brave-browser-beta-deb): `1.42.76` -> `1.43.60`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1466 upd(brave-browser-nightly-deb): `1.43.43` -> `1.44.26`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1469 upd(pycharm-community-bin): `2022.1.4` -> `2022.2`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#1467 upd(batsignal): `1.5.0` -> `1.5.1`
  packages/batsignal/batsignal.pacscript
Labels: Update Package

#1443 upd(minecraft-pi-reborn-app): `2.3.13` -> `2.4.2`
  packages/minecraft-pi-reborn-app/com.thebrokenrail.MCPIRebornClient.appdata.xml
  packages/minecraft-pi-reborn-app/com.thebrokenrail.MCPIRebornClient.desktop
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1472 upd(tidal-hifi-bin): `4.0.0` -> `4.1.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1471 upd(ferium-bin): `4.1.8` -> `4.1.10`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#1455 add: `systemcoding-conky`
  packagelist
  packages/systemcoding-conky/systemcoding-conky.pacscript
Labels: Package Add

#1473 upd(papirus-icon-theme): `20220710` -> `20220808`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#1475 upd(discord/discord-deb): `0.0.18` -> `0.0.19`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#1477 upd(heroic-games-launcher-deb): `2.3.10` -> `2.4.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1478 add: `keybase-deb`
  packagelist
  packages/keybase-deb/keybase-deb.pacscript
Labels: Package Add

#1479 add: `an-anime-game-launcher-gtk-bin`
  packagelist
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Package Add

#1484 add: `mailspring-deb`
  packagelist
  packages/mailspring-deb/mailspring-deb.pacscript
Labels: Package Add

#1487 upd(starship-bin): `1.9.1` -> `1.10.1`
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#1488 upd(go-bin): `1.18.3` -> `1.19`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#1486 feat(CI): Seperate Debian and Ubuntu
  .github/workflows/tests.yml
Labels: CI

#1490 add: `librewolf-deb`
  packagelist
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Package Add

#1493 upd(an-anime-game-launcher-gtk-bin): `1.0.0` -> `1.0.1`
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Update Package

#1492 add: `lf-bin`
  packagelist
  packages/lf-bin/lf-bin.pacscript
Labels: Package Add

#1485 add: `firefox-deb`
  packagelist
  packages/firefox-deb/firefox-deb.pacscript
Labels: Package Add

#1491 fix(grapejuice-git): add gettext and python-is-python3 to deps
  packages/grapejuice-git/grapejuice-git.pacscript
Labels: Update Pacscript

#1496 upd(postman-bin): `9.27.0` -> `9.29.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1497 add: `obquit-git`
  packagelist
  packages/obquit-git/obquit-git.pacscript
Labels: Package Add

#1501 upd(tidal-hifi-bin): `4.1.0` -> `4.1.1`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1503 upd(an-anime-game-launcher-bin): `2.3.7` -> `2.3.8`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1502 upd(an-anime-game-launcher-gtk-bin): `1.0.1` -> `1.0.2`
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Update Package

#1504 upd(microsoft-edge-stable-deb): `102.0.1245.39-1` -> `104.0.1293.63-1`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#1500 add: `gtkmm4`
  packagelist
  packages/gtkmm4/gtkmm4.pacscript
Labels: Package Add

#1507 upd(an-anime-game-launcher-bin): `1.0.2` -> `1.0.3`
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Update Package

#1505 upd(brave-browser-beta-deb): `1.43.60` -> `1.43.79`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1508 upd(github-dekstop-deb): `3.0.3` -> `3.0.5`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#1511 upd(zotero): `6.0.9` -> `6.0.13`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1512 upd(yt-dlp): `2022.05.18` -> `2022.08.19`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#1516 upd(ivpn-ui-deb): `3.9.0` -> `3.9.8`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#1515 upd(ivpn-deb): `3.9.0` -> `3.9.14`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#1514 upd(1password-cli-bin): `2.6.0` -> `2.6.2`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#1513 upd(vivaldi-deb): `5.3.2679.68` -> `5.4.2753.40`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#1519 upd(brave-browser-nightly-deb): `1.44.26` -> `1.45.7`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1518 upd(brave-browser-beta-deb): `1.43.79` -> `1.44.67`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1517 upd(brave-browser-deb): `1.42.86` -> `1.43.82`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1509 add: `komorebi-fork-deb`
  packagelist
  packages/komorebi-fork-deb/komorebi-fork-deb.pacscript
Labels: Package Add

#1530 add: `deskcut-deb`
  packagelist
  packages/deskcut-deb/deskcut-deb.pacscript
Labels: Package Add

#1522 upd(torbrowser-launcher-git): add gettext and pip
  packages/torbrowser-launcher-git/torbrowser-launcher-git.pacscript
Labels: Update Pacscript

#1523 add: `sublime-text-deb`
  packagelist
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Package Add

#1524 add: `sublime-merge-deb`
  packagelist
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
Labels: Package Add

#1525 add: `upscayl-app`
  packagelist
  packages/upscayl-app/upscayl-app.pacscript
  packages/upscayl-app/upscayl.desktop
Labels: Package Add

#1528 add: `highlight-pointer-bin`
  packagelist
  packages/highlight-pointer-bin/highlight-pointer-bin.pacscript
Labels: Package Add

#1529 add: `feroxbuster-bin`
  packagelist
  packages/feroxbuster-bin/feroxbuster-bin.pacscript
Labels: Package Add

#1526 add: `wsysmon-bin`
  packagelist
  packages/wsysmon-bin/wsysmon-bin.pacscript
  packages/wsysmon-bin/wsysmon.desktop
Labels: Package Add

#1527 add: `nuclei-bin`
  packagelist
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Package Add

#1531 upd(vscode-deb): `1.69.1` -> `1.70.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#1532 upd(minecraft-pi-reborn-app): `2.4.2` -> `2.4.3`
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1536 upd(gfn-electron-bin): `1.8.0` -> `1.9.0`
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
Labels: Update Package

#1537 upd(discord-canary): `0.0.136` -> `0.0.137`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package
