Repository pacstall/pacstall-programs, pull requests merged in 2022-03, with the labels that each got.

#797 upd(thrive-deb): `1.2.8` -> `1.3.0`
  packages/thrive-deb/thrive-deb.pacscript
Labels: Update Package

#777 upd(an-anime-game-launcher-bin): `2.1.5` -> `2.2.0`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  packages/aomp-deb/fix_AOMP.patch
Labels: Update Package

#770 upd(pipewire): `0.3.44` -> `0.3.47`
  packages/pipewire/pipewire.pacscript
Labels: Update Package, update pacscript

#799 upd(google-chrome-beta-deb): `99.0.4844.27-1` -> `99.0.4844.51-1`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#793 add `emby-server-deb`
  packagelist
  packages/emby-server-deb/emby-server-deb.pacscript
Labels: Package Add

#804 upd(discord-canary): `0.0.133` -> `0.0.134`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#805 add: `chezmoi-deb`
  packagelist
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Package Add

#819 revert(fix_AOMP): revert precommit.ci
  packages/aomp-deb/fix_AOMP.patch
Labels: revert

#818 upd(github-desktop): `2.9.6` -> `2.9.9`
  packages/github-desktop/github-desktop.pacscript
Labels: Update Package

#817 upd(github-cli-deb): `2.5.0` -> `2.5.2`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#816 upd(electronmail-deb): `4.13.2` -> `4.13.5`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#813 upd(microsoft-edge-dev-deb): `99.0.1150.2-1` -> `100.0.1181.0-1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#822 upd(lbry-deb): `0.52.0` -> `0.52.5`
  packages/lbry-deb/lbry-deb.pacscript
Labels: Update Package

#820 upd(nyxt-deb): `2.1.1` -> `2.2.4`
  packages/nyxt-deb/nyxt-deb.pacscript
Labels: Update Package

#825 upd(chezmoi-deb): `2.13.0` -> `2.13.1`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#828 upd(chezmoi-deb): `2.13.1` -> `2.14.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#648 add: `go-bin`
  packagelist
  packages/go-bin/go-bin.pacscript
Labels: Package Add

#830 upd(yad): `10.1` -> `11.0`
  packages/yad/yad.pacscript
Labels: Update Package

#821 upd(balena-etcher-electron-deb): `1.7.3` -> `1.7.7`
  packages/balena-etcher-electron-deb/balena-etcher-electron-deb.pacscript
Labels: Update Package

#814 upd(alacritty): `0.10.0` -> `0.10.1`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#808 upd(kvantum): `1.0.0` -> `1.0.1`
  packages/kvantum/kvantum.pacscript
Labels: Update Package

#834 upd(nala-deb): `0.5.2` -> `0.6.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#839 upd(yabridge): `3.8.0` -> `3.8.1`
  packages/yabridge/yabridge.pacscript
Labels: Update Package

#833 upd(torguard-deb): `4.8.7` -> `4.8.9`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#824 upd(hyper-deb): `3.1.5` -> `3.2.0`
  packages/hyper-deb/hyper-deb.pacscript
Labels: Update Package

#840 upd(mullvad-vpn-deb): `2021.6` -> `2022.1`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#855 featt(zotero, drawio-desktop-deb): add `repology`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
  packages/zotero/zotero.pacscript
Labels: update pacscript

#852 upd(smplayer-deb): `21.10.0` -> `22.2.0-1`
  packages/smplayer-deb/smplayer-deb.pacscript
Labels: Update Package, update pacscript

#849 feat(bitwarden-deb): add `breaks`, `replace`, and `repology`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package, update pacscript

#850 feat: add `repology` variable to all pacscripts maintained by @echometerain
  packages/opensnitch-deb/opensnitch-deb.pacscript
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
  packages/opentoonz-gts/opentoonz-gts.pacscript
  packages/opentoonz/opentoonz.pacscript
  packages/smartgit/smartgit.pacscript
  packages/yabridge/yabridge.pacscript
  packages/yad/yad.pacscript
Labels: update pacscript

#826 upd(webapp-manager-deb): `1.1.5` -> `1.1.9`
  packages/webapp-manager-deb/webapp-manager-deb.pacscript
Labels: Update Package

#829 upd(element-desktop-deb): `1.10.4` -> `1.10.7`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package, update pacscript

#851 add: add package metadata for cat-master21 projects
  packages/aomp-deb/aomp-deb.pacscript
  packages/aomp-deb/fix_AOMP.patch
  packages/atom-editor-deb/atom-editor-deb.pacscript
  packages/balena-etcher-electron-deb/balena-etcher-electron-deb.pacscript
  packages/nyxt-deb/nyxt-deb.pacscript
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#856 upd(vscodium-deb): `1.64.2` -> `1.65.2`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package, update pacscript

#858 feat(caprine-deb): add `repology`
  packages/caprine-deb/caprine-deb.pacscript
Labels: update pacscript

#857 upd(librewolf-app): `97.0.1-1` -> `98.0`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package, update pacscript

#859 feat(emacs): add `repology`
  packages/emacs/emacs.pacscript
Labels: update pacscript

#860 feat(i3-gaps): add `repology`
  packages/i3-gaps/i3-gaps.pacscript
Labels: update pacscript

#861 fix(emacs-git): fix everything
  packages/emacs-git/emacs-git.pacscript
Labels: update pacscript

#841 upd(opera-deb): `82.0.4227.43` -> `84.0.4316.42`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#864 upd(caprine-deb): `2.55.2` -> `2.55.3`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#867 upd(discord-ptb-deb): `0.0.28` -> `0.0.29`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#786 add: `fnlfmt`
  packagelist
  packages/fnlfmt/fnlfmt.pacscript
Labels: Package Add

#870 feat(fennel-bin): add `repology`
  packages/fennel-bin/fennel-bin.pacscript
Labels: update pacscript

#869 feat(fennel): add `repology`
  packages/fennel/fennel.pacscript
Labels: update pacscript

#871 upd(caprine-deb): `2.55.3` -> `2.55.4`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#874 feat(dust-bin): add `repology`
  packages/dust-bin/dust-bin.pacscript
Labels: update pacscript

#875 upd(libressl): `3.3.3` -> `3.4.3`
  packages/libressl/libressl.pacscript
Labels: Update Package, update pacscript

#876 upd(oil): `0.9.7` -> `0.9.8`
  packages/oil/oil.pacscript
Labels: Update Package, update pacscript

#848 upd(bitwig-studio-deb): `4.1.2` -> `4.2`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#844 add: `paconvert-git`
  packagelist
  packages/paconvert-git/paconvert-git.pacscript
Labels: Package Add

#878 fix(yabridge): force create symlink to fix updating
  packages/yabridge/yabridge.pacscript
Labels: update pacscript

#831 upd(brave): switch maintainers and update packages
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  packages/brave-keyring-deb/brave-keyring-deb.pacscript
Labels: Update Package, update pacscript

#880 upd(nala-deb): `0.6.0` -> `0.7.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#868 add: `com.github.mirkobrombin.bottles-deb`
  packagelist
  packages/com.github.mirkobrombin.bottles-deb/com.github.mirkobrombin.bottles-deb.pacscript
Labels: Package Add

#862 fix(steam-deb): Enable 32 bit support by default
  packages/steam-deb/steam-deb.pacscript
Labels: Update Package

#882 upd(nodejs-lts-deb): `16.14.0` -> `16.14.2`
  packages/nodejs-lts-deb/nodejs-lts-deb.pacscript
Labels: Update Package

#884 upd(brave-browser-nightly-deb): `1.39.2` -> `1.39.7`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#883 upd(brave-browser-beta-deb): 1.38.67 -> 1.38.69
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#873 add: `qtile-git`
  packagelist
  packages/qtile-git/qtile-git.pacscript
Labels: Package Add

#887 upd(torguard-deb): `4.8.9` -> `4.8.10`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#881 upd(go-bin): `1.17.8` -> `1.18`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#892 fix(yad): fix hash
  packages/yad/yad.pacscript
Labels: update pacscript

#890 upd(opera-deb): `84.0.4316.42` -> `85.0.4341.18`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#889 upd(web-app-manager): `1.1.5` -> `1.1.9`
  packages/webapp-manager-deb/webapp-manager-deb.pacscript
  packages/webapp-manager/webapp-manager.pacscript
Labels: Update Package

#811 fix: tmux pacscript
  packages/tmux/tmux.pacscript
Labels: update pacscript

#900 upd(an-anime-game-launcher-bin): `2.2.0` -> `2.2.2`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#902 add: `reshade-shaders-git`
  packagelist
  packages/reshade-shaders-git/reshade-shaders-git.pacscript
Labels: Package Add
