Repository pacstall/pacstall-programs, pull requests merged in 2022-12, with the labels that each got.

#1793 upd(ferdium-deb): `6.2.0` -> `6.2.1`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#1795 add: `zoom-deb`
  packagelist
  packages/zoom-deb/zoom-deb.pacscript
Labels: Package Add

#1797 add: `songrec-deb`
  packagelist
  packages/songrec-deb/songrec-deb,pacscript
Labels: Package Add

#1798 add: `webcord`
  packagelist
  packages/webcord-deb/webcord-deb.pacscript
Labels: Package Add

#1800 upd(helix): `22.08.1` -> `22.12`
  packages/helix/helix.pacscript
Labels: Update Package

#1802 add: `zoho-notebook-deb`
  packagelist
  packages/zoho-notebook-deb/zoho-notebook-deb.pacscript
Labels: Package Add

#1804 upd(lutris-deb): `0.5.10.1` -> `0.5.12`
  packages/lutris-deb/lutris-deb.pacscript
Labels: Update Package

#1805 upd(heroic-games-launcher-deb): `2.4.3` -> `2.5.1`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1806 add: `rstudio-deb`
  packagelist
  packages/rstudio-deb/rstudio-deb.pacscript
Labels: Package Add

#1807 upd(google-earth-pro-stable-deb): `7.3.4.8248` -> `7.3.6.9285`
  packages/google-earth-pro-stable-deb/google-earth-pro-stable-deb.pacscript
Labels: Update Package

#1810 add: `popcorn-time-deb`
  packagelist
  packages/popcorn-time-deb/popcorn-time-deb.pacscript
Labels: Package Add

#1812 upd(qogir-icon-theme-bin): `2022-01-12` -> `2022-11-05`
  packages/qogir-icon-theme-bin/qogir-icon-theme-bin.pacscript
Labels: Update Package

#1813 upd(brave-browser-deb): `1.45.129` -> `1.46.141`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1814 upd(brave-browser-nightly-deb): `1.47.58` -> `1.48.42`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1816 upd(google-chrome-deb): 103.0.5060.53-1 -> 108.0.5359.98-1
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#1819 fix(neovim): use Release, just like `neovim-git`
  packages/neovim/neovim.pacscript
Labels: Update Pacscript

#1821 upd(discord-deb): `0.0.21` -> `0.0.22`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#1822 upd(discord): `0.0.20` -> `0.0.22`
  packages/discord/discord.pacscript
Labels: Update Package

#1823 upd(papirus-icon-theme): `20220910` -> `20221201`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#1824 upd(webcord-deb): `3.10.0` -> `4.0.0`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#1829 chore(an-anime-game-launcher-bin): change maintainer
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Pacscript

#1825 upd(aws-cli-v2-bin): `2.7.21` -> `2.9.6`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1831 upd(postman-bin): `10.0.1` -> `10.5.2`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1830 upd(arduino-cli-bin): `0.28.0` -> `0.29.0`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#1832 upd(keepassxc): `2.7.3` -> `2.7.4`
  packages/keepassxc/keepassxc.pacscript
Labels: Update Package

#1833 add: `python3-imdbpy-deb`
  packagelist
  packages/python3-imdbpy-deb/python3-imdbpy-deb.pacscript
Labels: Package Add

#1838 add: `pulsar-deb`
  packagelist
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Package Add

#1840 add: `topgrade-musl-bin`
  packagelist
  packages/topgrade-bin/topgrade-bin.pacscript
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Package Add

#1841 ci(tests): add step to uninstall packages
  .github/workflows/tests.yml
Labels: CI

#1836 add: `xapps-common-deb`
  packagelist
  packages/xapps-common-deb/xapps-common-deb.pacscript
Labels: Package Add

#1835 add: `libxapp1-deb`
  packagelist
  packages/libxapp1-deb/libxapp1-deb.pacscript
Labels: Package Add

#1834 add: `gir1.2-xapp-1.0-deb`
  packagelist
  packages/gir1.2-xapp-1.0-deb/gir1.2-xapp-1.0-deb.pacscript
Labels: Package Add

#1811 add: `hypnotix-deb`
  packagelist
  packages/hypnotix-deb/hypnotix-deb.pacscript
Labels: Package Add

#1842 upd(1password-cli-bin): `2.7.3` -> `2.11.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#1843 upd(pacup-bin): `1.0.0` -> `1.0.1`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#1846 add: `truckersmp-cli`
  packagelist
  packages/truckersmp-cli/truckersmp-cli.pacscript
Labels: Package Add

#1845 add: `wezterm-app`
  packagelist
  packages/wezterm-app/wezterm-app.pacscript
  packages/wezterm-app/wezterm.desktop
Labels: Package Add

#1849 upd(nala-deb): `0.11.0` -> `0.12.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1850 fix(github-desktop-deb): add `gives`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Pacscript

#1852 upd(distrobox): `1.4.1` -> `1.4.2.1`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#1851 upd(heroic-games-launcher-deb): `2.5.1` -> `2.5.2`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1854 upd(aws-cli-v2-bin): `2.9.6` -> `2.9.9`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1853 upd(postman-bin): `10.5.2` -> `10.6.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1863 upd(shfmt-bin): `3.5.1` -> `3.6.0`
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Update Package

#1862 upd(telegram-bin): `4.2.4` -> `4.4.1`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#1861 upd(opera-deb): `89.0.4447.38` -> `94.0.4606.38`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#1860 upd(oil): `0.12.7` -> `0.13.0`
  packages/oil/oil.pacscript
Labels: Update Package

#1859 upd(nushell-bin): `0.70.0` -> `0.73.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#1858 upd(librewolf-app): `105.0.3-1` -> `108.0-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#1856 upd(fennel-bin): `1.2.0` -> `1.2.1`
  packages/fennel-bin/fennel-bin.pacscript
Labels: Update Package

#1855 upd(caprine-deb): `2.56.1` -> `2.57.0`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#1865 upd(brave-browser-nightly-deb): `1.48.42` -> `1.48.79`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1866 upd(brave-browser-beta-deb): `1.47.101` -> `1.47.141`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1868 upd(ferium-bin): `4.2.0` -> `4.2.2`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#1867 upd(brave-browser-deb): `1.46.141` -> `1.46.144`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1869 add: `tabby-deb`
  packagelist
  packages/tabby-deb/tabby-deb.pacscript
Labels: Package Add

#1872 add: `nuclear-deb`
  packagelist
  packages/nuclear-deb/nuclear-deb.pacscript
Labels: Package Add

#1873 add: `neovide-bin`
  packagelist
  packages/neovide-bin/neovide-bin.pacscript
Labels: Package Add

#1875 fix(shellharden): use `incompatible` syntax
  packages/shellharden/shellharden.pacscript
Labels: Update Pacscript

#1876 fix(alacritty): use `incompatible` syntax
  packages/alacritty/alacritty.pacscript
Labels: Update Pacscript

#1877 fix(kvantum): use `incompatible` syntax
  packages/kvantum/kvantum.pacscript
Labels: Update Pacscript

#1879 upd(an-anime-game-launcher-bin): `2.4.1` -> `2.4.2`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1882 upd(emby-server-deb): `4.7.8.0` -> `4.7.11.0`
  packages/emby-server-deb/emby-server-deb.pacscript
Labels: Update Package

#1880 upd(electronmail-deb): `5.1.1` -> `5.1.2`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#1883 upd(brave-browser-beta-deb): `1.47.141` -> `1.47.145`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1884 upd(brave-browser-nightly-deb): `1.48.79` -> `1.48.84`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1881 upd(ferdium-deb): `6.2.1` -> `6.2.3`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#1885 upd(element-desktop-deb): `1.11.14` -> `1.11.17`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1886 upd(bitwarden-cli-bin): `2022.10.0` -> `2022.11.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#1887 upd(bitwarden-deb): `2022.10.1` -> `2022.12.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#1889 upd(yad): `12.0` -> `12.3`
  packages/yad/yad.pacscript
Labels: Update Package

#1890 upd(webapp-manager-deb): `1.2.5` -> `1.2.8`
  packages/webapp-manager-deb/webapp-manager-deb.pacscript
Labels: Update Package

#1891 upd(webapp-manager): `1.2.5` -> `1.2.8`
  packages/webapp-manager/webapp-manager.pacscript
Labels: Update Package

#1892 upd(vivaldi-deb): `5.4.2753.40` -> `5.6.2867.50`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#1893 upd(tutanota-app): `3.100.2` -> `3.106.4`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#1894 upd(topgrade-musl-bin): `10.2.2` -> `10.2.4`
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#1895 upd(torguard-deb): `4.8.14` -> `4.8.15`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#1897 upd(slack-deb): 4.28.184 -> 4.29.149
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#1898 upd(starship-bin): `1.10.1` -> `1.12.0`
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#1899 upd(topgrade-bin): `10.2.2` -> `10.2.4`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1900 upd(pycharm-community-bin): `2022.2.3` -> `2022.3`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#1903 upd(nuclei-bin): `2.7.7` -> `2.8.3`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#1904 upd(pomatez-deb): `1.1.0` -> `1.2.2`
  packages/pomatez-deb/pomatez-deb.pacscript
Labels: Update Package

#1905 upd(protonmail-bridge-deb): `2.2.0` -> `2.3.0`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#1906 upd(nodejs-lts-deb): `16.16.0` -> `16.18.1`
  packages/nodejs-lts-deb/nodejs-lts-deb.pacscript
Labels: Update Package

#1908 upd(librewolf-deb): `105.0.3-1` -> `108.0-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#1910 upd(github-cli-deb): `2.20.0` -> `2.21.1`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#1909 upd(libressl): `3.5.3` -> `3.6.1`
  packages/libressl/libressl.pacscript
Labels: Update Package

#1911 upd(github-cli-bin): `2.18.1` -> `2.21.1`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#1912 upd(gitfiend-deb): `0.37.2` -> `0.38.3`
  packages/gitfiend-deb/gitfiend-deb.pacscript
Labels: Update Package

#1913 upd(git-delta-deb): `0.14.0` -> `0.15.1`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package

#1896 upd(touchegg-deb): `2.0.14` -> `2.0.15`
  packages/touchegg-deb/touchegg-deb.pacscript
Labels: Update Package

#1914 upd(protonvpn-nm-lib): sort out depends
  packages/protonvpn-nm-lib/protonvpn-nm-lib.pacscript
Labels: Update Pacscript

#1915 fix(proton-python-client): use `build_depends`
  packages/proton-python-client/proton-python-client.pacscript
Labels: Update Pacscript

#1902 upd(protonvpn-cli): `3.12.0` -> `3.13.0`
  packages/protonvpn-cli/protonvpn-cli.pacscript
Labels: Update Package

#1901 upd(protonvpn-gui): `1.10.0` -> `1.12.0`
  packages/protonvpn-gui/protonvpn-gui.pacscript
Labels: Update Package

#1878 ci: do not fail out if 1 package fails
  .github/workflows/tests.yml
Labels: CI

#1916 upd(chezmoi-deb): `2.20.0` -> `2.28.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1918 fix(an-anime-game-launcher-app): create directory for desktop
  packages/an-anime-game-launcher-app/an-anime-game-launcher-app.pacscript
Labels: Update Pacscript

#1547 feat(emacs)!: update script to latest spec
  packages/emacs/emacs.pacscript
Labels: Update Package, Update Pacscript

#1921 fix(soundux): remove pacdep on soundux, disable debian support
  packages/soundux/soundux.pacscript
Labels: Update Pacscript

#1998 upd(1password-cli-bin): `2.11.0` -> `2.12.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#2009 rm: `vim`
  packagelist
  packages/vim/vim.pacscript
Labels: remove package

#2011 upd(discord-ptb-deb): `0.0.35` -> `0.0.38`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#2012 upd(go-bin): `1.19.3` -> `1.19.4`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#2010 upd(arduino-ide-bin): `1.8.19` -> `2.0.3`
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
  packages/arduino-ide-bin/arduino-ide.desktop
Labels: Update Package

#2008 upd(expressvpn-deb): `3.27.1.0-1` -> `3.38.0.3-1`
  packages/expressvpn-deb/expressvpn-deb.pacscript
Labels: Update Package

#2014 upd(anydesk-deb) `6.2.0` -> `6.2.1`
  packages/anydesk-deb/anydesk-deb.pacscript
Labels: Update Package

#2013 upd(fnlfmt): `0.2.2` -> `0.2.3`
  packages/fnlfmt/fnlfmt.pacscript
Labels: Update Package

#2015 upd(aws-cli-v2-bin): `2.9.9` -> `2.9.11`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#2016 rm: `windscribe-alpha-gui-deb`
  packagelist
  packages/windscribe-alpha-gui-deb/windscribe-alpha-gui-deb.pacscript
Labels: remove package

#2017 upd(windscribe-beta-gui-deb): `2.4.8_beta` -> `2.5.12`
  packages/windscribe-beta-gui-deb/windscribe-beta-gui-deb.pacscript
Labels: Update Package

#2018 upd(nordlayer-deb): `2.4.2` -> `2.6.0`
  packages/nordlayer-deb/nordlayer-deb.pacscript
Labels: Update Package

#2019 upd(bitwig-studio-deb): `4.4.0` -> `4.4.6`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#2020 upd(rstudio-deb): `2022.07.2+576` -> `2022.12.0+353`
  packages/rstudio-deb/rstudio-deb.pacscript
Labels: Update Package

#2021 upd(qogir-gtk-theme-bin): `2021-12-25` -> `2022-11-09`
  packages/qogir-gtk-theme-bin/qogir-gtk-theme-bin.pacscript
Labels: Update Package

#1919 upd(yabridge): `5.0.1` -> `5.0.3`
  packages/yabridge/yabridge.pacscript
Labels: Update Package

#2026 upd(smartgit): `22.1.0` -> `22.1.2`
  packages/smartgit/smartgit.pacscript
Labels: Update Package

#2027 upd(dunst): `1.8.0` -> `1.9.0`
  packages/dunst/dunst.pacscript
Labels: Update Package

#2028 upd(neovim): `0.8.1` -> `0.8.2`
  packages/neovim/neovim.pacscript
Labels: Update Package

#2029 upd(shellcheck-bin): `0.8.0` -> `0.9.0`
  packages/shellcheck-bin/shellcheck-bin.pacscript
Labels: Update Package

#2030 upd(hyper-deb): `3.2.3` -> `3.3.0`
  packages/hyper-deb/hyper-deb.pacscript
Labels: Update Package

#2031 upd(ferium-bin): `4.2.2` -> `4.3.1`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#2032 upd(dotdrop): `1.10.3` -> `1.12.3`
  packages/dotdrop/dotdrop.pacscript
Labels: Update Package

#2033 upd(yandex-browser-beta-deb): `22.5.0.1879-1` -> `22.11.3.832-1`
  packages/yandex-browser-beta-deb/yandex-browser-beta-deb.pacscript
Labels: Update Package

#2034 upd(opera-developer-deb): `90.0.4457.0` -> `96.0.4640.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#2035 upd(opera-beta-deb): `89.0.4447.20` -> `94.0.4606.19`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#2051 upd(brave-browser-nightly-deb): `1.48.84` -> `1.48.99`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2052 upd(batsignal): `1.6.2` -> `1.6.4`
  packages/batsignal/batsignal.pacscript
Labels: Update Package

#2053 upd(brave-browser-beta-deb): `1.47.145` -> `1.47.156`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2023 upd(firefox-deb): `107.0.1 -> 108.0.1`
  packages/firefox-deb/firefox-deb.pacscript
Labels: Update Package

#2057 upd(neovim-deb): `0.8.1` -> `0.8.2`
  packages/neovim-deb/neovim-deb.pacscript
Labels: Update Package

#2060 chore(aws-cli-v2-bin): orphan
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package
