Repository pacstall/pacstall-programs, pull requests merged in 2022-02, with the labels that each got.

#690 fix(windscribe-legacy-cli-deb): add `maintainer`
  packages/windscribe-legacy-cli-deb/windscribe-legacy-cli-deb.pacscript
Labels: update pacscript

#680 upd(bitwig-studio-deb): `4.0.5` -> `4.1.2`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#704 upd(ulauncher-deb): `5.14.2` -> `5.14.3`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package

#705 upd(dunst): `1.6.1` -> `1.7.3`
  packages/dunst/dunst.pacscript
Labels: Update Package

#675 add: `steam-deb`
  packagelist
  packages/steam-deb/steam-deb.pacscript
Labels: Package Add

#707 upd(opera-developer-deb): `84.0.4274.0` -> `84.0.4316.0`
  .github/workflows/tests.yml
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#706 upd(telegram-bin): `3.4.8` -> `3.5.1`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#708 upd(ivpn-deb): `3.4.5` -> `3.5.1`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#711 upd(librewolf-app): `96.0.1-1` -> `96.0.3-2`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#710 upd(discord-canary) `0.0.131` -> `0.0.132`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#713 docs: provide updated pacscript information
  README.md
  make-a-pacscript.md
  technical-side.md
Labels: documentation

#714 upd(an-anime-game-launcher-bin): 2.1.2 -> 2.1.3
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#703 upd(kvantum): `0.19.0` -> `1.0.0`
  packages/kvantum/kvantum.pacscript
Labels: Update Package

#717 upd(dotdrop): `1.7.1` -> `1.8.2`
  packages/dotdrop/dotdrop.pacscript
Labels: Update Package

#729 add: `element-desktop-deb`
  packagelist
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Package Add

#738 upd(brave-browser-beta-deb): `1.36.79` -> `1.36.92`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#737 upd(brave-browser-dev-deb): `1.36.76` -> `1.36.91`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#718 ci(tests): fix TZ data
  .github/workflows/tests.yml
Labels: ci

#739 upd(oil): `0.9.5` -> `0.9.7`
  packages/oil/oil.pacscript
Labels: Update Package

#746 add: `aomp-deb`
  packagelist
  packages/aomp-deb/aomp-deb.pacscript
Labels: Package Add

#743 add: `shellcheck-bin`
  README.md
  packagelist
  packages/shellcheck-bin/shellcheck-bin.pacscript
Labels: Package Add

#742 upd(atom-editor-deb): `1.58.0` -> `1.59.0`
  packages/atom-editor-deb/atom-editor-deb.pacscript
Labels: Update Package

#747 add: `google-chrome-beta-deb`
  packagelist
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Package Add

#748 add: `google-chrome-unstable-deb`
  packagelist
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Package Add

#749 upd(virtualbox-deb): `6.1.26` -> `6.1.32`
  packages/virtualbox-deb/virtualbox-deb.pacscript
Labels: Update Package

#755 upd(an-anime-game-launcher-bin): `2.1.3` -> `2.1.4`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#756 upd(teams-for-linux-deb): `1.0.20` -> `1.0.24`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#757 upd(gitkraken-deb): `8.2.1` -> `8.3.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#759 upd(git-delta-deb): `0.11.3` -> `0.12.0`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package

#763 add: `fennel`
  packagelist
  packages/fennel/fennel.pacscript
Labels: Package Add

#728 upd(opensnitch-ui-deb): `1.4.2` -> `1.5.0`
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
Labels: Update Package

#753 add: `fennel-bin`
  packagelist
  packages/fennel-bin/fennel-bin.pacscript
Labels: Package Add

#767 upd(nala-deb): `0.4.0` -> `0.4.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#761 upd(discord-canary): `0.0.132` -> `0.0.133`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#754 feat(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE/add_package.md
  .github/PULL_REQUEST_TEMPLATE/update_package.md
Labels: enhancement

#768 upd(nala-deb): `0.4.1` -> `0.4.2`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#764 add: `yafetch-git`
  packagelist
  packages/yafetch-git/yafetch-git.pacscript
Labels: Package Add

#769 fix(exa-git): use proper git setup
  packages/exa-git/exa-git.pacscript
Labels: Update Package

#772 upd(brave-browser-deb): `1.35.101` -> `1.35.103`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#766 fix(tenacity-git): add missing build dependencies
  packages/tenacity-git/tenacity-git.pacscript
Labels: bug

#778 upd(nala-deb): `0.5.0` -> `0.5.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#752 remove: `amdgpu-dkms-firmware-deb`
  packagelist
  packages/amdgpu-dkms-firmware-deb/amdgpu-dkms-firmware-deb.pacscript
  packages/aomp-deb/aomp-deb.pacscript
  packages/aomp-deb/fix_AOMP.patch
Labels: remove package

#781 ci(pre-commit): exclude `.patch` files globally
  .pre-commit-config.yaml
Labels: ci

#780 upd(nala-deb): `0.5.1` -> `0.5.2`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#776 upd(shfmt-bin): `3.4.2` -> `3.4.3`
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Update Package

#782 upd(dunst) `1.7.3` -> `1.8.0`
  packages/dunst/dunst.pacscript
Labels: Update Package

#779 upd(element-desktop-deb): `1.9.9` -> `1.10.4`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#783 add: `shellharden-bin`
  packagelist
  packages/aomp-deb/aomp-deb.pacscript
  packages/shellharden-bin/shellharden-bin.pacscript
Labels: Package Add

#787 upd(makedeb-deb): 9.0.3-1 -> 10.0.0
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Package

#792 upd(brave-browser-beta-deb): `1.36.92` -> `1.37.75`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#791 upd(dust-bin): `0.7.5` -> `0.8.0`
  packages/dust-bin/dust-bin.pacscript
Labels: Update Package

#796 upd(google-chrome-deb): `97.0.4692.71-1` -> `98.0.4758.102-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#795 upd(brave-browser-dev-deb): `1.36.91` -> `1.37.73`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#794 upd(brave-browser-beta-deb): `1.37.75` -> `1.37.76`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package
