Repository pacstall/pacstall-programs, pull requests merged in 2022-11, with the labels that each got.

#1718 upd(zotero): `6.0.15` -> `6.0.16`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1723 add: `nushell-bin`
  packagelist
  packages/nushell-bin/nushell-bin.pacscript
Labels: Package Add

#1712 add: `fsearch-deb`
  packagelist
  packages/fsearch-deb/fsearch-deb.pacscript
Labels: Package Add

#1717 upd(mutt-wizard): `3.2.1` -> `3.3.1`
  packages/mutt-wizard/mutt-wizard.pacscript
Labels: Update Package

#1729 upd(an-anime-game-launcher-bin): `2.4.0` -> `2.4.1`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1732 upd(discord-canary): `0.0.142` -> `0.0.143`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#1731 upd(topgrade-bin): `10.0.1` -> `10.1.1`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1733 add: `os-installer-git`
  packagelist
  packages/os-installer-git/os-installer-git.pacscript
Labels: Package Add

#1735 fix(os-installer-git): accept git repo
  packages/os-installer-git/os-installer-git.pacscript
Labels: Update Pacscript

#1728 add: `btrfs-du-bin`
  packagelist
  packages/btrfs-du-bin/btrfs-du-bin.pacscript
Labels: Package Add

#1737 fix(os-installer-git): correctly install to /usr
  packages/os-installer-git/os-installer-git.pacscript
Labels: Update Pacscript

#1742 upd(brave-browser-nightly-deb): `1.46.60` -> `1.47.58`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1741 add: `linux-wifi-hotspot-deb`
  packagelist
  packages/linux-wifi-hotspot-deb/linux-wifi-hotspot-deb.pacscript
Labels: Package Add

#1743 upd(brave-browser-beta-deb): `1.45.100` -> `1.46.102`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1744 upd(arduino-cli-bin): `0.27.1` -> `0.28.0`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#1746 upd(zotero): `6.0.16` -> `6.0.18`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1747 upd(pipewire): `0.3.59` -> `0.3.60`
  packages/pipewire/pipewire.pacscript
Labels: Update Package

#1748 add: `pacup-bin`
  packagelist
  packages/pacup-bin/pacup-bin.pacscript
Labels: Package Add

#1749 upd(1password-cli-bin): `2.7.1` -> `2.7.3`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#1750 upd(bitwarden-deb): `2022.10.0` -> `2022.10.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#1751 upd(btop-bin): `1.2.12` -> `1.2.13`
  packages/btop-bin/btop-bin.pacscript
Labels: Update Package

#1752 upd(discord-ptb-deb): `0.0.33` -> `0.0.35`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#1754 upd(element-desktop-deb): `1.11.10` -> `1.11.14`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1755 upd(fennel): `1.2.0` -> `1.2.1`
  packages/fennel/fennel.pacscript
Labels: Update Package

#1756 upd(github-cli-deb): `2.17.0` -> `2.20.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#1757 upd(github-desktop-deb): `3.0.6` -> `3.1.1`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#1758 upd(go-bin): `1.19.2` -> `1.19.3`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#1759 upd(libressl): `3.4.3` -> `3.5.3`
  packages/libressl/libressl.pacscript
Labels: Update Package

#1753 upd(dmenu): `5.1` -> `5.2`
  packages/dmenu/dmenu.pacscript
Labels: Update Package

#1761 upd(topgrade-bin): `10.1.1` -> `10.1.2`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1763 upd(harmonoid-deb): `0.3.3` -> `0.3.4`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#1765 upd(maitreya8-deb): `8.0.1` -> `8.0.1b`
  packages/maitreya8-deb/maitreya8-deb.pacscript
Labels: Update Package

#1738 add: `os-installer-commit`
  packagelist
  packages/os-installer-commit/os-installer-commit.pacscript
Labels: Package Add

#1739 add: `rhino-linux-xfce4-config`
  packagelist
  packages/rhino-linux-xfce4-config/rhino-linux-xfce4-config.pacscript
Labels: Package Add

#1764 upd(smartgit): `21.2.2` -> `22.1.0`
  packages/smartgit/smartgit.pacscript
Labels: Update Package

#1770 fix(rhino-linux-xfce4-config): don't remove extra files
  packages/rhino-linux-xfce4-config/rhino-linux-xfce4-config.pacscript
Labels: Update Pacscript

#1769 upd(microsoft-prod-repo): `21.04` -> `22.04`
  packages/microsoft-prod-repo/microsoft-prod-repo.pacscript
Labels: Update Package

#1766 upd(yabridge): `4.0.2` -> `5.0.1`
  packages/yabridge/yabridge.pacscript
Labels: Update Package

#1768 add: `lens`
  packagelist
  packages/lens/lens.pacscript
Labels: Package Add

#1772 upd(bat): `0.21.0` -> `0.22.1`
  packages/bat/bat.pacscript
Labels: Update Package

#1771 add: `helix`
  packagelist
  packages/helix/helix.pacscript
Labels: Package Add

#1773 upd(shfmt-bin): `3.4.3` -> `3.5.1`
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Update Package

#1774 upd(torguard-deb): `4.8.13` -> `4.8.14`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#1775 upd(brave-browser-deb): `1.44.112` -> `1.45.129`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1776 fix(amfora-bin): add repology
  packages/amfora-bin/amfora-bin.pacscript
Labels: Update Pacscript

#1777 upd(brave-browser-beta-deb): `1.46.102` -> `1.46.118`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1778 upd(surfshark-gui-deb): `1.2.1-1175` -> `1.2.3-1239`
  packages/surfshark-gui-deb/surfshark-gui-deb.pacscript
Labels: Update Package

#1779 upd(microsoft-edge-beta-deb): `103.0.1264.37-1` -> `108.0.1462.28-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#1780 upd(insync-deb): `3.7.6.50356` -> `3.8.1.50459`
  packages/insync-deb/insync-deb.pacscript
Labels: Update Package

#1611 fix(ardour-git): move symlinks to `postinst` & fix various install issues
  packages/ardour-git/ardour-git.pacscript
Labels: Update Pacscript

#1784 upd(brave-browser-beta-deb): `1.46.118` -> `1.47.101`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1788 upd(neovim): `0.8.0` -> `0.8.1`
  packages/neovim/neovim.pacscript
Labels: Update Package

#1789 upd(neovim-deb): `0.8.0` -> `0.8.1`
  packages/neovim-deb/neovim-deb.pacscript
Labels: Update Package
