Repository pacstall/pacstall-programs, pull requests merged in 2022-06, with the labels that each got.

#1204 upd(gitkraken-deb): `8.4.0` -> `8.5.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#1205 upd(github-cli-deb): `2.10.1` -> `2.11.3`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#1207 upd(microsoft-edge-dev-deb): `102.0.1220.1-1` -> `103.0.1264.11-1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#1208 upd(microsoft-edge-beta-deb): `102.0.1245.22-1` -> `102.0.1245.25-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#1209 upd(microsoft-edge-stable-deb): `101.0.1210.53-1` -> `102.0.1245.30-1`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#1210 upd(opera-beta-deb): `87.0.4390.8` -> `88.0.4412.18`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#1211 upd(opera-developer-deb): `88.0.4401.0` -> `89.0.4436.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#1212 upd(papirus-icon-theme): `20220302` -> `20220508`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#1213 upd(heroic-games-launcher-deb): `2.3.2` -> `2.3.7`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1214 upd(discord-ptb-deb): `0.0.29` -> `0.0.30`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#1216 upd(aws-cli-v2-bin): `2.7.0` -> `2.7.5`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1218 upd(lutris-deb): `0.5.9.1` -> `0.5.10.1`
  packages/lutris-deb/lutris-deb.pacscript
Labels: Update Package

#1219 upd(mangohud): `0.6.5` -> `0.6.7-1`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#1215 upd(batsignal): `1.3.2` -> `1.5.0`
  packages/batsignal/batsignal.pacscript
Labels: Update Package

#1226 upd(tmux): `3.2a` -> `3.3`
  packages/tmux/tmux.pacscript
Labels: Update Package

#1223 upd(vivaldi-deb): `5.2.2623.26` -> `5.3.2679.38`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#1228 upd(pipewire): `0.3.49` -> `0.3.51`
  packages/pipewire/pipewire.pacscript
Labels: Update Package

#1242 upd(vscodium-deb): `1.66.2` -> `1.67.2`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#1243 upd(vscode-deb): `1.66.2-1649664567` -> `1.67.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#1239 upd(dbeaver-ce-deb): `21.3.4` -> `22.0.5`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#1238 upd(jetbrains-toolbox-bin): `1.22.10970` -> `1.24.12080`
  packages/jetbrains-toolbox-bin/jetbrains-toolbox-bin.pacscript
Labels: Update Package

#1237 upd(geekbench-bin): `5.4.4` -> `5.4.5`
  packages/geekbench-bin/geekbench-bin.pacscript
Labels: Update Package

#1233 upd(pycharm-community-bin): `2022.1` -> `2022.1.2`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#1236 upd(hyper-deb): `3.2.0` -> `3.2.3`
  packages/hyper-deb/hyper-deb.pacscript
Labels: Update Package

#1229 upd(plexmediaserver-deb): `1.25.9.5721-965587f64` -> `1.26.2.5797-5bd057d2b`
  packages/plexmediaserver-deb/plexmediaserver-deb.pacscript
Labels: Update Package

#1230 upd(polybar): `3.5.7` -> `3.6.3`
  packages/polybar/polybar.pacscript
Labels: Update Package

#1235 upd(nano): `6.0` -> `6.3`
  packages/nano/nano.pacscript
Labels: Update Package

#1225 upd(vim): `8.2.3434` -> `8.2.5052`
  packages/vim/vim.pacscript
Labels: Update Package

#1245 upd(yandex-browser-stable-deb): `22.3.1.922-1` -> `22.5.0.1878-1`
  packages/yandex-browser-stable-deb/yandex-browser-stable-deb.pacscript
Labels: Update Package

#1244 upd(yandex-browser-beta-deb): `22.3.3.886-1` -> `22.5.0.1879-1`
  packages/yandex-browser-beta-deb/yandex-browser-beta-deb.pacscript
Labels: Update Package

#1227 upd(timeshift): `21.09.1` -> `22.06.1`
  packages/timeshift/timeshift.pacscript
Labels: Update Package

#1248 upd(htop): `3.2.0` -> `3.2.1`
  packages/htop/htop.pacscript
Labels: Update Package

#1231 upd(protonmail-bridge-deb): `2.1.3-1` -> `2.2.0`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#1201 upd(emby-server-deb): `4.6.7.0` -> `4.7.1.0`
  packages/emby-server-deb/emby-server-deb.pacscript
Labels: Update Package

#1250 add: `github-cli-bin`
  packagelist
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Package Add

#1249 add: `anydesk-bin`
  packagelist
  packages/anydesk-bin/anydesk-bin.pacscript
Labels: Package Add

#1252 upd(vim): `8.2.5052` -> `8.2.5056`
  packages/vim/vim.pacscript
Labels: Update Package

#1251 upd(aws-cli-v2-bin): `2.7.5` -> `2.7.6`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1254 add: `distrobox`
  packagelist
  packages/distrobox/distrobox.pacscript
Labels: Package Add

#1253 upd(slack-deb): `4.23.0` -> `4.26.1`
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#1257 rm: `brave-browser-dev-deb`
  packagelist
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: remove package

#1258 add: `discord-debian-patched-deb`
  packagelist
  packages/discord-debian-patched-deb/discord-debian-patched-deb.pacscript
Labels: Package Add

#1221 feat(cantata): add repology, 2.4.2 -> 2.5.0
  packages/cantata/cantata.pacscript
Labels: Update Pacscript

#1260 upd(papirus-icon-theme): `20220508` -> `20220606`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#1261 upd(minecraft-pi-reborn-app): `2.3.9` -> `2.3.13`
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1262 rm: `atom-editor-deb`
  packagelist
  packages/atom-editor-deb/atom-editor-deb.pacscript
Labels: remove package

#1263 rm: `windscribe-legacy-cli-deb`
  packagelist
  packages/windscribe-legacy-cli-deb/windscribe-legacy-cli-deb.pacscript
Labels: remove package

#1264 rm: `blang-git`
  packagelist
  packages/blang-git/blang-git.pacscript
Labels: remove package

#1267 add: `hello`
  packagelist
  packages/hello/hello.pacscript
Labels: Package Add

#1270 upd(nala-deb): `0.9.0` -> `0.9.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1220 feat(CI): allow 32bit support
  .github/workflows/tests.yml
Labels: CI

#1273 upd(torguard-deb): `4.8.11` -> `4.8.12`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#1272 upd(tor): `0.4.6.10` -> `0.4.7.7`
  packages/tor/tor.pacscript
Labels: Update Package

#1274 upd(ivpn-deb): `3.8.7` -> `3.8.20`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#1275 upd(ivpn-ui-deb): `3.8.7` -> `3.8.20`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#1276 upd(mullvad-vpn-beta-deb): `2022.1-beta2` -> `2022.2-beta2`
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
Labels: Update Package

#1279 upd(google-chrome-deb): `102.0.5005.61-1` -> `102.0.5005.115-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#1282 upd(microsoft-edge-beta-deb): `102.0.1245.25-1` -> `103.0.1264.17-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#1281 upd(google-chrome-unstable-deb): `104.0.5083.0-1` -> `104.0.5110.0-1`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1280 upd(google-chrome-beta-deb): `103.0.5060.33-1` -> `103.0.5060.42-1`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#1284 upd(microsoft-edge-stable-deb): `102.0.1245.30-1` -> `102.0.1245.39-1`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#1283 upd(microsoft-edge-dev-deb): `103.0.1264.11-1` -> `104.0.1278.2-1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#1288 upd(vscodium-deb): `1.67.2` -> `1.68.0`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#1287 add: `nordvpn-deb`
  packagelist
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Package Add

#1290 upd(distrobox): `1.3.0` -> `1.3.1`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#1291 add: `nordlayer-deb`
  packagelist
  packages/nordlayer-deb/nordlayer-deb.pacscript
Labels: Package Add

#1292 upd(signal-desktop-deb): `5.43.0` -> `5.45.1`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#1293 upd(signal-desktop-beta-deb): `5.44.0-beta.1` -> `5.46.0-beta.2`
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
Labels: Update Package

#1269 add: `neovim-deb`
  packagelist
  packages/neovim-deb/neovim-deb.pacscript
Labels: Package Add

#1294 upd(heroic-games-launcher-deb): `2.3.7` -> `2.3.8`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1295 upd(brave-browser-deb): `1.39.111` -> `1.39.122`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1296 upd(brave-browser-beta-deb): `1.40.77` -> `1.40.95`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1298 upd(element-desktop-deb): `1.10.13` -> `1.10.14`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1301 upd(bottles): `2022.5.28-trento-3` -> `2022.6.14-brescia`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1305 add: `1password-cli-bin`
  packagelist
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Package Add

#1304 upd(topgrade-bin): 8.2.0 -> 9.0.1
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1306 add: `starship-bin`
  packagelist
  packages/starship-bin/starship-bin.pacscript
Labels: Package Add

#1311 upd(librewolf-app): `100.0-2` -> `101.0.1-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#1309 upd(dotdrop): `1.9.0` -> `1.10.0`
  packages/dotdrop/dotdrop.pacscript
Labels: Update Package

#1188 add: `nerd-fonts-hack`
  packagelist
  packages/nerd-fonts-hack/nerd-fonts-hack.pacscript
Labels: Package Add

#1318 rm: `bottles`
  packagelist
  packages/bottles/bottles.pacscript
Labels: remove package

#1315 upd(brave-browser-beta-deb): `1.40.95` -> `1.41.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1317 upd(brave-browser-nightly-deb): `1.41.59` -> `1.42.20`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1320 upd(google-chrome-deb): `102.0.5005.115-1` -> `103.0.5060.53-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#1323 upd(tidal-hifi-bin): `3.1.0` -> `4.0.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1324 upd(noisetorch-bin): `0.12.0` -> `0.12.2`
  packages/noisetorch-bin/noisetorch-bin.pacscript
Labels: Update Package

#1325 upd(heroic-games-launcher-deb): `2.3.8` -> `2.3.9`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1327 upd(gitkraken-deb): `8.5.0` -> `8.6.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#1326 upd(aws-cli-v2-bin): `2.7.6` -> `2.7.10`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1328 upd(minecraft-launcher-deb): `928` -> `1121`
  packages/minecraft-launcher-deb/minecraft-launcher-deb.pacscript
Labels: Update Package

#1329 upd(google-chrome-unstable-deb): `104.0.5110.0-1` -> `104.0.5112.20-1`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1331 upd(opera-beta-deb): `88.0.4412.18` -> `89.0.4447.20`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#1332 upd(yandex-browser-stable-deb): `22.5.0.1878-1` -> `22.5.3.673-1`
  packages/yandex-browser-stable-deb/yandex-browser-stable-deb.pacscript
Labels: Update Package

#1337 upd(neovim-deb): `0.7.0` -> `0.7.2`
  packages/neovim-deb/neovim-deb.pacscript
Labels: Update Package

#1336 upd(plexmediaserver-deb): `1.26.2.5797-5bd057d2b` -> `1.27.1.5916-6b0e31a64`
  packages/plexmediaserver-deb/plexmediaserver-deb.pacscript
Labels: Update Package

#1335 upd(opera-developer-deb): `89.0.4436.0` -> `90.0.4457.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#1316 upd(brave-browser-deb): `1.39.122` -> `1.40.105`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1338 upd(microsoft-edge-dev-deb): `104.0.1278.2-1` -> `104.0.1293.1-1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#1339 upd(microsoft-edge-beta-deb): `103.0.1264.17-1` -> `103.0.1264.37-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#1341 upd(neovim): `0.7.0` -> `0.7.2`
  packages/neovim/neovim.pacscript
Labels: Update Package

#1342 upd(starship-bin): `v1.8.0` -> `v1.9.1`
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#1344 upd(vscodium-deb): `1.68.0` -> `1.68.1`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package
