Repository pacstall/pacstall-programs, pull requests merged in 2022-09, with the labels that each got.

#1539 upd(heroic-games-launcher-deb): `2.4.0` -> `2.4.1`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1542 upd(discord-canary): `0.0.137` -> `0.0.138`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#1538 add: `i3blocks-git`
  packagelist
  packages/i3blocks-git/i3blocks-git.pacscript
Labels: Package Add

#1544 upd(upscayl-app): `1.1.1` -> `1.2.0`
  packages/upscayl-app/upscayl-app.pacscript
Labels: Update Package

#1545 add: `harmonoid-deb`
  packagelist
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Package Add

#1550 upd(bat-deb): `0.21.0` -> `0.22.0`
  packages/bat-deb/bat-deb.pacscript
Labels: Update Package

#1552 upd(discord-canary): `0.0.138` -> `0.0.139`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#1553 upd(an-anime-game-launcher-gtk-bin): `1.0.3` -> `1.0.4`
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Update Package

#1554 upd(papirus-icon-theme): `20220808` -> `20220910`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#1555 upd(heroic-games-launcher-deb): `2.4.1` -> `2.4.3`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1556 upd(distrobox): `1.3.1` -> `1.4.0`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#1557 upd(postman-bin): `9.29.0` -> `9.31.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1558 upd(nerd-fonts): fix replogy, bump versions
  packages/nerd-fonts-hack/nerd-fonts-hack.pacscript
  packages/nerd-fonts-jetbrains-mono/nerd-fonts-jetbrains-mono.pacscript
Labels: Update Package

#1560 upd(ani-cli-bin): `3.3` -> `3.4`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#1562 upd(gtkmm4): `4.6.1` -> `4.8.0`
  packages/gtkmm4/gtkmm4.pacscript
Labels: Update Package

#1563 upd(discord/discord-deb): `0.0.19` -> `0.0.20`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#1564 upd(brave-browser-deb): `1.43.82` -> `1.43.93`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1565 upd(signal-desktop-deb): `5.45.1` -> `5.59.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#1568 upd(distrobox): `1.4.0` -> `1.4.1`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#1567 upd(an-anime-game-launcher-gtk-bin): `1.0.4` -> `1.1.0`
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: Update Package

#1566 upd(postman-bin): `9.31.0` -> `10.0.1`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#1569 upd(vscode-deb): `1.70.2` -> `1.71.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#1570 upd(vscodium-deb): `1.69.1` -> `1.71.2`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#1571 upd(harmonoid-deb): `0.3.0` -> `0.3.1`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#1574 upd(harmonoid-deb): `0.3.1` -> `0.3.2`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#1573 add: `headset-bin`
  packagelist
  packages/headset-deb/headset-deb.pacscript
  packages/waf/waf.pacscript
Labels: Package Add

#1576 upd(ms-teams-deb): `1.4.00.26453` -> `1.5.00.23861`
  packages/ms-teams-deb/ms-teams-deb.pacscript
Labels: Update Package

#1579 upd(1password-cli-bin): `2.6.2` -> `2.7.1`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#1580 upd(android-studio): `2021.2.1.16` -> `2021.3.1.16`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#1581 upd(bitwarden-cli-bin): `2022.6.2` -> `2022.9.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#1582 upd(bitwarden-deb): `2022.6.2` -> `2022.9.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#1583 upd(brave-browser-beta-deb): `1.44.67` -> `1.45.68`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1585 add: `windscribe-alpha-gui-deb`
  packagelist
  packages/windscribe-alpha-gui-deb/windscribe-alpha-gui-deb.pacscript
Labels: Package Add

#1591 chan: `gcmcore-deb` -> `git-credential-manager-core-deb`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Pacscript

#1593 upd(tidal-hifi-bin): `4.1.1` -> `4.2.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1594 upd(gfn-electron-bin): `1.9.0` -> `1.10.0`
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
Labels: Update Package

#1595 upd(aomp-deb): `15.0-3` -> `16.0-0`
  packages/aomp-deb/aomp-deb.pacscript
Labels: Update Package

#1597 rm: `an-anime-game-launcher-gtk-bin`
  packagelist
  packages/an-anime-game-launcher-gtk-bin/an-anime-game-launcher-gtk-bin.pacscript
Labels: remove package

#1598 upd(upscayl-app): `1.2.0` -> `1.5.0`
  packages/upscayl-app/upscayl-app.pacscript
Labels: Update Package

#1600 upd(an-anime-game-launcher-bin): `2.3.8` -> `2.3.9`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1601 upd(brave-browser-nightly-deb): `1.45.7` -> `1.46.20`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package
