Repository pacstall/pacstall-programs, pull requests merged in 2022-01, with the labels that each got.

#596 add: `endlessh-git`
  packagelist
  packages/endlessh-git/endlessh-git.pacscript
  packages/endlessh-git/sample-config
Labels: Package Add

#608 upd(vscode-deb): `1.61.2`-> `1.63.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#607 upd(vscodium-deb): `1.62.2` -> `1.63.2`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#605 upd(vivaldi-deb): `4.3.2439.71-1` -> `5.0.2497.32-1`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#604 upd(opera-beta-deb): `82.0.4227.7` -> `83.0.4254.9`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#612 upd(telegram-bin): `3.3.0` -> `3.4.2`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#564 add: `qogir-gtk-theme-bin`
  packagelist
  packages/qogir-gtk-theme-bin/qogir-gtk-theme-bin.pacscript
Labels: Package Add

#602 refactor(neofetch): modernize
  packages/neofetch/neofetch.pacscript
Labels: cleanup

#613 docs(readme): add link to pacstall repo
  README.md
Labels: documentation

#603 add: `teams-for-linux-deb`
  packagelist
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Package Add

#623 docs(make-a-pacscript): fix `gives` taking two values, it takes one
  make-a-pacscript.md
Labels: documentation

#617 upd(telegram-bin): `3.4.2` -> `3.4.3`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#621 fix(fishui-git): mismatched quotes and shellcheck
  packages/fishui-git/fishui-git.pacscript
Labels: bug

#615 add: `amfora-bin`
  packagelist
  packages/amfora-bin/amfora-bin.pacscript
Labels: Package Add

#629 fix(fishui): use `main` branch in `pkgver`
  packages/fishui-git/fishui-git.pacscript
Labels: bug

#619 fix(surf-distrotube-git): update `url`
  packages/surf-distrotube-git/surf-distrotube-git.pacscript
Labels: bug

#633 fix(neovim-git): wrong brackets in `version`
  packages/neovim-git/neovim-git.pacscript
Labels: bug

#634 upd(git-delta-deb): `0.8.3` -> `0.11.3`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package, update pacscript

#637 upd(brave-browser-deb): `1.33.106` -> `1.34.80`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#638 upd(brave-browser-beta-deb): `1.34.70` -> `1.35.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#639 upd(brave-browser-dev-deb): `1.34.69` -> `1.35.76`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#640 upd(brave-browser-nightly-deb): `1.35.52` -> `1.36.23`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#641 upd(google-chrome-deb): `96.0.4664.110-1` -> `97.0.4692.71-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#589 add: `grive2-git`
  packagelist
  packages/grive2-git/grive2-git.pacscript
Labels: Package Add

#636 refractor: remove empty fields
  packages/dunst/dunst.pacscript
  packages/fm6000-git/fm6000-git.pacscript
  packages/htop/htop.pacscript
  packages/imwheel-exclude-patched-git/imwheel-exclude-patched-git.pacscript
  packages/insync-deb/insync-deb.pacscript
  packages/lagrange/lagrange.pacscript
  packages/lemonbar-xft-git/lemonbar-xft-git.pacscript
  packages/libresprite-git/libresprite-git.pacscript
  packages/nano/nano.pacscript
  packages/onefetch-bin/onefetch-bin.pacscript
  packages/onnxruntime-1-7-0-bin/onnxruntime-1-7-0-bin.pacscript
  packages/popsicle/popsicle.pacscript
  packages/smartgit/smartgit.pacscript
  packages/tuner-git/tuner-git.pacscript
  packages/tuner/tuner.pacscript
Labels: cleanup

#643 fix(walc-app): modernize
  packages/walc-app/walc-app.pacscript
Labels: update pacscript

#651 add: `an-anime-game-launcher-bin`
  packagelist
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Package Add, instructions added

#630 add: `slack-deb`
  packagelist
  packages/slack-deb/slack-deb.pacscript
Labels: Package Add

#628 add: `nodejs-lts-deb`
  packagelist
  packages/nodejs-lts-deb/nodejs-lts-deb.pacscript
Labels: Package Add

#649 upd(librewolf-app): `95.0.2-1` -> `96.0-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#650 upd(qogir-icon-theme-bin): `2021-10-14` -> `2022-01-12`
  packages/qogir-icon-theme-bin/qogir-icon-theme-bin.pacscript
Labels: Update Package

#652 upd(treefetch-bin): `1.2.1` -> `2.0.0`
  packages/treefetch-bin/treefetch-bin.pacscript
Labels: Update Package

#653 add: `lbry-deb`
  packagelist
  packages/lbry-deb/lbry-deb.pacscript
Labels: Package Add

#654 fix(exa-git): add cargo to build dependencies
  packages/exa-git/exa-git.pacscript
Labels: bug, update pacscript

#646 upd(bat): `0.18.3` -> `0.19.0`
  packages/bat/bat.pacscript
Labels: Update Package

#656 upd(discord-ptb-deb): `0.0.27` -> `0.0.28`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#642 fix(neovim-git): modernize
  packages/neovim-git/neovim-git.pacscript
Labels: update pacscript

#657 upd(librewolf-app): `96.0-1` -> `96.0.1-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#658 upd(spotify-client-deb): `1.1.68.632.g2b11de83` -> `1.1.72.439.gc253025e`
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#609 upd(git): `2.33.1` -> `2.34.1`
  packages/git/git.pacscript
Labels: Update Package

#662 add: `nala-deb`
  packagelist
  packages/nala-deb/nala-deb.pacscript
Labels: Package Add, instructions added

#661 upd(nano): 5.8 -> 6.0
  packages/nano/nano.pacscript
Labels: Update Package

#665 upd(httptoolkit-deb): `1.5.0` -> `1.5.1`
  packages/httptoolkit-deb/httptoolkit-deb.pacscript
Labels: Update Package

#664 upd(wine64): `6.21` -> `7.0`
  packages/wine64/wine64.pacscript
Labels: Update Package

#659 add: `windscribe-gui-deb`
  packagelist
  packages/windscribe-gui-deb/windscribe-gui-deb.pacscript
Labels: Package Add

#631 add: `jetbrains-toolbox-bin`
  packagelist
  packages/jetbrains-toolbox-bin/jetbrains-toolbox-bin.pacscript
Labels: Package Add

#660 add: `minecraft-launcher-deb`
  packagelist
  packages/minecraft-launcher-deb/minecraft-launcher-deb.pacscript
Labels: Package Add

#667 upd(topgrade-bin): `7.1.0` -> `8.2.0`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#663 rem: `makedeb-makepkg-deb`
  packagelist
  packages/makedeb-deb/makedeb-deb.pacscript
  packages/makedeb-makepkg-deb/makedeb-makepkg-deb.pacscript
Labels: remove package

#669 upd(drawio-desktop-deb): `14.6.13` -> `16.40`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#670 upd(github-cli-deb): `2.2.0` -> `2.4.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#674 fix(topgrade-bin): wrong hash
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: update pacscript

#666 upd(telegram-bin): `3.4.3` -> `3.4.8`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#677 upd(batsignal): `1.2.0` -> `1.3.2`
  packages/batsignal/batsignal.pacscript
Labels: Update Package

#668 add: `steam-launcher-deb`
  packagelist
  packages/steam-launcher-deb/steam-launcher-deb.pacscript
Labels: Package Add

#678 upd(duf-deb): `0.6.2` -> `0.7.0`
  packages/duf-deb/duf-deb.pacscript
Labels: Package Add

#679 upd(ferdi-deb): `5.6.4` -> `5.7.0`
  packages/ferdi-deb/ferdi-deb.pacscript
Labels: Update Package

#682 upd(alacritty): `0.9.0` -> `0.10.0`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#681 upd(hyper-deb): `3.1.4` -> `3.1.5`
  packages/hyper-deb/hyper-deb.pacscript
Labels: Update Package
