Repository pacstall/pacstall-programs, pull requests merged in 2022-04, with the labels that each got.

#906 upd(brave-browser-nightly-deb): `1.39.7` -> `1.39.22`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#905 upd(brave-browser-beta-deb): `1.38.69` -> `1.38.75`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#907 add: `tidal-hifi-bin`
  packagelist
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Package Add

#909 fix(an-anime-game-launcher-bin): add removescript
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: update pacscript

#911 upd(opera-deb): `85.0.4341.18` -> `85.0.4341.47`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#912 upd(oil): `0.9.8` -> `0.9.9`
  packages/oil/oil.pacscript
Labels: Update Package

#913 upd(brave-browser-beta-deb): `1.38.75` -> `1.38.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#914 upd(brave-browser-nightly-deb): `1.39.22` -> `1.39.26`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#916 upd(electronmail-deb): `4.13.5` -> `4.13.6`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#915 upd(tmpmail-bin): `1.1.9` -> `1.2.0`
  packages/tmpmail-bin/tmpmail-bin.pacscript
Labels: Update Package

#918 upd(gitkraken-deb): `8.3.1` -> `8.3.3`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#919 upd(github-cli-deb): `2.6.0` -> `2.7.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#920 upd(heroic-games-launcher-deb): `2.0.0` -> `2.2.6`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#888 upd(spotify-client-deb): `1.1.72.439.gc253025e` -> `1.1.80.699.gc3dac…
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#925 upd(makedeb-deb): `10.0.0` -> `11.0.1-1`
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Package

#928 upd(chezmoi-deb): `2.14.0` -> `2.15.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#929 upd(librewolf-app): `98.0` -> `98.0.2-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#922 chore: fix pull request templates
  .github/PULL_REQUEST_TEMPLATE/add-package.md
  .github/PULL_REQUEST_TEMPLATE/update-package.md
Labels: meta

#931 upd(brave-browser-nightly-deb): `1.39.26` -> `1.39.27`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#930 upd(emacs): `27.2` -> `28.1`
  packages/emacs/emacs.pacscript
Labels: Update Package

#936 add: `btop-bin`
  packagelist
  packages/btop-bin/btop-bin.pacscript
Labels: Package Add

#943 upd(brave-browser-dev-deb): `1.38.76` -> `1.38.81`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#942 upd(brave-browser-deb): `1.37.109` -> `1.37.111`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#940 upd(brave-browser-nightly-deb): `1.39.27` -> `1.39.36`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#938 add: `bat-deb`
  packagelist
  packages/bat-deb/bat-deb.pacscript
Labels: Package Add

#935 upd(github-desktop): `2.9.12-linux3` -> `2.9.12-linux4`
  packagelist
  packages/github-desktop-deb/github-desktop-deb.pacscript
  packages/github-desktop/github-desktop.pacscript
Labels: Update Package

#945 ci(stale): remove trailing whitespace
  .github/workflows/stale.yml
Labels: ci

#944 upd(opera-deb): `85.0.4341.47` -> `85.0.4341.60`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#948 upd(protonmail-bridge-deb): `1.8.12-1` -> `2.1.1-1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#952 upd(brave-browser-dev-deb): `1.38.81` -> `1.38.84`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#951 upd(brave-browser-nightly-deb): `1.39.36` -> `1.39.42`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#950 upd(brave-browser-beta-deb): `1.38.83` -> `1.38.87`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#939 upd(git): `2.34.1` -> `2.35.1`
  packages/git/git.pacscript
Labels: Update Package

#956 upd(fennel): `1.0.0` -> `1.1.0`
  packages/fennel/fennel.pacscript
Labels: Update Package

#957 upd(brave-browser-nightly-deb): `1.39.42` -> `1.39.43`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#963 upd(google-chrome-deb): `98.0.4758.102-1` -> `100.0.4896.88-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#965 upd(brave-browser-nightly-deb): `1.39.43` -> `1.39.47`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#964 upd(brave-browser-dev-deb): `1.38.84` -> `1.38.91`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#969 upd(element-desktop-deb): `1.10.8` -> `1.10.9`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#973 upd(microsoft-edge-beta-deb): `99.0.1150.30-1` -> `101.0.1210.14-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#974 upd(microsoft-edge-dev-deb): `100.0.1181.0-1` -> `102.0.1220.1-1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#975 upd(ivpn-deb): `3.5.1` -> `3.7.0`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#958 add: `slop-git`
  packagelist
  packages/slop-git/slop-git.pacscript
Labels: Package Add

#978 upd(opera-beta-deb): `83.0.4254.14` -> `86.0.4363.15-1`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#977 upd(ivpn-ui-deb): `3.5.1` -> `3.7.0`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#976 upd(brave-browser-beta-deb): `1.38.87` -> `1.38.92`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#970 add: `lyx-common-deb`
  packagelist
  packages/lyx-common-deb/lyx-common-deb.pacscript
Labels: Package Add

#971 add: `lyx`
  packagelist
  packages/lyx-common-deb/lyx-common-deb.pacscript
  packages/lyx/lyx.pacscript
Labels: Package Add

#985 upd(brave-browser-dev-deb): `1.38.91` -> `1.38.94`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#983 upd(brave-browser-deb): `1.37.111` -> `1.37.116`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#984 upd(brave-browser-beta-deb): `1.38.92` -> `1.38.96`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#987 upd(brave-browser-nightly-deb): `1.39.47` -> `1.39.56`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#988 upd(gcmcore-deb): `2.0.632` -> `2.0.696`
  packages/gcmcore-deb/gcmcore-deb.pacscript
Labels: Update Package

#990 add: `gomuks-deb`
  packagelist
  packages/gomuks-deb/gomuks-deb.pacscript
Labels: Package Add

#991 upd(github-desktop-deb): `2.9.12_linux4` -> `2.9.14-linux2`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#993 upd(vscodium-deb): `1.66.0` -> `1.66.2`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#994 upd(neovim): `0.6.1` -> `0.7.0`
  packages/neovim/neovim.pacscript
Labels: Update Package

#996 upd(google-chrome-unstable-deb): `100.0.4896.20-1` -> `102.0.4997.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#992 upd(discord-canary): `0.0.134` -> `0.0.135`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#997 add: `noisetorch-bin`
  packagelist
  packages/noisetorch-bin/noisetorch-bin.pacscript
Labels: Package Add

#999 add: `papirus-icon-theme`
  packagelist
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Package Add

#1000 add: `protonvpn-nm-lib`
  packagelist
  packages/protonvpn-nm-lib/protonvpn-nm-lib.pacscript
Labels: Package Add

#989 remove: `wine64`
  packagelist
  packages/wine64/wine64.pacscript
Labels: remove package

#1001 add: `protonvpn-cli`
  packagelist
  packages/protonvpn-cli/protonvpn-cli.pacscript
Labels: Package Add

#1005 add: `pacstall-gui-git`
  packagelist
  packages/pacstall-gui-git/pacstall-gui-git.pacscript
Labels: Package Add

#1004 upd(onefetch-bin): `2.9.1` -> `2.12.0`
  packages/onefetch-bin/onefetch-bin.pacscript
Labels: Update Package

#1006 upd(brave-browser-beta-deb,brave-browser-nightly-deb): bump versions
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1003 add: `keepassxc`
  packagelist
  packages/keepassxc/keepassxc.pacscript
Labels: Package Add

#843 upd(opentoonz): `1.5.0` -> `1.6.0`
  packages/opentoonz/opentoonz.pacscript
Labels: Update Package

#1009 upd(element-desktop-deb): `1.10.9` -> `1.10.10`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#980 add: `timeshift`
  packagelist
  packages/timeshift/timeshift.pacscript
Labels: Package Add

#1011 feat(pacstall-gui-git): add desktop file
  packages/pacstall-gui-git/pacstall-gui-git.pacscript
Labels: update pacscript

#1013 upd(tidal-hifi-bin): `2.8.0` -> `2.8.2`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1007 add: `bottles`
  packagelist
  packages/bottles/bottles.pacscript
Labels: Package Add

#1016 upd(btop-bin): `1.2.5` -> `1.2.6`
  packages/btop-bin/btop-bin.pacscript
Labels: Update Package

#1018 upd(brave-browser-beta-deb): `1.38.99` -> `1.39.78`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1019 upd(brave-browser-dev-deb): `1.38.94` -> `1.39.77`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1017 Shorten hashes for -git packages
  packages/ardour-git/ardour-git.pacscript
  packages/awesome-git/awesome-git.pacscript
  packages/bashtop-git/bashtop-git.pacscript
  packages/bemenu-git/bemenu-git.pacscript
  packages/blang-git/blang-git.pacscript
  packages/bpytop-git/bpytop-git.pacscript
  packages/conky-manager-zcot-git/conky-manager-zcot-git.pacscript
  packages/cutefish-calculator-git/cutefish-calculator-git.pacscript
  packages/cutefish-core-git/cutefish-core-git.pacscript
  packages/cutefish-dock-git/cutefish-dock-git.pacscript
  packages/cutefish-filemanager-git/cutefish-filemanager-git.pacscript
  packages/cutefish-icons-git/cutefish-icons-git.pacscript
  packages/cutefish-kwin-plugins-git/cutefish-kwin-plugins-git.pacscript
  packages/cutefish-launcher-git/cutefish-launcher-git.pacscript
  packages/cutefish-qt-plugins-git/cutefish-qt-plugins-git.pacscript
  packages/cutefish-settings-git/cutefish-settings-git.pacscript
  packages/cutefish-statusbar-git/cutefish-statusbar-git.pacscript
  packages/cutefish-wallpapers-git/cutefish-wallpapers-git.pacscript
  packages/dino-git/dino-git.pacscript
  packages/doas-git/doas-git.pacscript
  packages/emacs-git/emacs-git.pacscript
  packages/endlessh-git/endlessh-git.pacscript
  packages/exa-git/exa-git.pacscript
  packages/exploitdb-git/exploitdb-git.pacscript
  packages/fastfetch-git/fastfetch-git.pacscript
  packages/fishui-git/fishui-git.pacscript
  packages/fsearch-git/fsearch-git.pacscript
  packages/grapejuice-git/grapejuice-git.pacscript
  packages/grive2-git/grive2-git.pacscript
  packages/imwheel-exclude-patched-git/imwheel-exclude-patched-git.pacscript
  packages/latte-dock-git/latte-dock-git.pacscript
  packages/libcutefish-git/libcutefish-git.pacscript
  packages/libresprite-git/libresprite-git.pacscript
  packages/neovim-git/neovim-git.pacscript
  packages/notion-git/notion-git.pacscript
  packages/obs-backgroundremoval-git/obs-backgroundremoval-git.pacscript
  packages/opendoas-git/opendoas-git.pacscript
  packages/pacget-git/pacget-git.pacscript
  packages/paconvert-git/paconvert-git.pacscript
  packages/pacstall-gui-git/pacstall-gui-git.pacscript
  packages/pdf-mix-tool-git/pdf-mix-tool-git.pacscript
  packages/pdfmm-git/pdfmm-git.pacscript
  packages/planner-git/planner-git.pacscript
  packages/qtile-git/qtile-git.pacscript
  packages/reshade-shaders-git/reshade-shaders-git.pacscript
  packages/slop-git/slop-git.pacscript
  packages/spacecadetpinball-git/spacecadetpinball-git.pacscript
  packages/st-distrotube-git/st-distrotube-git.pacscript
  packages/st-lukesmith-git/st-lukesmith-git.pacscript
  packages/steamtinkerlaunch-git/steamtinkerlaunch-git.pacscript
  packages/surf-distrotube-git/surf-distrotube-git.pacscript
  packages/tenacity-git/tenacity-git.pacscript
  packages/tuner-git/tuner-git.pacscript
  packages/vega-strike-engine-git/vega-strike-engine-git.pacscript
  packages/vega-strike-git/vega-strike-git.pacscript
  packages/wine-staging-git/wine-staging-git.pacscript
  packages/yafetch-git/yafetch-git.pacscript
Labels: update pacscript

#1022 upd(github-cli-deb): `2.7.0` -> `2.8.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#1020 upd(brave-browser-nightly-deb): `1.39.67` -> `1.40.4`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1015 add: `proton-python-client`
  packagelist
  packages/proton-python-client/proton-python-client.pacscript
Labels: Package Add

#1014 add: `protonvpn-gui`
  packagelist
  packages/protonvpn-gui/protonvpn-gui.pacscript
Labels: Package Add

#1025 upd(tidal-hifi-bin): `2.8.2` -> `3.0.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1023 upd(nala-deb): `0.7.2-0volian1` -> `0.8.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1024 add: `nala-legacy-deb`
  packagelist
  packages/nala-legacy-deb/nala-legacy-deb.pacscript
Labels: Package Add

#1026 upd(google-chrome-unstable-deb): `102.0.4997.0` -> `102.0.5005.12`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1027 upd(opera-deb): `85.0.4341.60` -> `86.0.4363.23`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#1030 upd(github-desktop-deb): `2.9.14-linux2` -> `2.9.15-linux1`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#1029 upd(lbry-deb): 0.52.6 -> 0.53.1
  packages/lbry-deb/lbry-deb.pacscript
Labels: Update Package

#1033 ci: add lsb-release and update-desktop-database to install list
  .github/workflows/tests.yml
Labels: CI

#1034 upd(torguard-deb): `4.8.10` -> `4.8.11`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#1035 upd(electronmail-deb): `4.13.6` -> `4.15.0`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#1031 upd(nala-deb): `0.8.0` -> `0.8.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1032 rm: `nala-legacy-deb`
  packagelist
  packages/nala-legacy-deb/nala-legacy-deb.pacscript
Labels: remove package

#1039 upd(bitwarden-deb): `1.32.1` -> `1.33.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#1040 upd(makedeb-deb): `11.0.1` -> `14.0.3`
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Package

#1042 upd(brave-browser-deb): `1.37.116` -> `1.38.109`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1010 upd(vscode): `1.63.2` -> `1.66.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#1038 add: `nomachine`
  packagelist
  packages/nomachine-deb/nomachine-deb.pacscript
Labels: Package Add

#1043 upd(google-chrome-deb): `100.0.4896.88-1` -> `101.0.4951.41-1`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#891 add: `pycharm-community-bin`
  packagelist
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  packages/pycharm-community-bin/pycharm.desktop
Labels: Package Add

#1044 upd(gitkraken-deb): `8.3.3` -> `8.4.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#1028 upd(gnome-tweaks): `40.0` -> `40.10`
  packages/gnome-tweaks/gnome-tweaks.pacscript
Labels: Update Package

#1041 add: `minecraft-pi-reborn-app`
  packagelist
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Package Add

#1045 upd(brave-browser-beta-deb): `1.39.78` -> `1.39.83`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1046 upd(brave-browser-dev-deb): `1.39.77` -> `1.39.82`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1036 feat(CI): add labeler
  .github/labeler.yml
  .github/workflows/main.yml
Labels: CI

#1050 upd(brave-browser-nightly-deb): `1.40.4` -> `1.40.19`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1049 upd(touchegg-deb): `2.0.11` -> `2.0.14`
  packages/touchegg-deb/touchegg-deb.pacscript
Labels: Update Package

#1047 add: `yandex-browser-stable-deb`
  packagelist
  packages/yandex-browser-stable-deb/yandex-browser-stable-deb.pacscript
Labels: Package Add

#1051 upd(opera-developer-deb): `87.0.4388.0` -> `88.0.4401.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#1052 upd(opera-beta-deb): `86.0.4363.15-1` -> `87.0.4390.8`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#1054 upd(minecraft-pi-reborn-app): `2.3.5` -> `2.3.6`
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1056 fix(pacstall-gui-git): mv more patches
  packages/pacstall-gui-git/pacstall-gui-git.pacscript
Labels: Update Pacscript

#1058 add: `yandex-browser-beta-deb`
  packagelist
  packages/yandex-browser-beta-deb/yandex-browser-beta-deb.pacscript
Labels: Package Add

#1063 upd(teams-for-linux-deb): added repology
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Pacscript

#1060 upd(maitreya8-deb): added repology
  packages/maitreya8-deb/maitreya8-deb.pacscript
Labels: Update Package

#1065 ci(github): fix permissions
  .github/workflows/main.yml
Labels: CI

#1066 add: `eddie-ui-deb`
  packagelist
  packages/eddie-ui-deb/eddie-ui-deb.pacscript
Labels: Package Add

#1067 upd(brave-browser-nightly-deb): `1.40.19` -> `1.40.23`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1068 upd(brave-browser-beta-deb): `1.39.83` -> `1.39.86`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1069 upd(brave-browser-dev-deb): `1.39.82` -> `1.39.85`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1070 upd(google-chrome-unstable-deb): `102.0.5005.12` -> `103.0.5028.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1071 upd(github-cli-deb): `2.8.0` -> `2.9.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package
