Repository pacstall/pacstall-programs, pull requests merged in 2022-05, with the labels that each got.

#1074 upd(brave-browser-beta-deb): `1.39.86` -> `1.39.87`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1075 upd(minecraft-pi-reborn-app): `2.3.6` -> `2.3.8`
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1072 add: `git-extras-git`
  packagelist
  packages/git-extras-git/git-extras-git.pacscript
Labels: Package Add

#1076 upd(chezmoi-deb): `2.15.1` -> `2.15.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1077 upd(an-anime-game-launcher-bin): `2.3.1` -> `2.3.2`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1079 ci(github): change trigger for labeler and fix title detection
  .github/labeler.yml
  .github/workflows/main.yml
Labels: CI

#1084 upd(minecraft-pi-reborn-app): `2.3.8` -> `2.3.9`
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
Labels: Update Package

#1090 upd(librewolf-app): `99.0` -> `99.0.1-4`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#1085 upd(fennel-bin): `1.0.0` -> `1.1.0`
  packages/fennel-bin/fennel-bin.pacscript
Labels: Update Package

#1088 upd(telegram-bin): `3.5.2` -> `3.7.3`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#1087 upd(opera-deb): `86.0.4363.23` -> `86.0.4363.32`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#1086 upd(oil): `0.9.9` -> `0.10.0`
  packages/oil/oil.pacscript
Labels: Update Package

#1078 upd(bottles): `2022.4.28` -> `2022.5.2`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1092 upd(brave-browser-beta-deb): `1.39.87` -> `1.39.92`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1082 ci(github): only trigger on open and reopen
  .github/workflows/main.yml
Labels: CI

#1096 upd(bottles): `2022.5.2` -> `2022.5.2`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1100 upd(brave-browser-deb): `1.38.109` -> `1.38.111`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1099 upd(brave-browser-nightly-deb): `1.40.23` -> `1.40.39`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1098 upd(brave-browser-dev-deb): `1.39.85` -> `1.39.93`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1097 upd(tidal-hifi-bin): `3.0.0` -> `3.1.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1101 upd(brave-browser-beta-deb): `1.39.92` -> `1.39.94`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1095 upd(zotero): `5.0.96.3` -> `6.0.6`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1059 upd(insync-deb): `3.5.4.50130` -> `3.7.6.50356`
  packages/insync-deb/insync-deb.pacscript
Labels: Update Package

#1104 upd(drawio-desktop-deb): `17.2.4` -> `18.0.1`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#1102 upd(android-studio): `2021.1.1.22` -> `2021.1.1.23`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#1093 add: taskwarrior
  packagelist
  packages/taskwarrior/taskwarrior.pacscript
Labels: Package Add

#1062 upd(pomatez-deb): added repology
  packages/pomatez-deb/pomatez-deb.pacscript
Labels: Update Package

#1091 add: bluegriffon-deb
  packagelist
  packages/bluegriffon-deb/bluegriffon-deb.pacscript
Labels: Package Add

#1105 upd(element-desktop-deb): `1.10.10` -> `1.10.11`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1108 upd(git): `2.35.3` -> `2.36.1`
  packages/git/git.pacscript
Labels: Update Package

#1107 upd(go-bin): `1.18` -> `1.18.1`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#1106 upd(chezmoi-deb): `2.15.2` -> `2.15.3`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1110 upd(protonmail-bridge-deb): `2.1.1-1` -> `2.1.3-1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#1109 upd(makedeb-deb): `14.0.3` -> `14.1.2`
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Package

#1111 upd(bottles): `2022.5.2` -> `2022.5.2-trento-3`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1117 upd(github-cli-deb): `2.9.0` -> `2.10.1`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#1116 upd(yad): `11.0` -> `12.0`
  packages/yad/yad.pacscript
Labels: Update Package

#1112 upd(chezmoi-deb): `2.15.3` -> `2.15.4`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1094 upd(nala-deb): `0.8.1` -> `0.8.2`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1061 upd(obs-backgroundremoval): added repology
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#1114 add: `surfshark-vpn-cli-deb`
  packagelist
  packages/surfshark-vpn-cli-deb/surfshark-vpn-cli-deb.pacscript
Labels: Package Add

#1118 add: notion-app-deb
  packagelist
  packages/notion-app-deb/notion-app-deb.pacscript
Labels: Package Add

#1120 upd(element-desktop-deb): `1.10.11` -> `1.10.12`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1119 upd(bat-deb): `0.20.0` -> `0.21.0`
  packages/bat-deb/bat-deb.pacscript
Labels: Update Package

#1121 rm: `torbrowser-launcher-deb`
  packagelist
  packages/torbrowser-launcher-deb/torbrowser-launcher-deb.pacscript
Labels: remove package

#1115 upd(android-studio): `2021.1.1.23` -> `2021.2.1.14`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#1125 upd(brave-browser-deb): `1.38.111` -> `1.38.115`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1124 upd(brave-browser-nightly-deb): `1.40.39` -> `1.40.57`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1123 upd(brave-browser-beta-deb): `1.39.94` -> `1.39.104`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1127 upd(brave-browser-dev-deb): `1.39.93` -> `1.39.102`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1126 upd(nodejs-lts-deb): `16.14.2` -> `16.15.0`
  packages/nodejs-lts-deb/nodejs-lts-deb.pacscript
Labels: Update Package

#1129 upd(balena-etcher-electron-deb): `1.7.8` -> `1.7.9`
  packages/balena-etcher-electron-deb/balena-etcher-electron-deb.pacscript
Labels: Update Package

#1128 upd(librewolf-app): `99.0.1-4` -> `100.0-2`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#1130 upd(git-delta): added repology
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Pacscript

#1131 upd(protonvpn-gui): add missing .desktop file
  packages/protonvpn-gui/protonvpn-gui.pacscript
Labels: Update Package

#1132 upd(ivpn-deb): `3.7.0` -> `3.8.7`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#1133 upd(ivpn-ui-deb): `3.7.0` -> `3.8.7`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#1134 upd(git-delta-deb): `0.12.1` -> `0.13.0`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package

#1135 add: `signal-desktop-deb`
  packagelist
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Package Add

#1136 upd(aws-cli-v2-bin): `2.4.17` -> `2.7.0`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#1057 add: `kalendar-git`
  packagelist
  packages/kalendar-git/kalendar-git.pacscript
Labels: Package Add

#1138 upd(caprine-deb): `2.55.4` -> `2.55.5`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#1137 add: `signal-desktop-beta-deb`
  packagelist
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
Labels: Package Add

#1139 upd(bottles): `2022.5.2-trento-3` -> `2022.5.14-trento-1`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1122 add: `notion-app-enhanced-deb`
  packagelist
  packages/notion-app-enhanced-deb/notion-app-enhanced-deb.pacscript
Labels: Package Add

#1141 upd(chezmoi-deb): `2.15.1` -> `2.16.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1143 upd(tmpmail-bin): `1.2.1` -> `1.2.3`
  packages/tmpmail-bin/tmpmail-bin.pacscript
Labels: Update Package

#1140 add: `yt-dlp`
  packagelist
  packages/yt-dlp/yt-dlp.pacscript
Labels: Package Add

#1145 upd(bitwig-studio-deb): `4.2` -> `4.2.3`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#1148 upd(brave-browser-beta-deb): `1.39.104` -> `1.40.70`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1146 upd(heroic-games-launcher-deb): `2.2.6` -> `2.3.2`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#1149 upd(brave-browser-dev-deb): `1.39.102` -> `1.40.69`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1150 upd(brave-browser-nightly-deb): `1.40.57` -> `1.41.6`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1147 upd(bottles): `2022.5.14-trento-1` -> `2022.5.14-trento-3`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1151 upd(drawio-desktop-deb): `18.0.1` -> `18.0.6`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#1155 upd(veracrypt-deb): `1.24-Update7` -> `1.25.9`
  packages/veracrypt-deb/veracrypt-deb.pacscript
Labels: Update Package

#1154 upd(zotero): `6.0.6` -> `6.0.8`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1152 upd(yt-dlp): `2022.04.08` -> `2022.05.18`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#1153 upd(yandex-browser-beta-deb): `22.3.1.899-1` -> `22.3.3.886-1`
  packages/yandex-browser-beta-deb/yandex-browser-beta-deb.pacscript
Labels: Update Package

#1158 upd(brave-browser-deb): `1.38.115` -> `1.38.119`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1161 upd(aomp-deb): `15.0-0` -> `15.0-2`
  packages/aomp-deb/aomp-deb.pacscript
Labels: Update Package

#1160 upd(google-chrome-unstable-deb): `103.0.5028.0` -> `103.0.5060.13-1`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1159 upd(google-chrome-beta-deb): `101.0.4951.26-1` -> `102.0.5005.61-1`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#1157 upd(gitfiend-deb): `0.32.0` -> `0.34.0`
  packages/gitfiend-deb/gitfiend-deb.pacscript
Labels: Update Package

#1164 upd(hyperfine-bin): `1.13.0` -> `1.14.0`
  packages/hyperfine-bin/hyperfine-bin.pacscript
Labels: Update Package

#1165 upd(oil): `0.10.0` -> `0.10.1`
  packages/oil/oil.pacscript
Labels: Update Package

#1163 add: `realvnc-vnc-viewer-deb`
  packagelist
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Package Add

#1169 upd(nala-deb): `0.8.2` -> `0.9.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#1172 upd(chezmoi-deb): `2.16.0` -> `2.17.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1170 upd(brave-browser-nightly-deb): `1.41.6` -> `1.41.14`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1171 upd(brave-browser-beta-deb): `1.40.70` -> `1.40.74`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1173 upd(brave-browser-dev-deb): `1.40.69` -> `1.40.76`
  packages/brave-browser-dev-deb/brave-browser-dev-deb.pacscript
Labels: Update Package

#1175 upd(google-chrome-unstable-deb): `103.0.5060.13-1` -> `104.0.5083.0-1`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#1176 upd(protonvpn-cli): `3.11.1` -> `3.12.0`
  packages/protonvpn-cli/protonvpn-cli.pacscript
Labels: Update Package

#1178 upd(github-desktop-deb): `3.0.0-linux1` -> `3.0.0-linux2`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#1179 upd(brave-browser-deb): `1.38.119` -> `1.39.111`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1180 upd(brave-browser-beta-deb): `1.40.74` -> `1.40.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1181 upd(brave-browser-nightly-deb): `1.41.14` -> `1.41.20`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1182 upd(microsoft-edge-stable-deb): `100.0.1185.39-1` -> `101.0.1210.53-1`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#1183 upd(microsoft-edge-beta-deb): `101.0.1210.14-1` -> `102.0.1245.22-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#1184 upd(an-anime-game-launcher-bin): `2.3.2` -> `2.3.3`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1187 add: `ibhagwan-picom-git`
  packagelist
  packages/ibhagwan-picom-git/ibhagwan-picom-git.pacscript
Labels: Package Add

#1103 upd(adapta-gtk-theme-git): add `pkgver`
  packages/adapta-gtk-theme-git/adapta-gtk-theme-git.pacscript
Labels: Update Package

#1177 upd(protonvpn-gui): `1.8.0` -> `1.9.0`
  packages/protonvpn-gui/protonvpn-gui.pacscript
Labels: Update Package

#1189 add: `anydesk-deb`
  packagelist
  packages/anydesk-deb/anydesk-deb.pacscript
Labels: Package Add

#1190 add: `yandex-disk-deb`
  packagelist
  packages/yandex-disk-deb/yandex-disk-deb.pacscript
Labels: Package Add

#1192 upd(bottles): `2022.5.14-trento-3` -> `2022.5.28-trento-3`
  packages/bottles/bottles.pacscript
Labels: Update Package

#1193 upd(brave-browser-nightly-deb): `1.41.20` -> `1.41.21`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1194 upd(eddie-ui-deb): `2.21.6` -> `2.21.8`
  packages/eddie-ui-deb/eddie-ui-deb.pacscript
Labels: Update Package

#1195 add: `qtile-extras-git`
  packagelist
  packages/qtile-extras-git/qtile-extras-git.pacscript
Labels: Package Add

#1198 upd(chezmoi-deb): `2.17.0` -> `2.17.1`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#1199 upd(btop-bin): `1.2.6` -> `1.2.7`
  packages/btop-bin/btop-bin.pacscript
Labels: Update Package

#1200 upd(element-desktop-deb): `1.10.12` -> `1.10.13`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1196 fix(github-desktop-deb): repology version fix
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package, Update Pacscript
