Repository pacstall/pacstall-programs, pull requests merged in 2022-10, with the labels that each got.

#1602 upd(neovim-deb): `0.7.2` -> `0.8.0`
  packages/neovim-deb/neovim-deb.pacscript
Labels: Update Package

#1605 refactor(postman-bin): move symlinks to `postinst`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Pacscript

#1603 upd(neovim): `0.7.2` -> `0.8.0`
  packages/neovim/neovim.pacscript
Labels: Update Package

#1608 upd(zotero): `6.0.13` -> `6.0.15`
  packages/zotero/zotero.pacscript
Labels: Update Package

#1609 add: Linux kernels
  packagelist
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Package Add

#1607 upd(ferium-bin): `4.1.10` -> `4.2.0`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#1604 upd(pipewire): `0.3.54` -> `0.3.59`
  packages/pipewire/pipewire.pacscript
Labels: Update Package

#1616 upd(brave-browser-beta-deb): `1.45.68` -> `1.45.94`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1617 upd(brave-browser-deb): `1.44.95` -> `1.44.110`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1618 upd(brave-browser-nightly-deb): `1.46.20` -> `1.46.46`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1619 upd(harmonoid-deb): `0.3.2` -> `0.3.3`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#1620 upd(bat-deb): `0.22.0` -> `0.22.1`
  packages/bat-deb/bat-deb.pacscript
Labels: Update Package

#1606 upd(batsignal): `1.5.1` -> `1.6.2`
  packages/batsignal/batsignal.pacscript
Labels: Update Package

#1623 upd(firefox-deb): `104.0` -> `105.0`
  packages/firefox-deb/firefox-deb.pacscript
Labels: Update Package

#1625 upd(brave-browser-nightly-deb): `1.46.46` -> `1.46.56`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1624 upd(brave-browser-deb): `1.44.110` -> `1.44.112`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#1627 upd(makedeb-deb): `14.1.2` -> `16.0.0`
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Package

#1628 upd(arduino-cli-bin): `0.25.1` -> `0.27.1`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#1631 upd(bitwarden-cli-bin): `2022.9.0` -> `2022.10.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#1630 upd(an-anime-game-launcher-bin): `2.3.9` -> `2.4.0`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#1632 upd(bitwarden-deb): `2022.9.1` -> `2022.10.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#1633 upd(bitwig-studio-deb): `4.3.1` -> `4.4.0`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#1634 upd(caprine-deb): `2.55.6` -> `2.56.1`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#1635 upd(chwp-deb): `1.126.0` -> `1.144.0`
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#1636 upd(discord-ptb-deb): `0.0.30` -> `0.0.33`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#1638 upd(dust-bin): `0.8.0` -> `0.8.3`
  packages/dust-bin/dust-bin.pacscript
Labels: Update Package

#1639 upd(electronmail-deb): `5.0.1` -> `5.1.1`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#1637 upd(drawio-desktop-deb): `19.0.3` -> `20.3.0`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#1640 upd(element-desktop-deb): `1.11.2` -> `1.11.10`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#1641 upd(emby-server-deb): `4.7.1.0` -> `4.7.8.0`
  packages/emby-server-deb/emby-server-deb.pacscript
Labels: Update Package

#1642 upd(fennel-bin): `1.1.0` -> `1.2.0`
  packages/fennel-bin/fennel-bin.pacscript
Labels: Update Package

#1643 upd(fennel): `1.1.0` -> `1.2.0`
  packages/fennel/fennel.pacscript
Labels: Update Package

#1644 upd(git-delta-deb): `0.13.0` -> `0.14.0`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package

#1645 upd(gitfiend-deb): `0.34.0` -> `0.37.2`
  packages/gitfiend-deb/gitfiend-deb.pacscript
Labels: Update Package

#1646 upd(github-cli-bin): `2.14.2` -> `2.17.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#1649 upd(hyperfine-bin): `1.14.0` -> `1.15.0`
  packages/hyperfine-bin/hyperfine-bin.pacscript
Labels: Update Package

#1648 upd(gitkraken-deb): `8.6.0` -> `8.10.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#1650 upd(librewolf-app): `101.0.1-1` -> `105.0.3-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#1651 upd(librewolf-deb): `103.0.2-1` -> `105.0.3-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#1652 upd(oil): `0.10.1` -> `0.12.7`
  packages/oil/oil.pacscript
Labels: Update Package

#1653 upd(signal-desktop-deb): `5.59.0` -> `5.62.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#1654 upd(slack-deb): `4.28.182` -> `4.28.184`
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#1655 upd(steam-deb): `1.0.0.74` -> `1.0.0.75`
  packages/steam-deb/steam-deb.pacscript
Labels: Update Package

#1656 upd(sublime-text-deb): `4126` -> `4137`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#1657 upd(telegram-bin): `4.0.1` -> `4.2.4`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#1622 add: `firefox-developer-edition-bin`
  packagelist
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  packages/firefox-developer-edition-bin/firefox-developer-edition.desktop
Labels: Package Add

#1659 add: `zap`
  packages/zap/zap.pacscript
Labels: Package Add

#1662 upd(alacritty): `0.10.1` -> `0.11.0`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#1663 upd(brave-browser-beta-deb): `1.45.94` -> `1.45.100`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#1664 upd(brave-browser-nightly-deb): `1.46.56` -> `1.46.60`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#1665 upd(btop-bin): `1.2.8` -> `1.2.12`
  packages/btop-bin/btop-bin.pacscript
Labels: Update Package

#1615 add: `intel-undervolt`
  packagelist
  packages/intel-undervolt/intel-undervolt.pacscript
Labels: Package Add

#1667 upd(topgrade-bin): `9.0.1` -> `9.1.0`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1660 ci(tests): use `-I` instead of `-Il`
  .github/workflows/tests.yml
Labels: CI

#1668 upd(discord-canary): `0.0.139` -> `0.0.140`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#1670 add: `tixati`
  packagelist
  packages/tixati-deb/tixati-deb.pacscript
Labels: Package Add

#1672 add: `ttf-fira-sans`
  packagelist
  packages/ttf-fira-sans/ttf-fira-sans.pacscript
Labels: Package Add

#1678 upd(pycharm-community-bin): `2022.2` -> `2022.2.3`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#1684 upd(webapp-manager-deb): `1.2.4` -> `1.2.5`
  packages/webapp-manager-deb/webapp-manager-deb.pacscript
Labels: Update Package

#1686 upd(micro): `2.0.10` -> `2.0.11`
  packages/micro/micro.pacscript
Labels: Update Package

#1681 upd(mangohud): `0.6.7-1` -> `0.6.8`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#1675 add: `teamviewer-deb`
  packagelist
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Package Add

#1696 upd(webapp-manager): `1.1.9` -> `1.2.5`
  packages/webapp-manager/webapp-manager.pacscript
Labels: Update Package

#1697 upd(tidal-hifi-bin): `4.2.0` -> `4.3.1`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#1698 upd(keepassxc): `2.7.1` -> `2.7.3`
  packages/keepassxc/keepassxc.pacscript
Labels: Update Package

#1703 upd(topgrade-bin): `9.1.0` -> `10.0.0`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1701 add: `prismlauncher-git`
  packagelist
  packages/prismlauncher-git/prismlauncher-git.pacscript
Labels: Package Add

#1710 upd(discord-deb): `0.0.20` -> `0.0.21`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#1709 add: `ferdium-deb`
  packagelist
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Package Add

#1714 upd(discord-canary): `0.0.140` -> `0.0.142`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#1711 upd(topgrade-bin): `10.0.0` -> `10.0.1`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#1713 add: `libicu71-deb`
  packagelist
  packages/libicu71-deb/libicu71-deb
Labels: Package Add

#1715 upd(github-cli-bin): `2.17.0` -> `2.18.1`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package
