Repository pacstall/pacstall-programs, pull requests merged in 2023-09, with the labels that each got.

#4485 upd(f1multiviewer-deb): `1.25.0` -> `1.26.4`
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Update Package

#4486 upd(telegram-bin): 4.9.2 -> 4.9.4
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#4487 upd(discord{,-deb}): `0.0.28` -> `0.0.29`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#4483 add: `meson-focal-deb`
  packagelist
  packages/libcamera-git/libcamera-git.pacscript
  packages/meson-focal-deb/meson-focal-deb.pacscript
Labels: Package Add

#4488 fix(libcamera-git): repair focal meson install
  packages/libcamera-git/libcamera-git.pacscript
Labels: Update Pacscript

#4489 fix(maintainer:Elsie19): use different email
  packages/adapta-gtk-theme-git/adapta-gtk-theme-git.pacscript
  packages/amfora-bin/amfora-bin.pacscript
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  packages/ani-cli-bin/ani-cli-bin.pacscript
  packages/bat-deb/bat-deb.pacscript
  packages/bazecor-app/bazecor-app.pacscript
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  packages/blender-bin/blender-bin.pacscript
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  packages/brave-keyring-deb/brave-keyring-deb.pacscript
  packages/cmatrix/cmatrix.pacscript
  packages/dino-git/dino-git.pacscript
  packages/discord/discord.pacscript
  packages/dotdrop/dotdrop.pacscript
  packages/dunst/dunst.pacscript
  packages/endlessh-git/endlessh-git.pacscript
  packages/exa-git/exa-git.pacscript
  packages/fake-ubuntu-advantage-tools-deb/fake-ubuntu-advantage-tools-deb.pacscript
  packages/fast/fast.pacscript
  packages/ferium-bin/ferium-bin.pacscript
  packages/git-extras-git/git-extras-git.pacscript
  packages/github-desktop-deb/github-desktop-deb.pacscript
  packages/goverlay/goverlay.pacscript
  packages/grapejuice-git/grapejuice-git.pacscript
  packages/harmonoid-deb/harmonoid-deb.pacscript
  packages/headset-deb/headset-deb.pacscript
  packages/hyper-deb/hyper-deb.pacscript
  packages/intel-undervolt/intel-undervolt.pacscript
  packages/internxt-deb/internxt-deb.pacscript
  packages/makedeb-deb/makedeb-deb.pacscript
  packages/mangohud/mangohud.pacscript
  packages/mymonero-app/mymonero-app.pacscript
  packages/neofetch/neofetch.pacscript
  packages/neovim-app/neovim-app.pacscript
  packages/neovim-git/neovim-git.pacscript
  packages/neovim/neovim.pacscript
  packages/nerd-fonts-hack/nerd-fonts-hack.pacscript
  packages/pipewire/pipewire.pacscript
  packages/polybar/polybar.pacscript
  packages/powertop-git/powertop-git.pacscript
  packages/quintom-cursor-theme-git/quintom-cursor-theme-git.pacscript
  packages/shellcheck-bin/shellcheck-bin.pacscript
  packages/shellharden/shellharden.pacscript
  packages/slop-git/slop-git.pacscript
  packages/stellarium/stellarium.pacscript
  packages/thrive-deb/thrive-deb.pacscript
  packages/vivarium/vivarium.pacscript
  packages/yafetch-git/yafetch-git.pacscript
Labels: Update Pacscript

#4490 upd(megasync-deb): `4.9.5-1.1` -> `4.9.6-1.1`
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#4491 upd(linux-kernel-stable): `6.5` -> `6.5.1`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4493 upd(armcord-deb): `3.2.3` -> `3.2.4`
  packages/armcord-deb/armcord-deb.pacscript
Labels: Update Package

#4492 upd(1password-cli-bin): `2.19.0` -> `2.20.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#4494 upd(aws-cli-v2-bin): `2.13.11` -> `2.13.15`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#4495 upd(bitwarden-deb): `2023.7.1` -> `2023.8.2`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#4496 upd(element-desktop-deb): `1.11.39` -> `1.11.40`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#4497 upd(git-credential-manager-core-deb): `2.3.0` -> `2.3.2`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Package

#4498 upd(google-chrome-beta-deb): `117.0.5938.11` -> `117.0.5938.35`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#4499 upd(google-chrome-unstable-deb): `118.0.5951.0` -> `118.0.5979.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#4500 upd(librewolf-deb): `116.0.3-1` -> `117.0-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#4501 upd(librewolf-app): `116.0.3-1` -> `117.0-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#4502 upd(microsoft-edge-beta-deb): `116.0.1938.54` -> `117.0.2045.12`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#4503 upd(microsoft-edge-dev-deb): `117.0.2033.0` -> `118.0.2060.1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#4504 upd(microsoft-edge-stable-deb): `116.0.1938.54` -> `116.0.1938.69`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#4505 upd(nuclei-bin): `2.9.12` -> `2.9.13`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#4506 upd(opera-deb): `101.0.4843.58` -> `102.0.4880.33`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#4507 upd(protonmail-bridge-deb): `3.3.2` -> `3.4.1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#4508 upd(sublime-merge-deb): `2085` -> `2091`
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
Labels: Update Package

#4509 upd(tidal-hifi-bin): `5.6.0` -> `5.7.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#4510 upd(topgrade-musl-bin): `12.0.0` -> `12.0.2`
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#4511 upd(vivaldi-deb): `6.1.3035.302` -> `6.2.3105.45`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#4512 upd(timeshift): `22.11.2` -> `23.07.1`
  packages/timeshift/timeshift.pacscript
Labels: Update Package

#4520 upd(brave-browser-nightly-deb): `1.59.38` -> `1.59.74`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4523 upd(unicorn-{desktop,mobile}-git): ensure thunar thumbnails
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4527 add: `owofetch`
  packagelist
  packages/owofetch/owofetch.pacscript
Labels: Package Add

#4524 add: `xonotic`
  packagelist
  packages/xonotic/xonotic.pacscript
Labels: Package Add

#4531 upd(neovim): `0.9.1` -> `0.9.2`
  packages/neovim/neovim.pacscript
Labels: Update Package

#4532 upd(neovim-app): `0.9.1` -> `0.9.2`
  packages/neovim-app/neovim-app.pacscript
Labels: Update Package

#4533 fix(xonotic): use right basedir
  packages/xonotic/xonotic.pacscript
Labels: Update Pacscript

#4535 upd(brave-browser-nightly-deb): `1.59.74` -> `1.60.7`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4539 add: `eza-git`
  packagelist
  packages/eza-git/eza-git.pacscript
Labels: Package Add

#4540 fix(fastfetch-git): use proper dep
  packages/fastfetch-git/fastfetch-git.pacscript
Labels: Update Pacscript

#4543 upd(eza-git): `0.10.0` -> `0.10.1`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4545 upd(brave-browser-nightly-deb): `1.60.7` -> `1.60.15`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4546 upd(firefox-bin): `117.0` -> `117.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4548 upd(firefox-arm64-deb): `117.0+build2` -> `117.0.1+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4549 upd(linux-okpine): `6.5.0` -> `6.6.0-rc1`
  packagelist
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-headers-rockchip-deb/linux-headers-rockchip-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-rockchip-deb/linux-image-rockchip-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4550 upd(unicorn*git): include `gnome-keyring`
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4551 upd(rhino*core): include `timeshift`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4552 upd(discord-canary): `0.0.166` -> `0.0.167`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4553 upd(eza-git): `0.10.1` -> `0.12.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4556 upd(brave-browser-beta-deb): `1.58.96` -> `1.59.86`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4557 upd(brave-browser-deb): `1.57.53` -> `1.58.124`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4555 upd(brave-browser-nightly-deb): `1.60.15` -> `1.60.27`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4554 upd(unicorn*git): include `bluez-firmware`
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4558 upd(unicorn-mobile-git): touchpad dependencies
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4559 upd(unicorn-desktop-git): touchpad fix
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Package

#4560 upd(unicorn*git): include BT audio module
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4561 upd(i3lock-color): `2.13.c.4` -> `2.13.c.5`
  packages/i3lock-color/i3lock-color.pacscript
Labels: Update Package

#4562 upd(pycharm-community-bin): `2023.2` -> `2023.2.1`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4564 upd(unicorn*git): fix `gnome-keyring` net regression
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4565 fix(timeshift): repair bad pkexec
  packages/timeshift/timeshift.pacscript
Labels: Update Pacscript

#4566 upd(eza-git): `0.12.0` -> `0.13.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4568 upd(discord{,-deb}): `0.0.29` -> `0.0.30`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#4563 add: `krita-app`
  packagelist
  packages/krita-app/krita-app.pacscript
Labels: Package Add

#4571 upd(nushell-bin): `0.84.0` -> `0.85.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#4572 fix(linux-okpine): `6.6.0-rc1` -> `6.5.0`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4575 upd(linux-kernel): `6.5` -> `6.6-rc2`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4579 upd(linux-kernel-stable): `6.5.4` -> `6.5.5`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4582 upd(rhino-setup-bin): `2023.2` -> `2023.3`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#4581 fix(unicorn*git): include synaptics file
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4583 upd(firefox-arm64-deb): `117.0.1+build2` -> `118.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4580 upd(rhino-core): `2023.2` -> `2023.3~RC`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4585 fix(unicorn*git): gnome-keyring is problematic
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4586 upd(mold-bin): `2.1.0` -> `2.2.0`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4577 upd(obs-backgroundremoval-deb): `1.1.3` -> `1.1.6`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#4587 upd(eza-git): `0.13.0` -> `0.13.1`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4592 upd(pulsar-deb): `1.108.0` -> `1.109.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#4594 upd(bazecor-app): `1.3.3` -> `1.3.3`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4593 add: `go-task-deb`
  packagelist
  packages/go-task-deb/go-task-deb.pacscript
Labels: Package Add

#4578 fix(obs-backgroundremoval-git): fix build scripts
  packages/obs-backgroundremoval-git/obs-backgroundremoval-git.pacscript
Labels: Update Pacscript

#4576 upd(obs-backgroundremoval): 1.1.3 -> 1.1.6
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#4596 fix(jonaburg-picom-git): `depends` -> `makedepends`
  packages/jonaburg-picom-git/jonaburg-picom-git.pacscript
Labels: Update Pacscript

#4597 upd(linux-okpine): `6.5.0` -> `6.6.0-rc3`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4598 upd(firefox-bin): `117.0.1` -> `118.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4599 upd(discord-canary): `0.0.167` -> `0.0.169`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4600 upd(firefox-arm64-deb): `118.0+build1` -> `118.0.1+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4601 upd(rhino*core): `2023.3~RC` -> `2023.3`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package
