Repository pacstall/pacstall-programs, pull requests merged in 2023-08, with the labels that each got.

#4172 upd(celeste-bin): `0.5.3-rhino1` -> `0.5.4-rhino1`
  packages/celeste-bin/celeste-bin.pacscript
Labels: Update Package

#4174 upd(firefox-bin): `115.0.2` -> `116.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4176 fix(CI): make sure amd64 link can take i386 too
  .github/workflows/tests.yml
Labels: Update Pacscript

#4175 fix(android-studio): update dependencies
  packages/android-studio/android-studio.pacscript
Labels: Update Pacscript

#4177 upd(bazecor-app): `1.3.0` -> `1.3.1`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4179 fix(linux-okpine): new hashes for reverted wifi
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4180 upd(linux-kernel-stable): `6.4.6` -> `6.4.8`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4181 upd(linux-kernel): `6.5-rc2` -> `6.5-rc4`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4159 upd(obs-backgroundremoval): `1.0.0` -> `1.1.2`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#4184 upd(firefox-{arm64-deb,bin}): `116.0{+build2}` -> `116.0.1{+build1}`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4185 upd(rhino{-pine,-server,}-core): `2023.1-beta7-{0,2}` -> `2023.1-0`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4186 upd(pacup-bin): `2.0.0` -> `2.1.0`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#4187 upd(firefox-developer-edition-bin): `116.0b7` -> `117.0b3`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#4188 upd(linux-okpine): `6.5.0-rc4` -> `6.5.0-rc5`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4189 upd(bazecor-app): `1.3.1` -> `1.3.2`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4191 upd(discord-canary): `0.0.162` -> `0.0.163`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4195 upd(linux-kernel-stable): `6.4.8` -> `6.4.9`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4196 upd(linux-kernel): `6.5-rc4` -> `6.5-rc5`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4197 upd(firefox-{arm64-deb,bin}): `116.0.1{+build1}` -> `116.0.2{+build1}`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4198 fix(shellcheck-bin): `pkgname` -> `gives`
  packages/shellcheck-bin/shellcheck-bin.pacscript
Labels: Update Pacscript

#4199 upd(unicorn-{desktop,mobile}-git): add dash theme
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4200 upd(brave-browser-nightly-deb): `1.58.57` -> `1.59.3`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4202 add: `fake-ubuntu-advantage-tools-deb`
  packagelist
  packages/fake-ubuntu-advantage-tools-deb/fake-ubuntu-advantage-tools-deb.pacscript
Labels: Package Add

#4203 upd(obsidian-deb): `1.3.5` -> `1.3.7`
  packages/obsidian-deb/obsidian-deb.pacscript
Labels: Update Package

#4204 upd(protonup-qt-app): `2.8.1` -> `2.8.2`
  packages/protonup-qt-app/protonup-qt-app.pacscript
Labels: Update Package

#4205 fix(unicorn-{mobile,desktop}-git): include bashrc
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4207 upd(linux-kernel-stable): `6.4.9` -> `6.4.10`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4209 fix(unicorn-{desktop,mobile}-git): include `xarchiver`
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4210 upd(brave-browser-deb): `1.52.130` -> `1.56.20`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4211 upd(brave-browser-beta-deb): `1.57.2` -> `1.58.84`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4212 upd(brave-browser-nightly-deb): `1.59.3` -> `1.59.9`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4213 upd(mold-bin): `1.11.0` -> `2.1.0`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4214 fix(unicorn-{desktop,mobile}-git): include `xdg-desktop-portal-gtk`
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4215 fix(unicorn-{desktop,mobile}-git): include `pkgrel`
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4216 upd(linux-okpine): `6.5.0-rc5` -> `6.5.0-rc6`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4217 upd(firefox-arm64-deb): `116.0.2+build1` -> `116.0.3+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4218 fix(linux-okpine): better pinetab2 kernel
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4221 upd(discord-canary): `0.0.163` -> `0.0.165`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4229 upd(armcord-deb): `3.2.1` -> `3.2.3`
  packages/armcord-deb/armcord-deb.pacscript
Labels: Update Package

#4230 upd(vscodium-deb): `1.80.1.23194` -> `1.81.1.23222`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#4231 upd(thorium-deb): `114.0.5735.134` -> `115.0.5790.172`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#4232 upd(firefox-arm64-deb): `116.0.3+build1` -> `116.0.3+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4233 upd(firefox-bin): `116.0.2` -> `116.0.3`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4234 upd(brave-browser-nightly-deb): `1.59.9` -> `1.59.29`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4236 upd(linux-okpine): `6.5.0-rc6` -> `6.5.0-rc7`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4237 upd(freetube-deb): `0.18.0` -> `0.19.0`
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#4238 upd(linux-kernel): `6.5-rc5` -> `6.5-rc7`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4330 upd(nushell-bin): add `arm64` variant
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#4331 fix(Oren*): correct `arch=` categorizations
  packages/armcord-deb/armcord-deb.pacscript
  packages/celeste-bin/celeste-bin.pacscript
  packages/docker-bin/docker-bin.pacscript
  packages/github-cli-deb/github-cli-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  packages/thorium-deb/thorium-deb.pacscript
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Pacscript

#4333 upd(docker-bin): `24.0.4` -> `24.0.5`
  packages/docker-bin/docker-bin.pacscript
Labels: Update Package

#4332 upd(github-cli-deb): `2.31.0` -> `2.33.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#4334 upd(celeste-bin): `0.5.4` -> `0.5.5`
  packages/celeste-bin/celeste-bin.pacscript
Labels: Update Package

#4336 upd(ferdium-deb): `6.4.0` -> `6.4.1`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#4342 upd(pulsar-deb): `1.107.1` -> `1.108.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#4341 upd(touchegg-deb): `2.0.16` -> `2.0.17`
  packages/touchegg-deb/touchegg-deb.pacscript
Labels: Update Package

#4335 upd(bitwig-studio-deb): `5.0` -> `5.0.4`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#4339 upd(obs-backgroundremoval-deb): `1.1.2` -> `1.1.3`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#4338 upd(hypnotix-deb): `3.5` -> `3.6`
  packages/hypnotix-deb/hypnotix-deb.pacscript
Labels: Update Package

#4343 upd(opensnitch-ui-deb): `1.6.0-rc.2` -> `1.6.3`
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
Labels: Update Package

#4344 upd(opensnitch-deb): `1.6.0-rc.2` -> `1.6.2`
  packages/opensnitch-deb/opensnitch-deb.pacscript
Labels: Update Package

#4346 upd(an-anime-game-launcher-bin): `3.7.6` -> `3.9.0`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#4347 upd(ani-cli-bin): `4.5` -> `4.6`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#4348 upd(anydesk-bin): `6.2.1` -> `6.3.0`
  packages/anydesk-bin/anydesk-bin.pacscript
Labels: Update Package

#4349 upd(arduino-cli-bin): `0.33.1` -> `0.34.0`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#4350 upd(anydesk-deb): `6.2.1` -> `6.3.0`
  packages/anydesk-deb/anydesk-deb.pacscript
Labels: Update Package

#4351 upd(bitwarden-deb): `2023.7.0` -> `2023.7.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#4352 upd(aws-cli-v2-bin): `2.13.2` -> `2.13.11`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#4353 upd(blender-bin): `3.6.1` -> `3.6.2`
  packages/blender-bin/blender-bin.pacscript
Labels: Update Package

#4354 upd(brave-browser-beta-deb): `1.58.84` -> `1.58.96`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4355 upd(brave-browser-nightly-deb): `1.59.29` -> `1.59.38`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4356 upd(caprine-deb): `2.57.4` -> `2.58.0`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#4358 upd(chwp-deb): `1.204.0` -> `1.217.0`
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#4359 upd(dbeaver-ce-deb): `23.1.2` -> `23.1.5`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#4371 upd(zoom-deb): `5.15.3.4839` -> `5.15.7.6521`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#4391 upd(onlyoffice-desktopeditors-deb): `7.4.0` -> `7.4.1`
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
Labels: Update Package

#4395 upd(mullvad-vpn-deb): `2023.3` -> `2023.4`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#4396 upd(microsoft-edge-stable-deb): `114.0.1823.82` -> `116.0.1938.54`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#4399 upd(mailspring-deb): `1.10.8` -> `1.11.0`
  packages/mailspring-deb/mailspring-deb.pacscript
Labels: Update Package

#4381 upd(steam{-launcher}-deb): `1.0.0.7{4,5}` -> `1.0.0.78`
  packages/steam-deb/steam-deb.pacscript
  packages/steam-launcher-deb/steam-launcher-deb.pacscript
Labels: Update Package

#4360 upd(dotdrop): `1.13.0` -> `1.13.2`
  packages/dotdrop/dotdrop.pacscript
Labels: Update Package

#4361 upd(drawio-desktop-deb): `21.6.1` -> `21.6.8`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#4362 upd(element-desktop-deb): `1.11.36` -> `1.11.39`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#4363 upd(enpass-deb): `6.8.5.1173` -> `6.9.0.1467`
  packages/enpass-deb/enpass-deb.pacscript
Labels: Update Package

#4365 upd(fennel-bin): `1.3.0` -> `1.3.1`
  packages/fennel-bin/fennel-bin.pacscript
Labels: Update Package

#4366 upd(ferium-bin): `4.4.0` -> `4.4.1`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#4367 upd(firefox-developer-edition-bin): `117.0b3` -> `117.0b9`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#4368 upd(genymotion-bin): `3.4.0` -> `3.5.0`
  packages/genymotion-bin/genymotion-bin.pacscript
Labels: Update Package

#4369 upd(gfn-electron-bin): `1.12.0` -> `1.13.0`
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
Labels: Update Package

#4370 upd(ulauncher-deb): `5.15.2` -> `5.15.3`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package

#4372 upd(webcord-deb): `4.3.0` -> `4.4.0`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#4373 upd(vivaldi-deb): `6.1.3035.111` -> `6.1.3035.302`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#4374 upd(tutanota-app): `3.115.2` -> `3.116.8`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#4375 upd(torguard-deb): `4.8.21` -> `4.8.22`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#4376 upd(topgrade-bin): `12.0.0` -> `12.0.2`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#4377 upd(tidal-hifi-bin): `5.3.0` -> `5.6.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#4378 upd(teamviewer-deb): `15.43.9` -> `15.45.3`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#4379 upd(teams-for-linux-deb): `1.2.7` -> `1.3.5`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#4364 upd(f1multiviewer-deb): `1.24.0` -> `1.25.0`
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Update Package

#4382 upd(starship-bin): `1.15.0` -> `1.16.0`
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#4380 upd(sublime-text-deb): `4150` -> `4152`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#4383 upd(slack-deb): `4.33.73` -> `4.33.90`
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#4384 upd(signal-desktop-deb): `6.26.0` -> `6.29.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#4385 upd(realvnc-vnc-viewer-deb): `7.5.1` -> `7.6.0`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#4386 upd(quarto-deb): `1.3.433` -> `1.3.450`
  packages/quarto-deb/quarto-deb.pacscript
Labels: Update Package

#4387 upd(pycharm-community-bin): `2023.1.4` -> `2023.2`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4388 upd(postman-bin): `10.16.0` -> `10.17.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#4389 upd(opera-developer-deb): `102.0.4864.0` -> `103.0.4899.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#4390 upd(opera-deb): `100.0.4815.76` -> `101.0.4843.58`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#4392 upd(oil): `0.16.0` -> `0.17.0`
  packages/oil/oil.pacscript
Labels: Update Package

#4393 upd(nuclei-bin): `2.9.9` -> `2.9.12`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#4394 upd(nordvpn-deb): `3.16.3` -> `3.16.5`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#4397 upd(microsoft-edge-dev-deb): `116.0.1938.23` -> `117.0.2033.0`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#4398 upd(microsoft-edge-beta-deb): `115.0.1901.181` -> `116.0.1938.54`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#4400 upd(keepassxc): `2.7.5` -> `2.7.6`
  packages/keepassxc/keepassxc.pacscript
Labels: Update Package

#4401 upd(ivpn-ui-deb): `3.10.23` -> `3.11.14`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#4402 upd(ivpn-deb): `3.10.23` -> `3.11.14`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#4409 upd(git-credential-manager-core-deb): `2.2.2` -> `2.3.0`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Package

#4408 upd(github-cli-bin): `2.32.0` -> `2.33.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#4406 upd(go-bin): `1.20.6` -> `1.21.0`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#4404 upd(google-chrome-unstable-deb): `116.0.5845.42` -> `118.0.5951.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#4405 upd(google-chrome-beta-deb): `115.0.5790.56` -> `117.0.5938.11`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#4403 upd(heroic-games-launcher-deb): `2.7.1` -> `2.9.1`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#4410 upd(google-chrome-deb): `114.0.5735.106` -> `116.0.5845.96`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#4411 upd(nushell-bin): `0.83.1` -> `0.84.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#4418 fix(rhino-neofetch-git): mask `neofetch`
  packages/rhino-neofetch-git/rhino-neofetch-git.pacscript
Labels: Update Pacscript

#4419 fix(unicorn-{desktop,mobile}-git): update xserver deps
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4420 upd(rhino-setup-bin): `2023.1` -> `2023.2`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#4421 upd(rhino{-pine,-server,}-core): `2023.1-0` -> `2023.2~RC`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4422 fix(unicorn-{desktop,mobile}-git): place bashrc in skel
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4423 upd(firefox-arm64-deb): `116.0.3+build2` -> `117.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4426 fix(linux-okpine): fix NFS modules
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4428 fix(linux-okpine): deprecate modem-power
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4430 upd(firefox-arm64-deb): `117.0+build1` -> `117.0+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4433 fix(unicorn-{desktop,mobile}-git): fix plank overrides
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4435 upd(ticktick-deb): `1.0.70` -> `1.0.80`
  packages/ticktick-deb/ticktick-deb.pacscript
Labels: Update Package

#4436 upd(brave-browser-deb): `1.56.20` -> `1.57.53`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4437 fix(unicorn-{desktop,mobile}-git): own docks.ini
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#4441 upd(librewolf-app): `115.0.2-2` -> `116.0.3-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#4442 upd(neovide-bin): `0.10.4` -> `0.11.1`
  packages/neovide-bin/neovide-bin.pacscript
Labels: Update Package

#4443 upd(librewolf-deb): `111.0.1-1` -> `116.0.3-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#4444 upd(linux-okpine): `6.5.0-rc7` -> `6.5.0`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4445 upd(linux-kernel{-stable}): `6.{4.10,5.0-rc7}` -> `6.5.0`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4449 upd(rhino-{pine,server,}-core): `2023.2~RC` -> `2023.2`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4475 upd(unicorn-desktop-git): enable global menus
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Package

#4476 fix(unicorn-desktop-git): add missing deps for panel
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#4447 upd(telegram-bin): `4.8.7` -> `4.9.2`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#4477 fix(unicorn-desktop-git): make sure light-locker is installed
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#4481 add: `libcamera-git`
  packagelist
  packages/libcamera-git/libcamera-git.pacscript
Labels: Package Add
