Repository pacstall/pacstall-programs, pull requests merged in 2023-04, with the labels that each got.

#2843 upd(brave-browser-nightly-deb): `1.51.47` -> `1.52.9`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2837 add: `onnxruntime-bin`
  packagelist
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
Labels: Package Add

#2846 upd(internxt-deb): `1.9.7` -> `1.9.8`
  packages/internxt-deb/internxt-deb.pacscript
Labels: Update Package

#2844 upd(brave-browser-beta-deb): `1.50.107` -> `1.51.72`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2842 upd(brave-browser-deb): `1.49.120` -> `1.49.132`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2845 upd(discord): `0.0.{24,25}` -> `0.0.26`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#2847 upd(signal-desktop{,-beta}-deb): `{6.1.0,6.2.0-beta.2}` -> `{6.7.0,6.13.0-beta.1}`
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#2849 upd(signal-desktop-deb): `6.7.0` -> `6.12.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#2850 upd(wezterm-app): `20230320-124340-559cb7b0` -> `20230326-111934-3666303c`
  packages/wezterm-app/wezterm-app.pacscript
Labels: Update Package

#2854 upd(obs-backgroundremoval): `0.4.0` -> `0.5.16`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#2853 add: `obs-backgroundremoval-0-4-0`
  packagelist
  packages/obs-backgroundremoval-0-4-0/obs-backgroundremoval-0-4-0.pacscript
Labels: Package Add

#2855 add: `wezterm-bin`
  packagelist
  packages/wezterm-bin/wezterm-bin.pacscript
Labels: Package Add

#2860 add: `zettlr-deb`
  packagelist
  packages/zettlr-deb/zettlr-deb.pacscript
Labels: Package Add

#2861 upd(1password-cli-bin): `2.16.0` -> `2.16.1`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#2897 upd(bitwarden-deb): `2023.2.0` -> `2023.3.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#2898 upd(ferium-bin): `4.3.4` -> `4.4.0`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#2899 upd(element-desktop-deb): `1.11.24` -> `1.11.28`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#2900 upd(ferdium-deb): `6.2.4` -> `6.2.6`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#2901 upd(teams-for-linux-deb): `1.0.57` -> `1.0.58`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#2908 upd(brave-browser-nightly-deb): `1.52.9` -> `1.52.17`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2910 upd(smartgit): `22.1.4` -> `22.1.5`
  packages/smartgit/smartgit.pacscript
Labels: Update Package

#2913 upd(firefox-arm64-deb): `111.0.1+build2` -> `112.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#2914 upd(linux-kernel-okpine): `6.3-rc2` -> `6.3.0-rc5`
  packagelist
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-headers-okpine-pro-deb/linux-headers-okpine-pro-deb.pacscript
  packages/linux-headers-okpine64-deb/linux-headers-okpine64-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-okpine-pro-deb/linux-image-okpine-pro-deb.pacscript
  packages/linux-image-okpine64-deb/linux-image-okpine64-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-pro-deb/linux-libc-dev-okpine-pro-deb.pacscript
  packages/linux-libc-dev-okpine64-deb/linux-libc-dev-okpine64-deb.pacscript
Labels: Update Package

#2918 upd(rhino-setup-bin): `v1.2-beta1` -> `v1.2-beta2`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#2919 upd(linux-kernel-stable): `6.2.8` -> `6.2.10`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#2926 upd(rhino-setup-bin): `v1.2-beta2` -> `v1.3-beta2`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#2929 upd(brave-browser-nightly-deb): `1.52.17` -> `1.52.25`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2927 upd(brave-browser-beta-deb): `1.51.77` -> `1.51.80`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2928 upd(brave-browser-deb): `1.49.132` -> `1.50.114`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2930 upd(neovim): `0.8.3` -> `0.9.0`
  packages/neovim/neovim.pacscript
Labels: Update Package

#2931 upd(pycharm-community-bin): `2022.3.2` -> `2023.1`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#2933 add: `neovim-app`
  packagelist
  packages/neovim-app/neovim-app.pacscript
  packages/neovim-deb/neovim-deb.pacscript
Labels: Package Add

#2932 upd(helix): `22.12` -> `23.03`
  packages/helix/helix.pacscript
Labels: Update Package

#2934 upd(mcontrolcenter-bin): `0.3.2` -> `0.4.0`
  packages/mcontrolcenter-bin/mcontrolcenter-bin.pacscript
Labels: Update Package

#2935 upd(aomp-deb): `16.0-3` -> `17.0-0`
  packages/aomp-deb/aomp-deb.pacscript
Labels: Update Package

#2936 upd(pap): `0.14.1` -> `0.14.3`
  packages/pap/pap.pacscript
Labels: Update Package

#2937 upd(rhino-core): set os-release in core
  packages/rhino-core/rhino-core.pacscript
Labels: Update Package

#2938 upd(rhino-pine-core): set os-release in pine-core
  packages/rhino-pine-core/rhino-pine-core.pacscript
Labels: Update Package

#2939 upd(tutanota-app): `3.106.4` -> `3.112.6`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#2940 upd(yt-dlp): `2023.02.17` -> `2023.03.04`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#2941 upd(harmonoid-deb): `0.3.6` -> `0.3.8`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#2942 upd(webcord-deb): `4.1.1` -> `4.2.0`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#2946 add: `enpass-deb`
  packagelist
  packages/enpass-deb/enpass-deb.pacscript
Labels: Package Add

#2948 upd(neovide-bin): `0.10.3` -> `0.10.4`
  packages/neovide-bin/neovide-bin.pacscript
Labels: Update Package

#2950 upd(brave-browser-nightly-deb): `1.52.25` -> `1.52.27`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2949 upd(chezmoi-deb): `2.31.1` -> `2.33.1`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2952 upd(pacup-bin): `1.0.3` -> `1.1.0`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#2954 upd(bazecor-app): `0.3.4` -> `1.0.0`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#2953 upd(pap): `0.14.3` -> `0.14.4`
  packages/pap/pap.pacscript
Labels: Update Package

#2956 fix(bazecor-app): add desktop file, no tmp file for udev
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Pacscript

#2957 upd(telegram-bin): `4.7.0` -> `4.7.1`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#2958 upd(dust-bin): `0.8.4` -> `0.8.5`
  packages/dust-bin/dust-bin.pacscript
Labels: Update Package

#2959 upd(oil): `0.14.1` -> `0.14.2`
  packages/oil/oil.pacscript
Labels: Update Package

#2963 upd(postman-bin): `10.11.1` -> `10.12.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#2965 upd(bitwig-studio-deb): `4.4.8` -> `4.4.10`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#2966 upd(brave-browser-beta-deb): `1.51.80` -> `1.51.84`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2964 upd(bitwarden-deb): `2023.3.1` -> `2023.3.2`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#2967 upd(brave-browser-nightly-deb): `1.52.27` -> `1.52.31`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2968 upd(balena-etcher-deb): `1.18.5` -> `1.18.6`
  packages/balena-etcher-deb/balena-etcher-deb.pacscript
Labels: Update Package

#2970 upd(discord-ptb-deb): `0.0.38` -> `0.0.41`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#2977 upd(gitkraken-deb): `9.1.1` -> `9.3.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#2971 upd(drawio-desktop-deb): `20.8.16` -> `21.1.2`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#2972 upd(electronmail-deb): `5.1.2` -> `5.1.7`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#2973 upd(git-credential-manager-core-deb): `2.0.785` -> `2.0.935`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Package

#2974 upd(gitfiend-deb): `0.38.3` -> `0.39.4`
  packages/gitfiend-deb/gitfiend-deb.pacscript
Labels: Update Package

#2976 upd(github-desktop-deb): `3.2.0` -> `3.2.1`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#2978 upd(glow-deb): `1.4.1` -> `1.5.0`
  packages/glow-deb/glow-deb.pacscript
Labels: Update Package

#2980 upd(heroic-games-launcher-deb): `2.6.2` -> `2.7.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#2982 upd(ivpn-ui-deb): `3.10.0` -> `3.10.14`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#2985 upd(microsoft-edge-dev-deb): `112.0.1698.0` -> `113.0.1774.3`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#2986 upd(microsoft-edge-stable-deb): `110.0.1587.50` -> `112.0.1722.34`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#2984 upd(microsoft-edge-beta-deb): `111.0.1661.15` -> `112.0.1722.33`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#2987 upd(mullvad-vpn-beta-deb): `2022.3-beta3` -> `2023.3`
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
Labels: Update Package

#2983 upd(mailspring-deb): `1.10.7` -> `1.10.8`
  packages/mailspring-deb/mailspring-deb.pacscript
Labels: Update Package

#2988 upd(onlyoffice-desktopeditors-deb): `7.3.0` -> `7.3.3`
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
Labels: Update Package

#2999 upd(nuclei-bin): `2.8.3` -> `2.9.1`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#3000 upd(nushell-bin): `0.77.1` -> `0.78.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#3001 upd(starship-bin): `1.12.0` -> `1.13.1`
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#2990 upd(vivaldi-deb): `5.7.2921.60` -> `5.7.2921.65`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#2989 upd(quarto-deb): `1.2.335` -> `1.2.475`
  packages/quarto-deb/quarto-deb.pacscript
Labels: Update Package

#2979 upd(google-earth-pro-stable-deb): `7.3.6.9285` -> `7.3.6.9345`
  packages/google-earth-pro-stable-deb/google-earth-pro-stable-deb.pacscript
Labels: Update Package

#2992 upd(anydesk-bin): `6.2.0` -> `6.2.1`
  packages/anydesk-bin/anydesk-bin.pacscript
Labels: Update Package

#2991 upd(windscribe-beta-gui-deb): `2.5.12` -> `2.6.14`
  packages/windscribe-beta-gui-deb/windscribe-beta-gui-deb.pacscript
Labels: Update Package

#3003 upd(brave-browser-nightly-deb): `1.52.31` -> `1.52.32`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3014 upd(tixati-deb): `3.12` -> `3.17`
  packages/tixati-deb/tixati-deb.pacscript
Labels: Update Package

#3013 upd(teamviewer-deb): `15.34.4` -> `15.40.9`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#3011 upd(slack-deb): `4.29.149` -> `4.31.156`
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#3008 upd(nordvpn-deb): `3.15.2` -> `3.16.1`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#3007 upd(librewolf-app): `110.0-2` -> `111.0-3`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#3006 upd(kirc): `0.3.1` -> `0.3.2`
  packages/kirc/kirc.pacscript
Labels: Update Package

#3005 upd(google-chrome-beta-deb): `111.0.5563.41` -> `113.0.5672.24`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#3004 upd(clib): `2.8.2` -> `2.8.3`
  packages/clib/clib.pacscript
Labels: Update Package

#3015 upd(torguard-deb): `4.8.15` -> `4.8.17`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#3010 upd(protonmail-bridge-deb): `3.0.19` -> `3.1.0`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#3009 upd(opera-developer-deb): `96.0.4640.0` -> `98.0.4756.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#3012 upd(sublime-merge-deb): `2077` -> `2085`
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
Labels: Update Package

#3016 upd(sublime-text-deb): `4137` -> `4147`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#3017 upd(spotify-client-deb): -> `1.1.84.716.gc5f8b819-2` -> `1.2.8.923.g4f94bf0d`
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#3018 upd(koodo-reader-deb): `1.5.2` -> `1.5.3`
  packages/koodo-reader-deb/koodo-reader-deb.pacscript
Labels: Update Package

#3019 upd(signal-desktop{,-beta}-deb): `{6.12.0,6.12.0-beta.1}` -> `{6.13.0,6.14.0-beta.1}`
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#3021 upd(wezterm-bin): `20230326-111934-3666303c` -> `20230408-112425-69ae8472`
  packages/wezterm-bin/wezterm-bin.pacscript
Labels: Update Package

#3025 upd(google-chrome-unstable-deb): `112.0.5596.2` -> `114.0.5696.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#3028 upd(timeshift): `22.06.1` -> `22.11.2`
  packages/timeshift/timeshift.pacscript
Labels: Update Package

#3023 upd(xfce4-deb): `4.16` -> `4.18`
  packages/xfce4-deb/xfce4-deb.pacscript
Labels: Update Package

#3034 upd(surfshark-gui-deb): `1.2.3-1239` -> `1.3.0-1616`
  packages/surfshark-gui-deb/surfshark-gui-deb.pacscript
Labels: Update Package

#3024 upd(google-chrome-deb): `110.0.5481.177` -> `112.0.5615.49`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#3026 upd(yandex-browser-stable-deb): `22.5.3.673-1` -> `23.3.1.912-1`
  packages/yandex-browser-stable-deb/yandex-browser-stable-deb.pacscript
Labels: Update Package

#3029 upd(opera-deb): `96.0.4693.31` -> `97.0.4719.63`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#3030 upd(opera-beta-deb): `94.0.4606.19` -> `98.0.4759.1`
  packages/opera-beta-deb/opera-beta-deb.pacscript
Labels: Update Package

#3031 upd(mullvad-vpn-deb): `2023.1` -> `2023.3`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#3035 upd(insync-deb): `3.8.4.50481` -> `3.8.5.50499`
  packages/insync-deb/insync-deb.pacscript
Labels: Update Package

#3038 upd(feroxbuster-bin): `2.7.1` -> `2.9.2`
  packages/feroxbuster-bin/feroxbuster-bin.pacscript
Labels: Update Package

#3032 upd(git): `2.37.1` -> `2.40.0`
  packages/git/git.pacscript
Labels: Update Package

#3036 upd(librewolf-deb): `108.0-1` -> `111.0.1-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#3040 upd(plexmediaserver-deb): `1.27.1.5916-6b0e31a64` -> `1.32.0.6918-6f393eda1`
  packages/plexmediaserver-deb/plexmediaserver-deb.pacscript
Labels: Update Package

#3042 upd(firefox-arm64-deb): `112.0+build1` -> `112.0+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#3043 fix(rhino-core): versioning
  packages/rhino-core/rhino-core.pacscript
Labels: Update Pacscript

#3044 fix(rhino-server-core): versioning
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Pacscript

#3045 fix(rhino-pine-core): versioning
  packages/rhino-pine-core/rhino-pine-core.pacscript
Labels: Update Pacscript

#3052 upd(teams-for-linux-deb): `1.0.58` -> `1.0.60`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3053 upd(realvnc-vnc-viewer-deb): `7.0.1` -> `7.1.0`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#3060 upd(brave-browser-beta-deb): `1.51.84` -> `1.51.88`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3059 upd(brave-browser-deb): `1.50.114` -> `1.50.119`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3061 upd(brave-browser-nightly-deb): `1.52.32` -> `1.52.46`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3055 upd(wezterm-app): `20230326-111934-3666303c` -> `20230408-112425-69ae8472`
  packages/wezterm-app/wezterm-app.pacscript
Labels: Update Package

#3063 fix(rhino-kvantum-theme-git): depend on kvantum
  packages/rhino-kvantum-theme-git/rhino-kvantum-theme-git.pacscript
Labels: Update Pacscript

#3067 upd(an-anime-game-launcher-bin): `3.4.0` -> `3.4.1`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#3068 feat: add broken package form
  .github/ISSUE_TEMPLATE/PACKAGE-BREAKAGE.yml
Labels: feature

#3069 upd(android-studio): `2022.1.1.21` -> `2022.3.1.11`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#3070 fix(*): add homepage to @Henryws packages
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  packages/discord-canary/discord-canary.pacscript
  packages/discord-deb/discord-deb.pacscript
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  packages/discord/discord.pacscript
  packages/element-desktop-deb/element-desktop-deb.pacscript
  packages/exa-git/exa-git.pacscript
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  packages/firefox-bin/firefox-bin.pacscript
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  packages/github-desktop-deb/github-desktop-deb.pacscript
  packages/harmonoid-deb/harmonoid-deb.pacscript
  packages/mangohud/mangohud.pacscript
  packages/neovim-app/neovim-app.pacscript
  packages/neovim-git/neovim-git.pacscript
  packages/neovim/neovim.pacscript
  packages/pipewire/pipewire.pacscript
  packages/shellcheck-bin/shellcheck-bin.pacscript
Labels: Update Pacscript

#3071 upd(mangohud): `0.6.8` -> `0.6.9`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#3073 upd(teams-for-linux-deb): `1.0.60` -> `1.0.65`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3075 upd(linux-okpine): `6.3.0-rc5` -> `6.3.0-rc7`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#3079 upd(an-anime-game-launcher-bin): `3.4.1` -> `3.5.2`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#3062 rm: `gtkmm4`
  packagelist
  packages/gtkmm4/gtkmm4.pacscript
Labels: remove package

#3080 upd(signal-desktop-beta-deb): `6.14.0-beta.1` -> `6.15.0-beta.1`
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
Labels: Update Package

#3083 fix(soundux): add `libappindicator3-dev`
  packages/soundux/soundux.pacscript
Labels: Update Pacscript

#3084 upd(pap): `0.14.4` -> `0.15.0`
  packages/pap/pap.pacscript
Labels: Update Package

#3088 upd(brave-browser-nightly-deb): `1.52.46` -> `1.52.60`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3090 upd(brave-browser-beta-deb): `1.51.88` -> `1.51.98`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3089 upd(brave-browser-deb): `1.50.119` -> `1.50.121`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3111 upd(element-desktop-deb): `1.11.28` -> `1.11.29`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#3112 upd(firefox-bin): `112.0` -> `112.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3114 upd(arduino-ide-bin): `2.0.4` -> `2.1.0`
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Package

#3115 upd(brave-browser-deb): `1.50.121` -> `1.50.125`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3119 add: `mymonero-app`
  packagelist
  packages/mymonero-app/mymonero-app.pacscript
Labels: Package Add

#3120 upd(tor): `0.4.7.7` -> `0.4.7.13`
  packages/tor/tor.pacscript
Labels: Update Package

#3121 upd(telegram-bin): `4.7.1` -> `4.8.0`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#3122 upd(feroxbuster-bin): `2.9.2` -> `2.9.4`
  packages/feroxbuster-bin/feroxbuster-bin.pacscript
Labels: Update Package

#3123 upd(chezmoi-deb): `2.33.1` -> `2.33.3`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package
