Repository pacstall/pacstall-programs, pull requests merged in 2023-05, with the labels that each got.

#3217 add: `blender-bin`
  packagelist
  packages/blender-bin/blender-bin.pacscript
Labels: Package Add

#3218 upd(element-desktop-deb): `1.11.29` -> `1.11.30`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#3219 upd(mangohud): `0.6.9` -> `0.6.9-1`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#3221 fix(anydesk-bin): properly install icons
  packages/anydesk-bin/anydesk-bin.pacscript
Labels: Update Pacscript

#3222 upd(teams-for-linux-deb): `1.0.71` -> `1.0.80`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3224 upd(dbeaver-ce-deb): `22.0.5` -> `23.0.3`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#3225 fix(anydesk-bin): properly install icons, part 2
  packages/anydesk-bin/anydesk-bin.pacscript
Labels: Update Pacscript

#3226 fix(rhino{-pine,-server}-core): set extra version
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Pacscript

#3227 upd(brave-browser-nightly-deb): `1.53.6` -> `1.53.17`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3228 upd(brave-browser-beta-deb): `1.52.79` -> `1.52.85`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3229 add: `xmind-vana-deb`
  packagelist
  packages/xmind-vana-deb/xmind-vana-deb.pacscript
Labels: Package Add

#3231 upd(teams-for-linux-deb): `1.0.80` -> `1.0.83`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3237 upd(brave-browser-beta-deb): `1.52.85` -> `1.52.86`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3238 upd(brave-browser-deb): `1.50.125` -> `1.51.110`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3239 upd(brave-browser-nightly-deb): `1.53.17` -> `1.53.19`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3242 upd(pycharm-community-bin): `2023.1` -> `2023.1.1`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#3248 upd(signal-desktop-deb): `6.13.0` -> `6.16.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#3279 upd(brave-browser-beta-deb): 1.52.86 -> 1.52.87
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3280 upd(brave-browser-nightly-deb): `1.53.19` -> `1.53.22`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3241 add: `clipboard-bin`
  packagelist
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Package Add

#3282 add: `rust-motd-deb`
  packagelist
  packages/rust-motd-deb/rust-motd-deb.pacscript
Labels: Package Add

#3283 fix(latte-dock-git): missing dependency
  packages/latte-dock-git/latte-dock-git.pacscript
Labels: Update Pacscript

#3285 upd(pomatez-deb): `1.2.2` -> `1.2.3`
  packages/pomatez-deb/pomatez-deb.pacscript
Labels: Update Package

#3291 fix(cmake-data-deb): name and hash changed
  packages/cmake-data-deb/cmake-data-deb.pacscript
Labels: Update Pacscript

#3290 add: `onnxruntime-gpu-bin`
  packagelist
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Package Add

#3292 fix(cmake-deb): name and hash changed
  packages/cmake-deb/cmake-deb.pacscript
Labels: Update Pacscript

#3296 fix(awesome-git): who allowed this?
  packages/awesome-git/awesome-git.pacscript
Labels: Update Pacscript

#3297 fix(bpytop-git): build_deps
  packages/bpytop-git/bpytop-git.pacscript
Labels: Update Pacscript

#3298 upd(dbeaver-ce-deb): `23.0.3` -> `23.0.4`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#3300 upd(topgrade-musl-bin): `10.3.3` -> `11.0.2`
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#3301 upd(linux-kernel): `6.3.0` -> `6.4-rc1`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#3302 upd(linux-kernel-stable): `6.2.12` -> `6.3.1`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#3303 upd(tabby-deb): `1.0.187` -> `1.0.197`
  packages/tabby-deb/tabby-deb.pacscript
Labels: Update Package

#3304 fix(onnxruntime-gpu-bin): correct library name
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Update Pacscript

#3308 upd(truckersmp-cli): `0.9.1.1` -> `0.10.0`
  packages/truckersmp-cli/truckersmp-cli.pacscript
Labels: Update Package

#3306 upd(obs-backgroundremoval): `0.5.16` -> `0.5.19`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#3307 fix(obs-backgroundremoval-git): update dependencies, shorter description
  packages/obs-backgroundremoval-git/obs-backgroundremoval-git.pacscript
Labels: Update Pacscript

#3310 add: `obs-backgroundremoval-deb`
  packagelist
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Package Add

#3323 upd(unicorn-desktop-git): new dotfiles
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Package

#3324 upd(brave-browser-beta-deb): `1.52.87` -> `1.52.91`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3325 upd(brave-browser-nightly-deb): `1.53.22` -> `1.53.27`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3330 fix(rhino-dotfiles): check for directory first
  packages/rhino-linux-xfce4-config-git/rhino-linux-xfce4-config-git.pacscript
  packages/rhino-xfce4-mobile-config-git/rhino-xfce4-mobile-config-git.pacscript
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3331 fix(rhino-dotfiles): `-p` flag
  packages/rhino-linux-xfce4-config-git/rhino-linux-xfce4-config-git.pacscript
  packages/rhino-xfce4-mobile-config-git/rhino-xfce4-mobile-config-git.pacscript
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3332 fix(rhino-pine-core): install order
  packages/rhino-pine-core/rhino-pine-core.pacscript
Labels: Update Pacscript

#3333 fix(unicorn-desktop-git): place icons correctly
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3344 upd(brave-browser-deb): `1.51.110` -> `1.51.114`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3343 upd(brave-browser-nightly-deb): `1.53.27` -> `1.53.28`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3345 upd(brave-browser-beta-deb): `1.52.91` -> `1.52.92`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3348 upd(obsidian-deb): `1.1.16` -> `1.2.8`
  packages/obsidian-deb/obsidian-deb.pacscript
Labels: Update Package

#3346 upd(firefox-bin): `112.0.2` -> `113.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3347 upd(opentoonz): `1.6.0` -> `1.7.0`
  packages/opentoonz/opentoonz.pacscript
Labels: Update Package

#3349 upd(ferdium-deb): `6.2.6` -> `6.2.7`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#3350 upd(teams-for-linux-deb): `1.0.83` -> `1.0.84`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3364 upd(brave-browser-beta-deb): `1.52.92` -> `1.52.93`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3367 upd(warpinator-deb): `1.2.4` -> `1.4.5+victoria`
  packages/warpinator-deb/warpinator-deb.pacscript
Labels: Update Package

#3368 upd(yabridge): `5.0.4` -> `5.0.5`
  packages/yabridge/yabridge.pacscript
Labels: Update Package

#3380 upd(tutanota-app): `3.112.6` -> `3.112.9`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#3383 upd(brave-browser-nightly-deb): `1.53.30` -> `1.53.34`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3384 upd(brave-browser-beta-deb): `1.52.93` -> `1.52.94`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3395 fix(unicorn-desktop-git): add applications
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3396 upd(firefox-arm64-deb): `113.0+build2` -> `113.0.1+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#3405 upd(firefox-bin): `113.0` -> `113.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3406 upd(brave-browser-beta-deb): `1.52.94` -> `1.52.95`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3407 upd(brave-browser-nightly-deb): `1.53.34` -> `1.53.37`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3408 fix(unicorn-desktop-git): place plank theme
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3409 fix(unicorn-desktop-git): add plank `.ini` file
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3415 upd(tidal-hifi-bin): `4.4.0` -> `5.1.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#3413 upd(librewolf-app): `111.0-3` -> `112.0.2-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#3411 upd(firefox-developer-edition-bin): `113.0b9` -> `114.0b3`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#3412 upd(nerd-fonts-cascadia-code): `2.3.3` -> `3.0.0`
  packages/nerd-fonts-cascadia-code/nerd-fonts-cascadia-code.pacscript
Labels: Update Package

#3416 upd(xmind-vana-deb): `22.11.3656-202301100025` -> `23.05.1745`
  packages/xmind-vana-deb/xmind-vana-deb.pacscript
Labels: Update Package

#3414 upd(thorium-deb): `111.0.5563.111` -> `112.0.5615.166`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#3419 fix(thorium-deb): bring back `arm64` variant
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Pacscript

#3421 upd(linux-kernel-stable): `6.3.1` -> `6.3.2`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#3422 add: `lightpad-git`
  packagelist
  packages/lightpad-git/lightpad-git.pacscript
Labels: Package Add

#3423 fix(unicorn-desktop-git): use lightpad instead of rofi
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3424 add: `goverlay`
  packagelist
  packages/goverlay/goverlay.pacscript
Labels: Package Add

#3425 upd(github-cli-deb): `2.27.0` -> `2.29.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#3426 upd(oil): `0.14.2` -> `0.15.0`
  packages/oil/oil.pacscript
Labels: Update Package

#3427 upd(github-cli-bin): `2.27.0` -> `2.29.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#3428 upd(rstudio-deb): `2023.03.0.386` -> `2023.03.1+446`
  packages/rstudio-deb/rstudio-deb.pacscript
Labels: Update Package

#3429 fix(u-boot-mobian-deb): keep `Pine` and `RPi` processes separate
  packages/u-boot-mobian-deb/u-boot-mobian-deb.pacscript
Labels: Update Pacscript

#3430 upd(rhino-setup-bin): `v1.3-beta2` -> `v1.3-beta5`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#3431 add: `papirus-folders`
  packagelist
  packages/papirus-folders/papirus-folders.pacscript
Labels: Package Add

#3435 fix(unicorn-desktop-git): move ulauncher from iso to pacscript
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3436 add: `unicorn-mobile-git`
  packagelist
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Package Add

#3437 fix(rhino-pine-core,-dots): replace `mobile dots` with `unicorn-mobile`
  packages/rhino-linux-xfce4-config-git/rhino-linux-xfce4-config-git.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-xfce4-mobile-config-git/rhino-xfce4-mobile-config-git.pacscript
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3438 fix(unicorn-mobile-git): add deps
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3439 fix(unicorn{-desktop,-mobile}-git): chown properly
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3440 fix(u-boot-mobian-deb): don't replace `flash-kernel`
  packages/u-boot-mobian-deb/u-boot-mobian-deb.pacscript
Labels: Update Pacscript

#3454 upd(brave-browser-nightly-deb): `1.53.37` -> `1.53.42`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3455 upd(brave-browser-beta-deb): `1.52.95` -> `1.52.99`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3457 upd(drawio-desktop-deb): `21.2.1` -> `21.2.8`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#3456 upd(teams-for-linux-deb): `1.0.84` -> `1.0.90`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3459 upd(ani-cli-bin): `4.2` -> `4.3`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#3461 upd(discord-canary): `0.0.151` -> `0.0.152`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3467 upd(brave-browser-nightly-deb): `1.53.42` -> `1.53.45`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3468 upd(brave-browser-beta-deb): `1.52.99` -> `1.52.101`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3469 upd(clipboard-bin): `0.7.0` -> `0.7.1`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#3470 upd(postman-bin): `10.13.0` -> `10.14.2`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#3475 fix(firefox-bin): use standard `firefox.deskop` name
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Pacscript

#3478 upd(bazecor-app): `1.0.0` -> `1.1.1`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#3479 fix(unicorn-mobile-git): workaround `xfce4-settings-pine`
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3480 upd(teams-for-linux-deb): `1.0.90` -> `1.0.92`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3481 upd(teamviewer-deb): `15.40.9` -> `15.41.10`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#3482 upd(brave-browser-nightly-deb): `1.53.45` -> `1.53.55`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3483 upd(discord-canary): `0.0.152` -> `0.0.153`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3484 upd(topgrade-bin): `10.3.3` -> `11.0.2`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#3485 upd(pacup): `1.2.0` -> `2.0.0`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#3486 add: `ticktick-deb`
  packagelist
  packages/ticktick-deb/ticktick-deb.pacscript
Labels: Package Add

#3487 upd(linux-kernel-stable): `6.3.2` -> `6.3.3`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#3489 upd(alacritty): `0.12.0` -> `0.12.1`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#3491 upd(element-desktop-deb): `1.11.30` -> `1.11.31`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#3512 upd(brave-browser-beta-deb): `1.52.101` -> `1.52.108`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3511 upd(brave-browser-nightly-deb): `1.53.55` -> `1.53.59`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3515 upd(brave-browser-nightly-deb): `1.53.59` -> `1.53.60`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3514 upd(youtube-music-deb): `1.19.0` -> `1.20.0`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#3518 upd(android-studio): `2022.3.1.11` -> `2023.1.1.4`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#3519 upd(docker-bin): `23.0.3` -> `24.0.1`
  packages/docker-bin/docker-bin.pacscript
Labels: Update Package

#3521 upd(aws-cli-v2-bin): `2.11.15` -> `2.11.21`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#3520 upd(discord-ptb-deb): `0.0.41` -> `0.0.42`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#3522 upd(balena-etcher-deb): `1.18.6` -> `1.18.8`
  packages/balena-etcher-deb/balena-etcher-deb.pacscript
Labels: Update Package

#3523 upd(caprine-deb): `2.57.1` -> `2.57.4`
  packages/caprine-deb/caprine-deb.pacscript
Labels: Update Package

#3524 upd(chezmoi-deb): `2.33.3` -> `2.33.6`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#3525 upd(dbeaver-ce-deb): `23.0.4` -> `23.0.5`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#3526 upd(dust-bin): `0.8.5` -> `0.8.6`
  packages/dust-bin/dust-bin.pacscript
Labels: Update Package

#3527 upd(feroxbuster-bin): `2.9.4` -> `2.10.0`
  packages/feroxbuster-bin/feroxbuster-bin.pacscript
Labels: Update Package

#3528 upd(firefox-developer-edition-bin): `114.0b3` -> `114.0b5`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#3531 upd(google-chrome-beta-deb): `113.0.5672.24` -> `114.0.5735.35`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#3529 upd(git-credential-manager-core-deb): `2.0.935` -> `2.1.2`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Package

#3530 upd(gitkraken-deb): `9.3.0` -> `9.4.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#3532 upd(google-chrome-unstable-deb): `114.0.5720.4` -> `115.0.5773.4`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#3533 upd(helix): `23.03` -> `23.05`
  packages/helix/helix.pacscript
Labels: Update Package

#3534 upd(heroic-games-launcher-deb): `2.7.0` -> `2.7.1`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#3535 upd(insync-deb): `3.8.5.50499` -> `3.8.6.50504`
  packages/insync-deb/insync-deb.pacscript
Labels: Update Package

#3536 upd(ivpn-deb): `3.10.14` -> `3.10.23`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#3537 upd(ivpn-ui-deb): `3.10.14` -> `3.10.23`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#3539 upd(librewolf-app): `112.0.2-1` -> `113.0-3`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#3540 upd(linked-deb): `1.4.13` -> `1.5.1`
  packages/linked-deb/linked-deb.pacscript
Labels: Update Package

#3541 upd(lutris-deb): `0.5.12` -> `0.5.13`
  packages/lutris-deb/lutris-deb.pacscript
Labels: Update Package

#3543 upd(microsoft-edge-dev-deb): `114.0.1793.0` -> `115.0.1851.0`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#3548 upd(nushell-bin): `0.79.0` -> `0.80.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#3547 upd(nuclei-bin): `2.9.2` -> `2.9.4`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#3545 upd(nerd-fonts-cascadia-code): `3.0.0` -> `3.0.1`
  packages/nerd-fonts-cascadia-code/nerd-fonts-cascadia-code.pacscript
Labels: Update Package

#3546 upd(nordvpn-deb): `3.16.1` -> `3.16.2`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#3544 upd(microsoft-edge-stable-deb): `112.0.1722.58` -> `113.0.1774.50`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#3550 upd(vscodium-deb): `1.77.0.23093` -> `1.78.2.23132`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#3549 upd(armcord-deb): `3.1.7` -> `3.2.0`
  packages/armcord-deb/armcord-deb.pacscript
Labels: Update Package

#3538 upd(lf-bin): `28` -> `30`
  packages/lf-bin/lf-bin.pacscript
Labels: Update Package

#3551 upd(opentoonz): `1.7.0` -> `1.7.1`
  packages/opentoonz/opentoonz.pacscript
Labels: Update Package
