Repository pacstall/pacstall-programs, pull requests merged in 2023-06, with the labels that each got.

#3606 upd(discord-canary): `0.0.155` -> `0.0.156`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3617 upd(onnxruntime-bin): `1.14.1` -> `1.15.0`
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
Labels: Update Package

#3624 upd(neovim{-app}): `0.9.0` -> `0.9.1`
  packages/neovim-app/neovim-app.pacscript
  packages/neovim/neovim.pacscript
Labels: Update Package

#3626 upd(onnxruntime-gpu-bin): `1.14.0` -> `1.15.0`
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Update Package

#3625 upd(signal-desktop-deb): `6.16.0` -> `6.20.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#3627 fix(unicorn-desktop-git): include pulse dependencies
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3628 fix(unicorn-desktop-git): include power manager
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#3629 upd(ticktick-deb): `1.0.60` -> `1.0.70`
  packages/ticktick-deb/ticktick-deb.pacscript
Labels: Update Package

#3632 upd(obs-backgroundremoval-deb): `0.5.19` -> `1.0.0`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#3633 upd(linux-kernel{-okpine}): `6.4{.0}-rc4` -> `6.4{.0}-rc5`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#3643 upd(rhino{-pine,-server}-core}): `2023.1-beta5-0` -> `2023.1-beta5-1`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#3645 upd(brave-browser-beta-deb): `1.53.66` -> `1.53.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3646 upd(brave-browser-nightly-deb): `1.54.8` -> `1.54.36`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3644 upd(ani-cli-bin): `4.3` -> `4.4`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#3650 upd(realvnc-vnc-viewer-deb): `7.1.0` -> `7.5.0`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#3651 upd(obs-backgroundremoval): `0.5.19` -> `1.0.0`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#3652 upd(rhino-setup-bin): `v1.3-beta2` -> `v1.4-beta5`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#3653 upd(firefox-bin): `113.0.1` -> `114.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3655 upd(brave-browser-nightly-deb): `1.54.36` -> `1.54.38`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3656 upd(discord-canary): `0.0.156` -> `0.0.157`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3659 upd(dbeaver-ce-deb): `23.0.5` -> `23.1.0`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#3658 fix(vscode-deb): add arm architecture
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Pacscript

#3661 add: `schildichat-deb`
  packagelist
  packages/schildichat-deb/schildichat-deb.pacscript
Labels: Package Add

#3660 add: `foliate-deb`
  packagelist
  packages/foliate-deb/foliate-deb.pacscript
Labels: Package Add

#3665 upd(teams-for-linux-deb): `1.1.1` -> `1.1.2`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3669 upd(google-chrome-unstable-deb): `115.0.5773.4` -> `116.0.5803.2`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#3667 upd(google-chrome-deb): `114.0.5735.90` -> `114.0.5735.106`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#3675 upd(unicorn-desktop-git): package xsession
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Package

#3681 upd(brave-browser-nightly-deb): `1.54.38` -> `1.54.45`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3666 ci: use updated jitterbit repo with `set-output` deprecation gone
  .github/workflows/tests.yml
Labels: CI

#3682 add: `libspa-codec-bluez5-aac-bin`
  packagelist
  packages/libspa-codec-bluez5-aac-bin/libspa-codec-bluez5-aac-bin.pacscript
Labels: Package Add

#3687 upd(oil): `0.15.0` -> `0.16.0`
  packages/oil/oil.pacscript
Labels: Update Package

#3685 fix(brave-browser-deb): `1.51.118` -> `1.52.122`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Pacscript

#3686 upd(hyperfine-bin): `1.16.1` -> `1.17.0`
  packages/hyperfine-bin/hyperfine-bin.pacscript
Labels: Update Package

#3688 upd(go-bin): `1.20.4` -> `1.20.5`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#3690 upd(vscode-deb): `1.78.2` -> `1.79.0`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#3739 upd(element-desktop-deb): `1.11.31` -> `1.11.33`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#3740 upd(bitwarden-cli-bin): `2023.4.0` -> `2023.5.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#3741 upd(brave-browser-nightly-deb): `1.54.45` -> `1.54.49`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3742 upd(firefox-bin): `114.0` -> `114.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3744 upd(realvnc-vnc-viewer-deb): `7.5.0` -> `7.5.1`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#3745 upd(discord-canary): `0.0.157` -> `0.0.158`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3747 upd(nushell-bin): `0.80.0` -> `0.81.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#3746 upd(protonmail-bridge-deb): `3.1.3` -> `3.2.0`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#3748 upd(yad): `12.3` -> `13.0`
  packages/yad/yad.pacscript
Labels: Update Package

#3749 add: `cheat`
  packagelist
  packages/cheat/cheat.pacscript
Labels: Package Add

#3752 upd(ferdium-deb): `6.2.7` -> `6.3.0`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#3754 upd(rstudio-deb): `2023.03.1+446` -> `2023.06.0.421`
  packages/rstudio-deb/rstudio-deb.pacscript
Labels: Update Package

#3755 upd(xapps-common-deb): `2.4.2` -> `2.6.1`
  packages/xapps-common-deb/xapps-common-deb.pacscript
Labels: Update Package

#3756 upd(libxapp1-deb): `2.4.2` -> `2.6.1`
  packages/libxapp1-deb/libxapp1-deb.pacscript
Labels: Update Package

#3757 upd(gir1.2-xapp-1.0-deb): `2.4.2` -> `2.6.1`
  packages/gir1.2-xapp-1.0-deb/gir1.2-xapp-1.0-deb.pacscript
Labels: Update Package

#3758 upd(webapp-manager): `1.2.8` -> `1.3.0`
  packages/webapp-manager/webapp-manager.pacscript
Labels: Update Package

#3753 upd(hypnotix-deb): `3.2` -> `3.4`
  packages/hypnotix-deb/hypnotix-deb.pacscript
Labels: Update Package

#3761 upd(signal-desktop-deb): `6.20.0` -> `6.20.2`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#3771 upd(pulsar-deb): `1.63` -> `1.105.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#3770 upd(wazzapp-deb): `0.3.8` -> `0.4.2`
  packages/wazzapp-deb/wazzapp-deb.pacscript
Labels: Update Package

#3782 upd(brave-browser-nightly-deb): `1.54.49` -> `1.54.54`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3781 upd(brave-browser-beta-deb): `1.53.77` -> `1.53.91`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3783 upd(libicu-deb): `71.1` -> `72.1`
  packagelist
  packages/libicu-deb/libicu-deb.pacscript
  packages/libicu71-deb/libicu71-deb.pacscript
Labels: Update Package

#3784 upd(python3-imdbpy-deb): `6.8` -> `2021.04.18`
  packages/python3-imdbpy-deb/python3-imdbpy-deb.pacscript
Labels: Update Package

#3785 fix(fsearch-deb): new urls and hashes
  packages/fsearch-deb/fsearch-deb.pacscript
Labels: Update Pacscript

#3791 upd(vscode-deb) `1.79.0` -> `1.79.1`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#3794 fix(apx-git): new path in default config
  packages/apx-git/apx-git.pacscript
Labels: Update Pacscript

#3795 upd(rhino{-pine,-server}-core): `2023.1-beta5-1` -> `2023.1-beta5-2`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#3796 upd(vscode-deb): `1.79.1` -> `1.79.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#3797 add: `vscode-insiders-deb`
  packagelist
  packages/vscode-insiders-deb/vscode-insiders-deb.pacscript
Labels: Package Add

#3799 upd(gfn-electron-bin): `1.10.0` -> `1.11.0`
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
Labels: Update Package

#3801 fix(cheat): add hash variable
  packages/cheat/cheat.pacscript
Labels: Update Pacscript

#3802 add: `megasync-deb`
  packagelist
  packages/megasync-deb/megasync-deb.pacscript
Labels: Package Add

#3806 upd(discord-canary): `0.0.159` -> `0.0.160`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3807 add: `f1multiviewer-deb`
  packagelist
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Package Add

#3808 upd(clipboard-bin): `0.7.1` -> `0.8.0`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#3810 upd(an-anime-game-launcher-bin): `3.7.0` -> `3.7.4`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#3812 add: `warp`
  packagelist
  packages/warp/warp.pacscript
Labels: Package Add

#3813 upd(linux-okpine): `6.4.0-rc5` -> `6.4.0-rc7`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#3809 upd(telegram-bin): `4.8.1` -> `4.8.4`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#3814 upd(onefetch-bin): `2.12.0` -> `2.18.0`
  packages/onefetch-bin/onefetch-bin.pacscript
Labels: Update Package

#3815 upd(discord-canary): `0.0.160` -> `0.0.161`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3817 upd(brave-browser-nightly-deb): `1.54.54` -> `1.55.1`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3819 upd(brave-browser-beta-deb): `1.53.91` -> `1.53.100`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3818 upd(brave-browser-deb): `1.52.122` -> `1.52.126`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3820 upd(rhino-setup-bin): `v1.4-beta5` -> `v1.4-beta6`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#3821 add: `rhino-system-git`
  packagelist
  packages/rhino-system-git/rhino-system-git.pacscript
Labels: Package Add

#3823 upd(firefox-arm64-deb): `114.0.1+build1` -> `114.0.2+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#3750 add: `whatsie`
  packagelist
  packages/whatsie/whatsie.pacscript
Labels: Package Add

#3825 upd(brave-browser-nightly-deb): `1.55.1` -> `1.55.4`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3824 upd(brave-browser-beta-deb): `1.53.100` -> `1.54.76`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3826 upd(brave-browser-nightly-deb): `1.55.4` -> `1.55.10`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3827 upd(brave-browser-beta-deb): `1.54.76` -> `1.54.77`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3743 add: `whatsie-git`
  packagelist
  packages/whatsie-git/whatsie-git.pacscript
Labels: Package Add

#3839 upd(postman-bin): `10.14.2` -> `10.15.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#3838 add: linux{-headers,-image}-rockchip-deb
  packagelist
  packages/linux-headers-rockchip-deb/linux-headers-rockchip-deb.pacscript
  packages/linux-image-rockchip-deb/linux-image-rockchip-deb.pacscript
Labels: Package Add

#3840 upd(linux-kernel-okpine): `6.4.0-rc7` -> `6.4.0`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#3843 rm: `nyxt-deb`
  packagelist
  packages/nyxt-deb/nyxt-deb.pacscript
Labels: remove package

#3850 upd(pulsar-deb): `1.105.0` -> `1.106.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#3847 upd(topgrade-bin): `11.0.2` -> `12.0.0`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#3851 upd(obs-backgroundremoval-deb): `1.0.1` -> `1.0.3`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#3852 upd(linux-kernel-stable): `6.3.4` -> `6.3.9`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#3855 add: `cider-deb`
  packagelist
  packages/cider-deb/cider-deb.pacscript
Labels: Package Add

#3856 upd(blender-bin): `3.5.1` -> `3.6.0`
  packages/blender-bin/blender-bin.pacscript
Labels: Update Package

#3858 upd(brave-browser-beta-deb): `1.54.77` -> `1.54.82`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3857 upd(brave-browser-nightly-deb): `1.55.10` -> `1.55.18`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3862 upd(insomnia-deb): `2023.2.2` -> `2023.3.0`
  packages/insomnia-deb/insomnia-deb.pacscript
Labels: Update Package

#3864 add: `mobile-usb-networking`
  packagelist
  packages/mobile-usb-networking-deb/mobile-usb-networking-deb.pacscript
Labels: Package Add

#3866 add: `ananicy-cpp`
  packagelist
  packages/ananicy-cpp/ananicy-cpp.pacscript
Labels: Package Add

#3867 upd(brave-browser-deb): `1.52.126` -> `1.52.129`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3869 upd(teams-for-linux-deb): `1.1.6` -> `1.1.8`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3871 upd(bazecor-app): `1.1.2` -> `1.2.0`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#3872 upd(firefox-arm64-deb): `114.0.2+build1` -> `115.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#3822 docs: add `LICENSE`
  LICENSE
  README.md
Labels: documentation

#3865 upd(rhino{-pine,-server,}-core): `2023.1-beta5-2` -> `2023.1-beta6-0`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package
