Repository pacstall/pacstall-programs, pull requests merged in 2023-02, with the labels that each got.

#2337 upd(drawio-desktop-deb): `20.7.4` -> `20.8.10`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#2339 upd(realvnc-vnc-viewer-deb): `6.22.826` -> `7.0.0`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#2341 upd(bitwarden-deb): `2022.12.0` -> `2023.1.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#2342 upd(heroic-games-launcher-deb): `2.5.2` -> `2.6.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#2347 add: `rhino-setup-git`
  packagelist
  packages/rhino-setup-git/rhino-setup-git.pacscript
Labels: Package Add

#2349 upd(brave-browser-nightly-deb): `1.49.64` -> `1.50.9`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2351 add: `rhino-pkg-git`
  packagelist
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
Labels: Package Add

#2352 upd(vscodium-deb): `1.71.2` -> `1.75.0.23033`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#2353 upd(github-cli-bin): `2.21.1` -> `2.22.1`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#2354 add: `rhino-neofetch-git`
  packagelist
  packages/rhino-neofetch-git/rhino-neofetch-git.pacscript
Labels: Package Add

#2357 upd(discord-canary): `0.0.146` -> `0.0.147`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#2358 upd(realvnc-vnc-viewer-deb): `7.0.0` -> `7.0.1`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#2370 upd(discord-canary): `0.0.147` -> `0.0.148`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#2374 upd(heroic-games-launcher-deb): `2.6.0` -> `2.6.2`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#2375 upd(postman-bin): `10.8.0` -> `10.9.4`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#2379 upd(linux-kernel): `6.1.8` -> `6.2.0-rc8`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#2380 add: `linux-kernel-arm64`
  packagelist
  packages/linux-headers-generic-arm64-deb/linux-headers-generic-arm64-deb.pacscript
  packages/linux-image-unsigned-arm64-deb/linux-image-unsigned-arm64-deb.pacscript
  packages/linux-kernel-arm64/linux-kernel-arm64.pacscript
  packages/linux-modules-arm64-deb/linux-modules-arm64-deb.pacscript
Labels: Package Add

#2382 upd(brave-browser-nightly-deb): `1.50.9` -> `1.50.25`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2387 upd(drawio-desktop-deb): `20.8.10` -> `20.8.16`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#2392 upd(arduino-ide-bin): `0.29.0` -> `0.30.0`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#2393 upd(topgrade-bin): `10.2.4` -> `10.3.1`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#2394 upd(1password-cli-bin): `2.12.0` -> `2.13.1`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#2395 upd(brave-browser-nightly-deb): `1.50.25` -> `1.50.33`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2396 add: `armcord-arm64-deb`
  packagelist
  packages/armcord-arm64-deb/armcord-arm64-deb.pacscript
Labels: Package Add

#2187 upd(hypnotix-deb): `3.1` -> `3.2`
  packages/hypnotix-deb/hypnotix-deb.pacscript
Labels: Update Package

#2398 add: `firefox-arm64-bin`
  packagelist
  packages/firefox-arm64-bin/firefox-arm64-bin.pacscript
Labels: Package Add

#2400 upd(firefox-arm64-bin): `109.0` -> `110.0`
  packages/firefox-arm64-bin/firefox-arm64-bin.pacscript
Labels: Update Package

#2406 upd(pipewire): `0.3.60` -> `0.3.65`
  packages/pipewire/pipewire.pacscript
Labels: Update Package

#2407 upd(go-bin): `1.19.4` -> `1.20.1`
  packages/go-bin/go-bin.pacscript
Labels: Update Package

#2457 upd(brave-browser-deb): `1.47.186` -> `1.48.164`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2459 upd(firefox-bin): `109.0` -> `110.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#2458 upd(neovim): `0.8.2` -> `0.8.3`
  packages/neovim/neovim.pacscript
Labels: Update Package

#2470 upd(oil): `0.14.0` -> `0.14.1`
  packages/oil/oil.pacscript
Labels: Update Package

#2471 upd(opera-deb): `94.0.4606.38` -> `95.0.4635.46`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#2472 upd(nushell-bin): `0.74.0` -> `0.75.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#2473 upd(chezmoi-deb): `2.29.4` -> `2.31.0`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2477 upd(fnlfmt): `0.2.3` -> `0.3.0`
  packages/fnlfmt/fnlfmt.pacscript
Labels: Update Package

#2474 upd(dust-bin): `0.8.3` -> `0.8.4`
  packages/dust-bin/dust-bin.pacscript
Labels: Update Package

#2476 upd(fennel): `1.2.1` -> `1.3.0`
  packages/fennel/fennel.pacscript
Labels: Update Package

#2475 upd(fennel-bin): `1.2.1` -> `1.3.0`
  packages/fennel-bin/fennel-bin.pacscript
Labels: Update Package

#2479 add: `muse-hub`
  packagelist
  packages/muse-hub-deb/muse-hub-deb.pacscript
Labels: Package Add

#2480 upd(github-desktop-deb): `3.1.1` -> `3.1.7`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#2481 upd(ani-cli-bin): `4.0` -> `4.1`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#2482 upd(brave-browser-nightly-deb): `1.50.33` -> `1.50.47`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2486 add: `libssl1.1-deb`
  packagelist
  packages/libssl1.1-deb/libssl1.1-deb.pacscript
Labels: Package Add

#2490 upd(vscodium-deb): `1.75.0.23033` -> `1.75.1.23040`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#2491 upd(an-anime-game-launcher-app): `2.4.3` -> `2.4.4`
  packages/an-anime-game-launcher-app/an-anime-game-launcher-app.pacscript
Labels: Update Package

#2493 add: `powertop-git`
  packagelist
  packages/powertop-git/powertop-git.pacscript
Labels: Package Add

#2518 upd(brave-browser-nightly-deb): `1.50.47` -> `1.50.51`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2519 upd(upscayl-app): `1.5.0` -> `2.0.1`
  packages/upscayl-app/upscayl-app.pacscript
Labels: Update Package

#2520 upd(librewolf-app): `109.0` -> `110.0-2`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#2521 upd(yt-dlp): `2022.11.11` -> `2023.02.17` (#2521
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#2522 upd(linux-kernel): `6.2.0-rc8` -> `6.2`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-arm64-deb/linux-headers-generic-arm64-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-arm64-deb/linux-image-unsigned-arm64-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel-arm64/linux-kernel-arm64.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-arm64-deb/linux-modules-arm64-deb.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#2527 upd(dotdrop): `1.12.3` -> `1.12.11`
  packages/dotdrop/dotdrop.pacscript
Labels: Update Package

#2530 upd(harmonoid-deb): `0.3.5` -> `0.3.6`
  packages/harmonoid-deb/harmonoid-deb.pacscript
Labels: Update Package

#2531 upd(brave-browser-deb): `1.48.164` -> `1.48.171`
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/brave-keyring-deb/brave-keyring-deb.pacscript
Labels: Update Package

#2532 upd(brave-browser-beta-deb): `1.48.139` -> `1.49.108`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2537 add: `thorium-deb`
  packagelist
  packages/thorium-deb/thorium-deb.pacscript
Labels: Package Add

#2538 add: `thorium-arm64-deb`
  packagelist
  packages/thorium-arm64-deb/thorium-arm64-deb.pacscript
Labels: Package Add

#2541 upd(rhino-linux-xfce4-config-git): install all backgrounds
  packages/rhino-linux-xfce4-config-git/rhino-linux-xfce4-config-git.pacscript
Labels: Update Package

#2542 upd(bitwarden-deb): `2023.1.1` -> `2023.2.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#2543 upd(nano): `6.3` -> `7.2`
  packages/nano/nano.pacscript
Labels: Update Package

#2544 upd(bitwarden-cli-bin): `2022.11.0` -> `2023.2.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#2545 upd(firefox-developer-edition-bin): `106.0b9` -> `111.0b5`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#2547 upd(protonmail-bridge-deb): `2.3.0` -> `3.0.18`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#2548 upd(postman-bin): `10.9.4` -> `10.10.3`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#2546 upd(mullvad-vpn-deb): `2022.2` -> `2023.1`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#2549 upd(nerd-fonts-cascadia-code): `2.2.2` -> `2.3.3`
  packages/nerd-fonts-cascadia-code/nerd-fonts-cascadia-code.pacscript
Labels: Update Package

#2551 style: rerun shfmt on all pacscripts
  packages/firefox-arm64-bin/firefox-arm64-bin.pacscript
  packages/mcontrolcenter-bin/mcontrolcenter-bin.pacscript
Labels: cleanup, chore

#2552 upd(pacup-bin): `1.0.2` -> `1.0.3`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#2553 chore(bw,discord,element): change maintainer
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  packages/bitwarden-deb/bitwarden-deb.pacscript
  packages/discord/discord.pacscript
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package, Update Pacscript

#2556 ci: use pushd/popd
  .github/workflows/tests.yml
Labels: CI

#2555 upd: google-chrome-*
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
  packages/google-chrome-deb/google-chrome-deb.pacscript
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#2558 upd: microsoft-edge-*
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#2562 upd(nala-deb): `0.12.1` -> `0.12.3`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#2561 upd(armcord-arm64-deb): `3.1.4` -> `3.1.6`
  packages/armcord-arm64-deb/armcord-arm64-deb.pacscript
Labels: Update Package

#2564 add: `spot-client-git`
  packagelist
  packages/spot-client-git/spot-client-git.pacscript
Labels: Package Add

#2566 upd(zotero): `6.0.20` -> `6.0.22`
  packages/zotero/zotero.pacscript
Labels: Update Package

#2567 fix(rhino-pkg-git): add `rpk` symlink
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
Labels: Update Pacscript
