Repository pacstall/pacstall-programs, pull requests merged in 2023-12, with the labels that each got.

#4972 upd(go-task-deb): `3.31.0` -> `3.32.0`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#4971 upd(discord-canary): `0.0.196` -> `0.0.203`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4975 upd(mold-bin): `2.3.3` -> `2.4.0`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4979 upd(firefox-arm64-deb): `120.0+build2` -> `120.0.1+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4976 upd(firefox-bin): `120.0` -> `120.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4977 upd(discord-deb): `0.0.35` -> `0.0.36`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#4978 upd(discord): `0.0.35` -> `0.0.36`
  packages/discord/discord.pacscript
Labels: Update Package

#4980 upd(opera-deb): `104.0.4944.54` -> `105.0.4970.29`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#4981 upd(vscode-deb): `1.80.1` -> `1.84.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#4984 upd(discord-canary): `0.0.203` -> `0.0.205`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4985 upd(eza-git): `0.16.1` -> `0.16.2`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4988 upd(papirus-icon-theme): `20230104` -> `20231201`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#4987 upd(zoom-deb): `5.16.5.303` -> `5.16.10.668`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#4986 upd(tailscale): `1.54.0` -> `1.54.1`
  packages/tailscale/tailscale.pacscript
Labels: Update Package

#4993 upd(linux-kernel-stable): `6.6` -> `6.6.4`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4994 upd(linux-kernel): `6.7-rc2` -> `6.7-rc4`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4996 upd(youtube-music-deb): `2.2.0` -> `3.0.2`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5001 upd(discord-canary): `0.0.205` -> `0.0.208`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5002 add: `libdrm`
  packagelist
  packages/libdrm/libdrm.pacscript
Labels: Package Add

#5003 upd(hyprland): `0.32.3` -> `0.33.0`
  packages/hyprland/hyprland.pacscript
  packages/xdg-desktop-portal-hyprland/xdg-desktop-portal-hyprland.pacscript
Labels: Update Package

#5005 upd(discord-canary): `0.0.208` -> `0.0.210`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5012 upd(eza-git): `0.16.2` -> `0.16.3`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5014 upd(discord-canary): `0.0.210` -> `0.0.212`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5015 upd(vscode-deb): `1.84.2` -> `1.85.0`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#5016 upd(discord-canary): `0.0.212` -> `0.0.213`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5017 add: `nu-tongues-bin`
  packagelist
  packages/nu-tongues-bin/nu-tongues-bin.pacscript
Labels: Package Add

#5008 add: `kakoune`
  packagelist
  packages/kakoune/kakoune.pacscript
Labels: Package Add

#5018 upd(brave-browser-nightly-deb): `1.62.87` -> `1.63.28`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5019 upd(brave-browser-deb): `1.60.118` -> `1.61.101`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5020 upd(brave-browser-beta-deb): `1.61.91` -> `1.62.100`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#5021 upd(youtube-music-deb): `3.0.2` -> `3.1.0`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5007 add: `scrcpy`
  packagelist
  packages/scrcpy/scrcpy.pacscript
Labels: Package Add

#5006 add: `aseprite`
  packagelist
  packages/aseprite/aseprite.pacscript
Labels: Package Add

#5023 upd(onnxruntime-bin): `1.16.1` -> `1.16.3`
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
Labels: Update Package

#5024 upd(onnxruntime-gpu-bin): `1.16.1` -> `1.16.3`
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Update Package

#5025 upd(pomatez-deb): `1.3.1` -> `1.6.1`
  packages/pomatez-deb/pomatez-deb.pacscript
Labels: Update Package

#5026 fix(meson-focal-deb): use `compatible` array
  packages/meson-focal-deb/meson-focal-deb.pacscript
Labels: Update Pacscript

#5028 upd(linux-kernel-stable): `6.6.4` -> `6.6.6`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5029 upd(linux-kernel): `6.7-rc4` -> `6.7-rc5`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5030 upd(linux-okpine): `6.7.0-rc4` -> `6.7.0-rc5`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#5031 upd(rhino*core): `2023.3` -> `2023.4~RC`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#5032 upd(teams-for-linux-deb): `1.3.22` -> `1.3.23`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#5033 upd(discord-canary): `0.0.213` -> `0.0.218`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5034 fix(rhino*core): make `cd -` quiet
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#5040 upd(eza-git): `0.16.3` -> `0.17.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5037 upd(discord-canary): `0.0.218` -> `0.0.219`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5036 upd(f1multiviewer-bin): `1.28.3` -> `1.29.0`
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Update Package

#5041 upd(android-studio-canary): `2023.1.1.22` -> `2023.1.1.26`
  packages/android-studio-canary/android-studio-canary.pacscript
Labels: Update Package

#5038 upd(tailscale): `1.54.1` -> `1.56.0`
  packages/tailscale/tailscale.pacscript
Labels: Update Package

#5043 upd(linux-kernel-stable): `6.6.6` -> `6.6.7`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5042 upd(discord-canary): `0.0.219` -> `0.0.224`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5046 fix(rhino*core, unicorn*git): add `priority` flags
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#5045 upd(tailscale) -> `1.56.0` -> `1.56.1`
  packages/tailscale/tailscale.pacscript
Labels: Update Package

#5047 upd(firefox-arm64-deb): `120.0.1+build1` -> `121.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5048 upd(cortile-bin): `2.3.0` -> `2.3.1`
  packages/cortile-bin/cortile-bin.pacscript
Labels: Update Package

#5049 upd(discord-canary): `0.0.224` -> `0.0.225`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5050 upd(gitkraken-deb): `9.10.0` -> `9.11.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#5053 upd(zoom-deb): `5.16.10.668` -> `5.17.0.1682`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#5057 upd(discord-deb) `0.0.36` -> `0.0.38`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5054 upd(youtube-music-deb): `3.1.0` -> `3.1.1`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5056 fix(arduino-ide-bin): Update serial interface command
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Pacscript

#5062 upd(rhino*core): `2023.4~RC` -> `2023.4`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#5063 upd(bazecor-app): 1.3.6 -> 1.3.8
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#5059 upd(lsd-deb): `0.20.1` -> `1.0.0`
  packages/lsd-deb/lsd-deb.pacscript
Labels: Update Package

#5064 upd(discord-canary): `0.0.227` -> `0.0.230`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5065 upd(firefox-bin): `120.0.1` -> `121.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5066 upd(librewolf-app): `119.0.1-1` -> `120.0.1-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#5068 fix(librewolf-app): fix package on `arm64`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Pacscript

#5067 upd(discord-canary): `0.0.230` -> `0.0.231`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5070 upd(go-task-deb): `3.32.0` -> `3.33.0`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5069 add: `floorp-bin`
  packagelist
  packages/floorp-bin/floorp-bin.pacscript
Labels: Package Add

#5071 fix(floorp-bin): move the `if` into the `if`
  packages/floorp-bin/floorp-bin.pacscript
Labels: Update Pacscript

#5061 add: `megabasterd-bin`
  packagelist
  packages/megabasterd-bin/megabasterd-bin.pacscript
Labels: Package Add

#5073 upd(obs-backgroundremoval-deb): `1.1.7` -> `1.1.8`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#5074 upd(go-task-deb): `3.33.0` -> `3.33.1`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5077 upd(brave-browser-deb): `1.61.101` -> `1.61.109`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5078 upd(brave-browser-nightly-deb): `1.63.28` -> `1.63.63`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5079 upd(brave-browser-beta-deb): `1.62.100` -> `1.62.117`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#5076 upd(lunacy-deb): `9.2.1` -> `9.3.1`
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Update Package

#5080 upd(ferdium-deb): `6.6.0` -> `6.7.0`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#5075 upd(obs-backgroundremoval): `1.1.7` -> `1.1.8`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#5081 fix(obs-backgroundremoval-git): jammy not supported for building anymore
  packages/obs-backgroundremoval-git/obs-backgroundremoval-git.pacscript
Labels: Update Pacscript

#5083 upd(linux-kernel): `6.7-rc5` -> `6.7-rc6`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5085 add: `raspi-config-deb`
  packagelist
  packages/raspi-config-deb/raspi-config-deb.pacscript
Labels: Package Add

#5084 add: `gldriver-test-deb`
  packagelist
  packages/gldriver-test-deb/gldriver-test-deb.pacscript
Labels: Package Add

#5086 fix(librewolf-app): check if `~/.librewolf` exists before attempting to delete it
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Pacscript

#5087 upd(1password-cli-bin): `2.22.0` -> `2.24.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#5088 upd(android-studio): `2022.3.1.21` -> `2023.1.1.26`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#5089 upd(aws-cli-v2-bin): `2.13.34` -> `2.15.4`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#5090 upd(bitwarden-deb): `2023.10.1` -> `2023.12.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#5091 upd(chezmoi-deb): `2.40.4` -> `2.42.3`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#5092 upd(element-desktop-deb): `1.11.45` -> `1.11.52`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#5093 upd(firefox-developer-edition-bin): `120.0b9` -> `122.0b3`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#5094 upd(github-cli-bin): `2.38.0` -> `2.40.1`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#5095 upd(google-chrome-beta-deb): `120.0.6099.18` -> `121.0.6167.16`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#5096 upd(google-chrome-unstable-deb): `121.0.6115.2` -> `122.0.6182.0`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#5097 upd(heroic-games-launcher-deb): `2.10.0` -> `2.11.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#5098 upd(ivpn-deb): `3.11.14` -> `3.13.4`
  packages/ivpn-deb/ivpn-deb.pacscript
Labels: Update Package

#5099 upd(ivpn-ui-deb): `3.11.14` -> `3.13.4`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#5100 upd(microsoft-edge-stable-deb): `119.0.2151.58` -> `120.0.2210.91`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#5101 upd(nordvpn-deb): `3.16.7` -> `3.16.9`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#5102 upd(nuclei-bin): `3.0.3` -> `3.1.3`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#5103 upd(opera-deb): `105.0.4970.29` -> `106.0.4998.19`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#5104 upd(opera-developer-deb): `106.0.4977.0` -> `107.0.5019.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#5105 upd(protonmail-bridge-deb): `3.5.1` -> `3.7.1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#5106 upd(sublime-merge-deb): `2091` -> `2092`
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
Labels: Update Package

#5107 upd(sublime-text-deb): `4155` -> `4169`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#5108 upd(torguard-deb): `4.8.25` -> `4.8.28`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#5109 upd(vivaldi-deb): `6.4.3160.42` -> `6.5.3206.42`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#5110 upd(webcord-deb): `4.5.1` -> `4.6.0`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#5111 upd(yt-dlp): `2023.10.13` -> `2023.11.16`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#5112 upd(libdrm): `2.4.118` -> `2.4.119`
  packages/libdrm/libdrm.pacscript
Labels: Update Package

#5113 upd(warp): `0.6.1` -> `0.6.2`
  packages/warp/warp.pacscript
Labels: Update Package

#5114 upd(librewolf-deb): `119.0.1-1` -> `121.0-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#5115 upd(github-cli-deb): `2.38.0` -> `2.40.1`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#5116 upd(vscodium-deb): `1.84.2.23314` -> `1.85.1.23348`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#5120 upd(blender-bin): `3.6.2` -> `4.0.2`
  packages/blender-bin/blender-bin.pacscript
Labels: Update Package

#5127 upd(clipboard-bin): `0.8.3` -> `0.9.0.1`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#5124 upd(discord-deb): `0.0.38` -> `0.0.39`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5118 upd(lf-bin): `30` -> `31`
  packages/lf-bin/lf-bin.pacscript
Labels: Update Package

#5130 add: `watchexec`
  packagelist
  packages/watchexec/watchexec.pacscript
Labels: Package Add

#5133 fix(watchexec): update the name to `watchexec-bin`
  packagelist
  packages/watchexec-bin/watchexec-bin.pacscript
Labels: Update Pacscript

#5132 add: `exercism-cli-bin`
  packagelist
  packages/exercism-cli-bin/exercism-cli-bin.pacscript
Labels: Package Add

#5121 upd(github-desktop-deb): `3.2.5` -> `3.3.6`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#5134 upd(alacritty): `0.12.3` -> `0.13.0`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#5135 add: `xfce4-hotcorner-plugin-git`
  packagelist
  packages/xfce4-hotcorner-plugin-git/xfce4-hotcorner-plugin-git.pacscript
Labels: Package Add

#5125 add: `renpy7-full`
  packagelist
  packages/renpy7-full/renpy7-full.pacscript
Labels: Package Add

#5123 add: `renpy-full`
  packagelist
  packages/renpy-full/renpy-full.pacscript
Labels: Package Add

#5119 add: `cachyos-ananicy-rules-git`
  packagelist
  packages/cachyos-ananicy-rules-git/cachyos-ananicy-rules-git.pacscript
Labels: Package Add

#5117 add: `cachy-browser-bin`
  packagelist
  packages/cachy-browser-bin/cachy-browser-bin.pacscript
Labels: Package Add

#5126 upd(warpinator-deb): `1.4.5+victoria` -> `1.6.4+victoria`
  packages/warpinator-deb/warpinator-deb.pacscript
Labels: Update Package

#5140 add: `electerm-deb`
  packagelist
  packages/electerm-deb/electerm-deb.pacscript
Labels: Package Add

#5138 add: `lunarclient-app`
  packagelist
  packages/lunarclient-app/lunarclient-app.pacscript
Labels: Package Add

#5143 upd(an-anime-game-launcher-bin): `3.9.0` -> `3.9.3`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#5144 upd(lunacy-deb): `9.3.1` -> `9.3.3`
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Update Package

#5145 upd(neovim{,-app}): `0.9.4` -> `0.9.5`
  packages/neovim-app/neovim-app.pacscript
  packages/neovim/neovim.pacscript
Labels: Update Package

#5141 add: `zig-bin`
  packagelist
  packages/zig-bin/zig-bin.pacscript
Labels: Package Add

#5147 upd(goverlay): `0.9.1` -> `1.0.0`
  packages/goverlay/goverlay.pacscript
Labels: Update Package

#5146 upd(mangohud): `0.6.9-1` -> `0.7.0`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#5139 feat: add a pre-commit hook to update packagelist
  .pre-commit-config.yaml
Labels: feature
