Repository pacstall/pacstall-programs, pull requests merged in 2023-01, with the labels that each got.

#2069 add: `protonup-qt-app`
  packages/protonup-qt-app/protonup-qt-app.pacscript
Labels: Package Add

#2087 upd(brave-browser-nightly-deb): `1.48.99` -> `1.48.105`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2088 upd(ferium-bin): `4.3.1` -> `4.3.3`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#2089 add: `tre`
  packages/tre-git/tre-git.pacscript
Labels: Package Add

#2091 upd(youtube-music-deb): `1.18.0` -> `1.19.0`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#2092 upd(telegram-bin): `4.4.1` -> `4.5.1`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#2093 upd(oil): `0.13.0` -> `0.13.1`
  packages/oil/oil.pacscript
Labels: Update Package

#2094 upd(chezmoi-deb): `2.28.0` -> `2.29.1`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2097 rm: os-installer-commit
  packagelist
  packages/os-installer-commit/os-installer-commit.pacscript
Labels: remove package

#2099 upd(signal-desktop-deb): `5.62.0` -> `6.1.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#2100 upd(signal-desktop-beta-deb): `5.46.0-beta.2` -> `6.2.0-beta.2`
  packages/signal-desktop-beta-deb/signal-desktop-beta-deb.pacscript
Labels: Update Package

#2110 upd(zoom-deb): `5.12.9.367` -> `5.13.3.651`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#2113 add: `koodo-reader-deb`
  packagelist
  packages/koodo-reader-deb/koodo-reader-deb.pacscript
Labels: Package Add

#2115 upd(ivpn-ui-deb): `3.9.8` -> `3.10.0`
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#2130 upd(brave-browser-nightly-deb): `1.48.105` -> `1.48.107`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2131 upd(nordvpn-deb): `3.14.0` -> `3.15.2`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#2135 upd(librewolf-app): `108.0-1` -> `108.0.1-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#2136 upd(lyx): `2.3.6.1` -> `2.3.7-1`
  packages/lyx/lyx.pacscript
Labels: Update Package

#2140 add: `font-downloader`
  packagelist
  packages/font-downloader/font-downloader.pacscript
Labels: Package Add

#2144 upd(postman-bin): `10.6.0` -> `10.7.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#2143 upd(papirus-icon-theme): `20221201` -> `20230104`
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
Labels: Update Package

#2153 upd(harmonoid-deb): `0.3.4` -> `0.3.5`
  packages/fastfetch-git/fastfetch-git.pacscript
  packages/harmonoid-deb/harmonoid-deb.pacscript
  packages/spacecadetpinball-git/spacecadetpinball-git.pacscript
Labels: Update Package

#2176 upd(brave-browser-nightly-deb): `1.48.107` -> `1.49.8`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2177 upd(an-anime-game-launcher-app): `2.4.2` -> `2.4.3`
  packages/an-anime-game-launcher-app/an-anime-game-launcher-app.pacscript
Labels: Update Package

#2178 upd(brave-browser-deb): `1.46.144` -> `1.46.153`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2180 upd(telegram-bin): `4.5.2` -> `4.5.3`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#2183 upd(linux): `6.0.1` -> `6.1.4`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#2184 upd(vscode-deb): `1.71.2` -> `1.74.2`
  packages/vscode-deb/vscode-deb.pacscript
Labels: Update Package

#2186 upd(zotero): `6.0.18` -> `6.0.19`
  packages/zotero/zotero.pacscript
Labels: Update Package

#2185 upd(drawio-desktop-deb): `20.3.0` -> `20.7.4`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#2189 upd(brave-browser-nightly-deb): `1.49.8` -> `1.49.14`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2190 add: `apx-git`
  packagelist
  packages/apx-git/apx-git.pacscript
Labels: Package Add

#2191 upd(nala-deb): `0.12.0` -> `0.12.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#2200 upd(discord-canary): `0.0.145` -> `0.0.146`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#2199 upd(postman-bin): `10.7.0` -> `10.8.0`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#2204 upd(discord-deb): `0.0.22` -> `0.0.24`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#2205 add: `grub-customizer-git`
  packagelist
  packages/grub-customizer-git/grub-customizer-git.pacscript
Labels: Package Add

#2206 upd(microsoft-edge-stable-deb): `104.0.1293.63-1` -> `109.0.1518.52-1`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#2207 upd(microsoft-edge-beta-deb): `108.0.1462.28-1` -> `109.0.1518.49-1`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#2208 upd(pycharm-community-bin) `2022.3` -> `2022.3.1`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#2209 upd(realvnc-vnc-viewer-deb): `6.22.515` -> `6.22.826`
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
Labels: Update Package

#2214 upd(firefox-deb): `108.0.1` -> `109.0.0`
  packages/firefox-deb/firefox-deb.pacscript
Labels: Update Package

#2215 upd(zoom-deb): `5.13.3.651` -> `5.13.4.711`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#2218 upd(libxapp1-deb): `2.4.1` -> `2.4.2`
  packages/libxapp1-deb/libxapp1-deb.pacscript
Labels: Update Package

#2066 upd(insync-deb): `3.8.1.50459` -> `3.8.4.50481`
  packages/insync-deb/insync-deb.pacscript
Labels: Update Package

#2245 upd(chezmoi-deb): `2.29.1` -> `2.29.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2247 upd(zotero): `6.0.19` -> `6.0.20`
  packages/zotero/zotero.pacscript
Labels: Update Package

#2251 upd(librewolf-app): `108.0.1` -> `109.0`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#2065 upd(clib): `2.8.1` -> `2.8.2`
  packages/clib/clib.pacscript
Labels: Update Package

#2252 upd(brave-browser-nightly-deb): `1.49.14` -> `1.49.47`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2253 upd(brave-browser-beta-deb): `1.47.156` -> `1.48.134`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2254 upd(ferium-bin): `4.3.3` -> `4.3.4`
  packages/ferium-bin/ferium-bin.pacscript
Labels: Update Package

#2255 upd(hyper-deb): `3.3.0` -> `3.4.1`
  packages/hyper-deb/hyper-deb.pacscript
Labels: Update Package

#2270 upd(an-anime-game-launcher-app): `2.4.3` -> `2.4.4`
  packages/an-anime-game-launcher-app/an-anime-game-launcher-app.pacscript
Labels: Update Package

#2271 upd(smartgit): `21.1.2` -> `21.1.3`
  packages/smartgit/smartgit.pacscript
Labels: Update Package

#2273 upd(brave-browser-deb): `1.46.153` -> `1.47.171`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2275 upd(tidal-hifi-bin): `4.3.1` -> `4.4.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#2277 upd(pacup-bin): `1.0.1` -> `1.0.2`
  packages/pacup-bin/pacup-bin.pacscript
Labels: Update Package

#2276 upd(chezmoi-deb): `2.29.2` -> `2.29.3`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2286 add: `firefox-bin`
  packagelist
  packages/firefox-bin/firefox-bin.pacscript
Labels: Package Add

#2288 upd(brave-browser-nightly-deb): `1.49.47` -> `1.49.57`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2287 upd(brave-browser-beta-deb): `1.48.134` -> `1.48.139`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#2289 rm: `firefox-deb`
  packagelist
  packages/firefox-deb/firefox-deb.pacscript
Labels: remove package

#2290 add: `quintom-cursor-theme-git`
  packagelist
  packages/quintom-cursor-theme-git/quintom-cursor-theme-git.pacscript
Labels: Package Add

#2315 upd(chezmoi-deb): `2.29.3` -> `2.29.4`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#2316 upd(pycharm-community-bin) `2022.3.1` -> `2022.3.2`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#2320 upd(brave-browser-nightly-deb): `1.49.57` -> `1.49.64`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#2321 upd(brave-browser-deb): `1.47.171` -> `1.47.186`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#2319 upd(ani-cli-bin): `3.4` -> `4.0`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#2330 upd(oil): `0.13.1` -> `0.14.0`
  packages/oil/oil.pacscript
Labels: Update Package

#2332 upd(teams-for-linux-deb): `1.0.46` -> `1.0.49`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#2333 upd(linux-kernel): `6.1.4` -> `6.1.8`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#2334 add: `rhino-plymouth-theme-git`
  packagelist
  packages/rhino-plymouth-theme-git/rhino-plymouth-theme-git.pacscript
Labels: Package Add

#2146 add: `parsec-deb`
  packagelist
  packages/parsec-deb/parsec-deb.pacscript
Labels: Package Add

#2335 add: `rhino-kvantum-theme-git`
  packagelist
  packages/rhino-kvantum-theme-git/rhino-kvantum-theme-git.pacscript
Labels: Package Add
