Repository pacstall/pacstall-programs, pull requests merged in 2023-10, with the labels that each got.

#4603 upd(clipboard-bin): `0.8.1` -> `0.8.2`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#4604 upd(clipboard-bin): `0.8.2` -> `0.8.3`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#4605 upd(alacritty): `0.12.2` -> `0.12.3`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#4606 upd(bazecor-app): `1.3.3` -> `1.3.4`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4607 upd(discord-canary): `0.0.169` -> `0.0.170`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4608 upd(yt-dlp): `2023.07.06` -> `2023.10.07`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#4610 upd(linux-kernel-stable): `6.5.5` -> `6.5.6`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4611 upd(rhino*core): drop `timeshift` dep
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4612 upd(linux-kernel): `6.6-rc2` -> `6.6-rc4`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4613 upd(discord): `0.0.30` -> `0.0.31`
  packages/discord/discord.pacscript
Labels: Update Package

#4614 upd(go-task-deb): `3.30.1` -> `3.31.0`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#4615 upd(eza-git): `0.13.1` -> `0.14.1`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4618 upd(linux-kernel): `6.6-rc4` -> `6.6-rc5`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4619 upd(1password-cli-bin): `2.20.0` -> `2.21.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#4620 upd(android-studio): `2022.3.1.19` -> `2022.3.1.20`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#4621 upd(aws-cli-v2-bin): `2.13.15` -> `2.13.25`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#4622 upd(bitwarden-deb): `2023.8.2` -> `2023.9.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#4623 upd(chezmoi-deb): `2.38.0` -> `2.40.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#4624 upd(element-desktop-deb): `1.11.40` -> `1.11.45`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#4625 upd(firefox-developer-edition-bin): `117.0b9` -> `119.0b6`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#4626 upd(github-cli-bin): `2.33.0` -> `2.36.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#4627 upd(google-chrome-beta-deb): `117.0.5938.35` -> `119.0.6045.10`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#4628 upd(google-chrome-unstable-deb): `118.0.5979.0` -> `119.0.6045.10`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#4629 upd(heroic-games-launcher-deb): `2.9.1` -> `2.9.2`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#4631 upd(microsoft-edge-stable-deb): `116.0.1938.69` -> `117.0.2045.55`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#4632 upd(nordvpn-deb): `3.16.5` -> `3.16.6`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#4633 upd(nuclei-bin): `2.9.13` -> `2.9.15`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#4635 upd(opera-developer-deb): `103.0.4899.0` -> `104.0.4941.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#4636 upd(protonmail-bridge-deb): `3.4.1` -> `3.5.1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#4637 upd(sublime-text-deb): `4152` -> `4155`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#4638 upd(tidal-hifi-bin): `5.7.0` -> `5.7.1`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#4641 upd(webcord-deb): `4.4.0` -> `4.4.3`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#4642 upd(zotero): `6.0.26` -> `6.0.27`
  packages/zotero/zotero.pacscript
Labels: Update Package

#4639 upd(vivaldi-deb): `6.2.3105.45` -> `6.2.3105.58`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#4643 upd(gitkraken-deb): `9.7.1` -> `9.9.1`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#4644 upd(github-cli-deb): `2.33.0` -> `2.36.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#4645 upd(vscodium-deb): `1.81.1.23222` -> `1.83.0.23277`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#4646 upd(neovim{,-app}): `0.9.2` -> `0.9.4`
  packages/neovim-app/neovim-app.pacscript
  packages/neovim/neovim.pacscript
Labels: Update Package

#4630 upd(librewolf-deb): `117.0-1` -> `118.0.1-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#4640 upd(warp): `0.5.4` -> `0.6.0`
  packages/warp/warp.pacscript
Labels: Update Package

#4634 upd(opera-deb): `102.0.4880.33` -> `103.0.4928.26`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#4647 upd(rhino*core): `2023.3-2` -> `2023.3-3`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#4648 upd(nala-deb): `0.13.0` -> `0.14.0`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#4649 upd(obs-backgroundremoval-deb): `1.1.6` -> `1.1.7`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#4650 upd(obs-backgroundremoval): `1.1.6` -> `1.1.7`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#4653 upd(freetube-deb): `0.19.0` -> `0.19.1`
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#4652 add: `zsh-history-substring-search-git`
  packagelist
  packages/zsh-history-substring-search-git/zsh-history-substring-search-git.pacscript
Labels: Package Add

#4655 upd(bat{,-deb}): `0.23.0` -> `0.24.0`
  packages/bat-deb/bat-deb.pacscript
  packages/bat/bat.pacscript
Labels: Update Package

#4589 upd(maitreya-deb): `8.0.1b` -> `8.1`
  packages/maitreya-deb/maitreya-deb.pacscript
Labels: Update Package

#4657 upd(discord-canary): `0.0.170` -> `0.0.171`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4651 add: `oh-my-posh-git`
  packagelist
  packages/oh-my-posh-git/oh-my-posh-git.pacscript
Labels: Package Add

#4661 upd(brave-browser-beta-deb): `1.59.86` -> `1.60.88`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4660 upd(brave-browser-nightly-deb): `1.60.27` -> `1.61.19`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4662 upd(brave-browser-deb): `1.58.124` -> `1.59.117`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4658 fix(oh-my-posh-git): works on arm
  packages/oh-my-posh-git/oh-my-posh-git.pacscript
Labels: Update Pacscript

#4667 fix(rhino*core): mantic overwrite
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#4668 fix(rhino*core): drop compat till fix
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#4670 upd(brave-browser-nightly-deb): `1.61.19` -> `1.61.22`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4673 upd(bazecor-app): `1.3.4` -> `1.3.5`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4674 add: `pacstall-qa`
  packagelist
  packages/pacstall-qa-git/pacstall-qa-git.pacscript
Labels: Package Add

#4675 upd(nushell-bin): `0.85.0` -> `0.86.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#4676 upd(discord{,-deb}): `0.0.31` -> `0.0.32`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#4677 upd(zoom-deb): `5.15.7.6521` -> `5.15.10.6882`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#4678 upd(mold-bin): `2.2.0` -> `2.3.0`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4680 upd(genymotion-bin): `3.5.0` -> `3.5.1`
  packages/genymotion-bin/genymotion-bin.pacscript
Labels: Update Package

#4682 upd(wezterm-app): `20230408-112425-69ae8472` -> `20230712-072601-f4abf8fd` Update Package
  packages/wezterm-app/wezterm-app.pacscript
Labels: Update Package

#4687 upd(mold-bin): `2.3.0` -> `2.3.1`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4686 upd(eza-git): `0.10.1` -> `0.12.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4688 upd(pycharm-community-bin): `2023.2.1` -> `2023.2.3`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4684 fix(pacstall-gui-git): Change `settings.sh` install location
  packages/pacstall-gui-git/pacstall-gui-git.pacscript
Labels: Update Pacscript

#4689 add: `tdrop-git`
  packagelist
  packages/tdrop-git/tdrop-git.pacscript
Labels: Package Add

#4690 upd(topgrade-bin): `12.0.2` -> `13.0.0`
  packages/topgrade-bin/topgrade-bin.pacscript
Labels: Update Package

#4691 upd(rstudio-deb): `2023.06.1.524` -> `2023.09.1.494`
  packages/rstudio-deb/rstudio-deb.pacscript
Labels: Update Package

#4692 upd(veracrypt-deb): `1.25.9` -> `1.26.7`
  packages/veracrypt-deb/veracrypt-deb.pacscript
Labels: Update Package

#4709 upd(signal-desktop-deb): `6.29.0` -> `6.35.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#4702 upd(youtube-music-deb): `1.20.0` -> `2.1.3`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#4698 upd(pulsar-deb): `1.109.0` -> `1.110.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#4708 upd(songrec-deb): `0.3.2` -> `0.3.3`
  packages/songrec-deb/songrec-deb.pacscript
Labels: Update Package

#4707 upd(teamviewer-deb): `15.45.3` -> `15.46.7`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#4706 upd(teams-for-linux-deb): `1.3.5` -> `1.3.14`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#4704 upd(drawio-desktop-deb): `21.6.8` -> `22.0.3`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#4701 upd(pomatez-deb): `1.2.3` -> `1.3.1`
  packages/pomatez-deb/pomatez-deb.pacscript
Labels: Update Package

#4700 upd(ferdium-deb): `6.4.1` -> `6.5.2`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#4699 upd(onnxruntime-bin): `1.15.1` -> `1.16.1`
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
Labels: Update Package

#4694 upd(bitwig-studio-deb): `5.0.4` -> `5.0.11`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#4693 upd(onnxruntime-gpu-bin): `1.15.1` -> `1.16.1`
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Update Package

#4705 upd(onlyoffice-desktopeditors-deb): `7.4.1` -> `7.5.0`
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
Labels: Update Package

#4712 fix(rhino*core): `compatible` repaired + new base
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#4711 add: `lazygit`
  packagelist
  packages/lazygit/lazygit.pacscript
Labels: Package Add

#4695 add: `circle-flags-svg-deb`
  packagelist
  packages/circle-flags-svg-deb/circle-flags-svg-deb.pacscript
Labels: Package Add

#4714 upd(brave-browser-beta-deb): `1.60.88` -> `1.60.102`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4713 upd(brave-browser-nightly-deb): `1.61.22` -> `1.61.50`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4715 upd(firefox-bin): `118.0.1` -> `119.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4716 upd(firefox-arm64-deb): `118.0.1+build1` -> `119.0+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4719 upd(bazecor-app): `1.3.5` -> `1.3.6`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#4718 upd(eza-git): `0.15.0` -> `0.15.1`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4720 upd(ferdium-deb): `6.5.2` -> `6.6.0`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#4724 upd(discord-canary): `0.0.171` -> `0.0.172`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4717 add: `rpcs3-app`
  packagelist
  packages/rpcs3-app/rpcs3-app.pacscript
Labels: Package Add

#4726 upd(`rhino-*-core`): Remove compatibility with mantic
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#4696 upd(hypnotix-deb): `3.6` -> `3.7`
  packages/hypnotix-deb/hypnotix-deb.pacscript
Labels: Update Package
