Repository pacstall/pacstall-programs, pull requests merged in 2023-11, with the labels that each got.

#4734 upd(discord): `0.0.32` -> `0.0.33`
  packages/discord/discord.pacscript
Labels: Update Package

#4736 upd(discord-canary): `0.0.172` -> `0.0.173`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4738 upd(discord-deb): `0.0.32` -> `0.0.33`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#4735 add: `marktext-deb`
  packagelist
  packages/marktext-deb/marktext-deb.pacscript
Labels: Package Add

#4739 upd(pycharm-community-bin): `2023.2.3` -> `2023.2.4`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4741 upd(eza-git): `0.15.1` -> `0.15.2`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4742 upd(gitkraken): `9.9.1` -> `9.9.2`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#4744 upd(brave-browser-nightly-deb): `1.61.50` -> `1.62.24`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4743 upd(discord-canary): `0.0.173` -> `0.0.174`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4746 upd(mold-bin): `2.3.1` -> `2.3.2`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4747 upd(discord-canary): `0.0.174` -> `0.0.175`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4750 upd(zettlr-deb): `2.3.0` -> `3.0.2`
  packages/zettlr-deb/zettlr-deb.pacscript
Labels: Update Package

#4751 upd(linux-okpine): `6.6.0-rc5` -> `6.6.0`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4752 upd(rhino*core): overwrite ubuntu logo
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#4753 add: `virtualbox-deb`
  packagelist
  packages/virtualbox-deb/virtualbox-deb.pacscript
Labels: Package Add

#4754 fix(linux-okpine): hash fix for rebuilt images
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4756 upd(thorium-deb): `115.0.5790.172` -> `117.0.5938.157`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#4755 upd(discord-ptb-deb): `0.0.44` -> `0.0.54`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#4757 upd(discord{,-deb}): `0.0.33` -> `0.0.34`
  packages/discord-deb/discord-deb.pacscript
  packages/discord/discord.pacscript
Labels: Update Package

#4732 add: `cortile-bin`
  packagelist
  packages/cortile-bin/cortile-bin.pacscript
Labels: Package Add

#4759 upd(unicorn-{desktop,mobile}-git): add `cortile` for tiling
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4760 upd(rhino*core): include `pacstall-qa-git`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#4761 add: `lunacy-deb`
  packagelist
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Package Add

#4763 upd(discord-canary): `0.0.175` -> `0.0.179`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4765 upd(teamviewer-deb): `15.46.7` -> `15.47.3`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#4767 upd(eza-git): `0.15.2` -> `0.15.3`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4768 upd(telegram-bin): `4.11.1` -> `4.11.6`
  packages/telegram-bin/telegram-bin.pacscript
Labels: Update Package

#4769 upd(postman-bin): `10.17.0` -> `10.18.10`
  packages/postman-bin/postman-bin.pacscript
Labels: Update Package

#4809 upd(lutris-deb): `0.5.13` -> `0.5.14`
  packages/lutris-deb/lutris-deb.pacscript
Labels: Update Package

#4808 upd(ulauncher-deb): `5.15.3` -> `5.15.6`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package

#4807 upd(zotero): `6.0.27` -> `6.0.30`
  packages/zotero/zotero.pacscript
Labels: Update Package

#4806 upd(zoho-notebook-deb): `2.1.0` -> `2.2.3`
  packages/zoho-notebook-deb/zoho-notebook-deb.pacscript
Labels: Update Package

#4805 upd(yt-dlp): `2023.10.07` -> `2023.10.13`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#4803 upd(vivaldi-deb): `6.2.3105.58` -> `6.4.3160.42`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#4804 upd(webcord-deb): `4.4.3` -> `4.5.1`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#4802 upd(torguard-deb): `4.8.22` -> `4.8.25`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#4801 upd(topgrade-musl-bin): `12.0.2` -> `13.0.0`
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#4800 upd(papirus-folders): `1.12.1` -> `1.13.1`
  packages/papirus-folders/papirus-folders.pacscript
Labels: Update Package

#4799 upd(opera-developer-deb): `104.0.4941.0` -> `106.0.4977.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#4798 upd(opera-deb): `104.0.4944.36` -> `104.0.4944.54`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#4797 upd(nuclei-bin): `2.9.15` -> `3.0.3`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#4796 upd(nordvpn-deb): `3.16.6` -> `3.16.7`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#4795 upd(microsoft-edge-stable-deb): `117.0.2045.55` -> `119.0.2151.58`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#4794 upd(heroic-games-launcher-deb): `2.9.2` -> `2.10.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#4793 upd(google-chrome-unstable-deb): `119.0.6045.10` -> `121.0.6115.2`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#4792 upd(google-chrome-deb): `116.0.5845.96` -> `119.0.6045.123`
  packages/google-chrome-deb/google-chrome-deb.pacscript
Labels: Update Package

#4791 upd(google-chrome-beta-deb): `119.0.6045.10` -> `120.0.6099.18`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#4790 upd(gitkraken-deb): `9.9.2` -> `9.10.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#4789 upd(github-cli-bin): `2.36.0` -> `2.38.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#4788 upd(git-credential-manager-core-deb): `2.3.2` -> `2.4.1`
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
Labels: Update Package

#4787 upd(firefox-developer-edition-bin): `119.0b6` -> `120.0b9`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#4786 upd(firefox-bin): `119.0` -> `119.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4785 upd(chezmoi-deb): `2.40.2` -> `2.40.4`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#4784 upd(bitwarden-deb): `2023.9.1` -> `2023.10.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#4783 upd(aws-cli-v2-bin): `2.13.25` -> `2.13.34`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#4782 upd(android-studio-canary): `2023.1.1.10` -> `2023.1.1.22`
  packages/android-studio-canary/android-studio-canary.pacscript
Labels: Update Package

#4781 upd(android-studio): `2022.3.1.20` -> `2022.3.1.21`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#4780 upd(1password-cli-bin): `2.21.0` -> `2.22.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#4778 upd(vscodium-deb): `1.83.0.23277` -> `1.84.2.23314`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#4775 upd(github-cli-deb): `2.36.0` -> `2.38.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#4777 upd(librewolf-app): `117.0-1` -> `119.0.1-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#4776 upd(librewolf-deb): `118.0.1-1` -> `119.0.1-1`
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#4774 upd(celeste-bin): `0.5.5` -> `0.8.0`
  packages/celeste-bin/celeste-bin.pacscript
Labels: Update Package

#4772 upd(armcord-deb): `3.2.4` -> `3.2.5`
  packages/armcord-deb/armcord-deb.pacscript
Labels: Update Package

#4773 upd(firefox-arm64-deb): `119.0+build2` -> `119.0.1+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4779 upd(warp): `0.6.0` -> `0.6.1`
  packages/warp/warp.pacscript
Labels: Update Package

#4771 upd(docker-bin): `24.0.5` -> `24.0.7`
  packages/docker-bin/docker-bin.pacscript
Labels: Update Package

#4815 upd(discord): `0.0.34` -> `0.0.35`
  packages/discord/discord.pacscript
Labels: Update Package

#4816 upd(discord-canary): `0.0.179` -> `0.0.180`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4819 upd(rhino-pine-core): enable gpsd on pinephones
  packages/rhino-pine-core/rhino-pine-core.pacscript
Labels: Update Package

#4820 upd(brave-browser-beta-deb): `1.60.102` -> `1.61.75`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4821 upd(brave-browser-nightly-deb): `1.62.24` -> `1.62.41`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4822 upd(brave-browser-deb): `1.59.124` -> `1.60.114`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4823 upd(spotify-client-deb): `1.2.18.999.g9b38fc27` -> `1.2.22.982.g794acc0a`
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#4825 upd(discord-canary): `0.0.180` -> `0.0.181`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4827 upd(mold-bin): `2.3.2` -> `2.3.3`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#4828 upd(brave-browser-deb): `1.60.114` -> `1.60.118`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#4829 upd(eza-git): `0.15.3` -> `0.16.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4831 upd(linux-kernel-stable): `6.5.6` -> `6.6`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4830 upd(linux-kernel): `6.6-rc5` -> `6.7-rc1`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4833 ci: properly label
  .github/labeler.yml
  .github/workflows/tests.yml
Labels: CI

#4913 upd(discord-canary): `0.0.181` -> `0.0.183`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4914 upd(arduino-ide-bin): `2.1.1` -> `2.2.1`
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Package

#4916 upd(f1multiviewer-deb): `1.26.4` -> `1.28.3`
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Update Package

#4915 upd(arduino-cli-bin): `0.34.0` -> `0.34.2`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#4918 upd(discord-deb): `0.0.34` -> `0.0.35`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#4920 ci: skip every step if no packages modified
  .github/workflows/tests.yml
Labels: CI

#4921 upd(pycharm-community-bin): `2023.2.4` -> `2023.2.5`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4923 upd(discord-canary): `0.0.183` -> `0.0.185`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4924 ci(tests): fix typo in `paths-filter`
  .github/workflows/tests.yml
Labels: CI

#4917 add: `galaxybudsclient-bin`
  packagelist
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  packages/galaxybudsclient-bin/galaxybudsclient.desktop
Labels: Package Add

#4928 add: `ffsend-bin`
  packagelist
  packages/ffsend-bin/ffsend-bin.pacscript
Labels: Package Add

#4929 add: `hyprland`
  packagelist
  packages/hyprland/hyprland.pacscript
Labels: Package Add

#4930 upd(nushell-bin): `0.86.0` -> `0.87.1`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#4931 add: `hyprpaper-bin`
  packagelist
  packages/hyprpaper-bin/hyprpaper-bin.pacscript
Labels: Package Add

#4932 upd(discord-canary): `0.0.185` -> `0.0.186`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4927 add: `pb-git`
  packagelist
  packages/pb-git/pb-git.pacscript
Labels: Package Add

#4934 upd(distrobox): `1.5.0.2` -> `1.6.0.1`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#4935 upd(discord-canary): `0.0.186` -> `0.0.188`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4937 upd(eza-git): `0.16.0` -> `0.16.1`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#4933 add: `xdg-desktop-portal-hyprland`
  packagelist
  packages/xdg-desktop-portal-hyprland/xdg-desktop-portal-hyprland.pacscript
Labels: Package Add

#4941 upd(linux-okpine): `6.6.0` -> `6.6.2`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4943 upd(firefox-bin): `119.0.1` -> `120.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4942 upd(firefox-arm64-deb): `119.0.1+build1` -> `120.0+build2`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#4944 upd(linux-kernel): `6.7-rc1` -> `6.7-rc2`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4938 fix(`hyprpaper-bin`): -> `hyprpaper` for cross-arch
  packagelist
  packages/hyprpaper-bin/hyprpaper-bin.pacscript
  packages/hyprpaper/hyprpaper.pacscript
Labels: Update Pacscript

#4939 add: `hyprpicker`
  packagelist
  packages/hyprpicker/hyprpicker.pacscript
Labels: Package Add

#4945 upd(unicorn*git): switch to pipewire on bluetooth
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#4946 upd(discord-canary): `0.0.188` -> `0.0.190`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4954 fix(*): add `pyhack` to packages that use pip
  packages/bpytop-git/bpytop-git.pacscript
  packages/qtile-git/qtile-git.pacscript
  packages/tenacity-git/tenacity-git.pacscript
  packages/torbrowser-launcher-git/torbrowser-launcher-git.pacscript
Labels: Update Pacscript

#4955 upd(qtile-extras-git): `0.22.1` -> `0.23.1`
  packages/qtile-extras-git/qtile-extras-git.pacscript
Labels: Update Package

#4956 fix(tenacity-git): add `gettext` makedep
  packages/tenacity-git/tenacity-git.pacscript
Labels: Update Pacscript

#4962 upd(teams-for-linux-deb): `1.3.14` -> `1.3.22`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#4967 upd(brave-browser-beta-deb): `1.61.75` -> `1.61.91`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#4965 ci: try new shellcheck/shfmt repo
  .pre-commit-config.yaml
  packages/ananicy-cpp/ananicy-cpp.pacscript
  packages/docker-bin/docker-bin.pacscript
  packages/keepassxc/keepassxc.pacscript
  packages/st-lukesmith-git/st-lukesmith-git.pacscript
  packages/tela-circle-icon-theme/tela-circle-icon-theme.pacscript
  packages/tenacity-git/tenacity-git.pacscript
Labels: CI

#4968 upd(discord-canary): `0.0.190` -> `0.0.196`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#4973 fix(rhino-setup*): place autostart in `/etc/skel`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  packages/rhino-setup-git/rhino-setup-git.pacscript
Labels: Update Pacscript
