Repository pacstall/pacstall-programs, pull requests merged in 2023-07, with the labels that each got.

#3875 upd(discord-canary): `0.0.161` -> `0.0.162`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#3876 upd(arduino-cli-bin): `0.33.0` -> `0.33.1`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#3877 upd(brave-browser-nightly-deb): `1.55.18` -> `1.55.85`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3878 fix(firefox-bin): use `etc` instead of `opt`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Pacscript

#3879 upd(spotify-client-deb): `1.2.8.923.g4f94bf0d` -> `1.2.13.661.ga588f749`
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#3880 upd(alacritty): `0.12.1` -> `0.12.2`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#3886 fix(linux-{headers,image,kernel}*): adj repology
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/linux-kernel.pacscript
Labels: Update Pacscript

#3887 upd(linux-kernel-stable): `6.3.9` -> `6.4`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#3889 fix(firefox-bin): use `/usr/bin` links
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Pacscript

#3890 upd(unicorn-{desktop,mobile}-git): add xsession
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#3894 upd(bazecor-app): `1.2.0` -> `1.2.1`
  packages/bazecor-app/bazecor-app.pacscript
Labels: Update Package

#3895 fix(maintainer:Elsie19): `install()` -> `package()`
  packages/adapta-gtk-theme-git/adapta-gtk-theme-git.pacscript
  packages/amfora-bin/amfora-bin.pacscript
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  packages/ani-cli-bin/ani-cli-bin.pacscript
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  packages/blender-bin/blender-bin.pacscript
  packages/cmatrix/cmatrix.pacscript
  packages/dino-git/dino-git.pacscript
  packages/discord/discord.pacscript
  packages/dotdrop/dotdrop.pacscript
  packages/dunst/dunst.pacscript
  packages/endlessh-git/endlessh-git.pacscript
  packages/exa-git/exa-git.pacscript
  packages/fast/fast.pacscript
  packages/ferium-bin/ferium-bin.pacscript
  packages/firefox-bin/firefox-bin.pacscript
  packages/git-extras-git/git-extras-git.pacscript
  packages/goverlay/goverlay.pacscript
  packages/grapejuice-git/grapejuice-git.pacscript
  packages/intel-undervolt/intel-undervolt.pacscript
  packages/mangohud/mangohud.pacscript
  packages/mymonero-app/mymonero-app.pacscript
  packages/neofetch/neofetch.pacscript
  packages/neovim-app/neovim-app.pacscript
  packages/neovim-git/neovim-git.pacscript
  packages/neovim/neovim.pacscript
  packages/nerd-fonts-hack/nerd-fonts-hack.pacscript
  packages/pipewire/pipewire.pacscript
  packages/polybar/polybar.pacscript
  packages/powertop-git/powertop-git.pacscript
  packages/quintom-cursor-theme-git/quintom-cursor-theme-git.pacscript
  packages/rhino-kvantum-theme-git/rhino-kvantum-theme-git.pacscript
  packages/rhino-lightdm-theme-git/rhino-lightdm-theme-git.pacscript
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
  packages/rhino-plymouth-theme-git/rhino-plymouth-theme-git.pacscript
  packages/shellcheck-bin/shellcheck-bin.pacscript
  packages/shellharden/shellharden.pacscript
  packages/slop-git/slop-git.pacscript
  packages/stellarium/stellarium.pacscript
  packages/vivarium/vivarium.pacscript
  packages/yafetch-git/yafetch-git.pacscript
Labels: Update Pacscript

#3896 upd(obsidian-deb): `1.3.4` -> `1.3.5`
  packages/obsidian-deb/obsidian-deb.pacscript
Labels: Update Package

#3897 fix(unicorn-{desktop,mobile}-git): correct lightdm
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3898 upd(smplayer-deb): `22.7.0` -> `23.6.0`
  packages/smplayer-deb/smplayer-deb.pacscript
Labels: Update Package

#3901 upd(slack-deb): `4.32.122` -> `4.33.73`
  packages/slack-deb/slack-deb.pacscript
Labels: Update Package

#3954 upd(webcord-deb): `4.2.0` -> `4.3.0`
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#3953 upd(vivaldi-deb): `6.0.2979.22` -> `6.1.3035.111`
  packages/vivaldi-deb/vivaldi-deb.pacscript
Labels: Update Package

#3952 upd(upscayl-app): `2.5.1` -> `2.5.5`
  packages/upscayl-app/upscayl-app.pacscript
Labels: Update Package

#3951 upd(tutanota-app): `3.112.15` -> `3.114.1`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#3949 upd(topgrade-musl-bin): `11.0.2` -> `12.0.0`
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#3948 upd(tixati-deb): `3.18` -> `3.19`
  packages/tixati-deb/tixati-deb.pacscript
Labels: Update Package

#3947 upd(tidal-hifi-bin): `5.1.0` -> `5.3.0`
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: Update Package

#3946 upd(teamviewer-deb): `15.41.10` -> `15.43.6`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#3945 upd(teams-for-linux-deb): `1.1.8` -> `1.1.9`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#3944 upd(sublime-text-deb): `4149` -> `4150`
  packages/sublime-text-deb/sublime-text-deb.pacscript
Labels: Update Package

#3955 upd(webapp-manager-deb): `1.2.8` -> `1.3.2`
  packages/webapp-manager-deb/webapp-manager-deb.pacscript
Labels: Update Package

#3925 upd(gitkraken-deb): `9.4.0` -> `9.5.1`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#3924 upd(google-chrome-beta-deb): `115.0.5790.24` -> `115.0.5790.56`
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#3923 upd(google-chrome-unstable-deb): `116.0.5803.2` -> `116.0.5845.14`
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#3921 upd(librewolf-app): `113.0-3` -> `114.0.2-1`
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#3920 upd(linked-deb): `1.5.1` -> `1.5.2`
  packages/linked-deb/linked-deb.pacscript
Labels: Update Package

#3919 upd(microsoft-edge-beta-deb): `114.0.1823.18` -> `115.0.1901.157`
  packages/microsoft-edge-beta-deb/microsoft-edge-beta-deb.pacscript
Labels: Update Package

#3918 upd(microsoft-edge-dev-deb): `115.0.1851.0` -> `116.0.1938.1`
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
Labels: Update Package

#3917 upd(microsoft-edge-stable-deb): `113.0.1774.50` -> `114.0.1823.67`
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
Labels: Update Package

#3915 upd(nerd-fonts-cascadia-code): `3.0.1` -> `3.0.2`
  packages/nerd-fonts-cascadia-code/nerd-fonts-cascadia-code.pacscript
Labels: Update Package

#3914 upd(nordvpn-deb): `3.16.2` -> `3.16.3`
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#3913 upd(nuclei-bin): `2.9.4` -> `2.9.8`
  packages/nuclei-bin/nuclei-bin.pacscript
Labels: Update Package

#3912 upd(nushell-bin): `0.81.0` -> `0.82.0`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#3906 upd(pycharm-community-bin): `2023.1.2` -> `2023.1.3`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#3905 upd(quarto-deb): `1.3.353` -> `1.3.433`
  packages/quarto-deb/quarto-deb.pacscript
Labels: Update Package

#3904 upd(shfmt-bin): `3.6.0` -> `3.7.0`
  packages/shfmt-bin/shfmt-bin.pacscript
Labels: Update Package

#3903 upd(sidequest-bin): `0.10.33` -> `0.10.36`
  packages/sidequest-bin/sidequest-bin.pacscript
Labels: Update Package

#3902 upd(signal-desktop-deb): `6.20.2` -> `6.23.0`
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#3899 upd(yt-dlp): `2023.03.04` -> `2023.06.22`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#3958 upd(zoom-deb): `5.14.5.2430` -> `5.15.2.4260`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#3907 upd(protonmail-bridge-deb): `3.2.0` -> `3.3.0`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#3900 upd(smartgit): `22.1.5` -> `22.1.6`
  packages/smartgit/smartgit.pacscript
Labels: Update Package

#3908 upd(opera-developer-deb): `100.0.4801.0` -> `102.0.4850.0`
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#3909 upd(opera-deb): `99.0.4788.13` -> `100.0.4815.30`
  packages/opera-deb/opera-deb.pacscript
Labels: Update Package

#3911 upd(onlyoffice-desktopeditors-deb): `7.3.3` -> `7.4.0`
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
Labels: Update Package

#3950 upd(torguard-deb): `4.8.20` -> `4.8.21`
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#3956 upd(webapp-manager): `1.3.0` -> `1.3.2`
  packages/webapp-manager/webapp-manager.pacscript
Labels: Update Package

#3957 upd(zoho-notebook-deb): `2.0.1` -> `2.1.0`
  packages/zoho-notebook-deb/zoho-notebook-deb.pacscript
Labels: Update Package

#3922 upd(libressl): `3.6.2` -> `3.7.3`
  packages/libressl/libressl.pacscript
Labels: Update Package

#3916 upd(mullvad-vpn-beta-deb): `2023.3` -> `2023.4`
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
Labels: Update Package

#3926 upd(github-cli-deb): `2.29.0` -> `2.31.0`
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#3927 upd(github-cli-bin): `2.29.0` -> `2.31.0`
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#3943 upd(android-studio): `2023.1.1.4` -> `2023.1.1.7`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#3929 upd(gitfiend-deb): `0.40.6` -> `0.42.1`
  packages/gitfiend-deb/gitfiend-deb.pacscript
Labels: Update Package

#3930 upd(git-delta-deb): `0.15.1` -> `0.16.5`
  packages/git-delta-deb/git-delta-deb.pacscript
Labels: Update Package

#3931 upd(firefox-developer-edition-bin): `114.0b5` -> `115.0b9`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#3932 upd(ferdium-deb): `6.3.0` -> `6.4.0`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#3934 upd(element-desktop-deb): `1.11.33` -> `1.11.34`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#3928 upd(git): `2.40.0` -> `2.41.0`
  packages/git/git.pacscript
Labels: Update Package

#3933 upd(emby-server-deb): `4.7.11.0` -> `4.7.13.0`
  packages/emby-server-deb/emby-server-deb.pacscript
Labels: Update Package

#3935 upd(electronmail-deb): `5.1.7` -> `5.1.8`
  packages/electronmail-deb/electronmail-deb.pacscript
Labels: Update Package

#3936 upd(distrobox): `1.4.2.1` -> `1.5.0.2`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#3937 upd(discord-ptb-deb): `0.0.42` -> `0.0.43`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#3938 upd(dbeaver-ce-deb): `23.1.0` -> `23.1.1`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#3939 upd(chwp-deb): `1.194.0` -> `1.200.0`
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#3940 upd(chezmoi-deb): `2.33.6` -> `2.34.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#3941 upd(bitwarden-deb): `2023.5.0` -> `2023.5.1`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#3942 upd(aws-cli-v2-bin): `2.11.21` -> `2.12.6`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#3959 upd(vscodium-deb): `1.78.2.23132` -> `1.79.2.23166`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#3960 upd(thorium-deb): `112.0.5615.166` -> `114.0.5735.134`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#3963 upd(brave-browser-nightly-deb): `1.55.85` -> `1.55.94`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3964 fix(yafetch-git): redirect link
  packages/yafetch-git/yafetch-git.pacscript
Labels: Update Pacscript

#3966 fix(makedeb-deb): update link to package
  packages/makedeb-deb/makedeb-deb.pacscript
Labels: Update Pacscript

#3967 upd(github-desktop-deb): `3.2.1` -> `3.2.5`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#3970 fix(unicorn-{desktop,mobile}-git): both xinits
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3972 upd(protonup-qt-app): `2.7.7` -> `2.8.1`
  packages/protonup-qt-app/protonup-qt-app.pacscript
Labels: Update Package

#3973 upd(insomnia-deb): `2023.3.0` -> `2023.4.0`
  packages/insomnia-deb/insomnia-deb.pacscript
Labels: Update Package

#3974 fix(unicorn-{desktop,mobile}-git): failsafe -> xdg
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#3976 upd(megasync-deb): `4.9.4-3.1` -> `4.9.5-1.1`
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#3977 upd(firefox-bin): `114.0.1` -> `115.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3978 fix(rhino-system-git): new dep
  packages/rhino-system-git/rhino-system-git.pacscript
Labels: Update Pacscript

#3979 upd(drawio-desktop-deb): `21.5.1` -> `21.6.1`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#3980 upd(htop): `3.2.1` -> `3.2.2`
  packages/htop/htop.pacscript
Labels: Update Package

#3982 upd(brave-browser-nightly-deb): `1.55.94` -> `1.58.1`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3983 upd(brave-browser-beta-deb): `1.54.82` -> `1.54.91`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#3984 upd(brave-browser-deb): `1.52.129` -> `1.52.130`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#3985 upd(brave-browser-nightly-deb): `1.58.1` -> `1.58.3`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#3986 add: `genymotion-bin`
  packagelist
  packages/genymotion-bin/genymotion-bin.pacscript
Labels: Package Add

#3987 upd(firefox-arm64-deb): `115.0+build2` -> `115.0.1+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#3988 upd(firefox-bin): `115.0` -> `115.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#3989 upd(android-studio): `2023.1.1.7` -> `2023.1.1.10`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#3990 add: `celeste-bin`
  packagelist
  packages/celeste-bin/celeste-bin.pacscript
Labels: Package Add

#3991 fix(github-cli-deb): give `arm64` variant too
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Pacscript

#3992 upd(ani-cli-bin): `4.4` -> `4.5`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#3993 fix(rhino-setup-git): replace `-bin` variant
  packages/rhino-setup-git/rhino-setup-git.pacscript
Labels: Update Pacscript

#3994 upd(rhino-setup-bin): `v1.4-beta6` -> `v1.5-beta7`
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Package

#3995 upd(rhino{-pine,-server,}-core): `2023.1-beta6-0` -> `2023.1-beta7-0`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
Labels: Update Package

#3999 upd(linux-kernel{-okpine}): `6.4.0` -> `6.5{.0}-rc1`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4002 upd(vscode-insiders-deb): `1.80.0` -> `1.81.0`
  packages/vscode-insiders-deb/vscode-insiders-deb.pacscript
Labels: Update Package

#4003 fix(rhino-system-git): `py-cpuinfo` dropped
  packages/rhino-system-git/rhino-system-git.pacscript
Labels: Update Pacscript

#4004 fix(truckersmp-cli): replace install() with package()
  packages/truckersmp-cli/truckersmp-cli.pacscript
Labels: Update Pacscript

#4006 upd(brave-browser-nightly-deb): `1.58.3` -> `1.58.9`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4007 upd(linux-kernel-stable): `6.4` -> `6.4.3`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#4008 upd(firefox-{arm64-deb,bin}): `115.0.1{+build1}` -> `115.0.2{+build1}`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#4010 add: `mint-themes`
  packagelist
  packages/mint-themes/mint-themes.pacscript
Labels: Package Add

#4016 upd(brave-browser-nightly-deb): `1.58.9` -> `1.58.12`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4017 upd(discord-deb): `0.0.27` -> `0.0.28`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#4019 upd(brave-browser-nightly-deb): `1.58.12` -> `1.58.16`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4020 fix(okpine): update hashes
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#4021 fix(rhino-setup-bin): malformed version
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Pacscript

#4022 upd(linux-{image,headers}-rockchip-deb): `6.3.11` -> `6.3.13`
  packages/linux-headers-rockchip-deb/linux-headers-rockchip-deb.pacscript
  packages/linux-image-rockchip-deb/linux-image-rockchip-deb.pacscript
Labels: Update Package

#4025 upd(brave-browser-nightly-deb): `1.58.16` -> `1.58.21`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4026 upd(brave-browser-nightly-deb): `1.58.21` -> `1.58.23`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4027 upd(an-anime-game-launcher-bin): `3.7.4` -> `3.7.5`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#4029 upd(bitwarden-deb): `2023.5.1` -> `2023.7.0`
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#4030 upd(aomp-deb): `17.0-0` -> `17.0-2`
  packages/aomp-deb/aomp-deb.pacscript
Labels: Update Package

#4031 upd(balena-etcher-deb): `1.18.8` -> `1.18.11`
  packages/balena-etcher-deb/balena-etcher-deb.pacscript
Labels: Update Package

#4038 upd(brave-browser-nightly-deb): `1.58.23` -> `1.58.26`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4087 upd(discord): `0.0.27` -> `0.0.28`
  packages/discord/discord.pacscript
Labels: Update Package

#4088 upd(element-desktop-deb): `1.11.34` -> `1.11.36`
  packages/element-desktop-deb/element-desktop-deb.pacscript
Labels: Update Package

#4041 upd(vscode-insiders-deb): `internal release`
  packages/vscode-insiders-deb/vscode-insiders-deb.pacscript
Labels: Update Package

#4090 upd(stellarium): `0.21.1` -> `23.2`
  packages/stellarium/stellarium.pacscript
Labels: Update Package

#4091 upd(linux-okpine): `6.5.0-rc1` -> `6.5.0-rc2`
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-headers-rockchip-deb/linux-headers-rockchip-deb.pacscript
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-image-rockchip-deb/linux-image-rockchip-deb.pacscript
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#4092 upd(linux-kernel): `6.5-rc1` -> `6.5-rc2`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#4094 upd(brave-browser-nightly-deb): `1.58.28` -> `1.58.31`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4093 upd(pycharm-community-bin): `2023.1.3` -> `2023.1.4`
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
Labels: Update Package

#4095 upd(brave-browser-nightly-deb): `1.58.31` -> `1.58.35`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#4096 upd(1password-cli-bin): `2.18.0` -> `2.19.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#4097 upd(an-anime-game-launcher-bin): `3.7.5` -> `3.7.6`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#4098 upd(arduino-ide-bin): `2.1.0` -> `2.1.1`
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Package

#4099 upd(aws-cli-v2-bin): `2.12.6` -> `2.13.2`
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#4100 upd(balena-etcher-deb): `1.18.11` -> `1.18.12`
  packages/balena-etcher-deb/balena-etcher-deb.pacscript
Labels: Update Package

#4101 upd(bitwig-studio-deb): `4.4.10` -> `5.0`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#4102 upd(chezmoi-deb): `2.34.2` -> `2.35.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#4103 upd(chwp-deb): `1.200.0` -> `1.204.0`
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#4104 upd(clipboard-bin): `0.8.0` -> `0.8.1`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Package

#4105 upd(dbeaver-ce-deb): `23.1.1` -> `23.1.2`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#4106 upd(discord-ptb-deb): `0.0.43` -> `0.0.44`
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
Labels: Update Package

#4107 upd(docker-bin): `24.0.1` -> `24.0.4`
  packages/docker-bin/docker-bin.pacscript
Labels: Update Package

#4108 upd(f1multiviewer-deb): `1.22.2` -> `1.24.0`
  packages/f1multiviewer-deb/f1multiviewer-deb.pacscript
Labels: Update Package

#4109 upd(fennel): `1.3.0` -> `1.3.1`
  packages/fennel/fennel.pacscript
Labels: Update Package

#4134 upd(yt-dlp): `2023.06.22` -> `2023.07.06`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#4133 upd(zoom-deb): `5.15.2.4260` -> `5.15.3.4839`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#4132 upd(tutanota-app): `3.114.1` -> `3.115.2`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package
