Repository pacstall/pacstall-programs, pull requests merged in 2024-07, with the labels that each got.

#6178 upd(ulauncher): `6.0.0~beta10` -> `6.0.0~beta13`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package

#6181 upd(pulsar-deb): `1.116.0` -> `1.118.0`
  packages/pulsar-deb/.SRCINFO
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#6180 upd(go-task-deb): `3.37.2` -> `3.38.0`
  packages/go-task-deb/.SRCINFO
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#6167 upd(jellyfin-media-player-deb): `1.10.1` -> `1.11.1`
  packages/jellyfin-media-player-deb/.SRCINFO
  packages/jellyfin-media-player-deb/jellyfin-media-player-deb.pacscript
Labels: Update Package

#6171 add: `wavey-launcher-bin`
  packagelist
  packages/wavey-launcher-bin/.SRCINFO
  packages/wavey-launcher-bin/wavey-launcher-bin.pacscript
Labels: Package Add

#6172 add: `resticprofile-bin`
  packagelist
  packages/resticprofile-bin/.SRCINFO
  packages/resticprofile-bin/resticprofile-bin.pacscript
Labels: Package Add

#6152 add: `grub-btrfs`
  packagelist
  packages/grub-btrfs/.SRCINFO
  packages/grub-btrfs/grub-btrfs.pacscript
Labels: Package Add

#6153 add: `btrfs-assistant`
  packagelist
  packages/btrfs-assistant/.SRCINFO
  packages/btrfs-assistant/btrfs-assistant.pacscript
Labels: Package Add

#6138 add: `hyfetch-git`
  hyfetch-git/hyfetch-git.pacscript
Labels: Package Add

#6158 add: `snapper-rollback-git`
  packagelist
  packages/snapper-rollback-git/.SRCINFO
  packages/snapper-rollback-git/snapper-rollback-git.pacscript
Labels: Package Add

#6182 ci(tests.yml): pass a pseudo-stacktrace
  .github/workflows/tests.yml
Labels: CI

#6183 fix(hyfetch-git): oren messed up a PR
  packagelist
  packages/hyfetch-git/.SRCINFO
  packages/hyfetch-git/hyfetch-git.pacscript
Labels: Update Pacscript

#6154 add: `typora-deb`
  packagelist
  packages/typora-deb/.SRCINFO
  packages/typora-deb/typora-deb.pacscript
Labels: Package Add

#6189 upd(the-honkers-railway-launcher-bin): `1.6.0` -> `1.6.1`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
Labels: Update Package

#6184 upd(yad): `13.0` -> `14.0`
  packages/yad/.SRCINFO
  packages/yad/debian12.patch
  packages/yad/yad.pacscript
Labels: Update Package

#6188 upd(an-anime-game-launcher-bin): `3.10.0` -> `3.10.1`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#6191 upd(yt-dlp): `2024.05.27` -> `2024.07.01`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#6187 add: `xdg-terminal-exec-git`
  packagelist
  packages/xdg-terminal-exec-git/.SRCINFO
  packages/xdg-terminal-exec-git/xdg-terminal-exec-git.pacscript
Labels: Package Add

#6190 upd(joplin-desktop-app): `2.14.22` -> `3.0.12`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
Labels: Update Package

#6186 upd(brave-browser-nightly-deb): `1.68.65` -> `1.69.71`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#6194 fix(bat): turn `makedepends` into an array
  packages/bat/.SRCINFO
  packages/bat/bat.pacscript
Labels: Update Pacscript

#6176 add: `winetricks-git`
  packagelist
  packages/winetricks-git/.SRCINFO
  packages/winetricks-git/winetricks-git.pacscript
Labels: Package Add

#6136 add: `freshfetch-git`
  packagelist
  packages/freshfetch-git/freshfetch-git.pacscript
Labels: Package Add

#6198 fix(freshfetch-git): add missing .SRCINFO
  packages/freshfetch-git/.SRCINFO
Labels: Update Pacscript

#6199 fix(unicorn-{desktop,mobile}-git): dep on `alsa-ucm-conf`
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#6165 add: `rambox`
  packagelist
  packages/rambox-deb/.SRCINFO
  packages/rambox-deb/rambox-deb.pacscript
Labels: Package Add

#6155 add: `softmaker-office-2024-deb`
  packagelist
  packages/softmaker-office-2024-deb/.SRCINFO
  packages/softmaker-office-2024-deb/softmaker-office-2024-deb.pacscript
Labels: Package Add

#6156 add: `softmaker-freeoffice-2024-deb`
  packagelist
  packages/softmaker-freeoffice-2024-deb/.SRCINFO
  packages/softmaker-freeoffice-2024-deb/softmaker-freeoffice-2024-deb.pacscript
Labels: Package Add

#6200 upd(joplin-desktop-app): `3.0.12` -> `3.0.13`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
Labels: Update Package

#6202 upd(dbeaver-ce-deb): `24.0.0` -> `24.1.1`
  packages/dbeaver-ce-deb/.SRCINFO
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#6193 upd(gir1.2-xapp-1.0-deb): `2.8.3` -> `2.8.4`
  packages/gir1.2-xapp-1.0-deb/.SRCINFO
  packages/gir1.2-xapp-1.0-deb/gir1.2-xapp-1.0-deb.pacscript
Labels: Update Package

#6195 add: `sleepy-launcher-bin`
  packagelist
  packages/sleepy-launcher-bin/.SRCINFO
  packages/sleepy-launcher-bin/sleepy-launcher-bin.pacscript
Labels: Package Add

#6157 add: `softmaker-office-nx-deb`
  packagelist
  packages/softmaker-office-nx-deb/.SRCINFO
  packages/softmaker-office-nx-deb/softmaker-office-nx-deb.pacscript
Labels: Package Add

#6205 ci(srcinfo.sh): add missing overrides
  scripts/srcinfo.sh
Labels: CI

#6206 upd(naps2-deb): `7.4.2` -> `7.4.3`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
Labels: Update Package

#6208 upd(pacup): `3.2.0` -> `3.3.0`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#6215 ci(tests.yml): drop stacktrace for update command
  .github/workflows/tests.yml
Labels: CI

#6216 upd(pacup): `3.3.0` -> `3.3.1`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#6211 upd(bitwarden): `2024.4.3` -> `2024.6.4`
  packages/bitwarden-deb/.SRCINFO
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#6219 upd(pacup): `3.3.1` -> `3.3.2`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#6220 upd(pacup-git): `3.3.1` -> `3.3.2`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
Labels: Update Package

#6222 upd(firefox-arm64-deb): `125.0.3+build1` -> `128.0+build2`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#6218 fix(xdavius): upd maintainer name + add repology (part 1)
  packages/goverlay/.SRCINFO
  packages/goverlay/goverlay.pacscript
  packages/qt6pas/.SRCINFO
  packages/qt6pas/qt6pas.pacscript
  packages/ventoy-bin/.SRCINFO
  packages/ventoy-bin/ventoy-bin.pacscript
  packages/winetricks-git/.SRCINFO
  packages/winetricks-git/winetricks-git.pacscript
Labels: Update Pacscript

#6224 upd(github-desktop-deb): `3.3.10` -> `3.4.2`
  packages/github-desktop-deb/.SRCINFO
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#6207 add: `vesktop-deb`
  packagelist
  packages/vesktop-deb/.SRCINFO
  packages/vesktop-deb/vesktop-deb.pacscript
Labels: Package Add

#6196 upd(neovim-git): `0.9.1` -> `0.10.1`
  packages/neovim-git/.SRCINFO
  packages/neovim-git/neovim-git.pacscript
Labels: Update Package

#6168 fix(neovim): add in update-aternatives support
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
Labels: Update Pacscript

#6228 upd(firefox-bin): `127.0.2` -> `128.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#6229 upd(lazarus): `3.2` -> `3.4`
  packages/fpc-laz-deb/.SRCINFO
  packages/fpc-laz-deb/fpc-laz-deb.pacscript
  packages/fpc-src-deb/.SRCINFO
  packages/fpc-src-deb/fpc-src-deb.pacscript
  packages/lazarus-project-deb/.SRCINFO
  packages/lazarus-project-deb/lazarus-project-deb.pacscript
Labels: Update Package

#6231 upd(freetube-deb): `0.21.0` -> `0.21.1`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#6210 add: `setconf`
  packagelist
  packages/setconf/.SRCINFO
  packages/setconf/setconf.pacscript
Labels: Package Add

#6234 upd(gitkraken-deb): `10.0.2` -> `10.1.0`
  packages/gitkraken-deb/.SRCINFO
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#6230 fix(goverlay): updated to latest lazarus pacdeps
  packages/goverlay/.SRCINFO
  packages/goverlay/goverlay.pacscript
Labels: Update Pacscript

#6238 fix(rhino-pkg-git): repair install
  packages/rhino-pkg-git/.SRCINFO
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
Labels: Update Pacscript

#6239 ci(srcinfo.sh): fix AARCH + CARCH replace
  packages/hakuneko-deb/.SRCINFO
  packages/lsd-deb/.SRCINFO
  scripts/srcinfo.sh
Labels: CI

#6226 ci(srcinfo.sh): create mega srclist for parsing
  .pre-commit-config.yaml
  scripts/srcinfo.sh
  srclist
Labels: CI

#6247 upd(pacup): `3.3.2` -> `3.3.3`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6248 upd(pacup-git): `3.3.2` -> `3.3.3`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6213 add: `libx86emu`
  packagelist
  packages/libx86emu/.SRCINFO
  packages/libx86emu/libx86emu.pacscript
  srclist
Labels: Package Add

#6235 add: `modprobed-db`
  packagelist
  packages/modprobed-db/.SRCINFO
  packages/modprobed-db/modprobed-db.pacscript
  srclist
Labels: Package Add

#6237 add: `it87-dkms-git`
  packagelist
  packages/it87-dkms-git/.SRCINFO
  packages/it87-dkms-git/dkms.conf
  packages/it87-dkms-git/it87-dkms-git.pacscript
  packages/it87-dkms-git/it87.conf
  srclist
Labels: Package Add

#6240 add: `glffetch-git`
  packagelist
  packages/glffetch-git/.SRCINFO
  packages/glffetch-git/glffetch-git.pacscript
  srclist
Labels: Package Add

#6241 upd(teams-for-linux-deb): `1.5.0` -> `1.8.0`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#6242 upd(zoom-deb): `6.1.0.198` -> `6.1.1.443`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: Update Package

#6243 upd(galaxybudsclient-bin): `5.0.0` -> `5.0.1`
  packages/galaxybudsclient-bin/.SRCINFO
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  srclist
Labels: Update Package

#6245 add: `xpadneo-dkms`
  packagelist
  packages/xpadneo-dkms/.SRCINFO
  packages/xpadneo-dkms/drop-etc-files.patch
  packages/xpadneo-dkms/rename-marker.patch
  packages/xpadneo-dkms/xpadneo-dkms.pacscript
  srclist
Labels: Package Add

#6214 add: `hwinfo-git`
  packagelist
  packages/hwinfo-git/.SRCINFO
  packages/hwinfo-git/hwinfo-git.pacscript
  srclist
Labels: Package Add

#6246 upd(virtualbox-deb): `7.0.18` -> `7.0.20`
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  srclist
Labels: Update Package

#6244 fix(oh-my-posh-git): make it use ubuntu’s repo go version
  packages/oh-my-posh-git/.SRCINFO
  packages/oh-my-posh-git/oh-my-posh-git.pacscript
  srclist
Labels: Update Pacscript

#6249 upd(pacup): `3.3.3` -> `3.3.4`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6250 upd(pacup-git): `3.3.3` -> `3.3.4`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6255 ci(tests.yml): fix error tests not failing
  .github/workflows/tests.yml
Labels: CI

#6252 upd(discord-deb): `0.0.58` -> `0.0.60`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6251 upd(rstudio-deb): `2023.12.1.402` -> `2024.04.2-764`
  packages/rstudio-deb/.SRCINFO
  packages/rstudio-deb/rstudio-deb.pacscript
  srclist
Labels: Update Package

#6256 ci(srcinfo.sh): fix race condition with direct write
  scripts/srcinfo.sh
Labels: CI

#6257 upd(pacup): `3.3.4` -> `3.3.5`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6258 upd(pacup-git): `3.3.4` -> `3.3.5`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6128 add: `gitui-git`
  packagelist
  packages/gitui-git/.SRCINFO
  packages/gitui-git/gitui-git.pacscript
  srclist
Labels: Package Add

#6260 upd(pulsar-deb): `1.118.0` -> `1.119.0`
  packages/pulsar-deb/.SRCINFO
  packages/pulsar-deb/pulsar-deb.pacscript
  srclist
Labels: Update Package

#6262 upd(an-anime-game-launcher): `3.10.1` -> `3.10.2`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#6263 upd(onlyoffice-desktopeditors-deb): `8.0.1` -> `8.1.1`
  packages/onlyoffice-desktopeditors-deb/.SRCINFO
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
  srclist
Labels: Update Package

#6261 upd(git-butler-deb): `0.10.22-703` -> `0.12.12-1093`
  packages/git-butler-deb/.SRCINFO
  packages/git-butler-deb/git-butler-deb.pacscript
  srclist
Labels: Update Package

#6253 add: `openrgb-git`
  packagelist
  packages/openrgb-git/.SRCINFO
  packages/openrgb-git/openrgb-git.pacscript
  srclist
Labels: Package Add

#6259 upd(README.md): tools info + update structure
  README.md
Labels: instructions added

#6265 upd(android-studio): `2024.1.1.6` -> `2024.1.1.12`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#6266 add: `python3-moddb`
  packagelist
  packages/python3-moddb/.SRCINFO
  packages/python3-moddb/python3-moddb.pacscript
  srclist
Labels: Package Add

#6268 upd(an-anime-game-launcher): `3.10.2` -> `3.10.3`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#6276 upd(galaxybudsclient-bin): `5.0.1` -> `5.1.0`
  packages/galaxybudsclient-bin/.SRCINFO
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  srclist
Labels: Update Package

#6269 add: `python3-pypresence`
  packagelist
  packages/python3-pypresence/.SRCINFO
  packages/python3-pypresence/python3-pypresence.pacscript
  srclist
Labels: Package Add

#6271 add: `openvr`
  packagelist
  packages/openvr/.SRCINFO
  packages/openvr/openvr.pacscript
  srclist
Labels: Package Add

#6281 fix(README): typo
  README.md
Labels: documentation

#6283 upd(neovim-app): `0.10.0` -> `0.10.1`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
  srclist
Labels: Update Package

#6286 upd(discord-deb): `0.0.60` -> `0.0.61`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6284 upd(firefox-bin): `128.0` -> `128.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6282 upd(neovim): `0.10.0` -> `0.10.1`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package

#6287 upd(freetube-deb): `0.21.1` -> `0.21.2`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
  srclist
Labels: Update Package

#6285 upd(mullvad-vpn-deb): `2024.3` -> `2024.4`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#6289 add: `apptainer{,-suid}-deb`
  packagelist
  packages/apptainer-deb/.SRCINFO
  packages/apptainer-deb/apptainer-deb.pacscript
  packages/apptainer-suid-deb/.SRCINFO
  packages/apptainer-suid-deb/apptainer-suid-deb.pacscript
  srclist
Labels: Package Add

#6292 upd(joplin-desktop-app): `3.0.13` -> `3.0.14`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
  srclist
Labels: Update Package

#6291 upd(firefox-bin): `128.0.2` -> `128.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6293 upd(hamclock{,-big,-bigger,-huge}): `4.03` -> `4.04`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6297 upd(protonup-qt-app): `2.9.2` -> `2.10.2`
  packages/protonup-qt-app/.SRCINFO
  packages/protonup-qt-app/protonup-qt-app.pacscript
  srclist
Labels: Update Package

#6296 upd(goverlay.bin): `1.1.1` -> `1.2.0`
  packages/goverlay-bin/.SRCINFO
  packages/goverlay-bin/goverlay-bin.pacscript
  srclist
Labels: Update Package

#6295 upd(goverlay): `1.1.1` -> `1.2.0`
  packages/goverlay/.SRCINFO
  packages/goverlay/goverlay.pacscript
  srclist
Labels: Update Package
