Repository pacstall/pacstall-programs, pull requests merged in 2024-04, with the labels that each got.

#5820 upd(discord-canary): `0.0.313` -> `0.0.327`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5823 upd(amfora-bin): `1.9.2` -> `1.10.0`
  packages/amfora-bin/amfora-bin.pacscript
Labels: Update Package

#5825 upd(hyprlang): `0.4.2` -> `0.5.0`
  packages/hyprlang/hyprlang.pacscript
Labels: Update Package

#5828 upd(nushell-bin): 0.89.0 -> 0.92.1
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#5830 upd(heroic-games-launcher-deb): `2.13.0` -> `2.14.0`
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
Labels: Update Package

#5831 upd(firefox-arm64-deb): `123.0+build3` -> `124.0.2+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5832 upd(megasync-deb): `4.12.2-2.1` -> `5.2.0-2.1`
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#5834 upd(linux-kernel): `6.9~rc1` -> `6.9~rc3`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5835 upd(linux-kernel-stable): `6.8.1` -> `6.8.4`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5836 upd(cortile-bin): `2.3.3` -> `2.4.0`
  packages/cortile-bin/cortile-bin.pacscript
Labels: Update Package

#5837 upd(vscodium-deb): `1.85.2.24019` -> `1.88.0.24096`
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#5839 upd(firefox-bin): 124.0.1 -> 124.0.2
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5840 upd(discord) 0.0.42 -> 0.0.48
  packages/discord/discord.pacscript
Labels: Update Package

#5841 upd(go-task-deb): `3.35.1` -> `3.36.0`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5842 upd(discord): `0.0.48` -> `0.0.49`
  packages/discord/discord.pacscript
Labels: Update Package

#5844 upd(firefox-arm64-deb): `124.0.2+build1` -> `125.0+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5838 ci(tests.yml): run containers privileged
  .github/workflows/tests.yml
Labels: CI

#5847 upd(firefox-developer-edition-bin): `122.0b9` -> `125.0b9`
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
Labels: Update Package

#5848 upd(lutris-deb): `0.5.16` -> `0.5.17`
  packages/lutris-deb/lutris-deb.pacscript
Labels: Update Package

#5849 upd(android-studio): `2023.2.1.24` -> `2023.2.1.25`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#5846 add: `naps2-deb`
  packagelist
  packages/naps2-deb/naps2-deb.pacscript
Labels: Package Add

#5855 refactor(*): fix symlinks, again
  packages/android-studio-canary/android-studio-canary.pacscript
  packages/android-studio/android-studio.pacscript
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
  packages/awesome-git/awesome-git.pacscript
  packages/discord-canary/discord-canary.pacscript
  packages/discord/discord.pacscript
  packages/exploitdb-git/exploitdb-git.pacscript
  packages/firefox-bin/firefox-bin.pacscript
  packages/floorp-bin/floorp-bin.pacscript
  packages/geekbench-bin/geekbench-bin.pacscript
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
  packages/lightpad-git/lightpad-git.pacscript
  packages/onnxruntime-1-7-0-bin/onnxruntime-1-7-0-bin.pacscript
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
  packages/postman-bin/postman-bin.pacscript
  packages/prettier/prettier.pacscript
  packages/protonup-qt-app/protonup-qt-app.pacscript
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  packages/rhino-docker-builder-git/rhino-docker-builder-git.pacscript
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  packages/rhino-setup-git/rhino-setup-git.pacscript
  packages/smartgit/smartgit.pacscript
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
Labels: refactor

#5856 upd(aseprite): `1.3.5` -> `1.3.6`
  packages/aseprite/aseprite.pacscript
Labels: Update Package

#5850 add: `flyctl-bin`
  packagelist
  packages/flyctl-bin/flyctl-bin.pacscript
Labels: Package Add

#5858 upd(protonup-qt-app): `2.9.1` -> `2.9.2`
  packages/protonup-qt-app/protonup-qt-app.pacscript
Labels: Update Package

#5859 upd(brave-browser-nightly-deb): `1.66.47` -> `1.67.7`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5860 upd(brave-browser-beta-deb): `1.65.97` -> `1.66.76`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#5861 upd(brave-browser-deb): `1.64.113` -> `1.64.122`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5863 upd(fastfetch-git): `2.6.1` -> `2.9.1`
  packages/fastfetch-git/fastfetch-git.pacscript
Labels: Update Package

#5862 upd(naps2): `7.4.1` -> `7.4.2`
  packages/naps2-deb/naps2-deb.pacscript
Labels: Update Package

#5865 add: `hyprcursor-bin`
  packagelist
  packages/hyprcursor-bin/hyprcursor-bin.pacscript
Labels: Package Add

#5866 add: `xcb-util-errors`
  packagelist
  packages/xcb-util-errors/xcb-util-errors.pacscript
Labels: Package Add

#5868 upd(intellij-idea-community-bin): `2023.3.6` -> `2024.1`
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
Labels: Update Package

#5867 add: `hyprland-bin`
  packagelist
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Package Add

#5870 fix(hyprland-bin): does not break `hyprland`
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Update Pacscript

#5876 upd(hyprland-bin): `0.39.0` -> `0.39.1`
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Update Package

#5878 upd(linux-kernel): `6.9~rc3` -> `6.9~rc4`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5877 upd(linux-kernel-stable): `6.8.4` -> `6.8.6`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5881 upd(spotify-client-deb): `1.2.26` -> `1.2.31`
  packages/spotify-client-deb/spotify-client-deb.pacscript
Labels: Update Package

#5886 upd(chezmoi-deb): `2.45.0` -> `2.47.2`
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#5887 fix(rhino*core): repair loop with `base-files`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#5888 fix(rhino*core): repair swapping between each other
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#5882 fix(hyprland-bin): use glob for distro specifier
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Update Pacscript

#5890 fix(nushell-bin): `pkgname` -> `fake_gives`
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Pacscript

#5891 upd(firefox-bin): `124.0.2` -> `125.0.2`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5895 upd(discord-deb): `0.0.50` -> `0.0.51`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5894 upd(zoom-deb): `6.0.0.4563` -> `6.0.2.4680`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#5898 upd(freetube-deb): `0.19.2` -> `0.20.0`
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#5897 upd(pulsar-deb): `1.114.0` -> `1.116.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#5896 upd(cachy-browser-bin): `123.0.1` -> `125.0.1`
  packages/cachy-browser-bin/cachy-browser-bin.pacscript
Labels: Update Package

#5874 add: `suyu-app`
  packagelist
  packages/suyu-app/suyu-app.pacscript
Labels: Package Add

#5906 rm: `onnxruntime-1-7-0-bin`
  packagelist
  packages/onnxruntime-1-7-0-bin/onnxruntime-1-7-0-bin.pacscript
Labels: remove package

#5905 rm: `obs-backgroundremoval-0-4-0`
  packagelist
  packages/obs-backgroundremoval-0-4-0/obs-backgroundremoval-0-4-0.pacscript
Labels: remove package

#5904 upd(youtube-music-deb): `3.3.5` -> `3.3.6`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5903 upd(popcorn-time-deb): `0.5.0` -> `0.5.1`
  packages/popcorn-time-deb/popcorn-time-deb.pacscript
Labels: Update Package

#5902 upd(onnxruntime-bin): `1.16.3` -> `1.17.1`
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
Labels: Update Package

#5901 upd(onnxruntime-gpu-bin): `1.16.3` -> `1.17.1`
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
Labels: Update Package

#5908 upd(ulauncher-deb): `6.0.0~beta5` -> `6.0.0~beta10`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package

#5909 upd(firefox-arm64-deb): `125.0+build1` -> `125.0.2+build1`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5907 add: `tgpt-bin`
  packagelist
  packages/tgpt-bin/tgpt-bin.pacscript
Labels: Package Add

#5911 upd(thorium-deb): `122.0.6261.132` -> `123.0.6312.133`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#5910 fix(hamclock): `shfmt`
  packages/hamclock/hamclock.pacscript
Labels: Update Pacscript

#5913 upd(teamviewer-deb): `15.51.5` -> `15.53.6`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#5915 fix(qt6pas): change gives and add provides to match realname
  packages/qt6pas/qt6pas.pacscript
Labels: Update Pacscript

#5916 upd(steam-deb): `1.0.0.78` -> `1.0.0.79`
  packages/steam-deb/steam-deb.pacscript
Labels: Update Package

#5918 upd(mullvad-vpn-deb): `2024.1` -> `2024.2`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#5920 upd(linux-kernel-stable): `6.8.6` -> `6.8.8`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5921 upd(linux-kernel): `6.9~rc4` -> `6.9~rc6`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5923 upd(discord-deb): `0.0.51` -> `0.0.52`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5922 fix(steam-deb): change gives to steam-launcher
  packages/steam-deb/steam-deb.pacscript
Labels: Update Pacscript

#5919 fix(hamclock): correct description
  packages/hamclock/hamclock.pacscript
Labels: Update Pacscript
