Repository pacstall/pacstall-programs, pull requests merged in 2024-10, with the labels that each got.

#6485 upd(mission-center): `0.5.2` -> `0.6.0`
  packages/mission-center/.SRCINFO
  packages/mission-center/mission-center.pacscript
  srclist
Labels: Update Package

#6487 upd(zed-editor-{stable,preview}-bin): add missing licenses files, bump pkgrel
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6481 upd(picom): `11.2` -> `12.1`
  packages/picom/.SRCINFO
  packages/picom/picom.pacscript
  srclist
Labels: Update Package

#6482 upd(mold-bin): `2.33.0` -> `2.34.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#6490 upd(discord-deb): `0.0.69` -> `0.0.70`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6491 upd(zed-editor-{stable,preview}-bin): `0.154.3` -> `0.154.4`, `0.155.1` -> `0.155.2`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6496 upd(zed-editor-{stable,preview}-bin): `0.154.4` -> `0.155.2`, `0.155.2` -> `0.156.0`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6495 upd(aseprite): `1.3.8.1` -> `1.3.9`
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  srclist
Labels: Update Package

#6499 upd(neovim): `0.10.1` -> `0.10.2`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package

#6498 upd(brave-{browser,keyring}-deb): `1.66.118` -> `1.70.123`, `1.13` -> `1.17`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/brave-keyring-deb/.SRCINFO
  packages/brave-keyring-deb/brave-keyring-deb.pacscript
  srclist
Labels: Update Package

#6502 upd(naps2-deb): `7.5.1` -> `7.5.2`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#6503 fix(waydroid-deb): `add dependencies as pyclipper`
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Update Pacscript

#6508 upd(librewolf-deb): `130.0-3` -> `130.0.1-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6506 add: `icecat-deb`
  packagelist
  packages/icecat-deb/.SRCINFO
  packages/icecat-deb/icecat-deb.pacscript
  srclist
Labels: Package Add

#6510 upd(firefox-arm64-deb): `129.0.2+build1` -> `131.0+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6512 upd(firefox-nightly-bin): `131.0a1` -> `132.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#6501 upd(mold-bin): `2.34.0` -> `2.34.1`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#6513 upd(brave-browser-deb): `1.70.123` -> `1.70.126`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6514 upd(an-anime-game-launcher-bin): `3.12.1` -> `3.13.0`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#6515 upd(the-honkers-railway-launcher-bin): `1.8.2` -> `1.9.0`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6516 upd(honkers-launcher-bin) `1.8.1` -> `1.9.0`
  packages/honkers-launcher-bin/.SRCINFO
  packages/honkers-launcher-bin/honkers-launcher-bin.pacscript
  srclist
Labels: Update Package

#6517 upd(sleepy-launcher-bin): `1.2.1` -> `1.3.0`
  packages/sleepy-launcher-bin/.SRCINFO
  packages/sleepy-launcher-bin/sleepy-launcher-bin.pacscript
  srclist
Labels: Update Package

#6523 upd(zed-editor-{stable,preview}-bin): `0.155.2` -> `0.156.0`, `0.156.0` -> `0.157.1`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6522 upd(lunacy-deb): `10.1` -> `10.3`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#6521 upd(vscodium-deb): `1.92.1.24225` -> `1.94.0.24282`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#6518 upd(pycharm-community-bin): `2023.2.5` -> `2024.2.3`
  packages/pycharm-community-bin/.SRCINFO
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  srclist
Labels: Update Package

#6525 upd(discord-deb): `0.0.70` -> `0.0.71`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6527 upd(zen-browser-{generic,specific}-bin): `1.0.1-a.7` -> `1.0.1-a.8`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6528 upd(osu-lazer-app): `2024.906.2` -> `2024.1009.1`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6524 add: `kate5-data-backport-deb`
  packagelist
  packages/kate5-data-backport-deb/.SRCINFO
  packages/kate5-data-backport-deb/kate5-data-backport-deb.pacscript
  srclist
Labels: Package Add

#6526 upd(hyprland-bin): `0.40.0` -> `0.44.1`
  packagelist
  packages/hyprland-bin/.SRCINFO
  packages/hyprland-bin/hyprland-bin.pacscript
  packages/libaquamarine-bin/.SRCINFO
  packages/libaquamarine-bin/libaquamarine-bin.pacscript
  packages/libhyprutils-bin/.SRCINFO
  packages/libhyprutils-bin/libhyprutils-bin.pacscript
  srclist
Labels: Update Package

#6530 add: `kate-backport-deb`
  packagelist
  packages/kate-backport-deb/.SRCINFO
  packages/kate-backport-deb/kate-backport-deb.pacscript
  srclist
Labels: Package Add

#6507 upd(popsicle): `1.3.0` -> `1.3.3`
  packages/popsicle/.SRCINFO
  packages/popsicle/popsicle.pacscript
  srclist
Labels: Update Package

#6533 add: `goneovim-bin`
  packagelist
  packages/goneovim-bin/.SRCINFO
  packages/goneovim-bin/goneovim-bin.pacscript
  srclist
Labels: Package Add

#6537 upd(zen-browser-{generic,specific}-bin): 1.0.1-a.8 -> 1.0.1-a.9
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6535 add: `orchis-kde`
  packagelist
  packages/orchis-kde/.SRCINFO
  packages/orchis-kde/orchis-kde.pacscript
  srclist
Labels: Package Add

#6536 add: `qt6-style-kvantum`
  packagelist
  packages/qt6-style-kvantum/.SRCINFO
  packages/qt6-style-kvantum/qt6-style-kvantum.pacscript
  srclist
Labels: Package Add

#6540 upd(zen-browser-{generic,specific}-bin): 1.0.1-a.9 -> 1.0.1-a.10
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6541 upd(firefox-nightly-bin): `132.0a1` -> `133.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#6542 upd(firefox-nightly-deb): `132.0a1` -> `133.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#6543 upd(firefox-bin): `130.0.1` -> `131.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6539 upd(picom): `12.1` -> `12.3`
  packages/picom/.SRCINFO
  packages/picom/picom.pacscript
  srclist
Labels: Update Package

#6561 upd(gir1.2-xapp-1.0-deb): `2.8.4` -> `2.8.5`
  packages/gir1.2-xapp-1.0-deb/.SRCINFO
  packages/gir1.2-xapp-1.0-deb/gir1.2-xapp-1.0-deb.pacscript
  srclist
Labels: Update Package

#6560 upd(zotero): `7.0.1` -> `7.0.8`
  packages/zotero/.SRCINFO
  packages/zotero/zotero.pacscript
  srclist
Labels: Update Package

#6559 upd(youtube-music-deb): `3.3.6` -> `3.6.2`
  packages/youtube-music-deb/.SRCINFO
  packages/youtube-music-deb/youtube-music-deb.pacscript
  srclist
Labels: Update Package

#6558 upd(veracrypt-deb): `1.26.7` -> `1.26.14`
  packages/veracrypt-deb/.SRCINFO
  packages/veracrypt-deb/veracrypt-deb.pacscript
  srclist
Labels: Update Package

#6557 upd(topgrade-bin): `13.0.0` -> `16.0.1`
  packages/topgrade-bin/.SRCINFO
  packages/topgrade-bin/topgrade-bin.pacscript
  srclist
Labels: Update Package

#6556 upd(songrec-deb): `0.4.2` -> `0.4.3`
  packages/songrec-deb/.SRCINFO
  packages/songrec-deb/songrec-deb.pacscript
  srclist
Labels: Update Package

#6555 upd(rstudio-deb): `2024.04.2.764` -> `2024.09.0.375`
  packages/rstudio-deb/.SRCINFO
  packages/rstudio-deb/rstudio-deb.pacscript
  srclist
Labels: Update Package

#6554 upd(pulsar-deb): `1.120.0` -> `1.121.0`
  packages/pulsar-deb/.SRCINFO
  packages/pulsar-deb/pulsar-deb.pacscript
  srclist
Labels: Update Package

#6552 upd(drawio-desktop-deb): `24.4.0` -> `24.7.17`
  packages/drawio-desktop-deb/.SRCINFO
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
  srclist
Labels: Update Package

#6551 upd(distrobox): `1.7.2.1` -> `1.8.0`
  packages/distrobox/.SRCINFO
  packages/distrobox/distrobox.pacscript
  srclist
Labels: Update Package

#6550 upd(bitwig-studio-deb): `5.1.8` -> `5.2.5`
  packages/bitwig-studio-deb/.SRCINFO
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
  srclist
Labels: Update Package

#6549 upd(teams-for-linux-deb): `1.8.0` -> `1.11.1`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#6547 upd(zed-editor-{stable,preview}-bin): `0.156.2` -> `0.157.5`, `0.157.4` -> `0.158.1`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6544 add: `ollama-bin`
  packagelist
  packages/ollama-bin/.SRCINFO
  packages/ollama-bin/ollama-bin.pacscript
  packages/ollama-bin/ollama.service
  srclist
Labels: Package Add

#6578 upd(zen-browser-{generic,specific}-bin): 1.0.1-a.10 -> 1.0.1-a.12
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6449 add: `ffmpeg4.4`
  packagelist
  packages/ffmpeg4.4/.SRCINFO
  packages/ffmpeg4.4/ffmpeg4.4.pacscript
  srclist
Labels: Package Add

#6577 ci(distrolist.yml): create only one branch per change
  .github/workflows/distrolist.yml
Labels: CI

#6579 upd(shfmt-bin): `3.7.0` -> `3.10.0`
  packages/shfmt-bin/.SRCINFO
  packages/shfmt-bin/shfmt-bin.pacscript
  srclist
Labels: Update Package

#6410 add: `rust-bindgen-git`
  packagelist
  packages/rust-bindgen-git/.SRCINFO
  packages/rust-bindgen-git/rust-bindgen-git.pacscript
  srclist
Labels: Package Add

#6583 upd(brave-browser-deb): `1.70.126` -> `1.71.118`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6545 add: `gpu-screen-recorder`
  packagelist
  packages/gpu-screen-recorder/.SRCINFO
  packages/gpu-screen-recorder/gpu-screen-recorder.pacscript
  srclist
Labels: Package Add

#6584 upd(zoom-deb): `6.2.0.1855` -> `6.2.5.2440`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: Update Package

#6585 add: `thunderbird-bin`
  packagelist
  packages/thunderbird-bin/.SRCINFO
  packages/thunderbird-bin/thunderbird-bin.pacscript
  srclist
Labels: Package Add

#6592 upd(qt6-style-kvantum): `1.1.2` -> `1.1.3`
  packages/qt6-style-kvantum/.SRCINFO
  packages/qt6-style-kvantum/qt6-style-kvantum.pacscript
  srclist
Labels: Update Package

#6593 upd(zed-editor-{stable,preview}-bin): `0.157.5` -> `0.158.2`, `0.158.1` -> `0.159.1`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6532 add: `p3x-onenote-app`
  packagelist
  packages/p3x-onenote-app/.SRCINFO
  packages/p3x-onenote-app/onenote.svg
  packages/p3x-onenote-app/p3x-onenote-app.pacscript
  packages/p3x-onenote-app/p3x-onenote.desktop
  srclist
Labels: Package Add

#6594 upd(zen-browser-*): 1.0.1-a.12 -> 1.0.1-a.13
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6595 upd(wgcf-bin): `2.2.22` -> `2.2.23`
  packages/wgcf-bin/.SRCINFO
  packages/wgcf-bin/wgcf-bin.pacscript
  srclist
Labels: Update Package

#6598 upd(zen-browser): 1.0.1-a.13 -> 1.0.1-a.14
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6596 add: `unicons-git`
  packagelist
  packages/unicons-git/.SRCINFO
  packages/unicons-git/unicons-git.pacscript
  srclist
Labels: Package Add

#6599 upd(hamclock{,-big,-bigger,-huge}): `4.08` -> `4.09`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6600 upd(gitkraken-deb): `10.1.0` -> `10.4.1`
  packages/gitkraken-deb/.SRCINFO
  packages/gitkraken-deb/gitkraken-deb.pacscript
  srclist
Labels: Update Package

#6601 upd(discord-deb): `0.0.71` -> `0.0.72`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6602 upd(rustdesk-deb): `1.3.1` -> `1.3.2`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Package

#6605 upd(`librewolf-deb`): `130.0.1-1` -> `131.0.3-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6607 upd(zen-browser): 1.0.1-a.14 -> 1.0.1-a.16
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package
