Repository pacstall/pacstall-programs, pull requests merged in 2024-03, with the labels that each got.

#5683 upd(brave-browser-nightly-deb): `1.65.28` -> `1.65.49`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5684 upd(mold-bin): `2.4.0` -> `2.4.1`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#5685 upd(eza-git): `0.18.2` -> `0.18.5`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5681 upd(git-butler-deb): `0.10.6-619` -> `0.10.19-680`
  packages/git-butler-deb/git-butler-deb.pacscript
Labels: Update Package

#5686 upd(brave-browser-deb): `1.63.162` -> `1.63.165`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5687 upd(tutanota-app): `3.116.8` -> `218.240227.0`
  packages/tutanota-app/tutanota-app.pacscript
Labels: Update Package

#5689 upd(protonmail-bridge-deb): `3.8.1` -> `3.9.1`
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#5690 upd(dbeaver-ce-deb): `23.3.4` -> `23.3.5`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#5692 upd(git-butler-deb): `0.10.19-680` -> `0.10.21-696`
  packages/git-butler-deb/git-butler-deb.pacscript
Labels: Update Package

#5696 upd(drawio-desktop-deb): `23.0.2` -> `23.1.5`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#5694 upd(bitwig-studio-deb): `5.1.2` -> `5.1.3`
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
Labels: Update Package

#5695 upd(distrobox): `1.6.0.1` -> `1.7.0`
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#5701 upd(songrec-deb): `0.3.3` -> `0.4.2`
  packages/songrec-deb/songrec-deb.pacscript
Labels: Update Package

#5702 upd(teams-for-linux-deb): `1.4.6` -> `1.4.12`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#5698 upd(freetube-deb): `0.19.1` -> `0.19.2`
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#5703 upd(teamviewer-deb): `15.49.3` -> `15.51.5`
  packages/teamviewer-deb/teamviewer-deb.pacscript
Labels: Update Package

#5699 upd(onlyoffice-desktopeditors-deb): `7.5.0` -> `8.0.1`
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
Labels: Update Package

#5706 upd(discord-canary): `0.0.285` -> `0.0.287`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5705 add: `nerd-fonts-fira-code`
  packagelist
  packages/nerd-fonts-fira-code/nerd-fonts-fira-code.pacscript
Labels: Package Add

#5709 upd(discord-canary): `0.0.287` -> `0.0.288`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5711 upd(arduino-cli-bin): `0.34.2` -> `0.35.3`
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
Labels: Update Package

#5712 upd(1password-cli-bin): `2.24.0` -> `2.25.0`
  packages/1password-cli-bin/1password-cli-bin.pacscript
Labels: Update Package

#5710 upd(arduino-ide-bin): `2.3.0` -> `2.3.2`
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Package

#5708 upd(go-task-deb): `3.35.0` -> `3.35.1`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5707 upd(dbeaver-ce-deb): `23.3.5` -> `24.0.0`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#5713 upd(git-butler-deb): `0.10.21-696` -> `0.10.22-703`
  packages/git-butler-deb/git-butler-deb.pacscript
Labels: Update Package

#5715 upd(discord-canary): `0.0.288` -> `0.0.289`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5704 upd(warpinator-deb): `1.4.5` -> `1.8.3`
  packages/warpinator-deb/warpinator-deb.pacscript
Labels: Update Package

#5718 upd(discord-canary): `0.0.289` -> `0.0.293`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5716 upd(megasync-deb): `4.11.0-3.1` -> `4.12.2-2.1`
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#5719 upd(cheat): `4.4.0` -> `4.4.2`
  packages/cheat/cheat.pacscript
Labels: Update Package

#5721 add: `docker-compose-plugin-bin`
  packagelist
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
Labels: Package Add

#5722 add: `hyprlang`
  packagelist
  packages/hyprlang/hyprlang.pacscript
Labels: Package Add

#5724 upd(discord-canary): `0.0.293` -> `0.0.295`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5726 upd(discord-canary): `0.0.295` -> `0.0.297`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5727 upd(ferdium-deb): `6.7.0` -> `6.7.1`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#5717 fix(neovide-bin): add app icons and entry
  packages/neovide-bin/neovide-bin.pacscript
Labels: Update Pacscript

#5680 upd(prismlauncher-git): `7.2` -> `8.2`
  packages/prismlauncher-git/prismlauncher-git.pacscript
Labels: Update Package

#5725 fix(discord-canary): prevent force update message
  packages/discord-canary/discord-canary.pacscript
Labels: Update Pacscript

#5730 upd(discord-canary): `0.0.297` -> `0.0.300`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5731 upd(galaxybudsclient-bin): `4.5.4` -> `4.6.0`
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
Labels: Update Package

#5733 upd(scrcpy): `2.3.1` -> `2.4`
  packages/scrcpy/scrcpy.pacscript
Labels: Update Package

#5734 upd(cachy-browser-bin): `122.0-2` -> `123.0.1`
  packages/cachy-browser-bin/cachy-browser-bin.pacscript
Labels: Update Package

#5728 upd(drawio-desktop-deb): `23.1.5` -> `24.0.4`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#5729 fix(dbeaver-ce-deb): wrong sha256 hash number
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Pacscript

#5738 upd(discord-deb): `0.0.43` -> `0.0.45`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5736 rm: `renpy-full`, `renpy7-full`
  packagelist
  packages/renpy-full/renpy-full.pacscript
  packages/renpy7-full/renpy7-full.pacscript
Labels: remove package

#5741 upd(eza-git): `0.18.5` -> `0.18.7`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5739 upd(linux-kernel-stable): `6.7.6` -> `6.8`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5740 upd(linux-kernel): `6.8~rc6` -> `6.8`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5746 upd(mold-bin): `2.4.1` -> `2.30.0`
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#5749 upd(android-studio): 2023.1.1.28 -> 2023.2.1.23
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#5747 upd(thorium-deb): `121.0.6167.204` -> `122.0.6261.132`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#5743 upd(obs-backgroundremoval-deb): `1.1.10` -> `1.1.12`
  packages/obs-backgroundremoval-deb/obs-backgroundremoval-deb.pacscript
Labels: Update Package

#5742 upd(obs-backgroundremoval): `1.1.10` -> `1.1.12`
  packages/obs-backgroundremoval/obs-backgroundremoval.pacscript
Labels: Update Package

#5748 add: `ugee-tablet-driver-deb`
  packagelist
  packages/ugee-tablet-driver-deb/ugee-tablet-driver-deb.pacscript
Labels: Package Add

#5737 upd(prettier): `3.2.4` -> `3.2.5`
  packages/prettier/prettier.pacscript
Labels: Update Package

#5750 upd(linux-kernel-stable): `6.8` -> `6.8.1`
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5751 upd(gitkraken-deb): `9.12.0` -> `9.13.0`
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#5754 upd(discord-deb): `0.0.45` -> `0.0.46`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5757 upd(discord-canary): `0.0.300` -> `0.0.313`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5758 upd(mullvad-vpn-deb): `2023.6` -> `2024.1`
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#5759 fix(onnxruntime-1-7-0-bin): drop extra `post_install` from `ln` refactor
  packages/onnxruntime-1-7-0-bin/onnxruntime-1-7-0-bin.pacscript
Labels: Update Pacscript

#5760 upd(lunacy-deb): `9.4.2.5022` -> `9.5.0`
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Update Package

#5761 upd(firefox-bin): 123.0.1 -> 124.0.1
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5763 upd(electerm-deb): `1.38.8` -> `1.38.30`
  packages/electerm-deb/electerm-deb.pacscript
Labels: Update Package

#5765 upd(rhino*core): rework packaging process
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#5768 upd(alacritty): `0.13.1` -> `0.13.2`
  packages/alacritty/alacritty.pacscript
Labels: Update Package

#5770 upd(youtube-music-deb): `3.3.2` -> `3.3.4`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5769 upd(an-anime-game-launcher-bin): `3.9.4` -> `3.9.5`
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#5777 upd(discord-deb): `0.0.46` -> `0.0.47`
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5776 upd(teams-for-linux-deb): `1.4.12` -> `1.4.15`
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#5779 upd(linux-kernel): `6.8` -> `6.9~rc1`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5780 upd(foliate-deb): `2.6.4` -> `3.0.1`
  packages/foliate-deb/foliate-deb.pacscript
Labels: Update Package

#5785 upd(protonup-qt-app): `2.8.2` -> `2.9.1`
  packages/protonup-qt-app/protonup-qt-app.pacscript
Labels: Update Package

#5782 add: `rio-x11-deb`
  packagelist
  packages/rio-x11-deb/rio-x11-deb.pacscript
Labels: Package Add

#5783 add: `rio-wayland-deb`
  packagelist
  packages/rio-wayland-deb/rio-wayland-deb.pacscript
Labels: Package Add

#5787 upd(lunarclient-app) `3.2.3` -> `3.2.4`
  packages/lunarclient-app/lunarclient-app.pacscript
Labels: Update Package

#5788 upd(adw-gtk3) `4-9` -> `5.3`
  packages/adw-gtk3/adw-gtk3.pacscript
Labels: Update Package

#5789 upd(youtube-music-deb): `3.3.4` -> `3.3.5`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5767 add: `jellyfin-media-player-deb`
  packagelist
  packages/jellyfin-media-player-deb/jellyfin-media-player-deb.pacscript
Labels: Package Add

#5775 add: `goverlay-bin`
  packagelist
  packages/goverlay-bin/goverlay-bin.pacscript
Labels: Package Add

#5766 add: `intellij-idea-community-bin`
  packagelist
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
  packages/intellij-idea-community-bin/intellij-idea-community.desktop
Labels: Package Add

#5795 fix(intellij-idea-community-bin): `url` splitting should be minimized
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
Labels: Update Pacscript

#5798 upd(ferdium-deb): `6.7.1` -> `6.7.2`
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#5799 upd(android-studio): `2023.2.1.23` -> `2023.2.1.24`
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#5797 ci(pac5-conv.yml): add temp `5.0.0` converter/branch
  .github/workflows/pac5-conv.yml
Labels: CI

#5773 add: `qt6pas`
  packagelist
  packages/qt6pas/qt6pas.pacscript
Labels: Package Add

#5802 upd(eza-git): `0.18.7` -> `0.18.9`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5791 add: `ghcup-bin`
  packagelist
  packages/ghcup-bin/ghcup-bin.pacscript
Labels: Package Add

#5803 fix(ghcup-bin): forgotten cleanup
  packages/ghcup-bin/ghcup-bin.pacscript
Labels: Update Pacscript

#5804 upd(github-desktop-deb): `3.3.6` -> `3.3.10`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Package

#5812 upd(brave-browser-nightly-deb): `1.65.49` -> `1.66.47`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5814 upd(brave-browser-deb): `1.63.165` -> `1.64.113`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5813 upd(brave-browser-beta-deb): `1.62.134` -> `1.65.97`
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#5806 fix(libssl1.1): Old `url`, Error 404 when try to download
  packages/libssl1.1-deb/libssl1.1-deb.pacscript
Labels: Update Pacscript

#5811 add: `lazarus-deb`
  packagelist
  packages/lazarus-deb/lazarus-deb.pacscript
Labels: Package Add

#5807 add: `libfdk-aac1-deb`
  packagelist
  packages/libfdk-aac1-deb/libfdk-aac1-deb.pacscript
Labels: Package Add

#5810 add: `fpc-src-deb`
  packagelist
  packages/fpc-src-deb/fpc-src-deb.pacscript
Labels: Package Add

#5809 add: `fpc-laz-deb`
  packagelist
  packages/fpc-laz-deb/fpc-laz-deb.pacscript
Labels: Package Add

#5805 add: `the-honkers-railway-launcher-bin`
  packagelist
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
Labels: Package Add

#5817 upd(yt-dlp): `2023.12.30` -> `2024.03.10`
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package
