Repository pacstall/pacstall-programs, pull requests merged in 2024-06, with the labels that each got.

#6068 upd(brave-browser-nightly-deb): `1.67.7` -> `1.68.65`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#6069 upd(brave-browser-beta-deb): `1.66.76` -> `1.67.101`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
Labels: Update Package

#6070 upd(brave-browser-deb): `1.64.122` -> `1.66.118`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#6071 upd(nushell-bin): `0.94.0` -> `0.94.1`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#6072 upd(vscodium-deb): `1.89.0.24127` -> `1.89.1.24130`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
Labels: Update Package

#6067 add: `dolphin-emu-git`
  packagelist
  packages/dolphin-emu-git/.SRCINFO
  packages/dolphin-emu-git/dolphin-emu-git.pacscript
Labels: Package Add

#6065 ci(.pre-commit-config.yaml): fix `shfmt`
  .pre-commit-config.yaml
  packages/clipboard-bin/clipboard-bin.pacscript
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  packages/genymotion-bin/genymotion-bin.pacscript
  packages/ghcup-bin/ghcup-bin.pacscript
  packages/goldberg-emulator-git/goldberg-emulator-git.pacscript
  packages/goverlay-bin/goverlay-bin.pacscript
  packages/hyprland-bin/hyprland-bin.pacscript
  packages/lf-bin/.SRCINFO
  packages/lf-bin/lf-bin.pacscript
  packages/megabasterd-bin/megabasterd-bin.pacscript
  packages/micro/micro.pacscript
  packages/neovide-bin/neovide-bin.pacscript
  packages/oh-my-posh-git/oh-my-posh-git.pacscript
  packages/prismlauncher-git/.SRCINFO
  packages/prismlauncher-git/prismlauncher-git.pacscript
  packages/qtile-extras-git/qtile-extras-git.pacscript
  packages/stockfish-git/stockfish-git.pacscript
  packages/texstudio-app/texstudio-app.pacscript
  packages/tgpt-bin/tgpt-bin.pacscript
  packages/ventoy-bin/ventoy-bin.pacscript
  packages/wezterm-app/wezterm-app.pacscript
  packages/wine-staging-git/wine-staging-git.pacscript
  packages/xdg-desktop-portal-hyprland/xdg-desktop-portal-hyprland.pacscript
  packages/xdg-ninja-git/xdg-ninja-git.pacscript
Labels: CI

#6073 upd(teams-for-linux-deb): `1.4.37` -> `1.5.0`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#6074 upd(nala-deb): `0.15.2` -> `0.15.3`
  packages/nala-deb/.SRCINFO
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#6077 fix(lazygit): install path
  packages/lazygit/lazygit.pacscript
Labels: Update Pacscript

#6078 upd(nushell-bin): `0.94.1` -> `0.94.2`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#6079 upd(hamclock): `4.00` -> `4.01`
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
Labels: Update Package

#6080 upd(hamclock-big): `4.00` -> `4.01`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
Labels: Update Package

#6082 upd(hamclock-bigger): `4.00` -> `4.01`
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
Labels: Update Package

#6083 upd(hamclock-huge): `4.00` -> `4.01`
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
Labels: Update Package

#6084 upd(zig-bin): `0.11` -> `0.12`
  packages/zig-bin/.SRCINFO
  packages/zig-bin/zig-bin.pacscript
Labels: Update Package

#6085 fix(linux-okpine): pinetab2 battery patch
  packages/linux-headers-okpine-deb/.SRCINFO
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/.SRCINFO
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/.SRCINFO
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Pacscript

#6088 ci(distrolist.yml): handle backup when salsa is down
  .github/workflows/distrolist.yml
Labels: CI

#6089 ci(srcinfo.sh): fix ghost distro
  scripts/srcinfo.sh
Labels: CI

#6090 ci(srcinfo.sh): update for 5.2.0
  packages/hakuneko-deb/.SRCINFO
  packages/lsd-deb/.SRCINFO
  scripts/srcinfo.sh
Labels: CI

#6092 upd(pacup{-git}): `3.1.3` -> `3.2.0`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#6093 fix({fsearch,jellyfin-media-player,veracrypt}-deb): use regular `source` as else arrays
  packages/fsearch-deb/.SRCINFO
  packages/fsearch-deb/fsearch-deb.pacscript
  packages/jellyfin-media-player-deb/.SRCINFO
  packages/jellyfin-media-player-deb/jellyfin-media-player-deb.pacscript
  packages/veracrypt-deb/.SRCINFO
  packages/veracrypt-deb/veracrypt-deb.pacscript
Labels: Update Pacscript

#6094 fix(lsd-deb): fix srcinfo on `i386` array
  packages/lsd-deb/.SRCINFO
  packages/lsd-deb/lsd-deb.pacscript
Labels: Update Pacscript

#6097 fix(aseprite): desktop file, use flag instead of patch
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  packages/aseprite/dont-clone-strings.patch
Labels: Update Pacscript

#6091 upd(vscode{-insiders}-deb): `1.8{1,5}.0` -> `1.9{0,1}.0`
  packages/vscode-deb/.SRCINFO
  packages/vscode-deb/vscode-deb.pacscript
  packages/vscode-insiders-deb/.SRCINFO
  packages/vscode-insiders-deb/vscode-insiders-deb.pacscript
Labels: Update Package

#6075 add: `simplex-desktop-app`
  packagelist
  packages/simplex-desktop-app/.SRCINFO
  packages/simplex-desktop-app/simplex-desktop-app.pacscript
Labels: Package Add

#6100 upd(mold-bin): `2.31.0` -> `2.32.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#6099 upd(hamclock{,-big,-bigger,-huge}): `4.01` -> `4.02`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
Labels: Update Package

#6101 add: `blueprint-compiler`
  packagelist
  packages/blueprint-compiler/.SRCINFO
  packages/blueprint-compiler/blueprint-compiler.pacscript
Labels: Package Add

#6102 add: `adw-gtk-theme`
  packagelist
  packages/adw-gtk-theme/.SRCINFO
  packages/adw-gtk-theme/adw-gtk-theme.pacscript
  packages/adw-gtk-theme/extract-libadwaita-theme.hook
  packages/adw-gtk-theme/extract-libadwaita-theme.sh
  packages/adw-gtk-theme/index.theme.dark
  packages/adw-gtk-theme/index.theme.light
Labels: Package Add

#6104 add: `python3-material-color-utilities`
  packagelist
  packages/python3-material-color-utilities/.SRCINFO
  packages/python3-material-color-utilities/python3-material-color-utilities.pacscript
Labels: Package Add

#6105 add: `python3-{anyascii,flit-core}`
  packagelist
  packages/python3-anyascii/.SRCINFO
  packages/python3-anyascii/python3-anyascii.pacscript
  packages/python3-flit-core/.SRCINFO
  packages/python3-flit-core/python3-flit-core.pacscript
Labels: Package Add

#6106 add: `python3-zombie-imp`
  packagelist
  packages/python3-zombie-imp/.SRCINFO
  packages/python3-zombie-imp/python3-zombie-imp.pacscript
Labels: Package Add

#6107 upd(signal-desktop-deb): `6.44.1` -> `7.11.1`
  packages/signal-desktop-deb/.SRCINFO
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
Labels: Update Package

#6103 add: `gradience`
  packagelist
  packages/gradience/.SRCINFO
  packages/gradience/gradience.pacscript
Labels: Package Add

#6108 add: `gradience-git`
  packagelist
  packages/gradience-git/.SRCINFO
  packages/gradience-git/gradience-git.pacscript
Labels: Package Add

#6109 upd(hamclock{,-big,-bigger,-huge}): `4.02` -> `4.03`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
Labels: Update Package

#6110 add: `rsbbi-git`
  packagelist
  packages/rsbbi-git/.SRCINFO
  packages/rsbbi-git/rsbbi-git.pacscript
Labels: Package Add

#6112 upd(ventoy-bin): `1.0.98` -> `1.0.99`
  packages/ventoy-bin/.SRCINFO
  packages/ventoy-bin/ventoy-bin.pacscript
Labels: Update Package

#6111 fix(rsbbi-git): use release profile
  packages/rsbbi-git/.SRCINFO
  packages/rsbbi-git/rsbbi-git.pacscript
Labels: Update Pacscript

#6115 fix(stockfish-git): repair `build()` function
  packages/stockfish-git/.SRCINFO
  packages/stockfish-git/stockfish-git.pacscript
Labels: Update Pacscript

#6117 upd(lazygit): `0.40.2` -> `0.42.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
Labels: Update Package

#6118 upd(chezmoi-deb): `2.48.0` -> `2.48.2`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#6116 upd(gir1.2-xapp-1.0-deb): `2.8.2` -> `2.8.3`
  packages/gir1.2-xapp-1.0-deb/.SRCINFO
  packages/gir1.2-xapp-1.0-deb/gir1.2-xapp-1.0-deb.pacscript
Labels: Update Package

#6124 upd(unicorn-{desktop,mobile}-git): add new gtk files
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Package

#6125 fix(rosary-deb): add maintainer
  packages/rosary-deb/.SRCINFO
  packages/rosary-deb/rosary-deb.pacscript
Labels: Update Pacscript

#6087 add: `lix-git` and deps
  packagelist
  packages/coreutils-single/.SRCINFO
  packages/coreutils-single/coreutils-single.pacscript
  packages/libeditline-troglobit/.SRCINFO
  packages/libeditline-troglobit/libeditline-troglobit.pacscript
  packages/libgc-nix/.SRCINFO
  packages/libgc-nix/libgc-nix.pacscript
  packages/lix-git/.SRCINFO
  packages/lix-git/lix-git.pacscript
  packages/mdbook-linkcheck/.SRCINFO
  packages/mdbook-linkcheck/mdbook-linkcheck.pacscript
  packages/mdbook/.SRCINFO
  packages/mdbook/mdbook.pacscript
Labels: Package Add

#6131 upd(firefox-bin): `126.0.1` -> `127.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#6135 upd(the-honkers-railways-launcher-bin): `1.5.5` -> `1.6.0`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
Labels: Update Package

#6134 upd(an-anime-game-launcher-bin): `3.9.6` -> `3.10.0`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#6139 upd(gitkraken-deb): `10.0.0` -> `10.0.2`
  packages/gitkraken-deb/.SRCINFO
  packages/gitkraken-deb/gitkraken-deb.pacscript
Labels: Update Package

#6140 upd(galaxybudsclient-bin): `4.6.0` -> `5.0.0`
  packages/galaxybudsclient-bin/.SRCINFO
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  packages/galaxybudsclient-bin/galaxybudsclient.desktop
Labels: Update Package

#6145 upd(yt-dlp): `2024.04.09` -> `2024.05.27`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#6146 upd(freetube-deb): `0.20.0` -> `0.21.0`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
Labels: Update Package

#6147 upd(tdrop-git): `1.5.0` -> `0.5.0`
  packages/tdrop-git/.SRCINFO
  packages/tdrop-git/tdrop-git.pacscript
Labels: Update Package

#6148 upd(zoom-deb): `6.0.10.5325` -> `6.1.0.198`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#6159 upd(discord-deb): `0.0.56` -> `0.0.58`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#6132 add: `distrobox-git`
  packagelist
  packages/distrobox-git/.SRCINFO
  packages/distrobox-git/distrobox-git.pacscript
Labels: Package Add

#6169 upd(starship-bin): `1.16.0` -> `1.19.0`
  packages/starship-bin/.SRCINFO
  packages/starship-bin/starship-bin.pacscript
Labels: Update Package

#6164 upd(rustdesk-deb): `1.2.3` -> `1.2.6`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
Labels: Update Package

#6161 upd(firefox-bin): `127.0` -> `127.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#6150 add: `restic-bin`
  packagelist
  packages/restic-bin/.SRCINFO
  packages/restic-bin/restic-bin.pacscript
Labels: Package Add

#6166 add: `fzf-bin`
  packagelist
  packages/fzf-bin/.SRCINFO
  packages/fzf-bin/fzf-bin.pacscript
Labels: Package Add

#6173 upd(linux-kernel-stable): `6.9.1` -> `6.9.3`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#6174 upd(linux-kernel): `6.9` -> `6.10~rc2`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#6177 upd(ferdium-deb): `6.7.4` -> `6.7.5`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package
