Repository pacstall/pacstall-programs, pull requests merged in 2024-08, with the labels that each got.

#6305 upd(the-honkers-railway-launcher-bin): `1.6.1` -> `1.7.1`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6304 upd(an-anime-game-launcher-bin): `3.10.3` -> `3.11.0`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#6303 upd(hamclock{,-big,-bigger,-huge}): `4.04` -> `4.05`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6302 upd(webcord-deb): `4.9.2` -> `4.10.0`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#6308 upd(scrcpy): `2.4` -> `2.6.1`
  packages/scrcpy/.SRCINFO
  packages/scrcpy/scrcpy.pacscript
  srclist
Labels: Update Package

#6278 add: `vkroots-git`
  packagelist
  packages/vkroots-git/.SRCINFO
  packages/vkroots-git/vkroots-git.pacscript
  srclist
Labels: Package Add

#6309 ci(srcinfo.sh): new `suggests` array
  README.md
  scripts/srcinfo.sh
Labels: CI

#6310 upd(pacup): `3.3.5` -> `3.3.6`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6311 upd(pacup-git): `3.3.5` -> `3.3.6`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6313 add: `oh-my-zsh-git`
  packagelist
  packages/oh-my-zsh-git/.SRCINFO
  packages/oh-my-zsh-git/oh-my-zsh-git.pacscript
  srclist
Labels: Package Add

#6314 fix(oh-my-zsh-git): add patch
  packages/oh-my-zsh-git/.SRCINFO
  packages/oh-my-zsh-git/0001-zshrc.patch
  packages/oh-my-zsh-git/oh-my-zsh-git.pacscript
  srclist
Labels: Update Pacscript

#6316 upd(docker-buildx-plugin-bin): `0.14.0` -> `0.16.2`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#6317 upd(docker-compose-plugin-bin): `2.27.0` -> `2.29.1`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
  srclist
Labels: Update Package

#6307 add: `honkers-launcher-bin`
  packagelist
  packages/honkers-launcher-bin/.SRCINFO
  packages/honkers-launcher-bin/honkers-launcher-bin.pacscript
  srclist
Labels: Package Add

#6315 upd(docker-bin): `26.1.1` -> `27.1.1`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#6318 add: `rhino-xfwm4-theme-git`
  packagelist
  packages/rhino-xfwm4-theme-git/.SRCINFO
  packages/rhino-xfwm4-theme-git/rhino-xfwm4-theme-git.pacscript
  srclist
Labels: Package Add

#6319 upd(unicorn-{desktop,mobile}-git): `rhino-xfwm4-theme-git` pacdep
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Package

#6320 upd(firefox-bin): 128.0.3 -> 129.0
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6274 upd(libdrm): `2.4.120` -> `2.4.122`
  packages/libdrm/.SRCINFO
  packages/libdrm/libdrm.pacscript
  srclist
Labels: Update Package

#6279 add: `libdisplay-info-git`
  packagelist
  packages/libdisplay-info-git/.SRCINFO
  packages/libdisplay-info-git/libdisplay-info-git.pacscript
  srclist
Labels: Package Add

#6321 add: `sleek-deb`
  packagelist
  packages/sleek-deb/.SRCINFO
  packages/sleek-deb/sleek-deb.pacscript
  srclist
Labels: Package Add

#6298 add: `protonplus`
  packagelist
  packages/protonplus/.SRCINFO
  packages/protonplus/protonplus.pacscript
  srclist
Labels: Package Add

#6323 upd(naps2-deb): `7.4.3` -> `7.5.0`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#6324 upd(heroic-games-launcher-deb): `2.14.1` -> `2.15.1`
  packages/heroic-games-launcher-deb/.SRCINFO
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
  srclist
Labels: Update Package

#6325 upd(firefox-arm64-deb): `128.0+build2` -> `129.0+build2`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6327 upd(github-desktop-deb): `3.4.2` -> `3.4.3`
  packages/github-desktop-deb/.SRCINFO
  packages/github-desktop-deb/github-desktop-deb.pacscript
  srclist
Labels: Update Package

#6326 upd(naps2-deb): `7.5.0` -> `7.5.1`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#6328 upd(cortile-bin): `2.4.0` -> `2.5.0`
  packages/cortile-bin/.SRCINFO
  packages/cortile-bin/cortile-bin.pacscript
  srclist
Labels: Update Package

#6329 upd(vscodium-deb): `1.91.1.24193` -> `1.92.1.24225`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#6330 upd(armcord-deb): `3.2.7` -> `3.2.8`
  packages/armcord-deb/.SRCINFO
  packages/armcord-deb/armcord-deb.pacscript
  srclist
Labels: Update Package

#6331 upd(rhino-setup-git): `2023.3` -> `2024.2`
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Package

#6332 upd(rhino-setup-bin): `2023.3` -> `2024.2`
  packages/rhino-setup-bin/.SRCINFO
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  srclist
Labels: Update Package

#6333 upd(linux-kernel): `6.10~rc2` -> `6.11~rc3`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#6334 upd(linux-kernel-stable): `6.9.3` -> `6.10.4`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6335 upd(rhino*core): `2024.1` -> `2024.2~RC`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#6336 add: `appmenu-registrar-backport`
  packagelist
  packages/appmenu-registrar-backport/.SRCINFO
  packages/appmenu-registrar-backport/appmenu-registrar-backport.pacscript
  srclist
Labels: Package Add

#6337 fix(unicorn-{desktop,mobile}-git): `appmenu-registrar-backport` dep
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#6338 upd(ulauncher-deb): `6.0.0~beta13` -> `6.0.0~beta15`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Package

#6340 upd(zotero): `6.0.30` -> `7.0.1`
  packages/zotero/.SRCINFO
  packages/zotero/zotero.pacscript
  srclist
Labels: Update Package

#6349 upd(brave-browser-nightly-deb): `1.69.71` -> `1.71.3`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6350 upd(mold-bin): `2.32.0` -> `2.33.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#6351 upd(yt-dlp): `2024.07.01` -> `2024.08.06`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#6352 upd(bazecor-app): `1.3.11` -> `1.4.4`
  packages/bazecor-app/.SRCINFO
  packages/bazecor-app/bazecor-app.pacscript
  srclist
Labels: Update Package

#6348 upd(discord-deb): `0.0.62` -> `0.0.64`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6347 upd(sublime-text-deb): `4169` -> `4180`
  packagelist
  packages/grub-customizer-git/.SRCINFO
  packages/grub-customizer-git/grub-customizer-git.pacscript
  packages/sublime-text-deb/.SRCINFO
  packages/sublime-text-deb/sublime-text-deb.pacscript
  srclist
Labels: Update Package

#6344 upd(sleepy-launcher-bin): `1.0.1` -> `1.1.0`
  packages/sleepy-launcher-bin/.SRCINFO
  packages/sleepy-launcher-bin/sleepy-launcher-bin.pacscript
  srclist
Labels: Update Package

#6341 upd(firefox-bin): `129.0` -> `129.0.1`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6356 upd(dbeaver-ce-deb): `24.1.3` -> `24.1.5`
  packages/dbeaver-ce-deb/.SRCINFO
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
  srclist
Labels: Update Package

#6353 upd(keepassxc): `2.7.6` -> `2.7.9`
  packages/keepassxc/.SRCINFO
  packages/keepassxc/keepassxc.pacscript
  srclist
Labels: Update Package

#6354 upd(joplin-desktop-app): `3.0.14` -> `3.0.15`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
  srclist
Labels: Update Package

#6358 upd(firefox-bin): `129.0.1` -> `129.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6359 upd(discord-deb): `0.0.64` -> `0.0.65`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6370 upd(discord-deb): `0.0.65` -> `0.0.66`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6367 upd(firefox-arm64-deb): `129.0+build2` -> `129.0.2+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6366 upd(firefox-nightly-deb): `128.0a1` -> `131.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#6365 upd(firefox-nightly-bin): `128.0a1` -> `131.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#6364 upd(aseprite): `1.3.7` -> `1.3.8.1`
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  srclist
Labels: Update Package

#6363 upd(opensnitch-deb): `1.6.3` -> `1.6.6`
  packages/opensnitch-deb/.SRCINFO
  packages/opensnitch-deb/opensnitch-deb.pacscript
  srclist
Labels: Update Package

#6361 fix(opensnitch-ui-deb): remove qt-material dependency
  packages/opensnitch-ui-deb/.SRCINFO
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
  srclist
Labels: Update Pacscript

#6362 upd(opensnitch-ui-deb): `1.6.3` -> `1.6.6`
  packages/opensnitch-ui-deb/.SRCINFO
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
  srclist
Labels: Update Package

#6360 upd(megabasterd-bin): `8.21` -> `8.22`
  packages/megabasterd-bin/.SRCINFO
  packages/megabasterd-bin/megabasterd-bin.pacscript
  srclist
Labels: Update Package

#6372 upd(webcord-deb): `4.10.0` -> `4.10.1`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#6373 upd(brave-browser-nightly-deb): `1.71.3` -> `1.71.46`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6371 upd(linux-kernel-stable): `6.10.4` -> `6.10.6`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6374 upd(linux-kernel-stable): `6.10.6` -> `6.10.7`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6375 upd(rhino*core): `2024.2~RC` -> `2024.2`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package
