Repository pacstall/pacstall-programs, pull requests merged in 2024-11, with the labels that each got.

#6604 fix(`waydroid-deb`): Fix the invalid SHA256 sums and change the descriptions
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Update Pacscript

#6608 fix(rhino*core): switch to `plucky`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Pacscript

#6610 upd(zen-browser): 1.0.1-a.16 -> 1.0.1-a.17
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6611 add: `linux-longterm-6.6-modules-deb`
  packagelist
  packages/linux-longterm-6.6-modules-deb/.SRCINFO
  packages/linux-longterm-6.6-modules-deb/linux-longterm-6.6-modules-deb.pacscript
  srclist
Labels: Package Add

#6613 upd(lunacy-deb): `10.3` -> `10.5`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#6614 upd(librewolf-deb): `131.0.3-1` -> `132.0-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6615 upd(ungoogled-chromium-deb): `128.0.6613.137-stable1` -> `130.0.6723.91-stable1`
  packages/ungoogled-chromium-deb/.SRCINFO
  packages/ungoogled-chromium-deb/ungoogled-chromium-deb.pacscript
  srclist
Labels: Update Package

#6617 upd(zed-editor-{stable,preview}-bin): `0.158.2` -> `0.159.7`, `0.159.1` -> `0.160.2`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6618 upd(gpu-screen-recorder): `4.2.4` -> `4.2.6`
  packages/gpu-screen-recorder/.SRCINFO
  packages/gpu-screen-recorder/gpu-screen-recorder.pacscript
  srclist
Labels: Update Package

#6620 add: `xfce4-dynamic-workspaces-plugin-git`
  packagelist
  packages/xfce4-dynamic-workspaces-plugin-git/.SRCINFO
  packages/xfce4-dynamic-workspaces-plugin-git/xfce4-dynamic-workspaces-plugin-git.pacscript
  srclist
Labels: Package Add

#6621 add: `rhino-stampede-dev`
  packagelist
  packages/rhino-stampede-dev/.SRCINFO
  packages/rhino-stampede-dev/rhino-stampede-dev.pacscript
  srclist
Labels: Package Add

#6623 upd(nushell-bin): `0.94.2` -> `0.99.1`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#6624 upd(zen-browser-*): `1.0.1-a.17` -> `1.0.1-a.18`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6625 upd(zen-browser-*): `1.0.1-a.18` -> `1.0.1-a.19`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6628 upd(brave-browser-deb): `1.71.121` -> `1.71.123`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6626 upd(simplex-desktop-app): `6.0.4` -> `6.1.1`
  packages/simplex-desktop-app/.SRCINFO
  packages/simplex-desktop-app/simplex-desktop-app.pacscript
  srclist
Labels: Update Package

#6629 upd(ferdium-deb): `6.7.7` -> `7.0.0`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
  srclist
Labels: Update Package

#6630 upd(onlyoffice-desktopeditors-deb): ```8.1.1``` -> ```8.2.0```
  packages/onlyoffice-desktopeditors-deb/.SRCINFO
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
  srclist
Labels: Update Package

#6633 add: `linux-kernel-lts-6.6`
  packagelist
  packages/linux-headers-generic-lts-6.6-deb/.SRCINFO
  packages/linux-headers-generic-lts-6.6-deb/linux-headers-generic-lts-6.6-deb.pacscript
  packages/linux-headers-lts-6.6-deb/.SRCINFO
  packages/linux-headers-lts-6.6-deb/linux-headers-lts-6.6-deb.pacscript
  packages/linux-image-unsigned-lts-6.6-deb/.SRCINFO
  packages/linux-image-unsigned-lts-6.6-deb/linux-image-unsigned-lts-6.6-deb.pacscript
  packages/linux-kernel-lts-6.6/.SRCINFO
  packages/linux-kernel-lts-6.6/linux-kernel-lts-6.6.pacscript
  packages/linux-longterm-6.6-modules-deb/.SRCINFO
  packages/linux-modules-lts-6.6-deb/.SRCINFO
  packages/linux-modules-lts-6.6-deb/linux-modules-lts-6.6-deb.pacscript
  srclist
Labels: Package Add

#6634 fix(linux-headers{-stable}-deb): `all` not `any`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  srclist
Labels: Update Pacscript

#6635 upd(firefox-arm64-deb): `131.0+build1` -> `132.0.1+build2`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6636 upd(firefox-nightly-bin): `133.0a1` -> `134.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#6637 upd(firefox-nightly-deb): `133.0a1` -> `134.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#6638 upd(firefox-bin): `131.0.3` -> `132.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6639 upd(cortile-bin): `2.5.0` -> `2.5.2`
  packages/cortile-bin/.SRCINFO
  packages/cortile-bin/cortile-bin.pacscript
  srclist
Labels: Update Package

#6640 upd(vscodium-deb): `1.94.0.24282` -> `1.95.2.24313`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#6642 ref(armcord-deb): replace with `legcord-deb`
  packagelist
  packages/armcord-deb/.SRCINFO
  packages/armcord-deb/armcord-deb.pacscript
  packages/legcord-deb/.SRCINFO
  packages/legcord-deb/legcord-deb.pacscript
  srclist
Labels: Package Add, remove package

#6643 upd(docker-bin): `27.1.1` -> `27.3.1`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#6644 upd(docker-compose-plugin-bin): `2.29.1` -> `2.30.3`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
  srclist
Labels: Update Package

#6645 upd(docker-buildx-plugin-bin): `0.16.2` -> `0.18.0`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#6646 upd(floorp-bin): `11.12.2` -> `11.20.0`
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Package

#6647 upd(blender-bin): `4.0.2` -> `4.2.3`
  packages/blender-bin/.SRCINFO
  packages/blender-bin/blender-bin.pacscript
  srclist
Labels: Update Package

#6648 upd(git): `2.45.0` -> `2.47.0`
  packages/git/.SRCINFO
  packages/git/git.pacscript
  srclist
Labels: Update Package

#6649 upd(github-cli-deb): `2.49.0` -> `2.61.0`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
  srclist
Labels: Update Package

#6650 upd(github-cli-bin): `2.49.0` -> `2.61.0`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
  srclist
Labels: Update Package

#6651 upd(firefox-developer-edition-bin): `125.0b9` -> `133.0b8`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#6652 upd(google-chrome-beta-deb): `130.0.6723.6` -> `131.0.6778.33`
  packages/google-chrome-beta-deb/.SRCINFO
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
  srclist
Labels: Update Package

#6653 upd(google-chrome-unstable-deb): `126.0.6452.3` -> `132.0.6821.2`
  packages/google-chrome-unstable-deb/.SRCINFO
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
  srclist
Labels: Update Package

#6654 upd(vivaldi-deb): `6.5.3206.57` -> `7.0.3495.14`
  packages/vivaldi-deb/.SRCINFO
  packages/vivaldi-deb/vivaldi-deb.pacscript
  srclist
Labels: Update Package

#6656 upd(webcord-deb): `4.10.1` -> `4.10.2`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#6657 upd(yt-dlp): `2024.08.06` -> `2024.11.04`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#6658 upd(zotero): `7.0.8` -> `7.0.9`
  packages/zotero/.SRCINFO
  packages/zotero/zotero.pacscript
  srclist
Labels: Update Package

#6659 upd(ulauncher-deb): `6.0.0~beta15` -> `6.0.0~beta16`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Package

#6660 upd(steam-deb): `1.0.0.79` -> `1.0.0.81`
  packages/steam-deb/.SRCINFO
  packages/steam-deb/steam-deb.pacscript
  srclist
Labels: Update Package

#6661 upd(sublime-merge-deb): `2096` -> `2102`
  packages/sublime-merge-deb/.SRCINFO
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
  srclist
Labels: Update Package

#6662 upd(tidal-hifi-bin): `5.11.0` -> `5.17.0`
  packages/tidal-hifi-bin/.SRCINFO
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
  srclist
Labels: Update Package

#6663 upd(topgrade-musl-bin): `14.0.1` -> `16.0.1`
  packages/topgrade-musl-bin/.SRCINFO
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
  srclist
Labels: Update Package

#6665 upd(nuclei-bin): `3.1.7` -> `3.3.5`
  packages/nuclei-bin/.SRCINFO
  packages/nuclei-bin/nuclei-bin.pacscript
  srclist
Labels: Update Package

#6667 upd(opera-developer-deb): `111.0.5151.0` -> `116.0.5341.0`
  packages/opera-developer-deb/.SRCINFO
  packages/opera-developer-deb/opera-developer-deb.pacscript
  srclist
Labels: Update Package

#6668 upd(protonmail-bridge-deb): `3.10.0` -> `3.14.0`
  packages/protonmail-bridge-deb/.SRCINFO
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
  srclist
Labels: Update Package

#6669 upd(ivpn-ui-deb): `3.14.2` -> `3.14.17`
  packages/ivpn-ui-deb/.SRCINFO
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
  srclist
Labels: Update Package

#6670 upd(librewolf-app): `130.0-3` -> `132.0.1-1`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
  srclist
Labels: Update Package

#6671 upd(nordvpn-deb): `3.17.4` -> `3.19.0`
  packages/nordvpn-deb/.SRCINFO
  packages/nordvpn-deb/nordvpn-deb.pacscript
  srclist
Labels: Update Package

#6672 upd(librewolf-deb): `132.0-1` -> `132.0.1-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6673 upd(1password-cli-bin): `2.28.0` -> `2.30.3`
  packages/1password-cli-bin/.SRCINFO
  packages/1password-cli-bin/1password-cli-bin.pacscript
  srclist
Labels: Update Package

#6674 upd(android-studio): `2024.1.1.12` -> `2024.2.1.11`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#6675 upd(android-studio-canary): `2023.1.1.28` -> `2024.2.1.11`
  packages/android-studio-canary/.SRCINFO
  packages/android-studio-canary/android-studio-canary.pacscript
  srclist
Labels: Update Package

#6676 upd(anydesk-deb): `6.3.2` -> `6.4.0`
  packages/anydesk-deb/.SRCINFO
  packages/anydesk-deb/anydesk-deb.pacscript
  srclist
Labels: Update Package

#6677 upd(aws-cli-v2-bin): `2.15.44` -> `2.21.0`
  packages/aws-cli-v2-bin/.SRCINFO
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
  srclist
Labels: Update Package

#6678 upd(bitwarden-deb): `2024.6.4` -> `2024.11.0`
  packages/bitwarden-deb/.SRCINFO
  packages/bitwarden-deb/bitwarden-deb.pacscript
  srclist
Labels: Update Package

#6679 upd(chezmoi-deb): `2.48.2` -> `2.54.0`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
  srclist
Labels: Update Package

#6680 upd(chwp-deb): `1.239.6` -> `1.239.26`
  packages/chwp-deb/.SRCINFO
  packages/chwp-deb/chwp-deb.pacscript
  srclist
Labels: Update Package

#6681 upd(element-desktop-deb): `1.11.55` -> `1.11.85`
  packages/element-desktop-deb/.SRCINFO
  packages/element-desktop-deb/element-desktop-deb.pacscript
  srclist
Labels: Update Package

#6683 fix(*): more `all` not `any`
  packages/gldriver-test-deb/.SRCINFO
  packages/gldriver-test-deb/gldriver-test-deb.pacscript
  packages/raspi-config-deb/.SRCINFO
  packages/raspi-config-deb/raspi-config-deb.pacscript
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Pacscript

#6691 upd(zed-editor-{stable,preview}-bin): `0.160.7` -> `0.161.2`, `0.161.1` -> `0.162.1`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6689 upd(gpu-screen-recorder): `4.2.6` -> `4.3.1`
  packages/gpu-screen-recorder/.SRCINFO
  packages/gpu-screen-recorder/gpu-screen-recorder.pacscript
  srclist
Labels: Update Package

#6693 upd(alacritty): `0.13.2` -> `0.14.0`
  packages/alacritty/.SRCINFO
  packages/alacritty/alacritty.pacscript
  srclist
Labels: Update Package

#6696 upd(zed-editor-{stable,preview}-bin): `0.161.2` -> `0.162.5`, `0.162.1` -> `0.163.2`
  packages/zed-editor-preview-bin/.SRCINFO
  packages/zed-editor-preview-bin/zed-editor-preview-bin.pacscript
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#6695 upd(brave-browser-deb): `1.73.89` -> `1.73.91`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6694 upd(gpu-screen-recorder): `4.3.1` -> `4.3.2`
  packages/gpu-screen-recorder/.SRCINFO
  packages/gpu-screen-recorder/gpu-screen-recorder.pacscript
  srclist
Labels: Update Package

#6699 upd(zig-bin): `0.12.0` -> `0.13.0`
  packages/zig-bin/.SRCINFO
  packages/zig-bin/zig-bin.pacscript
  srclist
Labels: Update Package

#6701 ref(*): drop `_archive` usage from all `-app` packages
  packages/bazecor-app/bazecor-app.pacscript
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
  packages/krita-app/krita-app.pacscript
  packages/librewolf-app/librewolf-app.pacscript
  packages/lunarclient-app/lunarclient-app.pacscript
  packages/minecraft-pi-reborn-app/.SRCINFO
  packages/minecraft-pi-reborn-app/minecraft-pi-reborn-app.pacscript
  packages/mymonero-app/mymonero-app.pacscript
  packages/neovim-app/neovim-app.pacscript
  packages/rpcs3-app/rpcs3-app.pacscript
  packages/suyu-app/suyu-app.pacscript
  packages/texstudio-app/texstudio-app.pacscript
  packages/tutanota-app/tutanota-app.pacscript
  packages/upscayl-app/upscayl-app.pacscript
  packages/walc-app/walc-app.pacscript
  srclist
Labels: cleanup

#6706 fix(moka-icon-theme): use proper link
  packages/moka-icon-theme/.SRCINFO
  packages/moka-icon-theme/moka-icon-theme.pacscript
  srclist
Labels: Update Pacscript

#6704 upd(brave-browser-beta-deb): `1.67.101` -> `1.74.14`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  srclist
Labels: Update Package

#6705 upd(brave-browser-nightly-deb): `1.75.32` -> `1.75.56`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6703 upd(zen-browser-*): `1.0.1-a.19` -> `1.0.1-a.22`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6707 upd(freetube-deb): `0.21.3` -> `0.22.0`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
  srclist
Labels: Update Package

#6709 upd(honkers-launcher-bin): `1.9.0` -> `1.10.2`
  packages/honkers-launcher-bin/.SRCINFO
  packages/honkers-launcher-bin/honkers-launcher-bin.pacscript
  srclist
Labels: Update Package

#6631 add: `asdf-vm`
  packagelist
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Package Add

#6711 upd(linux-kernel{-stable}): `6.11` -> `6.12`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6712 upd(linux-kernel-stable): `6.12` -> `6.12.1`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package
