Repository pacstall/pacstall-programs, pull requests merged in 2024-05, with the labels that each got.

#5927 add: `pacup{-git}`
  packagelist
  packages/pacup-git/pacup-git.pacscript
  packages/pacup/pacup.pacscript
Labels: Package Add

#5928 rm: `pacup-bin`
  packagelist
  packages/pacup-bin/pacup-bin.pacscript
Labels: remove package

#5929 fix(rhino*core): `noble` -> `oracular`
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#5932 fix(emac{-git}): use `depends` pipes
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/emacs.pacscript
Labels: Update Pacscript

#5933 refactor(*): deprecate all `lsb_release` usage
  packages/bpytop-git/bpytop-git.pacscript
  packages/cmake-data-deb/cmake-data-deb.pacscript
  packages/cmake-deb/cmake-deb.pacscript
  packages/fsearch-deb/fsearch-deb.pacscript
  packages/hypnotix-deb/hypnotix-deb.pacscript
  packages/libcamera-git/libcamera-git.pacscript
  packages/qtile-extras-git/qtile-extras-git.pacscript
  packages/qtile-git/qtile-git.pacscript
  packages/tenacity-git/tenacity-git.pacscript
  packages/torbrowser-launcher-git/torbrowser-launcher-git.pacscript
  packages/veracrypt-deb/veracrypt-deb.pacscript
Labels: refactor

#5934 rm: `cachy-browser-bin`
  packagelist
  packages/cachy-browser-bin/cachy-browser-bin.pacscript
Labels: remove package

#5931 upd(firefox-bin): `125.0.2` -> `125.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5676 add: `goldberg-emulator-git`
  packagelist
  packages/goldberg-emulator-git/.SRCINFO
  packages/goldberg-emulator-git/goldberg-emulator-git.pacscript
Labels: Package Add

#5943 ci(distrolist.yml): maintain a list of supported base distros/versions
  .github/workflows/distrolist.yml
  distrolist
Labels: CI

#5941 add: `hyprwayland-scanner`
  packagelist
  packages/hyprwayland-scanner/.SRCINFO
  packages/hyprwayland-scanner/hyprwayland-scanner.pacscript
Labels: Package Add

#5945 upd(mold-bin): `2.30.0` -> `2.31.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
Labels: Update Package

#5944 upd(hyprland-bin): `0.39.1` -> `0.40.0`
  packages/hyprland-bin/.SRCINFO
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Update Package

#5948 upd(firefox-arm64-deb): `125.0.2+build1` -> `125.0.3+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5937 upd(ticktick-deb): `2.0.10` -> `2.0.20`
  packages/ticktick-deb/.SRCINFO
  packages/ticktick-deb/ticktick-deb.pacscript
Labels: Update Package

#5946 fix(hyprland-bin): remove unneeded pacdeps
  packages/hyprland-bin/.SRCINFO
  packages/hyprland-bin/hyprland-bin.pacscript
Labels: Update Pacscript

#5938 upd(megasync-deb): `5.2.0` -> `5.2.1`
  packages/megasync-deb/.SRCINFO
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#5952 upd(pacup): `3.1.0` -> `3.1.1`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#5951 upd(nushell-bin): `0.92.2` -> `0.93.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package

#5953 fix(ghcup-bin): breakage from 5.x conversion
  packages/ghcup-bin/.SRCINFO
  packages/ghcup-bin/ghcup-bin.pacscript
Labels: Update Pacscript

#5954 fix(rhino*core): remove `pacstall-qa-git` from dependency list
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Pacscript

#5957 upd(android-studio): `2023.2.1.25` -> `2024.1.1.6`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
Labels: Update Package

#5958 upd(aws-cli-v2-bin): `2.15.13` -> `2.15.44`
  packages/aws-cli-v2-bin/.SRCINFO
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
Labels: Update Package

#5959 upd(bitwarden-deb): `2024.1.0` -> `2024.4.3`
  packages/bitwarden-deb/.SRCINFO
  packages/bitwarden-deb/bitwarden-deb.pacscript
Labels: Update Package

#5960 upd(chezmoi-deb): `2.47.2` -> `2.48.0`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
Labels: Update Package

#5962 upd(google-chrome-beta-deb): `121.0.6167.85` -> `125.0.6422.26`
  packages/google-chrome-beta-deb/.SRCINFO
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
Labels: Update Package

#5963 upd(google-chrome-unstable-deb): `122.0.6253.3` -> `126.0.6452.3`
  packages/google-chrome-unstable-deb/.SRCINFO
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
Labels: Update Package

#5964 upd(ivpn-ui-deb): `3.13.4` -> `3.14.2`
  packages/ivpn-ui-deb/.SRCINFO
  packages/ivpn-ui-deb/ivpn-ui-deb.pacscript
Labels: Update Package

#5966 upd(docker-buildx-plugin-bin): `0.12.1` -> `0.14.0`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
Labels: Update Package

#5968 upd(github-cli-bin): `2.42.1` -> `2.49.0`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
Labels: Update Package

#5967 upd(docker-compose-plugin-bin): `2.24.7` -> `2.27.0`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
Labels: Update Package

#5969 upd(github-cli-deb): `2.42.1` -> `2.49.0`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
Labels: Update Package

#5971 upd(chwp-deb): `1.217.0` -> `1.239.6`
  packages/chwp-deb/.SRCINFO
  packages/chwp-deb/chwp-deb.pacscript
Labels: Update Package

#5972 upd(librewolf-app): `121.0-1` -> `125.0.3-1`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
Labels: Update Package

#5973 upd(librewolf-deb): `121.0-1` -> `125.0.3-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
Labels: Update Package

#5974 upd(nordvpn-deb): `3.17.0` -> `3.17.4`
  packages/nordvpn-deb/.SRCINFO
  packages/nordvpn-deb/nordvpn-deb.pacscript
Labels: Update Package

#5987 upd(discord-deb): `0.0.52` -> `0.0.53`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5988 upd(teams-for-linux-deb): `1.4.26` -> `1.4.37`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
Labels: Update Package

#5975 upd(opera-developer-deb): `108.0.5054.0` -> `111.0.5151.0`
  packages/opera-developer-deb/.SRCINFO
  packages/opera-developer-deb/opera-developer-deb.pacscript
Labels: Update Package

#5976 upd(protonmail-bridge-deb): `3.9.1` -> `3.10.0`
  packages/protonmail-bridge-deb/.SRCINFO
  packages/protonmail-bridge-deb/protonmail-bridge-deb.pacscript
Labels: Update Package

#5977 upd(sublime-merge-deb): `2092` -> `2096`
  packages/sublime-merge-deb/.SRCINFO
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
Labels: Update Package

#5979 upd(topgrade-musl-bin): `14.0.0` -> `14.0.1`
  packages/topgrade-musl-bin/.SRCINFO
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
Labels: Update Package

#5980 upd(torguard-deb): `4.8.28` -> `4.8.29`
  packages/torguard-deb/.SRCINFO
  packages/torguard-deb/torguard-deb.pacscript
Labels: Update Package

#5982 upd(webcord-deb): `4.6.1` -> `4.9.1`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
Labels: Update Package

#5992 fix(discord-deb): bump version in SRCINFO source
  packages/discord-deb/.SRCINFO
Labels: Update Pacscript

#5986 ci(tests.yml): use `-Qa` and `dep-tree.sh`
  .github/workflows/tests.yml
Labels: CI

#5984 upd(linux-kernel): `6.9~rc6` -> `6.9~rc7`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5993 upd(an-anime-game-launcher-bin): `3.9.5` -> `3.9.6`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
Labels: Update Package

#5994 upd(the-honkers-railway-launcher-bin): `1.5.4` -> `1.5.5`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
Labels: Update Package

#5996 upd(go-task-deb): `3.36.0` -> `3.37.1`
  packages/go-task-deb/.SRCINFO
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5997 upd(nala-deb): `0.15.1` -> `0.15.2`
  packages/nala-deb/.SRCINFO
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package

#5998 fix(qt6pas): upd to pacstall 5
  packages/qt6pas/.SRCINFO
  packages/qt6pas/qt6pas.pacscript
Labels: Update Pacscript

#5983 upd(xdg-desktop-portal-hyprland): `1.2.5` -> `1.3.1`
  packages/xdg-desktop-portal-hyprland/.SRCINFO
  packages/xdg-desktop-portal-hyprland/xdg-desktop-portal-hyprland.pacscript
Labels: Update Package

#6002 upd(distrobox): `1.7.1` -> `1.7.2.1`
  packages/distrobox/.SRCINFO
  packages/distrobox/distrobox.pacscript
Labels: Update Package

#6000 upd(goverlay-bin): `1.0` -> `1.1.1`
  packages/goverlay-bin/.SRCINFO
  packages/goverlay-bin/goverlay-bin.pacscript
Labels: Update Package

#6001 fix(galaxybudsclient-bin): missing icon file
  packages/galaxybudsclient-bin/.SRCINFO
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
Labels: Update Pacscript

#6003 upd(eza-git): `0.18.9` -> `0.18.15`
  packages/eza-git/.SRCINFO
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5851 upd(exercism-cli-bin): `3.2.0` -> `3.4.0`
  packages/exercism-cli-bin/.SRCINFO
  packages/exercism-cli-bin/exercism-cli-bin.pacscript
Labels: Update Package, Stalled

#5999 upd(virtualbox-deb): `7.0.14` -> `7.0.18`
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
Labels: Update Package

#6008 fix(virtualbox-deb): correct pre-commit
  packages/virtualbox-deb/virtualbox-deb.pacscript
Labels: Update Pacscript

#6010 upd(hamclock): `3.10` -> `4.0.0`
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
Labels: Update Package

#6009 upd(linux-kernel{-stable}): `6.{8.8,9~rc7}` -> `6.9`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#6007 upd(wezterm-app): `20230712-072601-f4abf8fd` -> `20240203-110809-5046fc22`
  packages/wezterm-app/.SRCINFO
  packages/wezterm-app/wezterm-app.pacscript
  packages/wezterm-app/wezterm.desktop
Labels: Update Package

#6012 fix(mangohud): added external_connection=true
  packages/mangohud/mangohud.pacscript
Labels: Update Pacscript

#6016 fix(ghcup-bin): for real this time
  packages/ghcup-bin/.SRCINFO
  packages/ghcup-bin/ghcup-bin.pacscript
Labels: Update Pacscript

#6014 upd(discord-deb) `0.0.53` -> `0.0.54`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
Labels: Update Package

#5824 upd(goverlay): `1.0` -> `1.1.1`
  packages/goverlay/.SRCINFO
  packages/goverlay/goverlay.pacscript
Labels: Update Package

#6017 upd(mullvad-vpn-deb) 2024.2 -> 2024.3
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
Labels: Update Package

#6019 upd(neovim-app): `0.9.5` -> `0.10.0`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
Labels: Update Package

#6018 upd(neovim): `0.9.5` -> `0.10.0`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
Labels: Update Package

#6023 upd(pacup{-git}): `3.{0.0,1.1}` -> `3.1.3`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
Labels: Update Package

#6021 upd(drawio-desktop-deb): `24.0.4` -> `24.4.0`
  packages/drawio-desktop-deb/.SRCINFO
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#6022 upd(linux-kernel-stable): `6.9` -> `6.9.1`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#6024 upd(linux-okpine): `6.7.1` -> `6.9.0`
  packages/linux-headers-okpine-deb/.SRCINFO
  packages/linux-headers-okpine-deb/linux-headers-okpine-deb.pacscript
  packages/linux-image-okpine-deb/.SRCINFO
  packages/linux-image-okpine-deb/linux-image-okpine-deb.pacscript
  packages/linux-libc-dev-okpine-deb/.SRCINFO
  packages/linux-libc-dev-okpine-deb/linux-libc-dev-okpine-deb.pacscript
Labels: Update Package

#6013 add: `xdg-ninja-git`
  packagelist
  packages/xdg-ninja-git/.SRCINFO
  packages/xdg-ninja-git/xdg-ninja-git.pacscript
Labels: Package Add

#6004 add: `ventoy-bin`
  packagelist
  packages/ventoy-bin/.SRCINFO
  packages/ventoy-bin/ventoy-bin.pacscript
Labels: Package Add

#5991 upd(wine-staging-git): `8.13` -> `9.8`
  packages/wine-staging-git/.SRCINFO
  packages/wine-staging-git/wine-staging-git.pacscript
Labels: Update Package

#6006 feat: add .shellcheckrc, specify shell=bash, re-enable codes which are safe to enable
  .pre-commit-config.yaml
  .shellcheckrc
  packages/docker-bin/docker-bin.pacscript
Labels: feature

#5912 add: `hamclock-big`
  packagelist
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-big/hamclock.desktop
Labels: Package Add

#6025 upd(ferdium-deb): `6.7.2` -> `6.7.4`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
Labels: Update Package

#6027 fix(hamclock-big): fix the desktop shortcut
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-big/hamclock.desktop
Labels: Update Pacscript

#6028 fix(unicorn-desktop-git): repair appmenu with css override
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#6026 upd(kakoune): `2023.08.05` -> `2024.05.18`
  packages/kakoune/.SRCINFO
  packages/kakoune/kakoune.pacscript
Labels: Update Package

#6029 fix(hamclock-big): use and source desktop shortcut
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
Labels: Update Pacscript

#6030 upd(yt-dlp): `2024.03.10` -> `2024.04.09`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
Labels: Update Package

#6034 add: `firefox-nightly-{bin,deb}`
  packagelist
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
Labels: Package Add

#6035 upd(oh-my-posh-git): `19.8.2` -> `20.0.0`
  packages/oh-my-posh-git/.SRCINFO
  packages/oh-my-posh-git/oh-my-posh-git.pacscript
Labels: Update Package

#6037 fix(unicorn-desktop-git): reduce appmenu size slightly
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
Labels: Update Pacscript

#6038 upd(rhino*core): `2023.4` -> `2024.1~RC`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#6039 fix(hamclock): add shortcut and fix cd paths
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.desktop
  packages/hamclock/hamclock.pacscript
Labels: Update Pacscript

#6040 upd(joplin-desktop-app): `2.14.20` -> `2.14.21`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
Labels: Update Package

#6041 upd(ventoy-bin): `1.0.97` -> `1.0.98`
  packages/ventoy-bin/.SRCINFO
  packages/ventoy-bin/ventoy-bin.pacscript
Labels: Update Package

#6044 upd(jellyfin-media-player-deb): `1.9.1` -> `1.10.1`
  packages/jellyfin-media-player-deb/.SRCINFO
  packages/jellyfin-media-player-deb/jellyfin-media-player-deb.pacscript
Labels: Update Package

#6045 ci(srcinfo.sh): enable distro arrays
  scripts/srcinfo.sh
Labels: CI

#6046 fix(hamclock): use desktop shortcut
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
Labels: Update Pacscript

#6049 upd(thorium-deb): `123.0.6312.133` -> `124.0.6367.218`
  packages/thorium-deb/.SRCINFO
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#6048 upd(joplin-desktop-app): `2.14.21` -> `2.14.22`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
Labels: Update Package

#6050 upd(zoom-deb): `6.0.2.4680` -> `6.0.10.5325`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#6051 add: `hamclock-bigger`
  packagelist
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-bigger/hamclock.desktop
Labels: Package Add

#6047 refactor(*): deprecate case `DISTRO` checks
  packages/cmake-data-deb/.SRCINFO
  packages/cmake-data-deb/cmake-data-deb.pacscript
  packages/cmake-deb/.SRCINFO
  packages/cmake-deb/cmake-deb.pacscript
  packages/fsearch-deb/.SRCINFO
  packages/fsearch-deb/fsearch-deb.pacscript
  packages/goverlay/.SRCINFO
  packages/goverlay/goverlay.pacscript
  packages/hypnotix-deb/.SRCINFO
  packages/hypnotix-deb/hypnotix-deb.pacscript
  packages/hyprland/.SRCINFO
  packages/hyprland/hyprland.pacscript
  packages/jellyfin-media-player-deb/.SRCINFO
  packages/jellyfin-media-player-deb/jellyfin-media-player-deb.pacscript
  packages/libcamera-git/.SRCINFO
  packages/libcamera-git/libcamera-git.pacscript
  packages/liblcf/.SRCINFO
  packages/liblcf/liblcf.pacscript
  packages/megasync-deb/.SRCINFO
  packages/megasync-deb/megasync-deb.pacscript
  packages/prismlauncher-git/.SRCINFO
  packages/prismlauncher-git/prismlauncher-git.pacscript
  packages/tenacity-git/.SRCINFO
  packages/tenacity-git/tenacity-git.pacscript
  packages/ulauncher-deb/ulauncher-deb.pacscript
  packages/veracrypt-deb/.SRCINFO
  packages/veracrypt-deb/veracrypt-deb.pacscript
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  scripts/srcinfo.sh
Labels: refactor

#6052 add: `hamclock-huge`
  packagelist
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock-huge/hamclock.desktop
Labels: Package Add

#6054 fix(veracrypt-deb): `compatible` array and typo
  packages/veracrypt-deb/.SRCINFO
  packages/veracrypt-deb/veracrypt-deb.pacscript
Labels: Update Pacscript

#6042 upd(aseprite): `1.3.6` -> `1.3.7`
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  packages/aseprite/dont-clone-strings.patch
Labels: Update Package

#6055 add: `bottom-deb`
  packagelist
  packages/bottom-deb/.SRCINFO
  packages/bottom-deb/bottom-deb.pacscript
Labels: Package Add

#6056 upd(anytype-deb): `0.37.3` -> `0.40.9`
  packages/anytype-deb/.SRCINFO
  packages/anytype-deb/anytype-deb.pacscript
Labels: Update Package

#6057 upd(wgcf-bin): `2.2.20` -> `2.2.22`
  packages/wgcf-bin/.SRCINFO
  packages/wgcf-bin/wgcf-bin.pacscript
Labels: Update Package

#6031 add: `davinci-resolve`
  packagelist
  packages/davinci-resolve/.SRCINFO
  packages/davinci-resolve/davinci-resolve.pacscript
  packages/davinci-resolve/update.sh
Labels: Package Add

#6058 upd(rhino*core): `2024.1~RC` -> `2024.1`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: Update Package

#6059 upd(firefox-bin): `125.0.3` -> `126.0.1`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#6060 upd(nushell-bin): `0.93.0` -> `0.94.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
Labels: Update Package
