Repository pacstall/pacstall-programs, pull requests merged in 2024-12, with the labels that each got.

#6713 upd(discord-canary): `0.0.327` -> `0.0.528`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#6719 upd(onlyoffice-desktopeditors-deb) : `8.2.0` -> `8.2.2`
  packages/onlyoffice-desktopeditors-deb/.SRCINFO
  packages/onlyoffice-desktopeditors-deb/onlyoffice-desktopeditors-deb.pacscript
  srclist
Labels: Update Package

#6714 upd(librewolf-deb): `132.0.2-1` -> `133.0-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6723 upd(vesktop-deb): `1.5.3` -> `1.5.4`
  packages/vesktop-deb/.SRCINFO
  packages/vesktop-deb/vesktop-deb.pacscript
  srclist
Labels: Update Package

#6722 upd(the-honkers-railway-launcher-bin): `1.9.0` -> `1.9.1`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6721 upd(nushell-bin): `0.99.1` -> `0.100.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#6733 upd(rust-bin): `1.80.1` -> `1.83.0`
  packages/rust-bin/.SRCINFO
  packages/rust-bin/rust-bin.pacscript
  srclist
Labels: Update Package

#6729 upd(vscodium-deb): `1.95.2.24313` -> `1.95.3.24321`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#6728 upd(firefox-developer-edition-bin): `133.0b8` -> `134.0b7`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#6726 upd(github-desktop-deb): `3.4.3` -> `3.4.8`
  packages/github-desktop-deb/.SRCINFO
  packages/github-desktop-deb/github-desktop-deb.pacscript
  srclist
Labels: Update Package

#6725 upd(lunacy-deb): `10.5` -> `10.9`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#6724 upd(virtualbox-deb): `7.1.0-164728` -> `7.1.4-165100`
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  srclist
Labels: Update Package

#6735 upd(pacup): `3.3.6` -> `3.3.7`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6734 upd(clipboard-bin): `0.9.0.1` -> `0.9.1`
  packages/clipboard-bin/.SRCINFO
  packages/clipboard-bin/clipboard-bin.pacscript
  srclist
Labels: Update Package

#6403 add: `mesa-kisak-fresh`
  packagelist
  packages/mesa-kisak-fresh/.SRCINFO
  packages/mesa-kisak-fresh/mesa-kisak-fresh.pacscript
  srclist
Labels: Package Add

#6737 upd(brave-browser-deb): `1.73.91` -> `1.73.97`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6738 upd(gpu-screen-recorder): `4.3.2` -> `4.3.5`
  packages/gpu-screen-recorder/.SRCINFO
  packages/gpu-screen-recorder/gpu-screen-recorder.pacscript
  srclist
Labels: Update Package

#6736 upd(ollama-bin): `0.3.13` -> `0.5.1`
  packages/ollama-bin/.SRCINFO
  packages/ollama-bin/ollama-bin.pacscript
  srclist
Labels: Update Package

#6740 upd(lutris-deb): `0.5.17` -> `0.5.18`
  packages/lutris-deb/.SRCINFO
  packages/lutris-deb/lutris-deb.pacscript
  srclist
Labels: Update Package

#6742 upd(legcord-deb): `1.0.3` -> `1.0.5`
  packages/legcord-deb/.SRCINFO
  packages/legcord-deb/legcord-deb.pacscript
  srclist
Labels: Update Package

#6743 upd(intellij-idea-community-bin): `2024.2.3` -> `2024.3.1`
  packages/intellij-idea-community-bin/.SRCINFO
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
  srclist
Labels: Update Package

#6745 upd(pycharm-community-bin): `2024.2.3` -> `2024.3`
  packages/pycharm-community-bin/.SRCINFO
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  srclist
Labels: Update Package

#6748 fix(rhino-setup-{bin,git}): add `uidmap` dependency
  packages/rhino-setup-bin/.SRCINFO
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Pacscript

#6749 fix(unicorn-desktop-git): add `xserver-xorg-video-intel` dep
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  srclist
Labels: Update Pacscript

#6698 add: `cortile`
  packagelist
  packages/cortile/.SRCINFO
  packages/cortile/cortile.pacscript
  srclist
Labels: Package Add

#6754 upd(hyprland-bin): `0.44.1` -> `0.45.2`
  packages/hyprland-bin/.SRCINFO
  packages/hyprland-bin/hyprland-bin.pacscript
  packages/libaquamarine-bin/.SRCINFO
  packages/libaquamarine-bin/libaquamarine-bin.pacscript
  srclist
Labels: Update Package

#6752 upd(mold-bin): `2.34.1` -> `2.35.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#6753 upd(bazecor-app): `1.5.1` -> `1.6.1`
  packages/bazecor-app/.SRCINFO
  packages/bazecor-app/bazecor-app.pacscript
  srclist
Labels: Update Package

#6750 fix(xfce4-dynamic-workspaces-plugin-git): change `ln` to `cp`
  packages/xfce4-dynamic-workspaces-plugin-git/xfce4-dynamic-workspaces-plugin-git.pacscript
Labels: Update Package

#6700 add: `exiftool`
  packagelist
  packages/exiftool/.SRCINFO
  packages/exiftool/exiftool.pacscript
  srclist
Labels: Package Add

#6756 upd(python3-imdbpy-deb): `2021.04.18` -> `6.8`
  packages/python3-imdbpy-deb/.SRCINFO
  packages/python3-imdbpy-deb/python3-imdbpy-deb.pacscript
  srclist
Labels: Update Package

#6553 upd(hypnotix-deb): `4.3` -> `4.8`
  packages/hypnotix-deb/.SRCINFO
  packages/hypnotix-deb/hypnotix-deb.pacscript
  srclist
Labels: Update Package

#6758 upd(zen-browser-*): `1.0.1-a.22` -> `1.0.2-b.1`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Package Add

#6759 add: `zen-browser-aarch64-bin`
  packagelist
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  srclist
Labels: Package Add

#6760 upd(zen-browser-*): `1.0.2-b.1` -> `1.0.2-b.2`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6751 add: `webstorm-bin`
  packagelist
  packages/webstorm-bin/.SRCINFO
  packages/webstorm-bin/webstorm-bin.pacscript
  srclist
Labels: Package Add

#6766 upd(zen-browser-*): `1.0.2-b.2` -> `1.0.2-b.3`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6767 upd(osu-lazer-app): `2024.1009.1` -> `2024.1219.2`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6773 fix(ananicy-cpp): add `external_connection`
  packages/ananicy-cpp/ananicy-cpp.pacscript
Labels: Update Pacscript

#6772 upd(teams-for-linux-deb): `1.11.1` -> `1.12.5`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#6771 add: `obs-studio-deb`
  packagelist
  packages/obs-studio-deb/.SRCINFO
  packages/obs-studio-deb/obs-studio-deb.pacscript
  srclist
Labels: Package Add

#6774 fix({celeste,docker,rhino-setup}-bin}): no archive
  packages/celeste-bin/celeste-bin.pacscript
  packages/docker-bin/docker-bin.pacscript
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
Labels: Update Pacscript

#6775 fix(go-bin): `pkgdir` is not available at `safe_source()` time
  packages/go-bin/go-bin.pacscript
Labels: Update Pacscript

#6783 add: `greetd-phrog`
  packagelist
  packages/greetd-phrog/.SRCINFO
  packages/greetd-phrog/greetd-phrog.pacscript
  packages/greetd-phrog/libphosh-0.43.patch
  srclist
Labels: Package Add

#6782 chore: retire from maintainership
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  packages/cachyos-ananicy-rules-git/.SRCINFO
  packages/cachyos-ananicy-rules-git/cachyos-ananicy-rules-git.pacscript
  packages/coreutils-single/.SRCINFO
  packages/coreutils-single/coreutils-single.pacscript
  packages/davinci-resolve/.SRCINFO
  packages/davinci-resolve/davinci-resolve.pacscript
  packages/ffsend-bin/.SRCINFO
  packages/ffsend-bin/ffsend-bin.pacscript
  packages/galaxybudsclient-bin/.SRCINFO
  packages/galaxybudsclient-bin/galaxybudsclient-bin.pacscript
  packages/ghcup-bin/.SRCINFO
  packages/ghcup-bin/ghcup-bin.pacscript
  packages/goldberg-emulator-git/.SRCINFO
  packages/goldberg-emulator-git/goldberg-emulator-git.pacscript
  packages/kakoune/.SRCINFO
  packages/kakoune/kakoune.pacscript
  packages/libeditline-troglobit/.SRCINFO
  packages/libeditline-troglobit/libeditline-troglobit.pacscript
  packages/libgc-nix/.SRCINFO
  packages/libgc-nix/libgc-nix.pacscript
  packages/liblcf/.SRCINFO
  packages/liblcf/liblcf.pacscript
  packages/lix-git/.SRCINFO
  packages/lix-git/lix-git.pacscript
  packages/mdbook-linkcheck/.SRCINFO
  packages/mdbook-linkcheck/mdbook-linkcheck.pacscript
  packages/mdbook/.SRCINFO
  packages/mdbook/mdbook.pacscript
  packages/megabasterd-bin/.SRCINFO
  packages/megabasterd-bin/megabasterd-bin.pacscript
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  packages/pb-git/.SRCINFO
  packages/pb-git/pb-git.pacscript
  packages/picom/.SRCINFO
  packages/picom/picom.pacscript
  packages/prettier/.SRCINFO
  packages/prettier/prettier.pacscript
  packages/scrcpy/.SRCINFO
  packages/scrcpy/scrcpy.pacscript
  packages/shfmt-bin/.SRCINFO
  packages/shfmt-bin/shfmt-bin.pacscript
  packages/simplex-desktop-app/.SRCINFO
  packages/simplex-desktop-app/simplex-desktop-app.pacscript
  packages/suyu-app/.SRCINFO
  packages/suyu-app/suyu-app.pacscript
  packages/texstudio-app/.SRCINFO
  packages/texstudio-app/texstudio-app.pacscript
  packages/xdg-ninja-git/.SRCINFO
  packages/xdg-ninja-git/xdg-ninja-git.pacscript
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: chore

#6785 upd(xfce4-settings-pine-git): `4.18.0` -> `4.20.0`
  packages/xfce4-settings-pine-git/.SRCINFO
  packages/xfce4-settings-pine-git/xfce4-settings-pine-git.pacscript
  srclist
Labels: Update Package

#6786 upd(zotero): `7.0.9` -> `7.0.11`
  packages/zotero/.SRCINFO
  packages/zotero/zotero.pacscript
  srclist
Labels: Update Package

#6779 fix(rustdesk-deb): deduplicate `maintainer`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Pacscript

#6777 fix(zen-browser-*): merge all pacscripts
  packagelist
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Pacscript

#6784 fix(rhino-pine-core): pt2 rotation fix
  packages/appmenu-registrar-backport/.SRCINFO
  packages/appmenu-registrar-backport/appmenu-registrar-backport.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/xfce4-settings-pine-git/.SRCINFO
  packages/xfce4-settings-pine-git/xfce4-settings-pine-git.pacscript
  srclist
Labels: Update Pacscript

#6720 fix(unicorn-{desktop,mobile}-git): add dynamic workspaces
  packages/rhino-stampede-dev/.SRCINFO
  packages/rhino-stampede-dev/rhino-stampede-dev.pacscript
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  packages/xfce4-dynamic-workspaces-plugin-git/.SRCINFO
  packages/xfce4-dynamic-workspaces-plugin-git/xfce4-dynamic-workspaces-plugin-git.pacscript
  srclist
Labels: chore

#6791 fix(unicorn-{desktop,mobile}-git): `pulseaudio-module-bluetooth` alt-dep
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#6789 upd(discord*): update to latest
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6787 upd(pycharm-community-bin): `2024.3` -> `2024.3.1.1`
  packages/pycharm-community-bin/.SRCINFO
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  packages/pycharm-community-bin/pycharm.desktop
  srclist
Labels: Update Package

#6788 upd(ungoogled-chromium-deb): `130.0.6723.91-stable1` -> `131.0.6778.204-stable1`
  packages/ungoogled-chromium-deb/.SRCINFO
  packages/ungoogled-chromium-deb/ungoogled-chromium-deb.pacscript
  srclist
Labels: Update Package

#6770 upd(wine-staging-git): `9.8` -> `10.0`
  packages/wine-staging-git/.SRCINFO
  packages/wine-staging-git/wine-staging-git.pacscript
  srclist
Labels: Update Package

#6795 add: `pacstall`
  packagelist
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Package Add

#6794 upd(caprine-deb): `2.58.0` -> `2.60.3`
  packages/caprine-deb/.SRCINFO
  packages/caprine-deb/caprine-deb.pacscript
  srclist
Labels: Update Package

#6798 upd(neovim-git): `0.10.1` -> `0.10.3`
  packages/neovim-git/.SRCINFO
  packages/neovim-git/neovim-git.pacscript
  srclist
Labels: Update Package

#6800 upd(neovim-app): `0.10.1` -> `0.10.3`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
  srclist
Labels: Update Package

#6799 upd(neovim): `0.10.2` -> `0.10.3`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package

#6797 add: `ufetch-ubuntu`
  packagelist
  packages/ufetch-ubuntu/.SRCINFO
  packages/ufetch-ubuntu/ufetch-ubuntu.pacscript
  srclist
Labels: Package Add

#6796 add: `discord-canary-deb`
  packagelist
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Package Add

#6802 fix(unicorn-{mobile,desktop}-git): regular `cortile`
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#6804 add: `rhino-grub-theme-git`
  packagelist
  packages/rhino-grub-theme-git/.SRCINFO
  packages/rhino-grub-theme-git/rhino-grub-theme-git.pacscript
  srclist
Labels: Package Add

#6806 upd(firefox-arm64-deb): `132.0.1+build2` -> `133.0.3+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6807 fix(unicorn-desktop-git): dep not on arm64
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  srclist
Labels: Update Pacscript

#6814 fix(rhino-kvantum-theme-git): prefer newer kvantum dep
  packages/rhino-kvantum-theme-git/.SRCINFO
  packages/rhino-kvantum-theme-git/rhino-kvantum-theme-git.pacscript
  srclist
Labels: Update Pacscript
