Repository pacstall/pacstall-programs, pull requests merged in 2024-09, with the labels that each got.

#6392 upd(discord-deb): `0.0.66` -> `0.0.67`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6377 upd(an-anime-game-launcher-bin): `3.11.0` -> `3.12.1`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#6380 upd(honkers-launcher-bin): `1.7.1` -> `1.8.1`
  packages/honkers-launcher-bin/.SRCINFO
  packages/honkers-launcher-bin/honkers-launcher-bin.pacscript
  srclist
Labels: Update Package

#6379 upd(sleepy-launcher-bin): `1.1.0` -> `1.2.1`
  packages/sleepy-launcher-bin/.SRCINFO
  packages/sleepy-launcher-bin/sleepy-launcher-bin.pacscript
  srclist
Labels: Update Package

#6378 upd(the-honkers-railway-launcher-bin): `1.7.1` -> `1.8.1`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6391 upd(rustdesk-deb): `1.2.6` -> `1.3.0`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Package

#6398 upd(go-task-deb): `3.38.0` -> `3.39.0`
  packages/go-task-deb/.SRCINFO
  packages/go-task-deb/go-task-deb.pacscript
  srclist
Labels: Update Package

#6397 upd(pulsar-deb): `1.119.0` -> `1.120.0`
  packages/pulsar-deb/.SRCINFO
  packages/pulsar-deb/pulsar-deb.pacscript
  srclist
Labels: Update Package

#6399 upd(linux-kernel-stable): `6.10.7` -> `6.10.9`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6400 upd(linux-kernel): `6.11~rc3` -> `6.11~rc7`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#6388 add: `rust-bin`
  packagelist
  packages/rust-bin/.SRCINFO
  packages/rust-bin/rust-bin.pacscript
  srclist
Labels: Package Add

#6381 upd(nala-deb): `0.15.3` -> `0.15.4`
  packages/nala-deb/.SRCINFO
  packages/nala-deb/nala-deb.pacscript
  srclist
Labels: Update Package

#6389 add: `wayland`
  packagelist
  packages/wayland/.SRCINFO
  packages/wayland/wayland.pacscript
  srclist
Labels: Package Add

#6390 add: `grub-customizer-git`
  packagelist
  packages/grub-customizer-git/.SRCINFO
  packages/grub-customizer-git/grub-customizer-git.pacscript
  srclist
Labels: Package Add

#6408 add: `mission-center`
  packagelist
  packages/mission-center/.SRCINFO
  packages/mission-center/mission-center.pacscript
  srclist
Labels: Package Add

#6411 fix(libdrm): changed arch to any, remove breaks
  packages/libdrm/.SRCINFO
  packages/libdrm/libdrm.pacscript
  srclist
Labels: Update Pacscript

#6409 add: `osu-lazer-app`
  packagelist
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer
  packages/osu-lazer-app/osu-lazer-app.pacscript
  packages/osu-lazer-app/osu-lazer.desktop
  srclist
Labels: Package Add

#6406 fix(Rust-bin): add i686 architecture for clean chroot
  packages/rust-bin/.SRCINFO
  packages/rust-bin/rust-bin.pacscript
  srclist
Labels: Update Pacscript

#6382 add: `meson-git`
  packagelist
  packages/meson-git/.SRCINFO
  packages/meson-git/cross-lib32
  packages/meson-git/debian-meson
  packages/meson-git/meson-git.pacscript
  packages/meson-git/native-clang
  srclist
Labels: Package Add

#6405 fix(Wayland): breaks field make lib32 i386 package not installing
  packages/wayland/.SRCINFO
  packages/wayland/wayland.pacscript
  srclist
Labels: Update Pacscript

#6412 upd(discord-deb): `0.0.67` -> `0.0.68`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6414 upd(osu-lazer-app): `2024.906.1` -> `2024.906.2`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6415 upd(the-honkers-railway-launcher-bin): `1.8.1` -> `1.8.2`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6417 upd(virtualbox-deb): `7.0.20` -> `7.1.0`
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  srclist
Labels: Update Package

#6402 add: `directx-headers-git`
  packagelist
  packages/directx-headers-git/.SRCINFO
  packages/directx-headers-git/directx-headers-git.pacscript
  srclist
Labels: Package Add

#6419 fix(fastfetch-git): changed optdeps to fix trixie sid
  packages/fastfetch-git/.SRCINFO
  packages/fastfetch-git/fastfetch-git.pacscript
  srclist
Labels: Update Pacscript

#6355 add: `libcs50-git`
  packagelist
  packages/libcs50-git/.SRCINFO
  packages/libcs50-git/libcs50-git.pacscript
  srclist
Labels: Package Add

#6342 fix(mangohud): support 32bit apps
  packages/mangohud/.SRCINFO
  packages/mangohud/mangohud.pacscript
  srclist
Labels: Update Pacscript, blocked

#6425 fix(mission-center): use compatible instead of incompatible
  packages/mission-center/.SRCINFO
  packages/mission-center/mission-center.pacscript
  srclist
Labels: Update Pacscript

#6423 upd(obsidian-deb): `1.5.3` -> `1.6.7`
  packages/obsidian-deb/.SRCINFO
  packages/obsidian-deb/obsidian-deb.pacscript
  srclist
Labels: Update Package

#6424 upd(zoxide-deb): `0.9.4` -> `0.9.5`
  packages/zoxide-deb/.SRCINFO
  packages/zoxide-deb/zoxide-deb.pacscript
  srclist
Labels: Update Package

#6421 upd(hamclock{,-big,-bigger,-huge}): `4.05` -> `4.06`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6422 add: `ffnvcodec-headers`
  packagelist
  packages/ffnvcodec-headers/.SRCINFO
  packages/ffnvcodec-headers/ffnvcodec-headers.pacscript
  srclist
Labels: Package Add

#6426 fix(wayland): add conflicts to prevent KDE users installing the package (breaking bug)
  packages/wayland/.SRCINFO
  packages/wayland/wayland.pacscript
  srclist
Labels: Update Pacscript

#6418 add: `wayland-protocols-git`
  packagelist
  packages/wayland-protocols-git/.SRCINFO
  packages/wayland-protocols-git/wayland-protocols-git.pacscript
  srclist
Labels: Package Add

#6428 add: `zen-browser-{specific,generic}-bin`
  packagelist
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Package Add

#6429 upd(linux-kernel{-stable}): `6.10.9` -> `6.11`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#6430 upd(go-task-deb): `3.39.0` -> `3.39.1`
  packages/go-task-deb/.SRCINFO
  packages/go-task-deb/go-task-deb.pacscript
  srclist
Labels: Update Package

#6427 upd(scrcpy): `2.6.1` -> `2.7`
  packages/scrcpy/.SRCINFO
  packages/scrcpy/scrcpy.pacscript
  srclist
Labels: Update Package

#6431 upd(zoxide-deb): `0.9.5` -> `0.9.6`
  packages/zoxide-deb/.SRCINFO
  packages/zoxide-deb/zoxide-deb.pacscript
  srclist
Labels: Update Package

#6432 upd(go-task-deb): `3.39.1` -> `3.39.2`
  packages/go-task-deb/.SRCINFO
  packages/go-task-deb/go-task-deb.pacscript
  srclist
Labels: Update Package

#6434 upd(librewolf-deb): `125.0.3-1` -> `130.0-3`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6437 upd(lunacy-deb): `9.5.0` --> `10.1`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#6438 upd(librewolf-app): `125.0.3-1` -> `130.0-3`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
  srclist
Labels: Update Package

#6439 upd(brave-browser-nightly-deb): `1.71.46` -> `1.72.28`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6442 upd(firefox-bin): `129.0.2` -> `130.0.1`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6445 upd(rustdesk-deb): `1.3.0` -> `1.3.1`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Package

#6446 upd(microsoft-edge-stable-deb): `120.0.2210.144` -> `129.0.2792.52-1`
  packages/microsoft-edge-stable-deb/.SRCINFO
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
  srclist
Labels: Update Package

#6447 upd(ferdium-deb): `6.7.5` -> `6.7.7`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
  srclist
Labels: Update Package

#6453 add: `ungoogled-chromium-deb`
  packagelist
  packages/ungoogled-chromium-deb/.SRCINFO
  packages/ungoogled-chromium-deb/ungoogled-chromium-deb.pacscript
  srclist
Labels: Package Add

#6450 upd(hamclock{,-big,-bigger,-huge}): `4.06` -> `4.07`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6452 upd(microsoft-edge-dev-deb): `118.0.2060.1` -> `130.0.2835.2-1`
  packages/microsoft-edge-dev-deb/.SRCINFO
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
  srclist
Labels: Update Package

#6456 add: `amf-headers`
  packagelist
  packages/amf-headers/.SRCINFO
  packages/amf-headers/amf-headers.pacscript
  srclist
Labels: Package Add

#6457 add: `libgbinder-deb`
  packagelist
  packages/libgbinder-deb/.SRCINFO
  packages/libgbinder-deb/libgbinder-deb.pacscript
  srclist
Labels: Package Add

#6459 upd(google-chrome-beta-deb): `125.0.6422.26` -> `130.0.6723.6`
  packages/google-chrome-beta-deb/.SRCINFO
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
  srclist
Labels: Update Package

#6458 upd(google-chrome-deb): `120.0.6099.199` -> `129.0.6668.58`
  packages/google-chrome-deb/.SRCINFO
  packages/google-chrome-deb/google-chrome-deb.pacscript
  srclist
Labels: Update Package

#6462 upd(discord-deb): `0.0.68` -> `0.0.69`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6463 upd(zen-browser-{generic,specific}-bin): `1.0.1-a` -> `1.0.1-a.4`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6465 upd(brave-browser-nightly-deb): `1.72.28` -> `1.72.36`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6464 upd(bazecor-app): `1.4.4` -> `1.5.1`
  packages/bazecor-app/.SRCINFO
  packages/bazecor-app/bazecor-app.pacscript
  srclist
Labels: Update Package

#6468 add: `python3-gbinder-deb`
  packagelist
  packages/python3-gbinder-deb/.SRCINFO
  packages/python3-gbinder-deb/python3-gbinder-deb.pacscript
  srclist
Labels: Package Add

#6469 add: `waydroid-deb`
  packagelist
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Package Add

#6470 upd(hamclock{,-big,-bigger,-huge}): `4.07` -> `4.08`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6475 upd(simplex-desktop-app): `5.8.0` -> `6.0.4`
  packages/simplex-desktop-app/.SRCINFO
  packages/simplex-desktop-app/simplex-desktop-app.pacscript
  srclist
Labels: Update Package

#6473 upd(texstudio-app): `4.7.2` -> `4.8.3`
  packages/texstudio-app/.SRCINFO
  packages/texstudio-app/texstudio-app.pacscript
  srclist
Labels: Update Package

#6474 upd(zoom-deb): `6.1.1.443` -> `6.2.0.1855`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: Update Package

#6471 upd(ghcup-bin): `0.1.22.0` -> `0.1.30.0`
  packages/ghcup-bin/.SRCINFO
  packages/ghcup-bin/ghcup-bin.pacscript
  srclist
Labels: Update Package

#6472 upd(prettier): `3.2.5` -> `3.3.3`
  packages/prettier/.SRCINFO
  packages/prettier/prettier.pacscript
  srclist
Labels: Update Package

#6478 add: `bottles`, `python3-fvs`, and `python3-vkbasalt-cli`
  packagelist
  packages/bottles/.SRCINFO
  packages/bottles/bottles.pacscript
  packages/python3-fvs/.SRCINFO
  packages/python3-fvs/python3-fvs.pacscript
  packages/python3-vkbasalt-cli/.SRCINFO
  packages/python3-vkbasalt-cli/python3-vkbasalt-cli.pacscript
  srclist
Labels: Package Add

#6479 fix(zen-browser-{generic,specific}-bin): bin and policies
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
Labels: Update Pacscript

#6480 fix(zen-browser-{specific,generic}-bin): bump pkgrel, add maintainer
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Pacscript

#6476 upd(davinci-resolve): `18.6.6` -> `19.0.1`
  packages/davinci-resolve/.SRCINFO
  packages/davinci-resolve/davinci-resolve.pacscript
  packages/davinci-resolve/update.sh
  srclist
Labels: Update Package

#6483 upd(zen-browser-{generic,specific}-bin): `1.0.1-a.5` -> `1.0.1-a.6`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6484 upd(zen-browser-{generic,specific}-bin): `1.0.1-a.6` -> `1.0.1-a.7`
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package
