Repository pacstall/pacstall-programs, pull requests merged in 2024-02, with the labels that each got.

#5583 upd(cachy-browser-bin): `121.0.1-1` -> `122.0-2`
  packages/cachy-browser-bin/cachy-browser-bin.pacscript
Labels: Update Package

#5582 upd(picom): `11` -> `11.1`
  packages/picom/picom.pacscript
Labels: Update Package

#5587 upd(discord-canary): `0.0.265` -> `0.0.266`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5588 upd(eza-git): `0.17.1` -> `0.18.0`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5589 upd(discord-canary): `0.0.266` -> `0.0.267`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5211 rm: `{ibhagwan,jonaburg}-picom-git`
  packagelist
  packages/ibhagwan-picom-git/ibhagwan-picom-git.pacscript
  packages/jonaburg-picom-git/jonaburg-picom-git.pacscript
Labels: remove package

#5591 fix(github-desktop-deb): remove `declare -A sums`
  packages/github-desktop-deb/github-desktop-deb.pacscript
Labels: Update Pacscript

#5592 fix(clipboard-bin): remove `declare -A sums`
  packages/clipboard-bin/clipboard-bin.pacscript
Labels: Update Pacscript

#5593 fix(lf-bin): remove `declare -A hashlist`
  packages/lf-bin/lf-bin.pacscript
Labels: Update Pacscript

#5598 upd(apx-git): `2.0.0` -> `2.4.0`
  packages/apx-git/apx-git.pacscript
Labels: Update Package

#5597 upd(lunacy-deb): `9.3.3` -> `9.4.0`
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Update Package

#5596 upd(drawio-desktop-deb): `22.1.21` -> `23.0.2`
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
Labels: Update Package

#5595 rm: `aomp-deb`
  packagelist
  packages/aomp-deb/aomp-deb.pacscript
Labels: remove package

#5590 upd(tailscale) `1.56.1` -> `1.58.2`
  packages/tailscale/tailscale.pacscript
Labels: Update Package

#5601 upd(gfn-electron-bin): `1.13.0` -> `2.0.1`
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
Labels: Update Package

#5600 upd(bitwarden-cli-bin): `2023.7.0` -> `2024.1.0`
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
Labels: Update Package

#5603 upd(armcord-deb): `3.2.5` -> `3.2.6`
  packages/armcord-deb/armcord-deb.pacscript
Labels: Update Package

#5604 upd(discord-canary): `0.0.267` -> `0.0.268`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5605 upd(ticktick-deb): `2.0.0` -> `2.0.10`
  packages/ticktick-deb/ticktick-deb.pacscript
Labels: Update Package

#5607 upd(genymotion-bin): `3.5.1` -> `3.6.0`
  packages/genymotion-bin/genymotion-bin.pacscript
Labels: Update Package

#5606 upd(megasync-deb): `4.9.6-1.1` -> `4.11.0-3.1`
  packages/megasync-deb/megasync-deb.pacscript
Labels: Update Package

#5609 upd(discord-canary): `0.0.268` -> `0.0.271`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5611 upd(discord): `0.0.41` -> `0.0.42`
  packages/discord/discord.pacscript
Labels: Update Package

#5612 upd(firefox-bin): `122.0` -> `122.0.1`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5613 upd(brave-browser-nightly-deb): `1.64.21` -> `1.64.53`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5614 fix(glow-deb): fix arch64 is not a valid architecture
  packages/glow-deb/glow-deb.pacscript
Labels: Update Pacscript

#5615 upd(discord-canary): `0.0.271` -> `0.0.273`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5618 upd(discord-canary): `0.0.273` -> `0.0.275`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5619 upd(eza-git): `0.18.0` -> `0.18.2`
  packages/eza-git/eza-git.pacscript
Labels: Update Package

#5620 upd(ani-cli-bin): `4.7` -> `4.8`
  packages/ani-cli-bin/ani-cli-bin.pacscript
Labels: Update Package

#5621 upd(discord-canary): `0.0.275` -> `0.0.276`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5622 rm: `pipewire-bundle`
  packagelist
  packages/pipewire-bundle/pipewire-bundle.pacscript
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
Labels: remove package

#5624 upd(arduino-ide-bin): 2.2.1 -> 2.3.0
  packages/arduino-ide-bin/arduino-ide-bin.pacscript
Labels: Update Package

#5628 upd(popcorn-time-deb): `0.4.9` -> `0.5.0`
  packages/popcorn-time-deb/popcorn-time-deb.pacscript
Labels: Update Package

#5627 upd(zoxide-deb): `0.9.2` -> `0.9.3`
  packages/zoxide-deb/zoxide-deb.pacscript
Labels: Update Package

#5626 upd(dbeaver-ce-deb): `23.3.3` -> `23.3.4`
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
Labels: Update Package

#5629 upd(discord-canary): `0.0.276` -> `0.0.277`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5632 upd(discord-canary): `0.0.277` -> `0.0.278`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5633 upd(watchexec-bin): `1.24.2` -> `1.25.1`
  packages/watchexec-bin/watchexec-bin.pacscript
Labels: Update Package

#5634 fix(apx-git): incorrect distrobox path
  packages/apx-git/apx-git.pacscript
Labels: Update Pacscript

#5635 upd(discord-canary): `0.0.278` -> `0.0.281`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5608 fix(genymotion-bin): fix invalid desktop icon file
  packages/genymotion-bin/genymotion-bin.pacscript
Labels: Update Pacscript

#5636 upd(picom): `11.1` -> `11.2`
  packages/picom/picom.pacscript
Labels: Update Package

#5637 upd(aseprite): `1.3.2` -> `1.3.3`
  packages/aseprite/aseprite.pacscript
Labels: Update Package

#5639 upd(aseprite): `1.3.3` -> `1.3.4`
  packages/aseprite/aseprite.pacscript
Labels: Update Package

#5640 upd(discord-canary): `0.0.281` -> `0.0.282`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5643 upd(lunarclient-app): `3.1.3` -> `3.2.3`
  packages/lunarclient-app/lunarclient-app.pacscript
Labels: Update Package

#5646 upd(youtube-music-deb): `3.3.1` -> `3.3.2`
  packages/youtube-music-deb/youtube-music-deb.pacscript
Labels: Update Package

#5647 upd(zoxide-deb): `0.9.3` -> `0.9.4`
  packages/zoxide-deb/zoxide-deb.pacscript
Labels: Update Package

#5648 add: `joplin-desktop-app`
  packagelist
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
Labels: Package Add

#5654 upd(firefox-bin): `122.0.1` -> `123.0`
  packages/firefox-bin/firefox-bin.pacscript
Labels: Update Package

#5653 upd(brave-browser-nightly-deb): `1.64.53` -> `1.65.28`
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
Labels: Update Package

#5656 upd(firefox-arm64-deb): `122.0+build2` -> `123.0+build3`
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
Labels: Update Package

#5652 upd(virtualbox-deb): `0.7.12` -> `0.7.14`
  packages/virtualbox-deb/virtualbox-deb.pacscript
Labels: Update Package

#5659 upd(neovide-bin): `0.11.1` -> `0.12.2`
  packages/neovide-bin/neovide-bin.pacscript
Labels: Update Package

#5657 upd(thorium-deb): `120.0.6099.235` -> `121.0.6167.204`
  packages/thorium-deb/thorium-deb.pacscript
Labels: Update Package

#5602 upd(hyprland): `0.34.0` -> `0.35.0`
  packages/hyprland/hyprland.pacscript
  packages/libdrm/libdrm.pacscript
  packages/xdg-desktop-portal-hyprland/xdg-desktop-portal-hyprland.pacscript
Labels: Update Package

#5661 add: `python3-levenshtein-deb`
  packagelist
  packages/python3-levenshtein-deb/python3-levenshtein-deb.pacscript
Labels: Package Add

#5662 fix(ulauncher-deb): ubuntu:devel pacdep on `python3-levenshtein-deb`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Pacscript

#5658 upd(mangohud): `0.7.0` -> `0.7.1`
  packages/mangohud/mangohud.pacscript
Labels: Update Package

#5650 add: `nautilus-open-in-blackbox-git`
  packagelist
  packages/nautilus-open-in-blackbox-git/nautilus-open-in-blackbox-git.pacscript
Labels: Package Add

#5665 upd(brave-browser-deb):`1.61.114`->`1.63.162`
  packages/brave-browser-deb/brave-browser-deb.pacscript
Labels: Update Package

#5664 upd(zoom-deb): `5.17.5.2543` -> `5.17.10.3512`
  packages/zoom-deb/zoom-deb.pacscript
Labels: Update Package

#5515 upd(ulauncher-deb): `5.15.6` -> `6.0.0~beta5`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Package, Stalled

#5668 fix(unicorn-{desktop,mobile}-git: update `ulauncher` bindings
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
Labels: Update Pacscript

#5669 fix(ulauncher-deb): correct/update `depends`
  packages/ulauncher-deb/ulauncher-deb.pacscript
Labels: Update Pacscript

#5671 upd(linux-kernel-stable): `6.7.1` -> `6.7.6`
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
Labels: Update Package

#5670 upd(linux-kernel): `6.7` -> `6.8~rc6`
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/linux-modules-deb.pacscript
Labels: Update Package

#5666 add: `rustdesk-deb`
  packagelist
  packages/rustdesk-deb/rustdesk-deb.pacscript
Labels: Package Add

#5675 upd(discord-canary): `0.0.282` -> `0.0.285`
  packages/discord-canary/discord-canary.pacscript
Labels: Update Package

#5674 upd(aseprite): `1.3.4` -> `1.3.5`
  packages/aseprite/aseprite.pacscript
Labels: Update Package

#5673 upd(lunacy-deb): `9.4.0` -> `9.4.2.5022`
  packages/lunacy-deb/lunacy-deb.pacscript
Labels: Update Package

#5678 upd(pulsar-deb): `1.113.0` -> `1.114.0`
  packages/pulsar-deb/pulsar-deb.pacscript
Labels: Update Package

#5677 upd(go-task-deb): `3.34.1` -> `3.35.0`
  packages/go-task-deb/go-task-deb.pacscript
Labels: Update Package

#5679 upd(nala-deb): `0.15.0` -> `0.15.1`
  packages/nala-deb/nala-deb.pacscript
Labels: Update Package
