Repository pacstall/pacstall-programs, pull requests merged in 2025-03, with the labels that each got.

#7116 add: `pacstall-mime-git`
  packagelist
  packages/pacstall-mime-git/.SRCINFO
  packages/pacstall-mime-git/pacstall-mime-git.pacscript
  srclist
Labels: Package Add

#7115 add: `pacstall-docker-builder-git`
  packagelist
  packages/pacstall-docker-builder-git/.SRCINFO
  packages/pacstall-docker-builder-git/pacstall-docker-builder-git.pacscript
  srclist
Labels: Package Add

#7119 upd(lazygit): `0.47.2` -> `0.48.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7117 upd(freetube-deb): `0.22.0` -> `0.23.2`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
  srclist
Labels: Update Package

#7126 upd(heroic-games-launcher-deb): `2.15.2` -> `2.16.0`
  packages/heroic-games-launcher-deb/.SRCINFO
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
  srclist
Labels: Update Package

#7123 upd(teams-for-linux-deb): `1.12.6` -> `1.12.7`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7124 upd(topgrade-bin): `16.0.1` -> `16.0.2`
  packages/topgrade-bin/.SRCINFO
  packages/topgrade-bin/topgrade-bin.pacscript
  srclist
Labels: Update Package

#7125 upd(libdrm): `2.4.122` -> `2.4.124`
  packages/libdrm/.SRCINFO
  packages/libdrm/libdrm.pacscript
  srclist
Labels: Update Package

#7120 add: `r2modman-deb`
  packagelist
  packages/r2modman-deb/.SRCINFO
  packages/r2modman-deb/r2modman-deb.pacscript
  srclist
Labels: Package Add

#7121 upd(youtube-music-deb): `3.7.1` -> `3.7.5`
  packages/youtube-music-deb/.SRCINFO
  packages/youtube-music-deb/youtube-music-deb.pacscript
  srclist
Labels: Update Package

#7127 fix(discord): executable perms and update
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Pacscript

#7130 upd(godot-bin): `4.3` -> `4.4`
  packages/godot-bin/.SRCINFO
  packages/godot-bin/godot-bin.pacscript
  srclist
Labels: Update Package

#7131 upd(godot-mono-bin): `4.3` -> `4.4`
  packages/godot-mono-bin/.SRCINFO
  packages/godot-mono-bin/godot-mono-bin.pacscript
  srclist
Labels: Update Package

#7132 upd(rust-bin): `1.83.0` -> `1.85.0`
  packages/rust-bin/.SRCINFO
  packages/rust-bin/rust-bin.pacscript
  srclist
Labels: Update Package

#7133 upd(firefox-bin): `135.0` -> `136.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6918 rm: `tuner-git`/`tuner`
  packagelist
  packages/tuner-git/.SRCINFO
  packages/tuner-git/tuner-git.pacscript
  packages/tuner/.SRCINFO
  packages/tuner/tuner.pacscript
  srclist
Labels: remove package

#6972 add: `ly-git`
  packagelist
  packages/ly-git/.SRCINFO
  packages/ly-git/config_dir-fix.patch
  packages/ly-git/ly-git.pacscript
  srclist
Labels: Package Add

#7128 add: `abdownloadmanager`
  packagelist
  packages/abdownloadmanager/.SRCINFO
  packages/abdownloadmanager/abdownloadmanager.pacscript
  srclist
Labels: Package Add

#7135 upd(firefox-arm64-deb): `135.0+build2` -> `136.0+build3`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#7136 upd(firefox-nightly-deb): `137.0a1` -> `138.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7137 upd(firefox-nightly-bin): `137.0a1` -> `138.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#7138 upd(discord-ptb-deb): `0.0.132` -> `0.0.133`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7141 fix(firefox-bin): add `arm64` builds
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Pacscript

#7144 upd(zen-browser-bin): `1.8.1b` -> `1.9b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7142 add: `firefox-deb`
  packagelist
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Package Add

#7148 upd(hydralauncher-deb): `3.2.3` -> `3.3.0`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7147 upd(ollama-bin): `0.5.1` -> `0.5.13`
  packages/ollama-bin/.SRCINFO
  packages/ollama-bin/ollama-bin.pacscript
  srclist
Labels: Update Package

#7146 upd(zig-bin): `0.13.0` -> `0.14.0`
  packages/zig-bin/.SRCINFO
  packages/zig-bin/zig-bin.pacscript
  srclist
Labels: Update Package

#7145 fix(ly-git): remove unnecessary patch
  packages/ly-git/.SRCINFO
  packages/ly-git/config_dir-fix.patch
  packages/ly-git/ly-git.pacscript
  srclist
Labels: Update Pacscript

#7149 upd(discord-deb): `0.0.87` -> `0.0.88`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7150 upd(r2modman-deb): `3.1.56` -> `3.1.57`
  packages/r2modman-deb/.SRCINFO
  packages/r2modman-deb/r2modman-deb.pacscript
  srclist
Labels: Update Package

#7151 upd(ungoogled-chromium-bin): `132.0.6834.110-1` -> `134.0.6998.35-1`
  packages/ungoogled-chromium-bin/.SRCINFO
  packages/ungoogled-chromium-bin/ungoogled-chromium-bin.pacscript
  srclist
Labels: Update Package

#7152 upd(lunacy-deb): `10.11` -> `11.0`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#7154 upd(heroic-games-launcher-deb): ```2.16.0``` -> ```2.16.1```
  packages/heroic-games-launcher-deb/.SRCINFO
  packages/heroic-games-launcher-deb/heroic-games-launcher-deb.pacscript
  srclist
Labels: Update Package

#7158 upd(go-bin): `1.21.6` -> `1.24.1`
  packages/go-bin/.SRCINFO
  packages/go-bin/go-bin.pacscript
  srclist
Labels: Update Package

#7156 add: `audiorelay-bin`
  packagelist
  packages/audiorelay-bin/.SRCINFO
  packages/audiorelay-bin/audiorelay-bin.pacscript
  srclist
Labels: Package Add

#7160 upd(zen-browser-bin): `1.9b` -> `1.9.1b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7162 upd(thorium-deb): `128.0.6613.189` -> `130.0.6723.174`
  packages/thorium-deb/.SRCINFO
  packages/thorium-deb/thorium-deb.pacscript
  srclist
Labels: Update Package

#7157 add: `lynxfetch`
  packagelist
  packages/lynxfetch/.SRCINFO
  packages/lynxfetch/lynxfetch.pacscript
  srclist
Labels: Package Add

#7159 upd(vinegar-git): `1.7.8` -> `1.8.1`
  packages/vinegar-git/.SRCINFO
  packages/vinegar-git/vinegar-git.pacscript
  srclist
Labels: Update Package

#7164 upd(pacstall): `6.2.0` -> `6.2.1`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#7166 upd(discord-ptb-deb): `0.0.133` -> `0.0.134`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7165 upd(osu-lazer-app): `2025.221.0` -> `2025.310.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7167 upd(ferium-bin): `4.7.0` -> `4.7.1`
  packages/ferium-bin/.SRCINFO
  packages/ferium-bin/ferium-bin.pacscript
  srclist
Labels: Update Package

#7161 add: `sqlitebrowser`
  packagelist
  packages/sqlitebrowser/.SRCINFO
  packages/sqlitebrowser/sqlitebrowser.pacscript
  srclist
Labels: Package Add

#7170 upd(telegram-bin): `5.11.1` -> `5.12.3`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/telegram-bin.pacscript
  srclist
Labels: Update Package

#7169 upd(osu-lazer-app): `2025.310.0` -> `2025.316.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7176 upd(zen-browser-bin): `1.9.1b` -> `1.10b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7180 upd(discord-canary-deb): `0.0.575` -> `0.0.611`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Update Package

#7179 upd(notesnook-app): `3.0.24` -> `3.0.30`
  packages/notesnook-app/.SRCINFO
  packages/notesnook-app/notesnook-app.pacscript
  srclist
Labels: Update Package

#7174 upd(obs-studio-deb): `31.0.1` -> `31.0.2`
  packages/obs-studio-deb/.SRCINFO
  packages/obs-studio-deb/obs-studio-deb.pacscript
  srclist
Labels: Update Package

#7182 upd(pgadmin4-{server,desktop}-deb): `9.0` -> `9.1`
  packages/pgadmin4-desktop-deb/.SRCINFO
  packages/pgadmin4-desktop-deb/pgadmin4-desktop-deb.pacscript
  packages/pgadmin4-server-deb/.SRCINFO
  packages/pgadmin4-server-deb/pgadmin4-server-deb.pacscript
  srclist
Labels: Update Package

#7186 upd(floorp-bin) `v11.22.0` -> `v11.24.0`
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Package

#7185 upd(bitwig-studio-deb): `5.2.5` -> `5.3.2`
  packages/bitwig-studio-deb/.SRCINFO
  packages/bitwig-studio-deb/bitwig-studio-deb.pacscript
  srclist
Labels: Update Package

#7183 upd(wine-staging-git): `10.0` -> `10.3`
  packages/wine-staging-git/.SRCINFO
  packages/wine-staging-git/wine-staging-git.pacscript
  srclist
Labels: Update Package

#7190 upd(zen-browser-bin): `1.10b` -> `1.10.1b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7189 upd(osu-lazer-app): `2025.316.0` -> `2025.321.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7188 upd(naps2-deb): `7.5.3` -> `8.1.0`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#6818 add: `opentabletdriver-deb`
  packagelist
  packages/opentabletdriver-deb/.SRCINFO
  packages/opentabletdriver-deb/opentabletdriver-deb.pacscript
  srclist
Labels: Package Add, blocked

#7168 add: `lm-studio-app`
  packagelist
  packages/lm-studio-app/.SRCINFO
  packages/lm-studio-app/lm-studio-app.pacscript
  srclist
Labels: Package Add

#7192 upd(hydralauncher-deb): `3.3.0` -> `3.3.1`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7191 upd(naps2-deb): `8.1.0` -> `8.1.1`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#7202 upd(discord-canary-deb): `0.0.611` -> `0.0.619`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Update Package

#7201 upd(discord-deb): `0.0.88` -> `0.0.89`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7195 add: `geekbench6-bin`
  packagelist
  packages/geekbench6-bin/.SRCINFO
  packages/geekbench6-bin/geekbench6-bin.pacscript
  srclist
Labels: Package Add

#7196 add: `geekbench5-bin`
  packagelist
  packages/geekbench5-bin/.SRCINFO
  packages/geekbench5-bin/geekbench5-bin.pacscript
  srclist
Labels: Package Add

#7203 upd(linux-kernel{-stable}): `6.13.2` -> `6.14`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7197 add: `geekbench4-bin`
  packagelist
  packages/geekbench4-bin/.SRCINFO
  packages/geekbench4-bin/geekbench4-bin.pacscript
  srclist
Labels: Package Add

#7194 rm: `geekbench-bin`
  packagelist
  packages/geekbench-bin/.SRCINFO
  packages/geekbench-bin/geekbench-bin.pacscript
  srclist
Labels: remove package

#7206 upd(neovim-app): `0.10.4` -> `0.11.0`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
  srclist
Labels: Update Package

#7205 upd(neovim): `0.10.4` -> `0.11.0`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package

#7204 upd(neovim-git): `0.10.4` -> `0.11.0`
  packages/neovim-git/.SRCINFO
  packages/neovim-git/neovim-git.pacscript
  srclist
Labels: Update Package

#7208 upd(brave-browser-deb): `1.74.51` -> `1.76.82`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#7207 upd(youtube-music-deb): `3.7.5` -> `3.8.0`
  packages/youtube-music-deb/.SRCINFO
  packages/youtube-music-deb/youtube-music-deb.pacscript
  srclist
Labels: Update Package

#7212 upd(librewolf-app): `134.0-1` -> `136.0.2-1`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
  srclist
Labels: Update Package

#7214 add: `ctop-bin`
  packagelist
  packages/ctop-bin/.SRCINFO
  packages/ctop-bin/ctop-bin.pacscript
  srclist
Labels: Package Add

#7215 add: `kdenlive-app`
  packagelist
  packages/kdenlive-app/.SRCINFO
  packages/kdenlive-app/kdenlive-app.pacscript
  srclist
Labels: Package Add

#7217 upd(zen-browser-bin): `1.10.1b` -> `1.10.3b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7224 upd(discord-ptb-deb): `0.0.135` -> `0.0.136`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7221 upd(krita-app): `5.1.5` -> `5.2.9`
  packages/krita-app/.SRCINFO
  packages/krita-app/krita-app.pacscript
  srclist
Labels: Update Package

#7219 add: `ghostty-app`
  packagelist
  packages/ghostty-app/.SRCINFO
  packages/ghostty-app/ghostty-app.pacscript
  srclist
Labels: Package Add

#7223 add: `digikam-app`
  packagelist
  packages/digikam-app/.SRCINFO
  packages/digikam-app/digikam-app.pacscript
  srclist
Labels: Package Add

#7210 upd(vscode-deb): `1.90.0` -> `1.98.2`
  packages/vscode-deb/.SRCINFO
  packages/vscode-deb/vscode-deb.pacscript
  srclist
Labels: Update Package

#7226 upd(brave-browser-nightly-deb): `1.78.2` -> `1.79.9`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6776 add: `umu-launcher-git`
  packagelist
  packages/umu-launcher-git/.SRCINFO
  packages/umu-launcher-git/Makefile.patch
  packages/umu-launcher-git/umu-launcher-git.pacscript
  srclist
Labels: Package Add

#7228 upd(freetube-deb): `0.23.2` -> `0.23.3`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
  srclist
Labels: Update Package

#7230 upd(asdf-vm): `0.16.4` -> `0.16.7`
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Update Package

#7229 add: `nutext-bin`
  packagelist
  packages/nutext-bin/.SRCINFO
  packages/nutext-bin/nutext-bin.pacscript
  packages/nutext-git/.SRCINFO
  packages/nutext-git/nutext-git.pacscript
  srclist
Labels: Package Add

#7232 add: `warp-terminal-deb`
  packagelist
  packages/warp-terminal-deb/.SRCINFO
  packages/warp-terminal-deb/warp-terminal-deb.pacscript
  srclist
Labels: Package Add
