Repository pacstall/pacstall-programs, pull requests merged in 2025-04, with the labels that each got.

#7236 fix(rhino-pine-core): dep gone
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  srclist
Labels: Update Pacscript

#7235 upd(lm-studio-app): `0.3.13-2` -> `0.3.14-5`
  packages/lm-studio-app/.SRCINFO
  packages/lm-studio-app/lm-studio-app.pacscript
  srclist
Labels: Update Package

#7234 upd(discord-deb): `0.0.89` -> `0.0.90`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7233 upd(discord): `0.0.89` -> `0.0.90`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7237 upd(teams-for-linux-deb): `1.13.1` -> `1.14.0`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7173 add: `obs-studio`
  packagelist
  packages/obs-studio/.SRCINFO
  packages/obs-studio/obs-studio.pacscript
  srclist
Labels: Package Add

#7241 upd(yt-dlp): `2024.11.04` -> `2025.03.31`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#7239 upd(firefox-bin): `136.0.2` -> `137.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7246 upd(zen-browser-bin): `1.10.3b` -> `1.11b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7245 upd(pgadmin4-{server,desktop}-deb): `9.1` -> `9.2`
  packages/pgadmin4-desktop-deb/.SRCINFO
  packages/pgadmin4-desktop-deb/pgadmin4-desktop-deb.pacscript
  packages/pgadmin4-server-deb/.SRCINFO
  packages/pgadmin4-server-deb/pgadmin4-server-deb.pacscript
  srclist
Labels: Update Package

#7247 fix(zen-browser-bin): changed hashsums
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Pacscript

#7242 add: `typescript`
  packagelist
  packages/typescript/.SRCINFO
  packages/typescript/typescript.pacscript
  srclist
Labels: Package Add

#7249 upd(slack-deb): `4.36.138` -> `4.41.105`
  packages/slack-deb/.SRCINFO
  packages/slack-deb/slack-deb.pacscript
  srclist
Labels: Update Package

#7250 upd(teams-for-linux-deb): `1.14.0` -> `2.0.3`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7253 upd(ferdium-deb): `7.0.0` -> `7.0.1`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
  srclist
Labels: Update Package

#7254 fix(obs-studio): add optional deps
  packages/obs-studio/.SRCINFO
  packages/obs-studio/obs-studio.pacscript
  srclist
Labels: Update Pacscript

#7257 upd(naps2-deb): `8.1.1` -> `8.1.4`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#7255 upd(teams-for-linux-deb): `2.0.3` -> `2.0.5`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7256 upd(an-anime-game-launcher-bin): `3.13.0` -> `3.13.1`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#7259 upd(hydralauncher-deb): `3.3.1` -> `3.4.0`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7262 upd(gitkraken-deb): `10.6.0` -> `11.0.0`
  packages/gitkraken-deb/.SRCINFO
  packages/gitkraken-deb/gitkraken-deb.pacscript
  srclist
Labels: Update Package

#7263 upd(zen-browser-bin): `1.11b` -> `1.11.2b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7266 upd(vscode-deb): `1.98.2` -> `1.99.2`
  packages/vscode-deb/.SRCINFO
  packages/vscode-deb/vscode-deb.pacscript
  srclist
Labels: Update Package

#7267 upd(vesktop-deb): `1.5.5` -> `1.5.6`
  packages/vesktop-deb/.SRCINFO
  packages/vesktop-deb/vesktop-deb.pacscript
  srclist
Labels: Update Package

#7268 upd(zen-browser-bin): `1.11.2b` -> `1.11.3b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7270 upd(linux-kernel-stable): `6.14` -> `6.14.2`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7271 upd(linux-kernel): `6.14` -> `6.15~rc2`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7275 upd(discord-ptb-deb): `0.0.136` -> `0.0.137`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7273 upd(mullvad-vpn-beta-deb): `2023.4` -> `2025.5`
  packages/mullvad-vpn-beta-deb/.SRCINFO
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
  srclist
Labels: Update Package

#7272 upd(firefox-bin): `136.0.1` -> `137.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7281 upd(r2modman-deb): `3.1.57` -> `3.1.58`
  packages/r2modman-deb/.SRCINFO
  packages/r2modman-deb/r2modman-deb.pacscript
  srclist
Labels: Update Package

#7280 upd(osu-lazer-app): `2025.321.0` -> `2025.418.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7279 upd(lazygit): `0.48.0` -> `0.49.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7278 upd(hydralauncher-deb): `3.4.0` -> `3.4.3`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7276 upd(teams-for-linux-deb): `2.0.5` -> `2.0.8`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7282 upd(zen-browser-bin): `1.11.3b` -> `1.11.4b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7288 upd(discord): `0.0.90` -> `0.0.91`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7287 upd(discord-deb): `0.0.90` -> `0.0.91`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7285 upd(typescript): `5.8.2` -> `5.8.3`
  packages/typescript/.SRCINFO
  packages/typescript/typescript.pacscript
  srclist
Labels: Update Package

#7284 upd(zinit): `3.13.1` -> `3.14.0`
  packages/zinit/.SRCINFO
  packages/zinit/zinit.pacscript
  srclist
Labels: Update Package

#7289 upd(lynxfetch): `1.0.8` -> `1.0.9`
  packages/lynxfetch/.SRCINFO
  packages/lynxfetch/lynxfetch.pacscript
  srclist
Labels: Update Package

#7290 upd(zen-browser-bin): `1.11.4b` -> `1.11.5b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7291 upd(brave-browser-nightly-deb): `1.79.9` -> `1.80.3`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#7293 upd(wine-staging-git): `10.3` -> `10.6`
  packages/wine-staging-git/.SRCINFO
  packages/wine-staging-git/wine-staging-git.pacscript
  srclist
Labels: Update Package

#7292 upd(discord-ptb-deb): `0.0.136` -> `0.0.139`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7302 fix(*): add `questing` to `plucky` compats
  packages/appmenu-registrar-backport/.SRCINFO
  packages/appmenu-registrar-backport/appmenu-registrar-backport.pacscript
  packages/greetd-phrog/.SRCINFO
  packages/greetd-phrog/greetd-phrog.pacscript
  packages/openrgb-git/openrgb-git.pacscript
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-hotfix-git/.SRCINFO
  packages/rhino-hotfix-git/rhino-hotfix-git.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  srclist
Labels: Update Pacscript

#7303 upd(youtube-music-deb): `3.8.0` -> `3.9.0`
  packages/youtube-music-deb/.SRCINFO
  packages/youtube-music-deb/youtube-music-deb.pacscript
  srclist
Labels: Update Package

#7308 upd(osu-lazer-app): `2025.418.0` -> `2025.424.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7307 upd(firefox-bin): `137.0.2` -> `138.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7304 upd(discord): `0.0.91` -> `0.0.92`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7306 upd(zoom-deb): `6.3.6.6315` -> `6.4.6.1370`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: Update Package

#7309 upd(neovim): `0.11.0` -> `0.11.1`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package
