Repository pacstall/pacstall-programs, pull requests merged in 2025-08, with the labels that each got.

#7933 upd(sublime-merge-deb): `2108` -> `2110`
  packages/sublime-merge-deb/.SRCINFO
  packages/sublime-merge-deb/sublime-merge-deb.pacscript
  srclist
Labels: Update Package

#7934 upd(thunderbird-bin): `140.0.1` -> `141.0`
  packages/thunderbird-bin/.SRCINFO
  packages/thunderbird-bin/thunderbird-bin.pacscript
  srclist
Labels: Update Package

#7936 upd(an-anime-game-launcher-bin): `3.15.0` -> `3.15.4`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#7938 upd(discord-ptb-deb): `0.0.153` -> `0.0.154`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7939 add: `libfdk-aac2-deb`
  packagelist
  packages/libfdk-aac2-deb/.SRCINFO
  packages/libfdk-aac2-deb/libfdk-aac2-deb.pacscript
  srclist
Labels: Package Add

#7940 fix(wayland-git): build and install for 32-bit too
  packages/wayland-git/.SRCINFO
  packages/wayland-git/wayland-git.pacscript
  srclist
Labels: Update Pacscript

#7925 add: `jq-bin`
  packagelist
  packages/jq-bin/.SRCINFO
  packages/jq-bin/jq-bin.pacscript
  srclist
Labels: Package Add

#7922 fix(wayland-protocols-git): use `wayland-git` pacdep
  packages/wayland-protocols-git/.SRCINFO
  packages/wayland-protocols-git/wayland-protocols-git.pacscript
  srclist
Labels: Update Pacscript

#7917 upd(nushell-bin): `0.104.0` -> `0.106.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#7918 upd(nutext-bin): `0.3.4` -> `0.5.0`
  packages/nutext-bin/.SRCINFO
  packages/nutext-bin/nutext-bin.pacscript
  srclist
Labels: Update Package

#7919 upd(nutext-git): `0.3.4` -> `0.5.0`
  packages/nutext-git/.SRCINFO
  packages/nutext-git/nutext-git.pacscript
  srclist
Labels: Update Package

#7943 upd(lazygit): `0.53.0` -> `0.54.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7944 upd(rhino-pkg-git): `2.0.1` -> `2.0.2`
  packages/rhino-pkg-git/.SRCINFO
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
  srclist
Labels: Update Package

#7945 upd(unicorn-{desktop,mobile}-git): switch to rs workspaces plugin
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Package

#7947 upd(rhino-pkg-git): `2.0.2` -> `2.0.3`
  packages/rhino-pkg-git/.SRCINFO
  packages/rhino-pkg-git/rhino-pkg-git.pacscript
  srclist
Labels: Update Package

#7948 upd(pacstall): `6.3.4` -> `6.3.5`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#7914 add: `kakoune-auto-pairs-git`
  packagelist
  packages/kakoune-auto-pairs-git/.SRCINFO
  packages/kakoune-auto-pairs-git/kakoune-auto-pairs-git.pacscript
  srclist
Labels: Package Add

#7950 upd(hayase-deb): `6.4.19` -> `6.4.21`
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Update Package

#7952 add: `libfdk-aac-dev-deb`
  packagelist
  packages/libfdk-aac-dev-deb/.SRCINFO
  packages/libfdk-aac-dev-deb/libfdk-aac-dev-deb.pacscript
  srclist
Labels: Package Add

#7956 upd(firefox-bin): `141.0` -> `141.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7957 upd(hamclock{,-big,-bigger,-huge}): `4.19` -> `4.20`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#7974 ci(tests): de-duplicate
  .github/workflows/tests.yml
Labels: CI

#7953 upd(teams-for-linux-deb): `2.0.18` -> `2.1.3`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7954 upd(osu-lazer-tachyon-app): `2025.729.0` -> `2025.808.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#7961 upd(discord-deb): `0.0.103` -> `0.0.104`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7962 upd(discord-canary-deb): `0.0.702` -> `0.0.735`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Update Package

#7964 upd(brave-browser-deb): `1.80.124` -> `1.81.131`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#7971 upd(firefox-bin): `141.0.2` -> `141.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7972 upd(firefox-developer-edition-bin): `142.0b3` -> `142.0b8`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#7976 upd(github-cli-bin): `2.74.2` -> `2.76.2`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
  srclist
Labels: Update Package

#7977 upd(github-cli-deb): `2.74.2` -> `2.76.2`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
  srclist
Labels: Update Package

#7978 upd(vscode-deb): `1.100.0` -> `1.103.0`
  packages/vscode-deb/.SRCINFO
  packages/vscode-deb/vscode-deb.pacscript
  srclist
Labels: Update Package

#7980 upd(electerm-deb): `1.100.30` -> `1.100.46`
  packages/electerm-deb/.SRCINFO
  packages/electerm-deb/electerm-deb.pacscript
  srclist
Labels: Update Package

#7982 upd(floorp-bin): `12.0.15` -> `12.0.16`
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Package

#7984 upd(lazygit): `0.54.0` -> `0.54.1`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7987 upd(hayase-deb): `6.4.21` -> `6.4.22`
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Update Package

#7988 add: `imhex-app`
  packagelist
  packages/imhex-app/.SRCINFO
  packages/imhex-app/imhex-app.pacscript
  srclist
Labels: Package Add

#7989 upd(nvidia-prod-installer): `570.172.08` -> `570.181`
  packages/nvidia-prod-installer/.SRCINFO
  packages/nvidia-prod-installer/nvidia-prod-installer.pacscript
  srclist
Labels: Update Package

#7991 upd(nvidia-beta-installer): `575.51.02` -> `580.65.06`
  packages/nvidia-beta-installer/.SRCINFO
  packages/nvidia-beta-installer/nvidia-beta-installer.pacscript
  srclist
Labels: Update Package

#7992 upd(lazygit): `0.54.1` -> `0.54.2`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7994 upd(abdownloadmanager): `1.6.6` -> `1.6.8`
  packages/abdownloadmanager/.SRCINFO
  packages/abdownloadmanager/abdownloadmanager.pacscript
  srclist
Labels: Update Package

#7996 upd(discord-ptb-deb): `0.0.154` -> `0.0.155`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7955 add: `ffmpeg`
  packagelist
  packages/ffmpeg/.SRCINFO
  packages/ffmpeg/ffmpeg.pacscript
  srclist
Labels: Package Add

#8007 upd(osu-lazer-tachyon-app): `2025.813.0` -> `2025.815.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#8008 upd(thunderbird-esr-bin): `128.6.0esr` -> `140.1.1esr`
  packages/thunderbird-esr-bin/.SRCINFO
  packages/thunderbird-esr-bin/thunderbird-esr-bin.pacscript
  srclist
Labels: Update Package

#8010 upd(brave-browser-nightly-deb): `1.83.19` -> `1.83.50`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#8009 upd(an-anime-game-launcher-bin): `3.15.4` -> `3.15.5`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#8014 upd(osu-lazer-app): `2025.710.0` -> `2025.816.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#8012 upd(waydroid-deb and deps): `1.4.3` -> `1.5.4`
  packages/libgbinder-deb/.SRCINFO
  packages/libgbinder-deb/libgbinder-deb.pacscript
  packages/libglibutil-deb/.SRCINFO
  packages/libglibutil-deb/libglibutil-deb.pacscript
  packages/python3-gbinder-deb/.SRCINFO
  packages/python3-gbinder-deb/python3-gbinder-deb.pacscript
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Update Package

#8024 upd(hamclock{,-big,-bigger,-huge}): Fix pacscripts to use correct hamclock.desktop file
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/hamclock.pacscript
Labels: Update Package

#8021 upd(linux-kernel-stable): `6.16` -> `6.16.1`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#8022 upd(linux-kernel): `6.16` -> `6.17~rc1`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#8028 upd(mullvad-vpn-deb): `2025.7` -> `2025.8`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#8027 upd(osu-lazer-tachyon-app): `2025.815.0` -> `2025.822.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#8016 add: `rofi-emoji`
  packagelist
  packages/rofi-emoji/.SRCINFO
  packages/rofi-emoji/rofi-emoji.pacscript
  srclist
Labels: Package Add

#8015 add: `i3status-rust`
  packagelist
  packages/i3status-rust/.SRCINFO
  packages/i3status-rust/i3status-rust.pacscript
  srclist
Labels: Package Add

#8030 add: `carla-git`
  packagelist
  packages/carla-git/.SRCINFO
  packages/carla-git/carla-git.pacscript
  srclist
Labels: Package Add

#8019 add: `lmms-git`
  packagelist
  packages/lmms-git/.SRCINFO
  packages/lmms-git/lmms-git.pacscript
  srclist
Labels: Package Add

#8032 upd(zen-browser-bin): `1.14.11b` -> `1.15b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#8034 upd(osu-lazer-tachyon-app): `2025.815.0` -> `2025.827.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#8033 add: `rose-pine-cursor`
  packagelist
  packages/rose-pine-cursor/.SRCINFO
  packages/rose-pine-cursor/rose-pine-cursor.pacscript
  srclist
Labels: Package Add
