Repository pacstall/pacstall-programs, pull requests merged in 2025-02, with the labels that each got.

#6987 upd(firefox-bin): `134.0.1` -> `135.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6986 upd(brave-browser-nightly-deb): `1.76.30` -> `1.77.14`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6984 upd(linux-kernel-lts-6.6): `6.6.51` -> `6.6.63`
  packages/linux-headers-generic-lts-6.6-deb/.SRCINFO
  packages/linux-headers-generic-lts-6.6-deb/linux-headers-generic-lts-6.6-deb.pacscript
  packages/linux-headers-lts-6.6-deb/.SRCINFO
  packages/linux-headers-lts-6.6-deb/linux-headers-lts-6.6-deb.pacscript
  packages/linux-image-unsigned-lts-6.6-deb/.SRCINFO
  packages/linux-image-unsigned-lts-6.6-deb/linux-image-unsigned-lts-6.6-deb.pacscript
  packages/linux-kernel-lts-6.6/.SRCINFO
  packages/linux-kernel-lts-6.6/linux-kernel-lts-6.6.pacscript
  packages/linux-modules-lts-6.6-deb/.SRCINFO
  packages/linux-modules-lts-6.6-deb/linux-modules-lts-6.6-deb.pacscript
  srclist
Labels: Update Package

#6982 upd(discord-deb): `0.0.82` -> `0.0.84`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#6981 upd(discord): `0.0.82` -> `0.0.84`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6983 upd(discord-ptb-deb): `0.0.128` -> `0.0.129`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6893 add: `cromite-bin`
  packagelist
  packages/cromite-bin/.SRCINFO
  packages/cromite-bin/cromite-bin.pacscript
  srclist
Labels: Package Add

#6978 add: `zinit`
  packagelist
  packages/zinit/.SRCINFO
  packages/zinit/zinit.pacscript
  srclist
Labels: Package Add

#6921 add: `hydralauncher-deb`
  packagelist
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Package Add

#6980 upd(telegram-bin): `5.10.0` -> `5.10.7`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/telegram-bin.pacscript
  srclist
Labels: Update Package

#6989 upd(virtualbox-deb): `7.1.4` -> `7.1.6`
  packages/virtualbox-deb/.SRCINFO
  packages/virtualbox-deb/virtualbox-deb.pacscript
  srclist
Labels: Update Package

#6996 upd(discord-ptb-deb): `0.0.129` -> `0.0.130`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6994 upd(hamclock{,-big,-bigger,-huge}): `4.11` -> `4.13`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6992 upd(vesktop-deb): `1.5.4` -> `1.5.5`
  packages/vesktop-deb/.SRCINFO
  packages/vesktop-deb/vesktop-deb.pacscript
  srclist
Labels: Update Package

#6999 fix(floorp-bin): do not cd into srcdir
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Pacscript

#7001 upd(zen-browser-bin): `1.7.4b` -> `1.7.5b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7006 upd(mailspring-deb): `1.13.3` -> `1.15.1`
  packages/mailspring-deb/.SRCINFO
  packages/mailspring-deb/mailspring-deb.pacscript
  srclist
Labels: Update Package

#6991 ci(srcinfo.sh): ensure splits can write to extended arrays
  scripts/srcinfo.sh
Labels: CI

#7008 upd(pacup): `3.3.9` -> `3.3.11`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#7009 upd(pacup-git): `3.3.9` -> `3.3.11`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#7007 upd(zen-browser-bin): `1.7.5b` -> `1.7.6b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7010 upd(pacstall): `6.1.0` -> `6.1.1`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#7011 upd(firefox-arm64-deb): `134.0.2+build1` -> `135.0+build2`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#7014 fix(unicorn-{desktop,mobile}-git): bluez fallback for rpi
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#7012 upd(firefox-nightly-deb): `135.0a1` -> `137.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7013 upd(firefox-nightly-bin): `135.0a1` -> `137.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#7003 upd(adw-gtk3): `5.3` -> `5.6`
  packages/adw-gtk3/.SRCINFO
  packages/adw-gtk3/adw-gtk3.pacscript
  srclist
Labels: Update Package

#7000 fix(openrgb-git): fix libmbedtls-dev-3.* not building hueplusplus
  packages/openrgb-git/.SRCINFO
  packages/openrgb-git/openrgb-git.pacscript
  srclist
Labels: Update Pacscript

#7015 add: `vala-panel-appmenu-xfce4-git`
  packagelist
  packages/vala-panel-appmenu-xfce4-git/.SRCINFO
  packages/vala-panel-appmenu-xfce4-git/vala-panel-appmenu-xfce4-git.pacscript
  srclist
Labels: Package Add

#7016 fix(unicorn-{desktop,mobile}-git): appmenu fixed
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#7017 upd(rhino*core): `2025.1` -> `2025.2~RC`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#7002 upd(mullvad-vpn-deb): `2025.2` -> `2025.3`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#7019 upd(discord-deb): `0.0.84` -> `0.0.85`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7018 upd(discord): `0.0.84` -> `0.0.85`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7028 upd(spotify-client-deb): `1.2.31.1205.g4d59ad7c` -> `1.2.56.502.ga68d2d4f`
  packages/spotify-client-deb/.SRCINFO
  packages/spotify-client-deb/spotify-client-deb.pacscript
  srclist
Labels: Update Package

#7030 fix(unicorn-{desktop,mobile}-git): cleanup overwrites
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#7032 upd(mullvad-vpn-deb): `2025.3` -> `2025.4`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#7034 upd(discord-ptb-deb): `0.0.130` -> `0.0.131`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7033 fix(eza-git): fix installing license
  packages/eza-git/eza-git.pacscript
Labels: Update Pacscript

#7004 add: `figma-linux-deb`
  packagelist
  packages/figma-linux-deb/.SRCINFO
  packages/figma-linux-deb/figma-linux-deb.pacscript
  srclist
Labels: Package Add

#7035 upd(telegram-bin): `5.10.7` -> `5.11.1`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/telegram-bin.pacscript
  srclist
Labels: Update Package

#7042 upd(hello-rhino-git): `2025.1-1` -> `2025.2`
  packages/hello-rhino-git/.SRCINFO
  packages/hello-rhino-git/hello-rhino-git.pacscript
  srclist
Labels: Update Package

#7041 upd(hello-rhino-bin): `2025.1-1` -> `2025.2`
  packages/hello-rhino-bin/.SRCINFO
  packages/hello-rhino-bin/hello-rhino-bin.pacscript
  srclist
Labels: Update Package

#6990 add: `virtualbox-guest-iso`
  packagelist
  packages/virtualbox-guest-iso/.SRCINFO
  packages/virtualbox-guest-iso/virtualbox-guest-iso.pacscript
  srclist
Labels: Package Add

#7036 upd(helix): `24.07` -> `25.01.1`
  packages/helix/.SRCINFO
  packages/helix/helix.pacscript
  srclist
Labels: Update Package

#7043 add: `clio`
  packagelist
  packages/clio/.SRCINFO
  packages/clio/clio.pacscript
  srclist
Labels: Package Add

#7045 upd(neovim): `0.10.3` -> `0.10.4`
  packages/neovim/.SRCINFO
  packages/neovim/neovim.pacscript
  srclist
Labels: Update Package

#7046 upd(neovim-git): `0.10.3` -> `0.10.4`
  packages/neovim-git/.SRCINFO
  packages/neovim-git/neovim-git.pacscript
  srclist
Labels: Update Package

#7047 upd(neovim-app): `0.10.3` -> `0.10.4`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
  srclist
Labels: Update Package

#7052 fix(oh-my-zsh-git): bad patch
  packages/oh-my-zsh-git/.SRCINFO
  packages/oh-my-zsh-git/0001-zshrc.patch
  packages/oh-my-zsh-git/oh-my-zsh-git.pacscript
  srclist
Labels: Update Pacscript

#7048 upd(nushell-bin): `0.101.0` -> `0.102.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#7050 upd(hydralauncher-deb): `3.1.5` -> `3.2.0`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7051 upd(lazygit): `0.42.0` -> `0.45.2`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7054 upd(vscodium-deb): `1.96.4.25017` -> `1.97.2.25045`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#7053 upd(rhino*core): `2025.2~RC` -> `2025.2`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#7055 upd(docker-bin): `27.5.0` -> `27.5.1`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#7056 upd(docker-buildx-plugin-bin): `0.19.3` -> `0.20.1`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#7065 upd(hydralauncher-deb): `3.2.0` -> `3.2.1`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7062 upd(vscodium-bin): `1.96.4.25017` -> `1.97.2.25045`
  packages/vscodium-bin/.SRCINFO
  packages/vscodium-bin/vscodium-bin.pacscript
  srclist
Labels: Update Package

#7068 upd(discord): `0.0.85` -> `0.0.86`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7066 upd(rambox-deb): `2.3.4` -> `2.4.1`
  packages/rambox-deb/.SRCINFO
  packages/rambox-deb/rambox-deb.pacscript
  srclist
Labels: Update Package

#7063 upd(clio-git): `1.0` -> `1.2.0`
  packages/clio-git/.SRCINFO
  packages/clio-git/clio-git.pacscript
  srclist
Labels: Update Package

#7069 upd(discord-deb): `0.0.85` -> `0.0.86`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7070 add: `rambox-app`
  packagelist
  packages/rambox-app/.SRCINFO
  packages/rambox-app/rambox-app.pacscript
  srclist
Labels: Package Add

#7061 add: `86box-app`
  packagelist
  packages/86box-app/.SRCINFO
  packages/86box-app/86box-app.pacscript
  srclist
Labels: Package Add

#7072 fix(postman-bin): extract properly
  packages/postman-bin/.SRCINFO
  packages/postman-bin/postman-bin.pacscript
  srclist
Labels: Update Pacscript

#7078 upd(linux-kernel-stable): `6.12.12` -> `6.13.2`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7079 upd(linux-kernel): `6.13~rc1` -> `6.14~rc3`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7077 upd(discord-ptb-deb): `0.0.131` -> `0.0.132`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7075 upd(hydralauncher-deb): `3.2.1` -> `3.2.2`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#6937 fix(emacs*): broken dependencies
  packages/emacs-git/.SRCINFO
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/.SRCINFO
  packages/emacs/emacs.pacscript
  srclist
Labels: Update Pacscript

#7080 upd(emacs*): `28.2` -> `29.4`
  packages/emacs-git/.SRCINFO
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/.SRCINFO
  packages/emacs/emacs.pacscript
  srclist
Labels: Update Package

#7083 upd(osu-lazer-app): `2025.220.0` -> `2025.221.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7082 rm: `ms-teams-deb`
  packagelist
  packages/ms-teams-deb/.SRCINFO
  packages/ms-teams-deb/ms-teams-deb.pacscript
  srclist
Labels: remove package

#7081 fix(firefox-bin): add `speech-dispatcher` optdep
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Pacscript

#7089 fix(vala-panel-appmenu-xfce4-git): do not build extra modules
  packages/vala-panel-appmenu-xfce4-git/.SRCINFO
  packages/vala-panel-appmenu-xfce4-git/vala-panel-appmenu-xfce4-git.pacscript
  srclist
Labels: Update Pacscript

#7084 fix(emacs*): use lower libtiff if available
  packages/emacs-git/.SRCINFO
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/.SRCINFO
  packages/emacs/emacs.pacscript
  srclist
Labels: Update Pacscript

#7092 upd(lazygit): `0.45.2` -> `0.47.1`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7091 upd(zen-browser-bin): `1.7.6b` -> `1.8b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7090 upd(asdf-vm): `0.16.0` -> `0.16.4`
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Update Package

#7086 upd(github-desktop-deb): `3.4.8` -> `3.4.13`
  packages/github-desktop-deb/.SRCINFO
  packages/github-desktop-deb/github-desktop-deb.pacscript
  srclist
Labels: Update Package

#7085 upd(webcord-deb): `4.10.3` -> `4.10.4`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#7095 upd(pycharm-community-bin): `2024.3.1.1` -> `2024.3.3`
  packages/pycharm-community-bin/.SRCINFO
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  srclist
Labels: Update Package

#7097 fix(emacs*): use newer libtiff if available first
  packages/emacs-git/.SRCINFO
  packages/emacs-git/emacs-git.pacscript
  packages/emacs/.SRCINFO
  packages/emacs/emacs.pacscript
  srclist
Labels: Update Pacscript

#7096 upd(rustrover-bin): `2024.3.3` -> `2024.3.4`
  packages/rustrover-bin/.SRCINFO
  packages/rustrover-bin/rustrover-bin.pacscript
  srclist
Labels: Update Package

#7098 upd(emacs): `29.4` -> `30.1`
  packages/emacs/.SRCINFO
  packages/emacs/emacs.pacscript
  srclist
Labels: Update Package

#7099 upd(emacs-git): `29.4` -> `30.1`
  packages/emacs-git/.SRCINFO
  packages/emacs-git/emacs-git.pacscript
  srclist
Labels: Update Package

#7101 upd(zen-browser-bin): `1.8b` -> `1.8.1b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7107 upd(brave-browser-nightly-deb): `1.77.14` -> `1.78.2`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#7111 rm: deprecated zen-browser pacscripts
  packagelist
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: remove package

#7110 upd(hamclock{,-big,-bigger,-huge}): `4.13` -> `4.15`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#7106 upd(wayland-protocols-git): `1.23` -> `1.41`
  packages/wayland-protocols-git/.SRCINFO
  packages/wayland-protocols-git/wayland-protocols-git.pacscript
  srclist
Labels: Update Package

#7112 add: `soar`
  packagelist
  packages/soar/.SRCINFO
  packages/soar/soar.pacscript
  srclist
Labels: Package Add
