Repository pacstall/pacstall-programs, pull requests merged in 2025-05, with the labels that each got.

#7311 upd(linux-kernel-stable): `6.14.2` -> `6.14.4`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7312 upd(linux-kernel): `6.15~rc2` -> `6.15~rc4`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7315 upd(firefox-deb): `136.0` -> `138.0`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#7314 upd(firefox-nightly-bin): `138.0a1` -> `139.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#7313 upd(firefox-nightly-deb): `138.0a1` -> `139.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7316 upd(vscodium-deb): `1.97.2.25045` -> `1.99.32846`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#7317 upd(github-cli-deb): `2.65.0` -> `2.72.0`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
  srclist
Labels: Update Package

#7318 upd(github-cli-bin): `2.65.0` -> `2.72.0`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
  srclist
Labels: Update Package

#7319 upd(docker-bin): `27.5.1` -> `28.1.1`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#7320 upd(docker-buildx-plugin-bin): `0.20.1` -> `0.23.0`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#7321 upd(docker-compose-plugin-bin): `2.33.0` -> `2.35.1`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
  srclist
Labels: Update Package

#7322 upd(legcord-deb): `1.0.5` -> `1.1.1`
  packages/legcord-deb/.SRCINFO
  packages/legcord-deb/legcord-deb.pacscript
  srclist
Labels: Update Package

#7323 upd(nerd-fonts): `3.3.0` -> `3.4.0`
  packages/nerd-fonts/.SRCINFO
  packages/nerd-fonts/nerd-fonts.pacscript
  srclist
Labels: Update Package

#7324 upd(firefox-bin): `138.0` -> `138.0.1`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7325 upd(firefox-deb): `138.0` -> `138.0.1`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#7326 upd(sublime-text-deb): `4180` -> `4192`
  packages/sublime-text-deb/.SRCINFO
  packages/sublime-text-deb/sublime-text-deb.pacscript
  srclist
Labels: Update Package

#7327 upd(vivaldi-deb): `7.0.3495.14` -> `7.3.3635.11`
  packages/vivaldi-deb/.SRCINFO
  packages/vivaldi-deb/vivaldi-deb.pacscript
  srclist
Labels: Update Package

#7328 upd(steam-deb): `1.0.0.81` -> `1.0.0.82`
  packages/steam-deb/.SRCINFO
  packages/steam-deb/steam-deb.pacscript
  srclist
Labels: Update Package

#7329 upd(opera-deb): `114.0.5282.185` -> `118.0.5461.60`
  packages/opera-deb/.SRCINFO
  packages/opera-deb/opera-deb.pacscript
  srclist
Labels: Update Package

#7330 upd(opera-developer-deb): `116.0.5341.0` -> `119.0.5495.0`
  packages/opera-developer-deb/.SRCINFO
  packages/opera-developer-deb/opera-developer-deb.pacscript
  srclist
Labels: Update Package

#7341 upd(microsoft-edge-dev-deb): `130.0.2835.2-1` -> `137.0.3282.1-1`
  packages/microsoft-edge-dev-deb/.SRCINFO
  packages/microsoft-edge-dev-deb/microsoft-edge-dev-deb.pacscript
  srclist
Labels: Update Package

#7340 upd(microsoft-edge-stable-deb): `129.0.2792.52-1` -> `135.0.3179.98-1`
  packages/microsoft-edge-stable-deb/.SRCINFO
  packages/microsoft-edge-stable-deb/microsoft-edge-stable-deb.pacscript
  srclist
Labels: Update Package

#7338 upd(google-chrome-unstable-deb): `132.0.6821.2` -> `137.0.7141.3`
  packages/google-chrome-unstable-deb/.SRCINFO
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
  srclist
Labels: Update Package

#7337 upd(google-chrome-beta-deb): `131.0.6778.33` -> `136.0.7103.48`
  packages/google-chrome-beta-deb/.SRCINFO
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
  srclist
Labels: Update Package

#7336 upd(android-studio-canary): `2024.2.1.11` -> `2025.1.1.9`
  packages/android-studio-canary/.SRCINFO
  packages/android-studio-canary/android-studio-canary.pacscript
  srclist
Labels: Update Package

#7335 upd(android-studio): `2024.2.2.13` -> `2024.3.1.15`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#7334 upd(librewolf-app): `136.0.2-1` -> `137.0.2-1`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
  srclist
Labels: Update Package

#7333 upd(librewolf-deb): `134.0-1` -> `137.0.2-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#7332 upd(firefox-developer-edition-bin): `137.0b10` -> `139.0b2`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#7331 upd(floorp-bin): `11.24.0` -> `11.26.0`
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Package

#7344 upd(ivpn-deb): `3.13.4` -> `3.14.17`
  packages/ivpn-deb/.SRCINFO
  packages/ivpn-deb/ivpn-deb.pacscript
  srclist
Labels: Update Package

#7345 upd(nordvpn-deb): `3.19.0` -> `3.20.2`
  packages/nordvpn-deb/.SRCINFO
  packages/nordvpn-deb/nordvpn-deb.pacscript
  srclist
Labels: Update Package

#7346 upd(anydesk-deb): `6.4.0` -> `6.4.2`
  packages/anydesk-deb/.SRCINFO
  packages/anydesk-deb/anydesk-deb.pacscript
  srclist
Labels: Update Package

#7347 upd(bitwarden-deb): `2024.11.0` -> `2025.4.2`
  packages/bitwarden-deb/.SRCINFO
  packages/bitwarden-deb/bitwarden-deb.pacscript
  srclist
Labels: Update Package

#7348 upd(chezmoi-deb): `2.54.0` -> `2.62.2`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
  srclist
Labels: Update Package

#7349 upd(chwp-deb): `1.239.26` -> `1.239.36`
  packages/chwp-deb/.SRCINFO
  packages/chwp-deb/chwp-deb.pacscript
  srclist
Labels: Update Package

#7352 upd(ulauncher-deb): `6.0.0~beta16` -> `6.0.0~beta18`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Package

#7353 upd(aws-cli-v2-bin): `2.21.0` -> `2.27.5`
  packages/aws-cli-v2-bin/.SRCINFO
  packages/aws-cli-v2-bin/aws-cli-v2-bin.pacscript
  srclist
Labels: Update Package

#7354 upd(git): `2.47.0` -> `2.49.0`
  packages/git/.SRCINFO
  packages/git/git.pacscript
  srclist
Labels: Update Package

#7355 upd(keepassxc): `2.7.9` -> `2.7.10`
  packages/keepassxc/.SRCINFO
  packages/keepassxc/keepassxc.pacscript
  srclist
Labels: Update Package

#7356 upd(nuclei-bin): `3.3.5` -> `3.4.2`
  packages/nuclei-bin/.SRCINFO
  packages/nuclei-bin/nuclei-bin.pacscript
  srclist
Labels: Update Package

#7357 upd(papirus-icon-theme): `20231201` -> `20250501`
  packages/papirus-icon-theme/.SRCINFO
  packages/papirus-icon-theme/papirus-icon-theme.pacscript
  srclist
Labels: Update Package

#7358 upd(tidal-hifi-bin): `5.17.0` -> `5.19.0`
  packages/tidal-hifi-bin/.SRCINFO
  packages/tidal-hifi-bin/tidal-hifi-bin.pacscript
  srclist
Labels: Update Package

#7361 upd(spotify-client-deb): `1.2.56.502.ga68d2d4f` -> `1.2.60.564.gcc6305cb`
  packages/spotify-client-deb/.SRCINFO
  packages/spotify-client-deb/spotify-client-deb.pacscript
  srclist
Labels: Update Package

#7362 upd(webcord-deb): `4.10.4` -> `4.10.5`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#7363 upd(topgrade-bin): `16.0.2` -> `16.0.3`
  packages/topgrade-bin/.SRCINFO
  packages/topgrade-bin/topgrade-bin.pacscript
  srclist
Labels: Update Package

#7364 upd(yt-dlp): `2025.03.31` -> `2025.04.30`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#7301 add: `libhyprgraphics-bin`
  packagelist
  packages/libhyprgraphics-bin/.SRCINFO
  packages/libhyprgraphics-bin/libhyprgraphics-bin.pacscript
  srclist
Labels: Package Add

#7370 upd(pulsar-deb): `1.121.0` -> `1.128.0`
  packages/pulsar-deb/.SRCINFO
  packages/pulsar-deb/pulsar-deb.pacscript
  srclist
Labels: Update Package

#7374 upd(discord-deb): `0.0.91` -> `0.0.94`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7373 add: `xclicker-deb`
  packagelist
  packages/xclicker-deb/.SRCINFO
  packages/xclicker-deb/xclicker-deb.pacscript
  srclist
Labels: Package Add

#7378 upd(maitreya-deb): `8.1` -> `8.1.1`
  packages/maitreya-deb/.SRCINFO
  packages/maitreya-deb/maitreya-deb.pacscript
  srclist
Labels: Update Package

#7380 upd(zen-browser-bin): `1.12b` -> `1.12.2b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7381 upd(nala-deb): `0.15.4` -> `0.16.0`
  packages/nala-deb/.SRCINFO
  packages/nala-deb/nala-deb.pacscript
  srclist
Labels: Update Package

#7383 upd(nutext-bin): `0.3.2` -> `0.3.4`
  packages/nutext-bin/.SRCINFO
  packages/nutext-bin/nutext-bin.pacscript
  srclist
Labels: Update Package

#7382 upd(nushell-bin): `0.102.0` -> `0.104.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#7379 upd(freetube-deb): `0.23.3` -> `0.23.5`
  packages/freetube-deb/.SRCINFO
  packages/freetube-deb/freetube-deb.pacscript
  srclist
Labels: Update Package

#7385 upd(zen-browser-bin): `1.12.2b` -> `1.12.3b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7387 upd(pgadmin4-desktop-deb): `9.2` -> `9.3`
  packages/pgadmin4-desktop-deb/.SRCINFO
  packages/pgadmin4-desktop-deb/pgadmin4-desktop-deb.pacscript
  packages/pgadmin4-server-deb/.SRCINFO
  packages/pgadmin4-server-deb/pgadmin4-server-deb.pacscript
  srclist
Labels: Update Package

#7388 upd(vscode-deb): `0.99.2` -> `0.100.0`
  packages/vscode-deb/.SRCINFO
  packages/vscode-deb/vscode-deb.pacscript
  srclist
Labels: Update Package

#7372 add: `betterbird-bin`
  packagelist
  packages/betterbird-bin/.SRCINFO
  packages/betterbird-bin/betterbird-bin.pacscript
  packages/betterbird-bin/eu.betterbird.Betterbird.desktop
  srclist
Labels: Package Add

#7389 upd(discord-canary): `0.0.575` -> `0.0.671`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#7390 upd(vala-panel-appmenu-xfce4-git): `24.05` -> `25.04`
  packages/vala-panel-appmenu-xfce4-git/.SRCINFO
  packages/vala-panel-appmenu-xfce4-git/vala-panel-appmenu-xfce4-git.pacscript
  srclist
Labels: Update Package

#7392 upd(firefox-bin): `138.0.1` -> `138.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7391 upd(an-anime-game-launcher-bin): `3.13.1` -> `3.14.0`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#7393 fix(vala-panel-appmenu-xfce4-git): delete overriding files
  packages/vala-panel-appmenu-xfce4-git/.SRCINFO
  packages/vala-panel-appmenu-xfce4-git/vala-panel-appmenu-xfce4-git.pacscript
  srclist
Labels: Update Pacscript

#7394 upd(zen-browser-bin): `1.12.3b` -> `1.12.4b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7397 upd(zen-browser-bin): `1.12.4b` -> `1.12.5b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7398 upd(discord-ptb-deb): `0.0.141` -> `0.0.143`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#7396 upd(lazygit): `0.49.0` -> `0.50.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7395 upd(hydralauncher-deb): `3.4.3` -> `3.4.10`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7399 upd(firefox-bin): `138.0.3` -> `138.0.4`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7403 upd(mullvad-vpn-deb): `2025.5` -> `2025.6`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#7401 fix(it87-dkms-git): fi blocking install after remove in postupdate script
  packages/it87-dkms-git/.SRCINFO
  packages/it87-dkms-git/it87-dkms-git.pacscript
  srclist
Labels: Update Pacscript

#7400 upd(an-anime-game-launcher-bin): `3.14.0` -> `3.14.1`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#7410 upd(hydralauncher-deb): `3.4.10` -> `3.5.2`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7411 upd(zen-browser-bin): `1.12.5b` -> `1.12.6b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7064 add: `ubxi-kde-desktop-git`
  packagelist
  packages/ubxi-kde-desktop-git/.SRCINFO
  packages/ubxi-kde-desktop-git/ubxi-kde-desktop-git.pacscript
  srclist
Labels: Package Add

#7405 upd(linux-kernel-stable): `6.14.4` -> `6.14.7`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7406 upd(linux-kernel): `6.15~rc4` -> `6.15~rc7`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7414 add: `rhinu-pkg-git`
  packagelist
  packages/rhinu-pkg-git/.SRCINFO
  packages/rhinu-pkg-git/rhinu-pkg-git.pacscript
  srclist
Labels: Package Add

#7412 upd(asdf-vm): `0.16.7` -> `0.17.0`
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Update Package

#7413 upd(ungoogled-chromium-bin): `134.0.6998.35-1` -> `136.0.7103.113-1`
  packages/ungoogled-chromium-bin/.SRCINFO
  packages/ungoogled-chromium-bin/ungoogled-chromium-bin.pacscript
  srclist
Labels: Update Package

#7404 upd(webcord-deb): `4.10.4` -> `4.11.0`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#7375 add: `facetimehd-firmware`
  packagelist
  packages/facetimehd-firmware/.SRCINFO
  packages/facetimehd-firmware/facetimehd-firmware.pacscript
  srclist
Labels: Package Add

#7421 fix(ubxi-kde-desktop-git): add dep for dashboard
  packages/ubxi-kde-desktop-git/.SRCINFO
  packages/ubxi-kde-desktop-git/ubxi-kde-desktop-git.pacscript
  srclist
Labels: Update Pacscript

#7420 fix(vala-panel-appmenu-xfce4-git): bump vapi dep version
  packages/vala-panel-appmenu-xfce4-git/.SRCINFO
  packages/vala-panel-appmenu-xfce4-git/vala-panel-appmenu-xfce4-git.pacscript
  srclist
Labels: Update Pacscript

#7402 upd(openrgb-git): `0.9` -> `1.0rc1`
  packages/openrgb-git/.SRCINFO
  packages/openrgb-git/openrgb-git.pacscript
  srclist
Labels: Update Package

#7423 upd(brave-browser-nightly-deb): `1.80.3` -> `1.81.9`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#7424 upd(brave-browser-deb): `1.76.82` -> `1.78.102`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#7425 upd(brave-browser-beta-deb): `1.75.165` -> `1.80.90`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  srclist
Labels: Update Package

#7427 upd(firefox-bin): `138.0.4` -> `139.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7432 upd(firefox-nightly-bin): `139.0a1` -> `140.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#7433 upd(firefox-nightly-deb): `139.0a1` -> `140.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7434 upd(firefox-developer-edition-bin): `139.0b2` -> `140.0b2`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#7040 add: `hplip`
  packagelist
  packages/hplip/.SRCINFO
  packages/hplip/hplip.pacscript
  srclist
Labels: Package Add

#7435 upd(insomnia-deb): `2023.4.0` -> `11.1.0`
  packages/insomnia-deb/.SRCINFO
  packages/insomnia-deb/insomnia-deb.pacscript
  srclist
Labels: Update Package

#7439 ci(srcinfo.sh): fix secondaries
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/ollama-bin/.SRCINFO
  scripts/srcinfo.sh
  srclist
Labels: CI

#7441 upd(pacup-git): `3.3.11` -> `3.3.12`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#7442 upd(pacup): `3.3.11` -> `3.3.12`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#7443 upd(firefox-developer-edition-bin): `140.0b2` -> `140.0b3`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package
