Repository pacstall/pacstall-programs, pull requests merged in 2025-06, with the labels that each got.

#7446 upd(mold-bin): `2.35.0` -> `2.40.0`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#7445 upd(zen-browser-bin): `1.12.6b` -> `1.12.10b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7449 upd(protonplus): `0.4.31` -> `0.4.32`
  packages/protonplus/.SRCINFO
  packages/protonplus/protonplus.pacscript
  srclist
Labels: Update Package

#6977 add: `ly`
  packagelist
  packages/ly/.SRCINFO
  packages/ly/ly.pacscript
  srclist
Labels: Package Add

#7454 upd(discord-deb): `0.0.94` -> `0.0.96`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7444 add: `ble.sh-git`
  packagelist
  packages/ble.sh-git/.SRCINFO
  packages/ble.sh-git/ble.sh-git.pacscript
  srclist
Labels: Package Add

#7456 upd(protonplus): 0.4.32 -> 0.5.1
  packages/protonplus/.SRCINFO
  packages/protonplus/protonplus.pacscript
  srclist
Labels: Update Package

#7457 upd(vesktop-deb): `1.5.6` -> `1.5.7`
  packages/vesktop-deb/.SRCINFO
  packages/vesktop-deb/vesktop-deb.pacscript
  srclist
Labels: Update Package

#7458 upd(naps2-deb): `8.1.4` -> `8.2.0`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#7462 upd(linux-kernel): `6.15` -> `6.16~rc1`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7463 upd(linux-kernel-stable): `6.15` -> `6.15.1`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7459 upd(asdf-vm): `0.17.0` -> `0.18.0`
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Update Package

#7468 upd(firefox-nightly-deb): `140.0a1` -> `141.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7466 upd(firefox-deb): `139.0` -> `139.0.4`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#7471 upd(discord-canary): `0.0.671` -> `0.0.695`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#7475 upd(brave-browser-nightly-deb): `1.81.9` -> `1.81.77`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#7477 upd(docker-bin): `28.1.1` -> `28.2.2`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#7480 upd(vscodium-deb): `1.99.32846` -> `1.101.03933`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#7485 fix(unicorn-desktop-git): drop gtk2 dep
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  srclist
Labels: Update Pacscript

#7489 upd(rhino-setup-git): `2025.1` -> `2025.3`
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Package

#7487 upd(protonplus): 0.5.2 -> 0.5.4
  packages/protonplus/.SRCINFO
  packages/protonplus/protonplus.pacscript
  srclist
Labels: Update Package

#7491 upd(protonplus): `0.5.4` -> `0.5.5`
  packages/protonplus/.SRCINFO
  packages/protonplus/protonplus.pacscript
  srclist
Labels: Update Package

#7498 upd(bazecor-app): `1.6.2` -> `1.7.0`
  packages/bazecor-app/.SRCINFO
  packages/bazecor-app/bazecor-app.pacscript
  srclist
Labels: Update Package

#7501 upd(arduino-cli-bin): `0.35.3` -> `1.2.2`
  packages/arduino-cli-bin/.SRCINFO
  packages/arduino-cli-bin/arduino-cli-bin.pacscript
  srclist
Labels: Update Package

#7506 upd(alacritty): `0.15.0` -> `0.15.1`
  packages/alacritty/.SRCINFO
  packages/alacritty/alacritty.pacscript
  srclist
Labels: Update Package

#7510 upd(neovide-bin): `0.12.2` -> `0.15.0`
  packages/neovide-bin/.SRCINFO
  packages/neovide-bin/neovide-bin.pacscript
  srclist
Labels: Update Package

#7502 upd(anydesk-bin): `6.4.0` -> `7.0.0`
  packages/anydesk-bin/.SRCINFO
  packages/anydesk-bin/anydesk-bin.pacscript
  srclist
Labels: Update Package

#7507 upd(ani-cli-bin): `4.8` -> `4.10`
  packages/ani-cli-bin/.SRCINFO
  packages/ani-cli-bin/ani-cli-bin.pacscript
  srclist
Labels: Update Package

#7516 upd(github-cli-deb): `2.72.0` -> `2.74.1`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
  srclist
Labels: Update Package

#7515 upd(flyctl-bin): `0.2.31` -> `0.3.144`
  packages/flyctl-bin/.SRCINFO
  packages/flyctl-bin/flyctl-bin.pacscript
  srclist
Labels: Update Package

#7497 upd(batsignal): `1.6.4` -> `1.8.0`
  packages/batsignal/.SRCINFO
  packages/batsignal/batsignal.pacscript
  srclist
Labels: Update Package, Broken

#7520 upd(ferdium-deb): `7.0.1` -> `7.1.0`
  packages/ferdium-deb/.SRCINFO
  packages/ferdium-deb/ferdium-deb.pacscript
  srclist
Labels: Update Package

#7524 upd(discord-canary): `0.0.695` -> `0.0.702`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#7519 upd(fennel): `1.3.1` -> `1.5.3`
  packages/fennel/.SRCINFO
  packages/fennel/fennel.pacscript
  srclist
Labels: Update Package

#7527 upd(discord-canary-deb): `0.0.619` -> `0.0.702`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Update Package

#7525 upd(discord): `0.0.96` -> `0.0.98`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7526 upd(discord-deb): `0.0.96` -> `0.0.98`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7530 upd(dbeaver-ce-deb): `24.1.5` -> `25.1.0`
  packages/dbeaver-ce-deb/.SRCINFO
  packages/dbeaver-ce-deb/dbeaver-ce-deb.pacscript
  srclist
Labels: Update Package

#7532 upd(brave-browser-beta-deb): `1.80.90` -> `1.80.108`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  srclist
Labels: Update Package

#7531 upd(brave-browser-deb): `1.79.123` -> `1.79.126`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#7537 upd(android-studio): `2024.3.1.15` -> `2024.3.2.15`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#7538 upd(linux-kernel): `6.16~rc1` -> `6.16~rc2`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7540 upd(yandex-browser-stable-deb): `23.11.1.714-1` -> `25.4.1.1132-1`
  packages/yandex-browser-stable-deb/.SRCINFO
  packages/yandex-browser-stable-deb/yandex-browser-stable-deb.pacscript
  srclist
Labels: Update Package

#7542 upd(opera-beta-deb): `107.0.5045.4` -> `120.0.5543.12`
  packages/opera-beta-deb/.SRCINFO
  packages/opera-beta-deb/opera-beta-deb.pacscript
  srclist
Labels: Update Package

#7543 ci(tests.yml): install ca-certs
  .github/workflows/tests.yml
Labels: CI

#7544 upd(osu-lazer-app): `2025.605.3` -> `2025.607.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#7546 upd(spotify-client-deb): `1.2.60.564.gcc6305cb` -> `1.2.63.394.g126b0…
  packages/spotify-client-deb/.SRCINFO
  packages/spotify-client-deb/spotify-client-deb.pacscript
  srclist
Labels: Update Package

#7555 upd(google-chrome-unstable-deb): `137.0.7141.3` -> `139.0.7232.3`
  packages/google-chrome-unstable-deb/.SRCINFO
  packages/google-chrome-unstable-deb/google-chrome-unstable-deb.pacscript
  srclist
Labels: Update Package

#7550 upd(github-cli-bin): `2.72.0` -> `2.74.2`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
  srclist
Labels: Update Package

#7549 upd(git): `2.49.0` -> `2.50.0`
  packages/git/.SRCINFO
  packages/git/git.pacscript
  srclist
Labels: Update Package

#7558 upd(librewolf-deb): `137.0.2-1` -> `139.0.4-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#7554 upd(google-chrome-beta-deb): `136.0.7103.48` -> `138.0.7204.23`
  packages/google-chrome-beta-deb/.SRCINFO
  packages/google-chrome-beta-deb/google-chrome-beta-deb.pacscript
  srclist
Labels: Update Package

#7548 upd(docker-compose-plugin-bin): `2.35.1` -> `2.37.1`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
  srclist
Labels: Update Package

#7560 upd(rhino*core): `2025.2` -> `2025.3~RC`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#7562 upd(ulauncher-deb): `6.0.0~beta18` -> `6.0.0~beta19`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Package

#7563 fix(unicorn*git): xorg dep is amd64 only now
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#7559 upd(hamclock{,-big,-bigger,-huge}): `4.15` -> `4.19`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#7565 fix(rhino-pine-core): conflicting ofono+mm
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  srclist
Labels: Update Pacscript

#7567 rm: `libndi4`, `obs-ndi`
  packagelist
  packages/libndi4-deb/.SRCINFO
  packages/libndi4-deb/libndi4-deb.pacscript
  packages/obs-ndi-deb/.SRCINFO
  packages/obs-ndi-deb/obs-ndi-deb.pacscript
  srclist
Labels: remove package

#7649 upd(papirus-folders): `1.13.1` -> `1.14.0`
  packages/papirus-folders/.SRCINFO
  packages/papirus-folders/papirus-folders.pacscript
  srclist
Labels: Update Package

#7647 upd(p3x-onenote-app): `2024.10.117` -> `2025.4.124`
  packages/p3x-onenote-app/.SRCINFO
  packages/p3x-onenote-app/p3x-onenote-app.pacscript
  srclist
Labels: Update Package

#7644 upd(postman-bin): `10.18.10` -> `11.49.4`
  packages/postman-bin/.SRCINFO
  packages/postman-bin/postman-bin.pacscript
  srclist
Labels: Update Package

#7643 upd(prettier): `3.3.3` -> `3.5.3`
  packages/prettier/.SRCINFO
  packages/prettier/prettier.pacscript
  srclist
Labels: Update Package

#7641 upd(qogir-gtk-theme-bin): `2023-02-27` -> `2024-05-22`
  packages/qogir-gtk-theme-bin/.SRCINFO
  packages/qogir-gtk-theme-bin/qogir-gtk-theme-bin.pacscript
  srclist
Labels: Update Package

#7639 upd(pycharm-community-bin): `2024.3.3` -> `2025.1.2`
  packages/pycharm-community-bin/.SRCINFO
  packages/pycharm-community-bin/pycharm-community-bin.pacscript
  srclist
Labels: Update Package

#7640 upd(qogir-icon-theme-bin): `2022-11-05` -> `2025-02-15`
  packages/qogir-icon-theme-bin/.SRCINFO
  packages/qogir-icon-theme-bin/qogir-icon-theme-bin.pacscript
  srclist
Labels: Update Package

#7636 upd(ollama-bin): `0.5.13` -> `0.9.2`
  packages/ollama-bin/.SRCINFO
  packages/ollama-bin/ollama-bin.pacscript
  srclist
Labels: Update Package

#7634 upd(onnxruntime-bin): `1.17.1` -> `1.22.0`
  packages/onnxruntime-bin/.SRCINFO
  packages/onnxruntime-bin/onnxruntime-bin.pacscript
  srclist
Labels: Update Package

#7633 upd(onnxruntime-gpu-bin): `1.17.1` -> `1.22.0`
  packages/onnxruntime-gpu-bin/.SRCINFO
  packages/onnxruntime-gpu-bin/onnxruntime-gpu-bin.pacscript
  srclist
Labels: Update Package

#7632 upd(lunacy-deb): `11.0` -> `11.4`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#7627 upd(nuclei-bin): `3.4.2` -> `3.4.5`
  packages/nuclei-bin/.SRCINFO
  packages/nuclei-bin/nuclei-bin.pacscript
  srclist
Labels: Update Package

#7626 upd(nuclear-deb): `0.6.17` -> `0.6.48`
  packages/nuclear-deb/.SRCINFO
  packages/nuclear-deb/nuclear-deb.pacscript
  srclist
Labels: Update Package

#7625 upd(notesnook-app): `3.0.30` -> `3.2.2`
  packages/notesnook-app/.SRCINFO
  packages/notesnook-app/notesnook-app.pacscript
  srclist
Labels: Update Package

#7622 upd(gfn-electron-bin): `2.0.1` -> `2.2.0`
  packages/gfn-electron-bin/.SRCINFO
  packages/gfn-electron-bin/gfn-electron-bin.pacscript
  srclist
Labels: Update Package

#7621 upd(fzf-bin): `0.53.0` -> `0.62.0`
  packages/fzf-bin/.SRCINFO
  packages/fzf-bin/fzf-bin.pacscript
  srclist
Labels: Update Package

#7617 upd(gomuks-deb): `0.3.0` -> `0.3.1`
  packages/gomuks-deb/.SRCINFO
  packages/gomuks-deb/gomuks-deb.pacscript
  srclist
Labels: Update Package

#7616 upd(goneovim-bin): `0.6.8` -> `0.6.14`
  packages/goneovim-bin/.SRCINFO
  packages/goneovim-bin/goneovim-bin.pacscript
  srclist
Labels: Update Package

#7613 upd(harmonoid-deb): `0.3.8` -> `0.3.10`
  packages/harmonoid-deb/.SRCINFO
  packages/harmonoid-deb/harmonoid-deb.pacscript
  srclist
Labels: Update Package

#7609 upd(icecat-deb): `115.18.0` -> `115.24.0`
  packages/icecat-deb/.SRCINFO
  packages/icecat-deb/icecat-deb.pacscript
  srclist
Labels: Update Package

#7606 upd(kakoune): `2024.05.18` -> `2025.06.03`
  packages/kakoune/.SRCINFO
  packages/kakoune/kakoune.pacscript
  srclist
Labels: Update Package

#7605 upd(joplin-desktop-app): `3.0.15` -> `3.3.13`
  packages/joplin-desktop-app/.SRCINFO
  packages/joplin-desktop-app/joplin-desktop-app.pacscript
  srclist
Labels: Update Package

#7601 upd(legcord-deb): `1.1.1` -> `1.1.5`
  packages/legcord-deb/.SRCINFO
  packages/legcord-deb/legcord-deb.pacscript
  srclist
Labels: Update Package

#7599 upd(lsd-deb): `1.0.0` -> `1.1.5`
  packages/lsd-deb/.SRCINFO
  packages/lsd-deb/lsd-deb.pacscript
  srclist
Labels: Update Package

#7598 upd(adw-gtk3): `5.6` -> `6.2`
  packages/adw-gtk3/.SRCINFO
  packages/adw-gtk3/adw-gtk3.pacscript
  srclist
Labels: Update Package

#7593 upd(bottom-deb): `0.9.6` -> `0.10.2`
  packages/bottom-deb/.SRCINFO
  packages/bottom-deb/bottom-deb.pacscript
  srclist
Labels: Update Package

#7592 upd(btrfs-assistant): `2.1.1` -> `2.2`
  packages/btrfs-assistant/.SRCINFO
  packages/btrfs-assistant/btrfs-assistant.pacscript
  srclist
Labels: Update Package

#7590 upd(chezmoi-deb): `2.62.2` -> `2.62.6`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
  srclist
Labels: Update Package

#7589 upd(chwp-deb): `1.239.36` -> `1.239.37`
  packages/chwp-deb/.SRCINFO
  packages/chwp-deb/chwp-deb.pacscript
  srclist
Labels: Update Package

#7588 upd(clib): `2.8.3` -> `2.8.7`
  packages/clib/.SRCINFO
  packages/clib/clib.pacscript
  srclist
Labels: Update Package

#7586 upd(coreutils-single): `9.4` -> `9.7`
  packages/coreutils-single/.SRCINFO
  packages/coreutils-single/coreutils-single.pacscript
  srclist
Labels: Update Package

#7582 upd(dust-bin): `0.8.6` -> `1.2.1`
  packages/dust-bin/.SRCINFO
  packages/dust-bin/dust-bin.pacscript
  srclist
Labels: Update Package

#7580 upd(electerm-deb): `1.38.30` -> `1.91.16`
  packages/electerm-deb/.SRCINFO
  packages/electerm-deb/electerm-deb.pacscript
  srclist
Labels: Update Package

#7578 upd(element-desktop-deb): `1.11.99` -> `1.11.104`
  packages/element-desktop-deb/.SRCINFO
  packages/element-desktop-deb/element-desktop-deb.pacscript
  srclist
Labels: Update Package

#7577 upd(electronmail-deb): `5.1.8` -> `5.3.0`
  packages/electronmail-deb/.SRCINFO
  packages/electronmail-deb/electronmail-deb.pacscript
  srclist
Labels: Update Package

#7574 upd(exiftool): `13.03` -> `13.31`
  packages/exiftool/.SRCINFO
  packages/exiftool/exiftool.pacscript
  srclist
Labels: Update Package

#7575 upd(exercism-cli-bin): `3.4.0` -> `3.5.5`
  packages/exercism-cli-bin/.SRCINFO
  packages/exercism-cli-bin/exercism-cli-bin.pacscript
  srclist
Labels: Update Package

#7661 upd(rust-bin): `1.85.0` -> `1.87.0`
  packages/rust-bin/.SRCINFO
  packages/rust-bin/rust-bin.pacscript
  srclist
Labels: Update Package

#7660 upd(rustdesk-deb): `1.3.2` -> `1.4.0`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Package

#7657 upd(rojo-bin): `7.4.4` -> `7.5.1`
  packages/rojo-bin/.SRCINFO
  packages/rojo-bin/rojo-bin.pacscript
  srclist
Labels: Update Package

#7656 upd(rider-bin): `2024.3.3` -> `2025.1.3`
  packages/rider-bin/.SRCINFO
  packages/rider-bin/rider-bin.pacscript
  srclist
Labels: Update Package

#7655 upd(starship-bin): `1.19.0` -> `1.23.0`
  packages/starship-bin/.SRCINFO
  packages/starship-bin/starship-bin.pacscript
  srclist
Labels: Update Package

#7651 upd(realvnc-vnc-viewer-deb): `7.6.0` -> `7.13.1`
  packages/realvnc-vnc-viewer-deb/.SRCINFO
  packages/realvnc-vnc-viewer-deb/realvnc-vnc-viewer-deb.pacscript
  srclist
Labels: Update Package

#7648 upd(polybar): `3.7.1` -> `3.7.2`
  packages/polybar/.SRCINFO
  packages/polybar/polybar.pacscript
  srclist
Labels: Update Package

#7664 upd(shellcheck-bin): `0.9.0` -> `0.10.0`
  packages/shellcheck-bin/.SRCINFO
  packages/shellcheck-bin/shellcheck-bin.pacscript
  srclist
Labels: Update Package

#7662 upd(shellharden): `4.3.0` -> `4.3.1`
  packages/shellharden/.SRCINFO
  packages/shellharden/shellharden.pacscript
  srclist
Labels: Update Package

#7667 upd(scrcpy): `2.7` -> `3.3.1`
  packages/scrcpy/.SRCINFO
  packages/scrcpy/scrcpy.pacscript
  srclist
Labels: Update Package

#7638 upd(an-anime-game-launcher-bin): `3.14.2` -> `3.14.3`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#7668 upd(rustrover-bin): `2024.3.4` -> `2025.1.3`
  packages/rustrover-bin/.SRCINFO
  packages/rustrover-bin/rustrover-bin.pacscript
  srclist
Labels: Update Package

#7672 upd(slack-deb): `4.41.105` -> `4.44.65`
  packages/slack-deb/.SRCINFO
  packages/slack-deb/slack-deb.pacscript
  srclist
Labels: Update Package

#7674 upd(signal-desktop-deb): `7.39.0` -> `7.58.0`
  packages/signal-desktop-deb/.SRCINFO
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
  srclist
Labels: Update Package

#7671 upd(smartgit): `22.1.7` -> `24.1.3`
  packages/smartgit/.SRCINFO
  packages/smartgit/smartgit.pacscript
  srclist
Labels: Update Package

#7658 upd(mcontrolcenter-bin): `0.4.1` -> `0.5.0`
  packages/mcontrolcenter-bin/.SRCINFO
  packages/mcontrolcenter-bin/mcontrolcenter-bin.pacscript
  srclist
Labels: Update Package

#7676 upd(teams-for-linux-deb): `2.0.8` -> `2.0.18`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#7678 upd(tela-circle-icon-theme): `2023-06-25` -> `2025-02-10`
  packages/tela-circle-icon-theme/.SRCINFO
  packages/tela-circle-icon-theme/tela-circle-icon-theme.pacscript
  srclist
Labels: Update Package

#7685 upd(watchexec-bin): `1.25.1` -> `2.3.2`
  packages/watchexec-bin/.SRCINFO
  packages/watchexec-bin/watchexec-bin.pacscript
  srclist
Labels: Update Package

#7650 upd(quarto-deb): `1.6.39` -> `1.7.32`
  packages/quarto-deb/.SRCINFO
  packages/quarto-deb/quarto-deb.pacscript
  srclist
Labels: Update Package

#7637 upd(openvr): `2.5.1` -> `2.12.1`
  packages/openvr/.SRCINFO
  packages/openvr/openvr.pacscript
  srclist
Labels: Update Package

#7693 upd(topgrade-bin): `16.0.3` -> `16.0.4`
  packages/topgrade-bin/.SRCINFO
  packages/topgrade-bin/topgrade-bin.pacscript
  srclist
Labels: Update Package

#7692 upd(upscayl-app): `2.5.5` -> `2.15.0`
  packages/upscayl-app/.SRCINFO
  packages/upscayl-app/upscayl-app.pacscript
  srclist
Labels: Update Package

#7569 upd(foliate-deb): `3.0.1` -> `3.3.0`
  packages/foliate-deb/.SRCINFO
  packages/foliate-deb/foliate-deb.pacscript
  srclist
Labels: Update Package

#7688 upd(veracrypt-deb): `1.26.14` -> `1.26.24`
  packages/veracrypt-deb/.SRCINFO
  packages/veracrypt-deb/veracrypt-deb.pacscript
  srclist
Labels: Update Package

#7694 upd(topgrade-musl-bin): `16.0.3` -> `16.0.4`
  packages/topgrade-musl-bin/.SRCINFO
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
  srclist
Labels: Update Package

#7691 upd(truckersmp-cli): `0.10.1` -> `0.10.2.1`
  packages/truckersmp-cli/.SRCINFO
  packages/truckersmp-cli/truckersmp-cli.pacscript
  srclist
Labels: Update Package

#7690 upd(touchegg-deb): `2.0.17` -> `2.0.18`
  packages/touchegg-deb/.SRCINFO
  packages/touchegg-deb/touchegg-deb.pacscript
  srclist
Labels: Update Package

#7618 upd(gnucash): `5.10` -> `5.11`
  packages/gnucash/.SRCINFO
  packages/gnucash/gnucash.pacscript
  srclist
Labels: Update Package

#7576 upd(balena-etcher-deb): `2.1.2` -> `2.1.3`
  packages/balena-etcher-deb/.SRCINFO
  packages/balena-etcher-deb/balena-etcher-deb.pacscript
  srclist
Labels: Update Package

#7700 upd(zen-browser-bin): `1.12.10b` -> `1.13.2b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7699 upd(telegram-bin): `5.13.1` -> `5.15.4`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/telegram-bin.pacscript
  srclist
Labels: Update Package

#7705 upd(zed-editor-stable-bin): `0.164.2` -> `0.191.7`
  packages/zed-editor-stable-bin/.SRCINFO
  packages/zed-editor-stable-bin/zed-editor-stable-bin.pacscript
  srclist
Labels: Update Package

#7695 upd(tor): `0.4.7.13` -> `0.4.8.16`
  packages/tor/.SRCINFO
  packages/tor/tor.pacscript
  srclist
Labels: Update Package

#7701 upd(zettlr-deb): `3.0.3` -> `3.5.0`
  packages/zettlr-deb/.SRCINFO
  packages/zettlr-deb/zettlr-deb.pacscript
  srclist
Labels: Update Package

#7702 upd(zoxide-deb): `0.9.6` -> `0.9.8`
  packages/zoxide-deb/.SRCINFO
  packages/zoxide-deb/zoxide-deb.pacscript
  srclist
Labels: Update Package

#7706 upd(wgcf-bin): `2.2.23` -> `2.2.26`
  packages/wgcf-bin/.SRCINFO
  packages/wgcf-bin/wgcf-bin.pacscript
  srclist
Labels: Update Package

#7704 upd(yt-dlp): `2025.04.30` -> `2025.06.09`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#7708 upd(webstorm-bin): `2024.3.2` -> `2025.1`
  packages/webstorm-bin/.SRCINFO
  packages/webstorm-bin/webstorm-bin.pacscript
  srclist
Labels: Update Package

#7709 upd(yabridge): `5.0.5` -> `5.1.1`
  packages/yabridge/.SRCINFO
  packages/yabridge/yabridge.pacscript
  srclist
Labels: Update Package

#7568 upd(fnlfmt): `0.3.0` -> `0.3.2`
  packages/fnlfmt/.SRCINFO
  packages/fnlfmt/fnlfmt.pacscript
  srclist
Labels: Update Package

#7707 upd(whatsie): `4.14.1` -> `4.16.3`
  packages/whatsie/.SRCINFO
  packages/whatsie/whatsie.pacscript
  srclist
Labels: Update Package

#7703 upd(yad): `14.0` -> `14.1`
  packages/yad/.SRCINFO
  packages/yad/yad.pacscript
  srclist
Labels: Update Package

#7711 upd(circle-flags-svg-deb): `2.6.2` -> `2.7.0`
  packages/circle-flags-svg-deb/.SRCINFO
  packages/circle-flags-svg-deb/circle-flags-svg-deb.pacscript
  srclist
Labels: Update Package

#7698 upd(tmux): `3.3` -> `3.5`
  packages/tmux/.SRCINFO
  packages/tmux/tmux.pacscript
  srclist
Labels: Update Package

#7573 upd(ffsend-bin): `0.2.76` -> `0.2.77`
  packages/ffsend-bin/.SRCINFO
  packages/ffsend-bin/ffsend-bin.pacscript
  srclist
Labels: Update Package

#7594 upd(blueprint-compiler): `0.12.0` -> `0.16.0`
  packages/blueprint-compiler/.SRCINFO
  packages/blueprint-compiler/blueprint-compiler.pacscript
  srclist
Labels: Update Package

#7697 upd(tixati-deb): `3.19` -> `3.35`
  packages/tixati-deb/.SRCINFO
  packages/tixati-deb/tixati-deb.pacscript
  srclist
Labels: Update Package

#7629 upd(nano): `7.2` -> `8.5`
  packages/nano/.SRCINFO
  packages/nano/nano.pacscript
  srclist
Labels: Update Package

#7687 upd(waf): `2.0.24` -> `2.1.6`
  packages/waf/.SRCINFO
  packages/waf/waf.pacscript
  srclist
Labels: Update Package

#7680 upd(tailscale): `1.58.2` -> `1.84.2`
  packages/tailscale/.SRCINFO
  packages/tailscale/tailscale.pacscript
  srclist
Labels: Update Package

#7681 upd(taskwarrior): `2.6.2` -> `3.4.1`
  packages/taskwarrior/.SRCINFO
  packages/taskwarrior/taskwarrior.pacscript
  srclist
Labels: Update Package

#7615 upd(grive2): `0.5.1` -> `0.5.3`
  packages/grive2/.SRCINFO
  packages/grive2/grive2.pacscript
  srclist
Labels: Update Package

#7712 add: `erlfmt`
  packagelist
  packages/erlfmt/.SRCINFO
  packages/erlfmt/erlfmt.pacscript
  srclist
Labels: Package Add
