Repository pacstall/pacstall-programs, pull requests merged in 2025-01, with the labels that each got.

#6810 upd(nushell-bin): `0.100.0` -> `0.101.0`
  packages/nushell-bin/.SRCINFO
  packages/nushell-bin/nushell-bin.pacscript
  srclist
Labels: Update Package

#6815 upd(osu-lazer-app): `2024.1219.2` -> `2025.101.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6813 upd(firefox-bin): `132.0.2` -> `133.0.3`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6812 upd(firefox-nightly-deb): `134.0a1` -> `135.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#6811 upd(firefox-nightly-bin): `134.0a1` -> `135.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#6816 upd(telegram-bin): `4.14.9` -> `5.9.0`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/org.telegram.desktop.desktop
  packages/telegram-bin/telegram-bin.pacscript
  packages/telegram-bin/tg.protocol
  srclist
Labels: Update Package

#6809 upd(hamclock{,-big,-bigger,-huge}): `4.09` -> `4.11`
  packages/hamclock-big/.SRCINFO
  packages/hamclock-big/hamclock-big.pacscript
  packages/hamclock-bigger/.SRCINFO
  packages/hamclock-bigger/hamclock-bigger.pacscript
  packages/hamclock-huge/.SRCINFO
  packages/hamclock-huge/hamclock-huge.pacscript
  packages/hamclock/.SRCINFO
  packages/hamclock/hamclock.pacscript
  srclist
Labels: Update Package

#6808 upd(naps2-deb): `7.5.2` -> `7.5.3`
  packages/naps2-deb/.SRCINFO
  packages/naps2-deb/naps2-deb.pacscript
  srclist
Labels: Update Package

#6831 upd(youtube-music-deb): `3.6.2` -> `3.7.1`
  packages/youtube-music-deb/.SRCINFO
  packages/youtube-music-deb/youtube-music-deb.pacscript
  srclist
Labels: Update Package

#6825 upd(icecat-deb): `115.16.0` -> `115.18.0`
  packages/icecat-deb/.SRCINFO
  packages/icecat-deb/icecat-deb.pacscript
  srclist
Labels: Update Package

#6827 upd(webstorm-bin): `2024.3.1` -> `2024.3.1.1`
  packages/webstorm-bin/.SRCINFO
  packages/webstorm-bin/webstorm-bin.pacscript
  srclist
Labels: Update Package

#6824 upd(firefox-developer-edition-bin): `134.0b7` -> `134.0b9`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#6823 upd(librewolf-deb): `133.0-1` -> `133.0.3-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6819 upd(intellij-idea-community-bin): `2024.3.1` -> `2024.3.1.1`
  packages/intellij-idea-community-bin/.SRCINFO
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
  packages/intellij-idea-community-bin/intellij-idea-community.desktop
  srclist
Labels: Update Package

#6821 fix(helix): Also make a symlink to the actual package name
  packages/helix/.SRCINFO
  packages/helix/helix.pacscript
  srclist
Labels: Update Pacscript

#6834 upd(discord*): update to latest
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6828 upd(btop-bin): `1.3.2` -> `1.4.0`
  packages/btop-bin/.SRCINFO
  packages/btop-bin/btop-bin.pacscript
  srclist
Labels: Update Package

#6801 add: `ufetch-debian`
  packagelist
  packages/ufetch-debian/.SRCINFO
  packages/ufetch-debian/ufetch-debian.pacscript
  srclist
Labels: Package Add

#6817 fix(waydroid-deb and deps): update sha256sum of the packages too
  packages/libgbinder-deb/.SRCINFO
  packages/libgbinder-deb/libgbinder-deb.pacscript
  packages/libglibutil-deb/.SRCINFO
  packages/libglibutil-deb/libglibutil-deb.pacscript
  packages/python3-gbinder-deb/.SRCINFO
  packages/python3-gbinder-deb/python3-gbinder-deb.pacscript
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Update Pacscript

#6732 upd(tenacity-git): `1.3.1` -> `1.3.3`
  packages/tenacity-git/.SRCINFO
  packages/tenacity-git/tenacity-git.pacscript
  srclist
Labels: Update Pacscript

#6832 add: `godot-bin`
  packagelist
  packages/godot-bin/.SRCINFO
  packages/godot-bin/godot-bin.pacscript
  srclist
Labels: Package Add

#6837 add: `ungoogled-chromium-bin`
  packagelist
  packages/ungoogled-chromium-bin/.SRCINFO
  packages/ungoogled-chromium-bin/ungoogled-chromium-bin.pacscript
  srclist
Labels: Package Add

#6838 upd(thunderbird-bin): `131.0.1` -> `133.0`
  packages/thunderbird-bin/.SRCINFO
  packages/thunderbird-bin/thunderbird-bin.pacscript
  srclist
Labels: Update Package

#6844 add: `min-browser-deb`
  packagelist
  packages/min-browser-deb/.SRCINFO
  packages/min-browser-deb/min-browser-deb.pacscript
  srclist
Labels: Package Add

#6846 add: `mercury-browser-deb`
  packagelist
  packages/mercury-browser-deb/.SRCINFO
  packages/mercury-browser-deb/mercury-browser-deb.pacscript
  srclist
Labels: Package Add

#6850 add: `thorium-arm64-deb`
  packagelist
  packages/thorium-arm64-deb/.SRCINFO
  packages/thorium-arm64-deb/thorium-arm64-deb.pacscript
  srclist
Labels: Package Add

#6851 fix(godot-bin): incorrect hash usage
  packages/godot-bin/.SRCINFO
  packages/godot-bin/godot-bin.pacscript
  srclist
Labels: Update Pacscript

#6849 upd(discord-ptb-deb): `0.0.124` -> `0.0.125`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6848 add: `nutext-git`
  packagelist
  packages/nutext-git/.SRCINFO
  packages/nutext-git/nutext-git.pacscript
  srclist
Labels: Package Add

#6847 add: `hello-rhino-bin`
  packagelist
  packages/hello-rhino-bin/.SRCINFO
  packages/hello-rhino-bin/hello-rhino-bin.pacscript
  srclist
Labels: Package Add

#6836 add: `godot-mono-bin`
  packagelist
  packages/godot-mono-bin/.SRCINFO
  packages/godot-mono-bin/desktop.patch
  packages/godot-mono-bin/godot-mono-bin.pacscript
  srclist
Labels: Package Add

#6841 add: `rustrover-bin`
  packagelist
  packages/rustrover-bin/.SRCINFO
  packages/rustrover-bin/rustrover-bin.pacscript
  srclist
Labels: Package Add

#6757 add: `cbindgen`
  packagelist
  packages/cbindgen/.SRCINFO
  packages/cbindgen/cbindgen.pacscript
  srclist
Labels: Package Add

#6839 add: `thunderbird-esr-bin`
  packagelist
  packages/thunderbird-esr-bin/.SRCINFO
  packages/thunderbird-esr-bin/thunderbird-esr-bin.pacscript
  srclist
Labels: Package Add

#6761 add: `python3-editables`
  packagelist
  packages/python3-editables/.SRCINFO
  packages/python3-editables/python3-editables.pacscript
  srclist
Labels: Package Add

#6778 add: `hello-rhino-git`
  packagelist
  packages/hello-rhino-git/.SRCINFO
  packages/hello-rhino-git/hello-rhino-git.pacscript
  srclist
Labels: Package Add

#6267 add: `lutris-git`
  packagelist
  packages/lutris-git/.SRCINFO
  packages/lutris-git/lutris-git.pacscript
  srclist
Labels: Package Add

#6854 upd(discord-canary*): `0.0.556` -> `0.0.558`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#6853 upd(zen-browser-*): `1.0.2-b.5` -> `1.6b`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6852 upd(gitkraken-deb): `10.4.1` -> `10.6.0`
  packages/gitkraken-deb/.SRCINFO
  packages/gitkraken-deb/gitkraken-deb.pacscript
  srclist
Labels: Update Package

#6858 fix(unicorn-{mobile,desktop}-git): missing mkdir in postinst
  packages/unicorn-desktop-git/.SRCINFO
  packages/unicorn-desktop-git/unicorn-desktop-git.pacscript
  packages/unicorn-mobile-git/.SRCINFO
  packages/unicorn-mobile-git/unicorn-mobile-git.pacscript
  srclist
Labels: Update Pacscript

#6856 upd(firefox-arm64-deb): `133.0.3+build1` -> `134.0+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6857 upd(rhino*core): `2024.2` -> `2025.1~RC`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#6864 add: `rider-bin`
  packagelist
  packages/rider-bin/.SRCINFO
  packages/rider-bin/rider-bin.pacscript
  srclist
Labels: Package Add

#6865 fix(waydroid-deb and deps): relocate the sources and fix the sums
  packages/libgbinder-deb/.SRCINFO
  packages/libgbinder-deb/libgbinder-deb.pacscript
  packages/libglibutil-deb/.SRCINFO
  packages/libglibutil-deb/libglibutil-deb.pacscript
  packages/python3-gbinder-deb/.SRCINFO
  packages/python3-gbinder-deb/python3-gbinder-deb.pacscript
  packages/waydroid-deb/.SRCINFO
  packages/waydroid-deb/waydroid-deb.pacscript
  srclist
Labels: Update Pacscript

#6866 ci(srcinfo.sh): reduce overhead usage, repair search
  scripts/srcinfo.sh
Labels: CI

#6868 upd(pacup): `3.3.7` -> `3.3.8`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6869 upd(pacup-git): `3.3.7` -> `3.3.8`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6867 add: `capsfix-git`
  packagelist
  packages/capsfix-git/.SRCINFO
  packages/capsfix-git/capsfix-git.pacscript
  srclist
Labels: Package Add

#6870 upd(discord-canary): `0.0.558` -> `0.0.559`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#6872 fix(hello-rhino-{bin,git}): add autostart to user creation
  packages/hello-rhino-bin/.SRCINFO
  packages/hello-rhino-bin/hello-rhino-bin.pacscript
  packages/hello-rhino-git/.SRCINFO
  packages/hello-rhino-git/hello-rhino-git.pacscript
  srclist
Labels: Update Pacscript

#6762 add: `python3-sphinx-hawkmoth`
  packagelist
  packages/python3-sphinx-hawkmoth/.SRCINFO
  packages/python3-sphinx-hawkmoth/python3-sphinx-hawkmoth.pacscript
  srclist
Labels: Package Add

#6860 add: `pcsx2-app`
  packagelist
  packages/pcsx2-app/.SRCINFO
  packages/pcsx2-app/pcsx2-app.pacscript
  srclist
Labels: Package Add

#6863 add: `audiorelay-deb`
  packagelist
  packages/audiorelay-deb/.SRCINFO
  packages/audiorelay-deb/audiorelay-deb.pacscript
  srclist
Labels: Package Add

#6873 upd(alacritty): `0.14.0` -> `0.15.0`
  packages/alacritty/.SRCINFO
  packages/alacritty/alacritty.pacscript
  srclist
Labels: Update Package

#6871 add: `cloudflare-warp-deb`
  packagelist
  packages/cloudflare-warp-deb/.SRCINFO
  packages/cloudflare-warp-deb/cloudflare-warp-deb.pacscript
  srclist
Labels: Package Add

#6842 upd(rpcs3-app): `0.0.29-15709` -> `0.0.34-17339`
  packages/rpcs3-app/.SRCINFO
  packages/rpcs3-app/rpcs3-app.pacscript
  srclist
Labels: Update Package

#6875 upd(pacstall): `6.0.2` -> `6.1.0`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#6339 add: `nerd-fonts`
  packagelist
  packages/nerd-fonts/.SRCINFO
  packages/nerd-fonts/nerd-fonts.pacscript
  srclist
Labels: Package Add

#6878 upd(zen-browser-*): `1.6b` -> `1.7b`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6879 fix(*): remove excess dir creation
  packages/feroxbuster-bin/.SRCINFO
  packages/feroxbuster-bin/feroxbuster-bin.pacscript
  packages/lf-bin/.SRCINFO
  packages/lf-bin/lf-bin.pacscript
  packages/starship-bin/.SRCINFO
  packages/starship-bin/starship-bin.pacscript
  packages/topgrade-bin/.SRCINFO
  packages/topgrade-bin/topgrade-bin.pacscript
  packages/topgrade-musl-bin/.SRCINFO
  packages/topgrade-musl-bin/topgrade-musl-bin.pacscript
  srclist
Labels: Update Pacscript

#6874 upd(discord-canary*): `0.0.558` -> `0.0.565`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#6876 upd(the-honkers-railway-launcher-bin): `1.9.1` -> `1.10.0`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#6877 upd(discord, discord-deb): `0.0.79` -> `0.0.80`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6881 upd(bitwarden-cli-bin): `2024.1.0` -> `2025.1.0`
  packages/bitwarden-cli-bin/.SRCINFO
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  srclist
Labels: Update Package

#6890 fix(distrobox): wrong arch array
  packages/distrobox/.SRCINFO
  packages/distrobox/distrobox.pacscript
  srclist
Labels: Update Pacscript

#6904 fix(zen-browser-bin): desktop entry WMClass
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Pacscript

#6901 upd(vscodium-deb): `1.95.3.24321` -> `1.96.4.25017`
  packages/vscodium-deb/.SRCINFO
  packages/vscodium-deb/vscodium-deb.pacscript
  srclist
Labels: Update Package

#6900 upd(android-studio): `2024.2.1.11` -> `2024.2.2.13`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#6911 upd(apptainer-deb): `1.3.3` -> `1.3.6`
  packages/apptainer-deb/.SRCINFO
  packages/apptainer-deb/apptainer-deb.pacscript
  srclist
Labels: Update Package

#6906 upd(github-cli-deb): `2.61.0` -> `2.65.0`
  packages/github-cli-deb/.SRCINFO
  packages/github-cli-deb/github-cli-deb.pacscript
  srclist
Labels: Update Package

#6907 upd(github-cli-bin): `2.61.0` -> `2.65.0`
  packages/github-cli-bin/.SRCINFO
  packages/github-cli-bin/github-cli-bin.pacscript
  srclist
Labels: Update Package

#6908 upd(docker-bin): `27.3.1` -> `27.5.0`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#6909 upd(docker-buildx-plugin-bin): `0.18.0` -> `0.19.3`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#6912 upd(apptainer-suid-deb): `1.3.3` -> `1.3.6`
  packages/apptainer-suid-deb/.SRCINFO
  packages/apptainer-suid-deb/apptainer-suid-deb.pacscript
  srclist
Labels: Update Package

#6910 upd(docker-compose-plugin-bin): `2.30.3` -> `2.32.4`
  packages/docker-compose-plugin-bin/.SRCINFO
  packages/docker-compose-plugin-bin/docker-compose-plugin-bin.pacscript
  srclist
Labels: Update Package

#6913 upd(rhino-setup-bin): `2024.2` -> `2025.1`
  packages/rhino-setup-bin/.SRCINFO
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  srclist
Labels: Update Package

#6885 upd(discord-ptb-deb): `0.0.125` -> `0.0.126`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6888 upd(intellij-idea-community-bin): `2024.3.1.1` -> `2024.3.2`
  packages/intellij-idea-community-bin/.SRCINFO
  packages/intellij-idea-community-bin/intellij-idea-community-bin.pacscript
  srclist
Labels: Update Package

#6889 upd(webstorm-bin): `2024.3.1.1` -> `2024.3.2`
  packages/webstorm-bin/.SRCINFO
  packages/webstorm-bin/webstorm-bin.pacscript
  srclist
Labels: Update Package

#6891 upd(rustrover-bin): `2024.3.2` -> `2024.3.3`
  packages/rustrover-bin/.SRCINFO
  packages/rustrover-bin/rustrover-bin.pacscript
  srclist
Labels: Update Package

#6894 upd(lunacy-deb): `10.9` -> `10.11`
  packages/lunacy-deb/.SRCINFO
  packages/lunacy-deb/lunacy-deb.pacscript
  srclist
Labels: Update Package

#6896 upd(librewolf-app): `132.0.1-1` -> `134.0-1`
  packages/librewolf-app/.SRCINFO
  packages/librewolf-app/librewolf-app.pacscript
  srclist
Labels: Update Package

#6914 upd(rhino-setup-git): `2024.2` -> `2025.1`
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Package

#6915 upd(firefox-arm64-deb): `134.0+build1` -> `134.0.1+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6916 upd(firefox-bin): `133.0.3` -> `134.0.1`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#6917 upd(timeshift): `23.07.1` -> `24.06.6`
  packages/timeshift/.SRCINFO
  packages/timeshift/timeshift.pacscript
  srclist
Labels: Update Package

#6895 upd(librewolf-deb): `133.0.3-1` -> `134.0-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#6920 upd(obs-studio-deb): `31.0.0` -> `31.0.1`
  packages/obs-studio-deb/.SRCINFO
  packages/obs-studio-deb/obs-studio-deb.pacscript
  srclist
Labels: Update Package

#6919 upd(osu-lazer-app): `2025.101.0` -> `2025.118.0`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6923 upd(osu-lazer-app): `2025.118.0` -> `2025.118.2`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6902 add: `vscodium-bin`
  packagelist
  packages/vscodium-bin/.SRCINFO
  packages/vscodium-bin/vscodium-bin.pacscript
  srclist
Labels: Package Add

#6924 upd(zen-browser-bin): `1.7b` -> `1.7.2b`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6928 upd(discord, discord-deb): `0.0.80` -> `0.0.81`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6934 add: `libwebrtc-audio-processing1-deb`
  packagelist
  packages/libwebrtc-audio-processing1-deb/.SRCINFO
  packages/libwebrtc-audio-processing1-deb/libwebrtc-audio-processing1-deb.pacscript
  srclist
Labels: Package Add

#6935 upd(discord-*): update to latest
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6936 upd(zoom-deb): `6.2.5.2440` -> `6.3.6.6315`
  packages/zoom-deb/.SRCINFO
  packages/zoom-deb/zoom-deb.pacscript
  srclist
Labels: Update Package

#6931 fix(android-studio): switch to the native launcher
  packages/android-studio/android-studio.pacscript
Labels: Update Pacscript

#6927 upd(mullvad-vpn-deb): `2024.7` -> `2025.2`
  packages/mullvad-vpn-deb/.SRCINFO
  packages/mullvad-vpn-deb/mullvad-vpn-deb.pacscript
  srclist
Labels: Update Package

#6925 upd(teams-for-linux-deb): `1.12.5` -> `1.12.6`
  packages/teams-for-linux-deb/.SRCINFO
  packages/teams-for-linux-deb/teams-for-linux-deb.pacscript
  srclist
Labels: Update Package

#6887 add: `aqua-ide-bin`
  packagelist
  packages/aqua-ide-bin/.SRCINFO
  packages/aqua-ide-bin/aqua-ide-bin.pacscript
  srclist
Labels: Package Add

#6899 add: `rpi-imager-app`
  packagelist
  packages/rpi-imager-app/.SRCINFO
  packages/rpi-imager-app/rpi-imager-app.pacscript
  srclist
Labels: Package Add

#6944 upd(ventoy-bin): `1.0.99` -> `1.1.00`
  packages/ventoy-bin/.SRCINFO
  packages/ventoy-bin/ventoy-bin.pacscript
  srclist
Labels: Update Package

#6942 upd(signal-desktop-deb): `7.11.1` -> `7.39.0`
  packages/signal-desktop-deb/.SRCINFO
  packages/signal-desktop-deb/signal-desktop-deb.pacscript
  srclist
Labels: Update Package

#6939 upd(osu-lazer-app): `2025.118.2` -> `2025.118.3`
  packages/osu-lazer-app/.SRCINFO
  packages/osu-lazer-app/osu-lazer-app.pacscript
  srclist
Labels: Update Package

#6938 upd(asdf-vm): `0.14.1` -> `0.15.0`
  packages/asdf-vm/.SRCINFO
  packages/asdf-vm/asdf-vm.pacscript
  srclist
Labels: Update Package

#6940 upd(ungoogled-chromium-bin): `131.0.6778.139-1` -> `132.0.6834.110-1`
  packages/ungoogled-chromium-bin/.SRCINFO
  packages/ungoogled-chromium-bin/ungoogled-chromium-bin.pacscript
  srclist
Labels: Update Package

#6947 upd(bazecor-app): `1.6.1` -> `1.6.2`
  packages/bazecor-app/.SRCINFO
  packages/bazecor-app/bazecor-app.pacscript
  srclist
Labels: Update Package

#6943 fix(noisetorch-bin): fix source
  packages/noisetorch-bin/.SRCINFO
  packages/noisetorch-bin/noisetorch-bin.pacscript
  srclist
Labels: Update Pacscript

#6941 fix(vscodium-bin): fix the sums on second sources due dynamically downloads
  packages/vscodium-bin/.SRCINFO
  packages/vscodium-bin/vscodium-bin.pacscript
  srclist
Labels: Update Pacscript

#6948 upd(firefox-arm64-deb): `134.0.1+build1` -> `134.0.2+build1`
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: Update Package

#6950 add: `rhino-hotfix-git`
  packagelist
  packages/rhino-hotfix-git/.SRCINFO
  packages/rhino-hotfix-git/rhino-hotfix-git.pacscript
  srclist
Labels: Package Add

#6951 upd(rhino*core): add `rhino-hotfix-git`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#6953 fix(rhino-hotfix-git): compat w/ plucky
  packages/rhino-hotfix-git/.SRCINFO
  packages/rhino-hotfix-git/rhino-hotfix-git.pacscript
  srclist
Labels: Update Pacscript

#6952 fix(lightpad-git): remove `xterm` dependency
  packages/lightpad-git/.SRCINFO
  packages/lightpad-git/lightpad-git.pacscript
  srclist
Labels: Update Pacscript

#6954 add: `ptyxis`
  packagelist
  packages/ptyxis/.SRCINFO
  packages/ptyxis/ptyxis.pacscript
  srclist
Labels: Package Add

#6884 add: `rojo-bin`
  packagelist
  packages/rojo-bin/.SRCINFO
  packages/rojo-bin/rojo-bin.pacscript
  srclist
Labels: Package Add

#6898 add: `popsicle-app`
  packagelist
  packages/popsicle-app/.SRCINFO
  packages/popsicle-app/popsicle-app.pacscript
  srclist
Labels: Package Add

#6961 upd(brave-browser-nightly-deb): `1.75.69` -> `1.76.30`
  packages/brave-browser-nightly-deb/.SRCINFO
  packages/brave-browser-nightly-deb/brave-browser-nightly-deb.pacscript
  srclist
Labels: Update Package

#6960 upd(brave-browser-deb): `1.73.97` -> `1.74.50`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#6962 upd(brave-browser-beta-deb): `1.74.14` -> `1.75.165`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  srclist
Labels: Update Package

#6959 upd(discord-canary): `0.0.574` -> `0.0.575`
  packages/discord-canary/.SRCINFO
  packages/discord-canary/discord-canary.pacscript
  srclist
Labels: Update Package

#6958 upd(discord-canary-deb): `0.0.574` -> `0.0.575`
  packages/discord-canary-deb/.SRCINFO
  packages/discord-canary-deb/discord-canary-deb.pacscript
  srclist
Labels: Update Package

#6956 upd(discord): `0.0.81` -> `0.0.82`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#6945 add: `sayonara`
  packagelist
  packages/sayonara/.SRCINFO
  packages/sayonara/sayonara.pacscript
  srclist
Labels: Package Add

#6963 fix(rhino-setup-{bin,git}): add `pkexec`
  packages/rhino-setup-bin/.SRCINFO
  packages/rhino-setup-bin/rhino-setup-bin.pacscript
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Pacscript

#6964 ci(srcinfo.sh): fix logging gives_CARCH
  scripts/srcinfo.sh
Labels: CI

#6966 upd(pacup): `3.3.8` -> `3.3.9`
  packages/pacup/.SRCINFO
  packages/pacup/pacup.pacscript
  srclist
Labels: Update Package

#6967 upd(pacup-git): `3.3.8` -> `3.3.9`
  packages/pacup-git/.SRCINFO
  packages/pacup-git/pacup-git.pacscript
  srclist
Labels: Update Package

#6968 upd(zen-browser-bin): `1.7.2b` -> `1.7.3b`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6974 upd(brave-browser-deb): `1.74.50` -> `1.74.51`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#6971 upd(discord-ptb-deb): `0.0.127` -> `0.0.128`
  packages/discord-ptb-deb/.SRCINFO
  packages/discord-ptb-deb/discord-ptb-deb.pacscript
  srclist
Labels: Update Package

#6975 upd(zen-browser-*): `1.7.3b` -> `1.7.4b`
  packages/zen-browser-aarch64-bin/.SRCINFO
  packages/zen-browser-aarch64-bin/zen-browser-aarch64-bin.pacscript
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  packages/zen-browser-generic-bin/.SRCINFO
  packages/zen-browser-generic-bin/zen-browser-generic-bin.pacscript
  packages/zen-browser-specific-bin/.SRCINFO
  packages/zen-browser-specific-bin/zen-browser-specific-bin.pacscript
  srclist
Labels: Update Package

#6946 add: `sayonara-git`
  packagelist
  packages/sayonara-git/.SRCINFO
  packages/sayonara-git/sayonara-git.pacscript
  srclist
Labels: Package Add

#6930 add: `notesnook-app`
  packagelist
  packages/notesnook-app/.SRCINFO
  packages/notesnook-app/notesnook-app.pacscript
  srclist
Labels: Package Add
