Repository pacstall/pacstall-programs, pull requests merged in 2025-09, with the labels that each got.

#8045 upd(brave-browser-deb): `1.81.131` -> `1.81.136`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#8047 upd(neovim-app): `0.11.0` -> `0.11.4`
  packages/neovim-app/.SRCINFO
  packages/neovim-app/neovim-app.pacscript
  srclist
Labels: Update Package

#8050 upd(feishin-app): `0.18.0` -> `0.19.0`
  packages/feishin-app/.SRCINFO
  packages/feishin-app/feishin-app.pacscript
  srclist
Labels: Update Package

#8049 upd(webcord-deb): `4.11.0` -> `4.11.1`
  packages/webcord-deb/.SRCINFO
  packages/webcord-deb/webcord-deb.pacscript
  srclist
Labels: Update Package

#8051 upd(osu-lazer-tachyon-app): `2025.827.0` -> `2025.905.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#8053 upd(discord): `0.0.104` -> `0.0.108`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#8054 upd(linux-kernel-stable): `6.16.1` -> `6.16.5`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#8055 upd(linux-kernel): `6.17~rc1` -> `6.17~rc4`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#8042 fix(openrgb-git): fixed pacscript
  packages/openrgb-git/.SRCINFO
  packages/openrgb-git/openrgb-git.pacscript
  srclist
Labels: Update Pacscript

#8040 add: `vinegar`
  packagelist
  packages/vinegar/.SRCINFO
  packages/vinegar/vinegar.pacscript
  srclist
Labels: Package Add

#8067 upd(hayase-deb): `6.4.29` -> `6.4.31`
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Update Package

#8071 upd(firefox-deb): `141.0.3` -> `142.0.1`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#8079 upd(honkers-launcher-bin): `1.10.2` -> `1.11.0`
  packages/honkers-launcher-bin/.SRCINFO
  packages/honkers-launcher-bin/honkers-launcher-bin.pacscript
  srclist
Labels: Update Package

#8078 upd(the-honkers-railway-launcher-bin): `1.10.0` -> `1.11.1`
  packages/the-honkers-railway-launcher-bin/.SRCINFO
  packages/the-honkers-railway-launcher-bin/the-honkers-railway-launcher-bin.pacscript
  srclist
Labels: Update Package

#8077 upd(an-anime-game-launcher-bin): `3.15.6` -> `3.16.0`
  packages/an-anime-game-launcher-bin/.SRCINFO
  packages/an-anime-game-launcher-bin/an-anime-game-launcher-bin.pacscript
  srclist
Labels: Update Package

#8076 upd(linux-kernel): `6.17~rc4` -> `6.17~rc6`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#8083 upd(yt-dlp): `2025.07.21` -> `2025.09.05`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#8068 upd(tenacity-git): `1.3.3` -> `1.3.4`
  packages/tenacity-git/.SRCINFO
  packages/tenacity-git/tenacity-git.pacscript
  srclist
Labels: Update Package

#8082 add: `gearlver-git`
  packagelist
  packages/gearlever-git/.SRCINFO
  packages/gearlever-git/gearlever-git.pacscript
  srclist
Labels: Package Add

#8085 upd(ffmpeg): `7.1.1` -> `8.0`
  packages/ffmpeg/.SRCINFO
  packages/ffmpeg/ffmpeg.pacscript
  srclist
Labels: Update Package

#8088 upd(blender-bin): `4.5.1` -> `4.5.3`
  packages/blender-bin/.SRCINFO
  packages/blender-bin/blender-bin.pacscript
  srclist
Labels: Update Package

#8086 upd(anydesk-bin): `7.0.2` -> `7.1.0`
  packages/anydesk-bin/.SRCINFO
  packages/anydesk-bin/anydesk-bin.pacscript
  srclist
Labels: Update Package

#8100 upd(rustdesk-deb): `1.4.1` -> `1.4.2`
  packages/rustdesk-deb/.SRCINFO
  packages/rustdesk-deb/rustdesk-deb.pacscript
  srclist
Labels: Update Package

#8102 upd(zen-browser-bin): `1.15.5b` -> `1.16b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#8098 upd(linux-kernel): `6.17~rc6` -> `6.17~rc7`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#8105 fix(input-leap-bin): fix pacscript
  packages/input-leap-bin/.SRCINFO
  packages/input-leap-bin/input-leap-bin.pacscript
  srclist
Labels: Update Pacscript

#8106 upd(postman-bin): `11.57.6` -> `11.64.7`
  packages/postman-bin/.SRCINFO
  packages/postman-bin/postman-bin.pacscript
  srclist
Labels: Update Package
