Repository pacstall/pacstall-programs, pull requests merged in 2025-07, with the labels that each got.

#7747 upd(zen-browser-bin): `1.13.2b` -> `1.14b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7752 upd(linux-kernel-stable): `6.15.1` -> `6.15.4`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7751 upd(linux-kernel): `6.16~rc2` -> `6.16~rc4`
  packages/linux-headers-deb/.SRCINFO
  packages/linux-headers-deb/linux-headers-deb.pacscript
  packages/linux-headers-generic-deb/.SRCINFO
  packages/linux-headers-generic-deb/linux-headers-generic-deb.pacscript
  packages/linux-image-unsigned-deb/.SRCINFO
  packages/linux-image-unsigned-deb/linux-image-unsigned-deb.pacscript
  packages/linux-kernel/.SRCINFO
  packages/linux-kernel/linux-kernel.pacscript
  packages/linux-modules-deb/.SRCINFO
  packages/linux-modules-deb/linux-modules-deb.pacscript
  srclist
Labels: Update Package

#7753 upd(firefox-bin): `140.0` -> `140.0.2`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7755 upd(firefox-developer-edition-bin): `140.0b9` -> `141.0b5`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#7756 upd(firefox-nightly-bin): `141.0a1` -> `142.0a1`
  packages/firefox-nightly-bin/.SRCINFO
  packages/firefox-nightly-bin/firefox-nightly-bin.pacscript
  srclist
Labels: Update Package

#7757 upd(firefox-nightly-deb): `141.0a1` -> `142.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7758 upd(docker-bin): `28.2.2` -> `28.3.1`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#7759 upd(docker-buildx-plugin-bin): `0.23.0` -> `0.25.0`
  packages/docker-buildx-plugin-bin/.SRCINFO
  packages/docker-buildx-plugin-bin/docker-buildx-plugin-bin.pacscript
  srclist
Labels: Update Package

#7761 upd(rhino-setup-git): `2025.3-1` -> `2025.3-2`
  packages/rhino-setup-git/.SRCINFO
  packages/rhino-setup-git/rhino-setup-git.pacscript
  srclist
Labels: Update Package

#7770 upd(rhino*core): `2025.3~RC` -> `2025.3`
  packages/rhino-core/.SRCINFO
  packages/rhino-core/rhino-core.pacscript
  packages/rhino-pine-core/.SRCINFO
  packages/rhino-pine-core/rhino-pine-core.pacscript
  packages/rhino-server-core/.SRCINFO
  packages/rhino-server-core/rhino-server-core.pacscript
  packages/rhino-ubxi-core/.SRCINFO
  packages/rhino-ubxi-core/rhino-ubxi-core.pacscript
  srclist
Labels: Update Package

#7417 rm: `firefox-arm64-deb`
  packagelist
  packages/firefox-arm64-deb/.SRCINFO
  packages/firefox-arm64-deb/firefox-arm64-deb.pacscript
  srclist
Labels: remove package

#7765 upd(r2modman-deb): `3.2.0` -> `3.2.1`
  packages/r2modman-deb/.SRCINFO
  packages/r2modman-deb/r2modman-deb.pacscript
  srclist
Labels: Update Package

#7764 upd(hydralauncher-deb): `3.6.1` -> `3.6.2`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7771 upd(android-studio-canary): `2025.1.2.4` -> `2025.1.2.8`
  packages/android-studio-canary/.SRCINFO
  packages/android-studio-canary/android-studio-canary.pacscript
  srclist
Labels: Update Package

#7772 upd(android-studio): `2024.3.2.15` -> `2025.1.1.13`
  packages/android-studio/.SRCINFO
  packages/android-studio/android-studio.pacscript
  srclist
Labels: Update Package

#7773 upd(discord): `0.0.98` -> `0.0.100`
  packages/discord/.SRCINFO
  packages/discord/discord.pacscript
  srclist
Labels: Update Package

#7768 add: `talosctl-bin`
  packagelist
  packages/talosctl-bin/.SRCINFO
  packages/talosctl-bin/talosctl-bin.pacscript
  srclist
Labels: Package Add

#7776 upd(nvidia-feat-installer): `575.57.08` -> `575.64.03`
  packages/nvidia-feat-installer/.SRCINFO
  packages/nvidia-feat-installer/nvidia-feat-installer.pacscript
  srclist
Labels: Update Package

#7778 upd(obs-studio-deb): `31.0.4` -> `31.1.0`
  packages/obs-studio-deb/.SRCINFO
  packages/obs-studio-deb/obs-studio-deb.pacscript
  srclist
Labels: Update Package

#7783 ci(srcinfo.sh): drop mips
  scripts/srcinfo.sh
Labels: CI

#7784 upd(pacstall): `6.3.2` -> `6.3.3`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#7785 upd(mold-bin): `2.40.0` -> `2.40.1`
  packages/mold-bin/.SRCINFO
  packages/mold-bin/mold-bin.pacscript
  srclist
Labels: Update Package

#7787 upd(zen-browser-bin): `1.14b` -> `1.14.3b`
  packages/zen-browser-bin/.SRCINFO
  packages/zen-browser-bin/zen-browser-bin.pacscript
  srclist
Labels: Update Package

#7788 upd(ulauncher-deb): `6.0.0~beta19` -> `6.0.0~beta20`
  packages/ulauncher-deb/.SRCINFO
  packages/ulauncher-deb/ulauncher-deb.pacscript
  srclist
Labels: Update Package

#7791 upd(obs-studio-deb): `31.1.0` -> `31.1.1`
  packages/obs-studio-deb/.SRCINFO
  packages/obs-studio-deb/obs-studio-deb.pacscript
  srclist
Labels: Update Package

#7795 fix(rhino-system-git): ensure script deps are installed
  packages/rhino-system-git/.SRCINFO
  packages/rhino-system-git/rhino-system-git.pacscript
  srclist
Labels: Update Pacscript

#7796 upd(linux-kernel-stable): `6.15.4` -> `6.15.6`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7798 upd(firefox-deb): `140.0.2` -> `140.0.4`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#7799 upd(firefox-bin): `140.0.2` -> `140.0.4`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7800 upd(firefox-developer-edition-bin): `141.0b5` -> `141.0b9`
  packages/firefox-developer-edition-bin/.SRCINFO
  packages/firefox-developer-edition-bin/firefox-developer-edition-bin.pacscript
  srclist
Labels: Update Package

#7801 upd(pacstall): `6.3.3` -> `6.3.4`
  packages/pacstall/.SRCINFO
  packages/pacstall/pacstall.pacscript
  srclist
Labels: Update Package

#7802 fix(ly-git): update repo url
  packages/ly-git/.SRCINFO
  packages/ly-git/ly-git.pacscript
  srclist
Labels: Update Pacscript

#7804 fix(vinegar-git): include `git_pkgver`
  packages/vinegar-git/vinegar-git.pacscript
Labels: Update Pacscript

#7805 upd(abdownloadmanager): `1.6.4` -> `1.6.6`
  packages/abdownloadmanager/.SRCINFO
  packages/abdownloadmanager/abdownloadmanager.pacscript
  srclist
Labels: Update Package

#7807 add: `keyd-deb`
  packagelist
  packages/keyd-deb/.SRCINFO
  packages/keyd-deb/keyd-deb.pacscript
  srclist
Labels: Package Add

#7809 fix(capsfix-git): use new method
  packages/capsfix-git/.SRCINFO
  packages/capsfix-git/capsfix-git.pacscript
  srclist
Labels: Update Pacscript

#7811 fix(`git-credential-manager-core`): use new source
  packages/git-credential-manager-core-deb/.SRCINFO
  packages/git-credential-manager-core-deb/git-credential-manager-core-deb.pacscript
  srclist
Labels: Update Package

#7816 upd(thunderbird-bin): `133.0` -> `140.0.1`
  packages/thunderbird-bin/.SRCINFO
  packages/thunderbird-bin/thunderbird-bin.pacscript
  srclist
Labels: Update Package

#7817 upd(drawio-desktop-deb): `27.0.9` -> `28.0.4`
  packages/drawio-desktop-deb/.SRCINFO
  packages/drawio-desktop-deb/drawio-desktop-deb.pacscript
  srclist
Labels: Update Package

#7818 upd(lazygit): `0.52.0` -> `0.53.0`
  packages/lazygit/.SRCINFO
  packages/lazygit/lazygit.pacscript
  srclist
Labels: Update Package

#7822 upd(yt-dlp): `2025.06.25` -> `2025.06.30`
  packages/yt-dlp/.SRCINFO
  packages/yt-dlp/yt-dlp.pacscript
  srclist
Labels: Update Package

#7827 upd(telegram-bin): `5.15.4` -> `5.16.4`
  packages/telegram-bin/.SRCINFO
  packages/telegram-bin/telegram-bin.pacscript
  srclist
Labels: Update Package

#7832 upd(digikam-app): `8.6.0` -> `8.7.0`
  packages/digikam-app/.SRCINFO
  packages/digikam-app/digikam-app.pacscript
  srclist
Labels: Update Package

#7825 upd(bitwarden-cli-bin): `2025.5.0` -> `2025.6.1`
  packages/bitwarden-cli-bin/.SRCINFO
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  srclist
Labels: Update Package

#7823 upd(anydesk-bin): `7.0.0` -> `7.0.2`
  packages/anydesk-bin/.SRCINFO
  packages/anydesk-bin/anydesk-bin.pacscript
  srclist
Labels: Update Package

#7831 add: `hayase-deb`
  packagelist
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Package Add

#7834 add: `ppsspp-git`
  packagelist
  packages/ppsspp-git/.SRCINFO
  packages/ppsspp-git/ppsspp-git.pacscript
  srclist
Labels: Package Add

#7836 upd(mullvad-vpn-beta-deb): `2025.7-beta1` -> `2025.8-beta1`
  packages/mullvad-vpn-beta-deb/.SRCINFO
  packages/mullvad-vpn-beta-deb/mullvad-vpn-beta-deb.pacscript
  srclist
Labels: Update Package

#7838 upd(anytype-deb): `0.47.3` -> `0.47.6`
  packages/anytype-deb/.SRCINFO
  packages/anytype-deb/anytype-deb.pacscript
  srclist
Labels: Update Package

#7839 upd(exiftool): `13.31` -> `13.32`
  packages/exiftool/.SRCINFO
  packages/exiftool/exiftool.pacscript
  srclist
Labels: Update Package

#7840 fix(ppsspp-git): correct repology
  packages/ppsspp-git/.SRCINFO
  packages/ppsspp-git/ppsspp-git.pacscript
  srclist
Labels: Update Pacscript

#7841 add: `ppsspp-app`
  packagelist
  packages/ppsspp-app/.SRCINFO
  packages/ppsspp-app/ppsspp-app.pacscript
  srclist
Labels: Package Add

#7846 upd(opera-developer-deb): `119.0.5495.0` -> `121.0.5586.0`
  packages/opera-developer-deb/.SRCINFO
  packages/opera-developer-deb/opera-developer-deb.pacscript
  srclist
Labels: Update Package

#7843 upd(opensnitch-deb): `1.6.6` -> `1.7.1`
  packages/opensnitch-deb/.SRCINFO
  packages/opensnitch-deb/opensnitch-deb.pacscript
  srclist
Labels: Update Package

#7844 upd(opensnitch-ui-deb): `1.6.6` -> `1.7.1`
  packages/opensnitch-ui-deb/.SRCINFO
  packages/opensnitch-ui-deb/opensnitch-ui-deb.pacscript
  srclist
Labels: Update Package

#7845 upd(opera-deb): `118.0.5461.60` -> `120.0.5543.93`
  packages/opera-deb/.SRCINFO
  packages/opera-deb/opera-deb.pacscript
  srclist
Labels: Update Package

#7849 upd(rpcs3-app): `0.0.34-17339` -> `0.0.37-18022`
  packages/rpcs3-app/.SRCINFO
  packages/rpcs3-app/rpcs3-app.pacscript
  srclist
Labels: Update Package

#7850 upd(pcsx2-app): `2.2.0` -> `2.4.0`
  packages/pcsx2-app/.SRCINFO
  packages/pcsx2-app/pcsx2-app.pacscript
  srclist
Labels: Update Package

#7851 upd(cromite-bin): `132.0.6834.163` -> `138.0.7204.97`
  packages/cromite-bin/.SRCINFO
  packages/cromite-bin/cromite-bin.pacscript
  srclist
Labels: Update Package

#7852 upd(krita-app): `5.2.9` -> `5.2.11`
  packages/krita-app/.SRCINFO
  packages/krita-app/krita-app.pacscript
  srclist
Labels: Update Package

#7855 upd(brave-browser-deb): `1.79.126` -> `1.80.122`
  packages/brave-browser-deb/.SRCINFO
  packages/brave-browser-deb/brave-browser-deb.pacscript
  srclist
Labels: Update Package

#7858 upd(nvidia-prod-installer): `570.169` -> `570.172.08`
  packages/nvidia-prod-installer/.SRCINFO
  packages/nvidia-prod-installer/nvidia-prod-installer.pacscript
  srclist
Labels: Update Package

#7859 fix(nvidia-beta-installer): `arm64` support
  packages/nvidia-beta-installer/.SRCINFO
  packages/nvidia-beta-installer/nvidia-beta-installer.pacscript
  srclist
Labels: Update Pacscript

#7861 upd(linux-kernel-stable): `6.15.6` -> `6.15.7`
  packages/linux-headers-generic-stable-deb/.SRCINFO
  packages/linux-headers-generic-stable-deb/linux-headers-generic-stable-deb.pacscript
  packages/linux-headers-stable-deb/.SRCINFO
  packages/linux-headers-stable-deb/linux-headers-stable-deb.pacscript
  packages/linux-image-unsigned-stable-deb/.SRCINFO
  packages/linux-image-unsigned-stable-deb/linux-image-unsigned-stable-deb.pacscript
  packages/linux-kernel-stable/.SRCINFO
  packages/linux-kernel-stable/linux-kernel-stable.pacscript
  packages/linux-modules-stable-deb/.SRCINFO
  packages/linux-modules-stable-deb/linux-modules-stable-deb.pacscript
  srclist
Labels: Update Package

#7854 add: `lxterminal`
  packagelist
  packages/lxterminal/.SRCINFO
  packages/lxterminal/lxterminal.pacscript
  srclist
Labels: Package Add

#7863 upd(postman-bin): `11.49.4` -> `11.54.6`
  packages/postman-bin/.SRCINFO
  packages/postman-bin/postman-bin.pacscript
  srclist
Labels: Update Package

#7865 upd(pgadmin4-{server,desktop}-deb): `9.4` -> `9.5`
  packages/pgadmin4-desktop-deb/.SRCINFO
  packages/pgadmin4-desktop-deb/pgadmin4-desktop-deb.pacscript
  packages/pgadmin4-server-deb/.SRCINFO
  packages/pgadmin4-server-deb/pgadmin4-server-deb.pacscript
  srclist
Labels: Update Package

#7878 upd(brave-browser-beta-deb): `1.80.108` -> `1.81.120`
  packages/brave-browser-beta-deb/.SRCINFO
  packages/brave-browser-beta-deb/brave-browser-beta-deb.pacscript
  srclist
Labels: Update Package

#7875 upd(git): `2.50.0` -> `2.50.1`
  packages/git/.SRCINFO
  packages/git/git.pacscript
  srclist
Labels: Update Package

#7874 upd(discord-deb): `0.0.98` -> `0.0.102`
  packages/discord-deb/.SRCINFO
  packages/discord-deb/discord-deb.pacscript
  srclist
Labels: Update Package

#7872 upd(chwp-deb): `1.239.37` -> `1.239.38`
  packages/chwp-deb/.SRCINFO
  packages/chwp-deb/chwp-deb.pacscript
  srclist
Labels: Update Package

#7869 upd(aseprite): `1.3.9` -> `1.3.14.4`
  packages/aseprite/.SRCINFO
  packages/aseprite/aseprite.pacscript
  srclist
Labels: Update Package

#7868 upd(osu-lazer-tachyon-app): `2025.718.0` -> `2025.721.0`
  packages/osu-lazer-tachyon-app/.SRCINFO
  packages/osu-lazer-tachyon-app/osu-lazer-tachyon-app.pacscript
  srclist
Labels: Update Package

#7867 add: `fblog-bin`
  packagelist
  packages/fblog-bin/.SRCINFO
  packages/fblog-bin/fblog-bin.pacscript
  srclist
Labels: Package Add

#7882 upd(firefox-bin): `140.0.4` -> `141.0`
  packages/firefox-bin/.SRCINFO
  packages/firefox-bin/firefox-bin.pacscript
  srclist
Labels: Update Package

#7884 upd(hayase-deb): `6.4.15` -> `6.4.16`
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Update Package

#7885 upd(chezmoi-deb): `2.63.0` -> `2.63.1`
  packages/chezmoi-deb/.SRCINFO
  packages/chezmoi-deb/chezmoi-deb.pacscript
  srclist
Labels: Update Package

#7886 upd(docker-bin): `28.3.1` -> `28.3.2`
  packages/docker-bin/.SRCINFO
  packages/docker-bin/docker-bin.pacscript
  srclist
Labels: Update Package

#7887 upd(electerm-deb): `1.91.16` -> `1.100.20`
  packages/electerm-deb/.SRCINFO
  packages/electerm-deb/electerm-deb.pacscript
  srclist
Labels: Update Package

#7888 rm: `fblog-deb`
  packagelist
  packages/fblog-deb/.SRCINFO
  packages/fblog-deb/fblog-deb.pacscript
  srclist
Labels: remove package

#7889 upd(floorp-bin): `11.27.0` -> `12.0.15`
  packages/floorp-bin/.SRCINFO
  packages/floorp-bin/floorp-bin.pacscript
  srclist
Labels: Update Package

#7901 upd(firefox-nightly-deb): `142.0a1` -> `143.0a1`
  packages/firefox-nightly-deb/.SRCINFO
  packages/firefox-nightly-deb/firefox-nightly-deb.pacscript
  srclist
Labels: Update Package

#7898 upd(firefox-deb): `140.0.4` -> `141.0`
  packages/firefox-deb/.SRCINFO
  packages/firefox-deb/firefox-deb.pacscript
  srclist
Labels: Update Package

#7903 ci(codacy: remove it
  .github/workflows/codacy-analysis.yml
Labels: CI

#7916 upd(r2modman-deb): `3.2.1` -> `3.2.2`
  packages/r2modman-deb/.SRCINFO
  packages/r2modman-deb/r2modman-deb.pacscript
  srclist
Labels: Update Package

#7915 upd(hydralauncher-deb): `3.6.2` -> `3.6.3`
  packages/hydralauncher-deb/.SRCINFO
  packages/hydralauncher-deb/hydralauncher-deb.pacscript
  srclist
Labels: Update Package

#7910 upd(librewolf-deb): `139.0.4-1` -> `140.0.4-1`
  packages/librewolf-deb/.SRCINFO
  packages/librewolf-deb/librewolf-deb.pacscript
  srclist
Labels: Update Package

#7908 upd(fzf-bin): `0.62.0` -> `0.65.0`
  packages/fzf-bin/.SRCINFO
  packages/fzf-bin/fzf-bin.pacscript
  srclist
Labels: Update Package

#7907 upd(nerd-fonts-hack): `3.1.1` -> `3.4.0`
  packages/nerd-fonts-hack/.SRCINFO
  packages/nerd-fonts-hack/nerd-fonts-hack.pacscript
  srclist
Labels: Update Package

#7905 upd(bitwarden-cli-bin): `2025.6.1` -> `2025.7.0`
  packages/bitwarden-cli-bin/.SRCINFO
  packages/bitwarden-cli-bin/bitwarden-cli-bin.pacscript
  srclist
Labels: Update Package

#7904 upd(bitwarden-deb): `2025.6.1` -> `2025.7.0`
  packages/bitwarden-deb/.SRCINFO
  packages/bitwarden-deb/bitwarden-deb.pacscript
  srclist
Labels: Update Package

#7891 add: `erlang-jsone`
  packagelist
  packages/erlang-jsone/.SRCINFO
  packages/erlang-jsone/erlang-jsone.pacscript
  srclist
Labels: Package Add

#7897 add: `wayland-git`
  packagelist
  packages/wayland-git/.SRCINFO
  packages/wayland-git/wayland-git.pacscript
  srclist
Labels: Package Add

#7923 upd(obs-studio): `31.1.1` -> `31.1.2`
  packages/obs-studio/.SRCINFO
  packages/obs-studio/obs-studio.pacscript
  srclist
Labels: Update Package

#7927 upd(blender-bin): `4.5.0` -> `4.5.1`
  packages/blender-bin/.SRCINFO
  packages/blender-bin/blender-bin.pacscript
  srclist
Labels: Update Package

#7926 upd(hayase-deb): `6.4.16` -> `6.4.18`
  packages/hayase-deb/.SRCINFO
  packages/hayase-deb/hayase-deb.pacscript
  srclist
Labels: Update Package

#7932 upd(icecat-deb): `115.24.0` -> `128.12.0`
  packages/icecat-deb/.SRCINFO
  packages/icecat-deb/icecat-deb.pacscript
  srclist
Labels: Update Package
